﻿
@{
    Layout = "~/Views/Shared/_LayoutAddMenu.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />

</head>
<body>
    <button class="k-button" onclick="getExcel('#deliverymatinggrid')">匯出明細Excel</button>
    <div id="deliverymatinggrid"></div>
</body>
</html>

<script>

    $(function () {
        genGrid();

        if ($("#deliverymatinggrid").data("kendoGrid") == null) {
        } else {
            $("#deliverymatinggrid").data("kendoGrid").dataSource.read();
            $("#deliverymatinggrid").data("kendoGrid").refresh();
        }

        var month = new Date("@Html.Raw(ViewBag.Month)");
        var m = month.getMonth() + 1;

        fileName = "" + m + "月_@ViewBag.DriverCode" + "_司機該月已集貨配達明細.xlsx";
        if ("@ViewBag.DriverCode".length == 0) {
            var stationName = "@Html.Raw(@ViewBag.StationName)";
            fileName = "" + m + "月_" + stationName + "_司機該月已集貨配達明細.xlsx";
        }

        $("#deliverymatinggrid").kendoGrid({
            dataSource: dataSource,
            toolbar: ["明細"],
            excel: {
                fileName: fileName,
                allPages: true
            },
            sortable: true,
            filterable: true,
            pageable: true,
            height: 550,
            columns: [
                //{ field: "Id", title: "序號" },
                { field: "StationName", title: "站所" },
                { field: "DriverCode", title: "工號" },
                { field: "DriverFullName", title: "司機名字" },
                { field: "CheckNumber", title: "貨號" },
                { field: "Pieces", title: "件數" },
                { field: "ScanDate", title: "掃描日期", format: "{0: yyyy/MM/dd HH:mm:ss}" },
                { field: "ScanItem", title: "貨態" },
                { field: "CustomerCode", title: "客戶代號" },
                { field: "CustomerName", title: "客戶簡稱" }
            ],
        });
    });


    function genGrid() {

        var getUrl = "/PickUpAndDeliveryMating/GetDetialByDriverAndTime?driverCode=@ViewBag.DriverCode&month=@ViewBag.Month";
        if ("@ViewBag.DriverCode".length == 0) {
            getUrl = "/PickUpAndDeliveryMating/GetAllByStationScodeTime?scode=@ViewBag.Station&month=@ViewBag.Month";
        }

        myGetUrl = getUrl;

        dataSource = new kendo.data.DataSource({
            transport: {
                read: {
                    url: myGetUrl,
                    dataType: "jsonp"
                },
                parameterMap: function (options, operation) {
                    if (operation !== "read" && options.models) {
                        return { models: kendo.stringify(options.models) };
                    }
                },
            },
            batch: true,
            pageSize: 30,
            schema: {
                model: {
                    id: "Id",
                    fields: {
                        CheckNumber: { validation: { required: true } },
                        DriverCode: { validation: { required: true }, nullable: true },
                        DriverFullName: { validation: { required: true }, nullable: true },
                        ScanDate: { type: "date", validation: { required: true }, nullable: true },
                        ScanItem: { validation: { required: true }, nullable: true },
                        StationName: { type: "string" },
                        Pieces: { type: "number" },
                        CustomerCode: { type: "string" },
                        CustomerName: { type: "string" }
                    }
                }
            }
        });
    }

    function getExcel(gridId) {
        try {
            var grid = $(gridId).data("kendoGrid");

            grid.setOptions({
                excel: {
                    allPages: true
                }
            });
            grid.saveAsExcel();
        } catch (e) {
            alert('請先點選查詢，待資料讀取完畢再匯出excel');
        }
    }
</script>