﻿<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - 橘子</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"
    />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link
      href="~/content/shared/styles/examples-offline.css"
      rel="stylesheet"
    />
    <link href="~/styles/kendo.common.min.css" rel="stylesheet" />
    <link href="~/styles/kendo.rtl.min.css" rel="stylesheet" />
    <link href="~/styles/kendo.default.min.css" rel="stylesheet" />
    <link href="~/styles/kendo.default.mobile.min.css" rel="stylesheet" />
    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/jszip.min.js"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.5.0/jszip.js"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/2.0.5/FileSaver.js"
      crossorigin="anonymous"
    ></script>
    <script src="~/js/kendo.all.min.js"></script>
    <script src="~/content/shared/js/console.js"></script>
    <script src="~/cjs/dialogUtility.js"></script>
    <script src="~/cjs/jquery.blockUI.js"></script>
    <script src="~/cjs/print.min.js"></script>
    <script src="~/js/cultures/kendo.culture.zh-TW.min.js"></script>
    <script
      src="https://kit.fontawesome.com/bedcf6e438.js"
      crossorigin="anonymous"
    ></script>

    <!-- New version -->

    <link
      href="https://kendo.cdn.telerik.com/2021.1.224/styles/kendo.common.min.css"
      rel="stylesheet"
    />
    <link
      href="https://kendo.cdn.telerik.com/2021.1.224/styles/kendo.default.min.css"
      rel="stylesheet"
    />
    <script src="https://code.jquery.com/jquery-1.12.3.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2021.1.224/js/kendo.all.min.js"></script>
  </head>
  <body>
    @await Component.InvokeAsync("MenuList")
    <div id="wrapper">@RenderBody()</div>
    @RenderSection("Scripts", required: false)
  </body>
</html>
