﻿@{
    Layout = "~/Views/Shared/_LayoutAddMenu.cshtml";
}

<div class="demo-section k-content">
    <div>
        <h3>代收貨款支付明細</h3><br />
        <h6>配達日期區間</h6>
        <div id="daterangepicker"></div>
        <h6>發送站</h6>
        <input id="station" style="width:93%;" /><br />
        <h6>客戶</h6>
        <input id="customerCode" style="width:93%;" /><br />
        <button id="search">查詢</button>
    </div>
    <hr />
    <div>
        @*<h3>轉聯運補貨態</h3><br />*@
        <form asp-controller="PayCustomerPayment" asp-action="Index" method="post">
            <button asp-action="Export" type="submit" name="exportexcel" class="btn btn-success">
                <i class="fa fa-download"></i>
                下載空白代收貨款支付明細表
            </button>
        </form>
    </div><br />
    <form id="form" method="post" enctype="multipart/form-data" asp-controller="PayCustomerPayment" asp-action="ImportFile">
        <label for="file">上傳:</label>
        <input type="file" accept="application/vnd.ms-excel,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" name="file" id="file" />
        <button id="submit" class="btn btn-warning"><i class="fa fa-upload"></i>上傳</button>
    </form><br />
    <p id="text"></p>
</div>
<div id="grid"></div>
<script>

    $("#text").text("@Html.Raw(@TempData["Response"])");
    var customerCode = "";
    var tempStationCode = "";

    $(document).ready(function () {
        $("#daterangepicker").kendoDateRangePicker({
            culture: "zh-TW",
            change: function (e) {
                var range = this.range();
                start = kendo.toString(range.start, "s");
                end = kendo.toString(range.end, "s");
            }
        });

        var sta = $("#station").kendoDropDownList({
            filter: "startswith",
            dataTextField: "ShowName",
            dataValueField: "StationCode",
            value: "",
            dataSource: {
                type: "odata",
                serverFiltering: true,
                transport: {
                    read: {
                        url: "/KendoSelect/GetStation",
                    }
                }
            },
            change: function (e) {
                var value = this.value();
                $("#customerCode").data("kendoDropDownList").value(-1);
                stationCode = value;
                tempStationCode = value;
                customerCode = "";
                GenCustomerData();
            }
        });
        GenCustomerData();
       
    });

     function GenCustomerData() {
                var getCustomerUrl = "/KendoSelect/GetCustomer?stationCode=" + tempStationCode;

                $("#customerCode").kendoDropDownList({
                    filter: "startswith",
                    dataTextField: "ShowName",
                    dataValueField: "CustomerCode",
                    dataSource: {
                        type: "odata",
                        serverFiltering: true,
                        transport: {
                            read: {
                                url: getCustomerUrl,
                            }
                        }
                    },
                    change: function (e) {
                        var value = this.value();
                        $("#station").data("kendoDropDownList").value(-1);
                        customerCode = value;
                        stationCode = "";
                    }
                });
            }

    function genGrid() {
        var getUrl = "GetByDateAndStationCodeOrCustomerCode?start=" + start + "&end=" + end + "&station=" + stationCode + "&customer=" + customerCode;

        dataSource = new kendo.data.DataSource({
            transport: {
                read: {
                    url: getUrl,
                    dataType: "jsonp"
                },
            },
            batch: true,
            pageSize: 30,
            schema: {
                model: {
                    //id: "Id",
                    fields: {
                        SendStation: { editable: false, nullable: false },
                        AreaArriveCode: { validation: { required: true }, nullable: true},
                        Customer: { validation: { required: true } },
                        CheckNumber: { validation: { required: true }, nullable: true },
                        Payment: { validation: { required: true }, nullable: true },
                        IsPaid: { validation: { required: true }, nullable: true },
                    }
                }
            }
        });
    }

    $("#search").kendoButton({
        click: function (e) {
            genGrid();

            if ($("#grid").data("kendoGrid") == null) {
            } else {
                $("#grid").data("kendoGrid").dataSource.read();
                $("#grid").data("kendoGrid").refresh();
            }
            $("#grid").kendoGrid({
                dataSource: dataSource,
                pageable: true,
                sortable: true,
                filterable: true,
                height: 550,
                columns: [
                    { field: "SendStation", title: "發送站" },
                    { field: "AreaArriveCode", title: "到著站" },
                    { field: "Customer", title: "客戶代號" },
                    { field: "CheckNumber", title: "貨號" },
                    { field: "Payment", title: "代收金額" },
                    { field: "IsPaid", title: "支付狀態" },
                ],
            });
        }
    });

</script>
