﻿@{
    Layout = "~/Views/Shared/_LayoutAddMenu.cshtml";
}
<head>
</head>
<body>
    <font size="10">查詢客戶件數表</font><br />
    <div id="station" style="display:none;">
        發送站所:
        <input id="stations" style="display: inline-block;" /><br />
    </div>
    客戶代號:
    <input id="customerCode" style="display: inline-block;" /><br />
    選擇日期區間(不得大於31日):
    <div id="daterangepicker" title="daterangepicker"></div>
    <button id="query">查詢</button>
    <button type="button" class="k-button" id="printGrid">列印總表</button><br />
    <div id="turnBack" style="display: inline-block">
        <button id="return">返回</button>
    </div>
    <div id="performanceReport">
        <div id="performanceReportGrid"></div>
        <div id="performanceReportDetailGrid"></div>
        <script id="team-template" type="text/x-kendo-template">
            <a href="http://supererp.junfu.asia/LT_trace_1.aspx?check_number=#:CheckNumber#" target="_blank">查看託運單狀態</a>
        </script>
        <script type="text/x-kendo-template" id="toolbar-template">

        </script>
        <script>
            window.onload = function () {
                $('#turnBack').hide()
            }

            function printGrid() {
                var gridElement = $("#performanceReportGrid"),
                    printableContent = '',
                    win = window.open('', '', 'width=800, height=500, resizable=1, scrollbars=1'),
                    doc = win.document.open();

                var htmlStart =
                    '<!DOCTYPE html>' +
                    '<html>' +
                    '<head>' +
                    '<meta charset="utf-8" />' +
                    '<title>Kendo UI Grid</title>' +
                    '<link href="https://kendo.cdn.telerik.com/' + kendo.version + '/styles/kendo.common.min.css" rel="stylesheet" /> ' +
                    '<style>' +
                    'html { font: 11pt sans-serif; }' +
                    '.k-grid { border-top-width: 0; }' +
                    '.k-grid, .k-grid-content { height: auto !important; }' +
                    '.k-grid-content { overflow: visible !important; }' +
                    'div.k-grid table { table-layout: auto; width: 100% !important; }' +
                    '.k-grid .k-grid-header th { border-top: 1px solid; }' +
                    '.k-grouping-header, .k-grid-toolbar, .k-grid-pager > .k-link { display: none; }' +
                    // '.k-grid-pager { display: none; }' + // optional: hide the whole pager
                    '</style>' +
                    '</head>' +
                    '<body>';

                var htmlEnd =
                    '</body>' +
                    '</html>';

                var gridHeader = gridElement.children('.k-grid-header');
                if (gridHeader[0]) {
                    var thead = gridHeader.find('thead').clone().addClass('k-grid-header');
                    printableContent = gridElement
                        .clone()
                        .children('.k-grid-header').remove()
                        .end()
                        .children('.k-grid-content')
                        .find('table')
                        .first()
                        .children('tbody').before(thead)
                        .end()
                        .end()
                        .end()
                        .end()[0].outerHTML;
                } else {
                    printableContent = gridElement.clone()[0].outerHTML;
                }

                doc.write(htmlStart + printableContent + htmlEnd);
                doc.close();
                win.print();
            }

            $(function () {
                var grid = $('#grid').kendoGrid({
                    dataSource: {
                        type: 'odata',
                        transport: {
                            read: "https://demos.telerik.com/kendo-ui/service/Northwind.svc/Products"
                        },
                        pageSize: 20,
                        serverPaging: true,
                        serverSorting: true,
                        serverFiltering: true
                    },
                    toolbar: kendo.template($('#toolbar-template').html()),
                    height: 400,
                    pageable: true,
                    columns: [
                        { field: 'ProductID', title: 'Product ID', width: 100 },
                        { field: 'ProductName', title: 'Product Name' },
                        { field: 'UnitPrice', title: 'Unit Price', width: 100 },
                        { field: 'QuantityPerUnit', title: 'Quantity Per Unit' }
                    ]
                });

                $('#printGrid').click(function () {
                    printGrid();
                });

            });

            var tempStationCode = "";
        $(document).ready(function () {
            $("#daterangepicker").kendoDateRangePicker({
                range: {
                    start: new Date(),
                    end: new Date()
                }
            });

            function onChange() {
                var range = this.range();
                startDate = kendo.toString(range.start, 'd');
                endDate = kendo.toString(range.end, 'd')
            }

            $("#stations").kendoDropDownList({
                filter: "startswith",
                dataTextField: "ShowName",
                dataValueField: "StationSCode",
                dataSource: {
                    type: "odata",
                    serverFiltering: true,
                    transport: {
                        read: {
                            url: "/KendoSelect/GetStation",
                        }
                    }
                },
                change: function (e) {
                    var afterSelectStationURL = "";
                    if ($("#stations").data("kendoDropDownList").value() != -1 & $("#stations").data("kendoDropDownList").value() != "") {
                        afterSelectStationURL = "/KendoSelect/GetCustomer?stationCode=F" + $("#stations").data("kendoDropDownList").value();
                    } else if ("@ViewBag.isMaster.ToString()" == "True") {
                        afterSelectStationURL = "/KendoSelect/GetCustomer";
                    } else {
                        afterSelectStationURL = "/KendoSelect/GetCustomer?stationCode=" + "@ViewBag.AccountStation";
                    }
                    $("#customerCode").width(500).kendoDropDownList({
                        filter: "startswith",
                        dataTextField: "ShowName",
                        dataValueField: "CustomerCode",
                        dataSource: {
                            type: "odata",
                            serverFiltering: true,
                            transport: {
                                read: {
                                    url: afterSelectStationURL,
                                }
                            }
                        },
                    }).data("kendoDropDownList");
                }
            });
        });

        var loginAccountListURL = "";
        if ("@ViewBag.IsMaster.ToString()" == "True") {
            loginAccountListURL = "/KendoSelect/GetCustomer"
        } else {
            loginAccountListURL = "/KendoSelect/GetCustomer?stationCode=" + "@ViewBag.AccountStation";
        }

        var customers = $("#customerCode").width(500).kendoDropDownList({
            filter: "startswith",
            dataTextField: "ShowName",
            dataValueField: "CustomerCode",
            dataSource: {
                type: "odata",
                serverFiltering: true,
                transport: {
                    read: {
                        url: loginAccountListURL
                    }
                }
            }
        }).data("kendoDropDownList");

            /*var stations = $("#stations").kendoDropDownList({
                optionLabel: "選擇站所",
                dataTextField: "name",
                dataValueField: "code",
                height: 200,
                dataSource: {
                    transport: {
                        read: {
                            url: "/DeliveryException/GetStation",
                            dataType: "json"
                        }
                    }
                }
            }).data("kendoDropDownList");

            var accounts = $("#accounts").width(500).kendoDropDownList({
                optionLabel: "選擇客代",
                height: 200,
                template: '<span>#:data.AccountName + "(" + data.AccountCode + ")"#</span>',
                valueTemplate: '<span>#:data.AccountCode#</span>',
                value: "ViewBag.AccountCode",
                dataSource: {
                    transport: {
                        read: {
                            url: "/PerformanceReport/GetAllAccount",
                            dataType: "jsonp",
                            data: function () {
                                return {
                                    accountCode: "ViewBag.AccountCode",
                                    accountName: "ViewBag.AccountName",
                                    accountStation: "ViewBag.AccountStation",
                                    isMaster: "ViewBag.IsMaster"
                                };
                            },
                        },
                        parameterMap: function (data) {
                            return "json=" + kendo.stringify(data);
                        }
                    }
                }
            }).data("kendoDropDownList");*/

            if ("@ViewBag.isMaster.ToString()" == "True") {
                $('#station').show();
            }

            //$("#daterangepicker").kendoDateRangePicker();

            $("#return").kendoButton({
                click: function (e) {
                    $('#turnBack').hide();
                    $("#performanceReportGrid").show();
                    $("#performanceReportDetailGrid").hide();
                }
            })

            /*$('#stations').change(function () {
                if ($('#stations').val() == "選擇站所") {
                    accounts = $("#accounts").width(500).kendoDropDownList({
                optionLabel: "選擇客代",
                height: 200,
                template: '<span>#:data.AccountName + "(" + data.AccountCode + ")"#</span>',
                valueTemplate: '<span>#:data.AccountCode#</span>',
                value: "ViewBag.AccountCode",
                dataSource: {
                    transport: {
                        read: {
                            url: "/PerformanceReport/GetAllAccount",
                            dataType: "jsonp",
                            data: function () {
                                return {
                                    accountCode: "ViewBag.AccountCode",
                                    accountName: "ViewBag.AccountName",
                                    accountStation: "ViewBag.AccountStation",
                                    isMaster: "ViewBag.IsMaster"
                                };
                            },
                        },
                        parameterMap: function (data) {
                            return "json=" + kendo.stringify(data);
                        }
                    }
                }
                    }).data("kendoDropDownList");
                } else {
                    accounts = $("#accounts").width(500).kendoDropDownList({
                optionLabel: "選擇客代",
                height: 200,
                template: '<span>#:data.AccountName + "(" + data.AccountCode + ")"#</span>',
                valueTemplate: '<span>#:data.AccountCode#</span>',
                value: "ViewBag.AccountCode",
                dataSource: {
                    transport: {
                        read: {
                            url: "/PerformanceReport/GetAccountByStation",
                            dataType: "jsonp",
                            data: function () {
                                return {
                                    station: $("#stations").val(),
                                };
                            },
                        },
                        parameterMap: function (data) {
                            return "json=" + kendo.stringify(data);
                        }
                    }
                }
                    }).data("kendoDropDownList");
                }

            })*/

            $("#query").kendoButton({
                click: function (e) {
                    var start = new Date($('.k-textbox')[0].value);
                    var end = new Date($('.k-textbox')[1].value);
                    const oneDay = 24 * 60 * 60 * 1000;
                    var i = ((end - start) / oneDay) + 1;
                    days = i;
                    if (i > 31) {
                        alert("日期區間不得大於31天");
                    } else {
                        if ($("#performanceReportGrid").data('kendoGrid') == null) {
                        } else {
                            $("#performanceReportGrid").data("kendoGrid").destroy();
                            $('#performanceReportGrid').empty();
                        }

                        $('#performanceReportDetailGrid').hide();
                        $('#performanceReportGrid').show();
                        $('#turnBack').hide();

                        var performanceReportDataSource = new kendo.data.DataSource({
                            transport: {
                                read: {
                                    url: "/PerformanceReport/GetPerformanceReport",
                                    dataType: "jsonp",
                                    cache: false,
                                    data: function () {
                                        return {
                                            start: $('.k-textbox')[0].value,
                                            end: $('.k-textbox')[1].value,
                                            sendstation: $('.k-input')[0].innerText,
                                            accountcode: $('.k-input')[1].innerText
                                        };
                                    }
                                },

                                parameterMap: function (data) {
                                    return "json=" + kendo.stringify(data);
                                }
                            },
                            batch: true,
                            schema: {
                                model: {
                                    id: "AccountCode",
                                    fields: {
                                        AccountCode: { editable: false, nullable: false },
                                    }
                                }
                            }
                        });

                        var options = {
                            toolbar: ["excel"],
                            excel: {
                                fileName: $('.k-textbox')[0].value + "至" + $('.k-textbox')[1].value + "客戶件數表.xlsx"
                            },
                            columns: [
                                { hidden: true, field: "Index" },
                                { field: "AccountCode", title: "客戶代碼" },
                                { field: "UserName", title: "客戶名稱" }
                            ],
                            columnMenu: {
                                columns: true
                            },
                            sortable: true,
                            scrollable: true,
                            dataSource: performanceReportDataSource
                        }

                        var titleDate = start;
                        titleDate.setDate(titleDate.getDate() - 1);
                        function fromIntToWeekday() {
                            switch (titleDate.getDay()) {
                                case 0: return '星期日';
                                case 1: return '星期一';
                                case 2: return '星期二';
                                case 3: return '星期三';
                                case 4: return '星期四';
                                case 5: return '星期五';
                                case 6: return '星期六';
                            }
                        }

                        for (var c = 0; c < i; c++) {
                            titleDate.setDate(titleDate.getDate() + 1);
                            var month = (titleDate.getMonth() + 1).toString();
                            var date = titleDate.getDate().toString();
                            var monthAndDate = month + "/" + date;
                            options.columns.push({ field: "PiecesPerDayList[" + c.toString() + "]", title: monthAndDate.toString() + fromIntToWeekday(titleDate.getDay()) });
                        }
                        options.columns.push({ field: "Sum", title: "合計" });
                        options.columns.push({ field: "AveragePerDay", title: "日平均" });

                        $("#performanceReportGrid").kendoGrid(options)
                    }
                    for (var j = 0; j < i; j++) {
                        $(document).on("click", "td[data-field='PiecesPerDayList[" + j + "]']", function (event) {
                            if ($("#performanceReportDetailGrid").data('kendoGrid') == null) {
                            } else {
                                $("#performanceReportDetailGrid").data("kendoGrid").destroy();
                                $('#performanceReportDetailGrid').empty();
                            }

                            $("#performanceReportGrid").hide();
                            $('#performanceReportDetailGrid').show();
                            $('#turnBack').show();

                            var rowIndex = $(event.target).parent().find("td[data-field='Index']").text();
                            var columnIndex = $(event.target).index() - 3;
                            var optionsDetail = {
                                columns: [
                                    { field: "CustomerCode", title: "客戶代碼" },
                                    { field: "CheckNumber", title: "託運單號" },
                                    { field: "ReceiveContact", title: "收件人" },
                                    { field: "TEL", title: "聯絡電話" },
                                    { field: "City", title: "縣市" },
                                    { field: "Region", title: "鄉鎮市區" },
                                    { field: "Address", title: "地址" },
                                    { field: "GiveDate", title: "交寄日期" },
                                    { field: "CheckNumber", template: kendo.template($("#team-template").html()), title: "查詢" },
                                ],
                                columnMenu: {
                                    columns: true
                                },
                                sortable: true,
                                scrollable: true,
                                dataSource: $("#performanceReportGrid").data("kendoGrid").dataSource._view[rowIndex].DetailPerDayList[columnIndex]
                            }

                            $("#performanceReportDetailGrid").kendoGrid(optionsDetail)

                        })
                    }
                }
            });
        </script>
    </div>
</body>
