﻿@{
    ViewData["Title"] = "KendoTest";
    Layout = "~/Views/Shared/_LayoutTestForKendo.cshtml";
}


<style>
    h4 {
        padding: 20px 0 0 0;
    }

    input {
        width: 100%;
    }
</style>

@Html.ActionLink("回到主畫面", "Index", null, null, new { @class = "btn btn-primary" })
<div id="example">

    <div class="demo-section k-content">

        <h2>@ViewBag.Action</h2>
        <h2>@ViewBag.PickUpTypeDesc</h2>

        <h4>@Html.Raw(ViewBag.LoginName)</h4>
        <h4>託運單號</h4>
        <input id="barcode" />

        @if (ViewBag.ScanItem == 1 || ViewBag.ScanItem == 6) // 到著
        {
            <h4>站所碼</h4>
            <input id="area-arrive-code" />
        }

        @if (ViewBag.ScanItem == 5 || ViewBag.ScanItem == 6 || ViewBag.ScanItem == 7) // 集貨, 卸集, 發送
        {
            <h4>板數</h4>
            <input id="plates" />
        }

        @if (ViewBag.ScanItem == 1 || ViewBag.ScanItem == 6) // 到著, 卸集
        {
            <h4>月台</h4>
            <input id="platform" />
        }

        @if (ViewBag.ScanItem == 6) // 卸集
        {
            <h4>件數</h4>
            <input id="pieces" />
            <h4>重量</h4>
            <input id="weight" />
        }

        @if (ViewBag.ScanItem == 1 || ViewBag.ScanItem == 2) // 到著, 配送
        {
            <h4>異常狀態</h4>
            <input id="exception" />
        }

        @if (ViewBag.ScanItem == 1) // 到著
        {
            <h4>駐區</h4>
            <input id="area" />
            <h4>車廂代號</h4>
            <input id="car-number" />
            <h4>基載率</h4>
            <input id="sowage-rate" />
        }

        @if (ViewBag.ScanItem == 3) // 配達
        {
            <h4>配達區分</h4>
            @Html.DropDownList("arrive-option", (IEnumerable<SelectListItem>)ViewBag.ArriveOption)
        }

        <ul>
            <li><span>託運單號:</span><label class="alert-success" id="checkNumber"></label></li>
            <li><span>收件人姓名:</span><label class="alert-success" id="receiverName"></label></li>
            <li><span>託運狀態:</span><label class="alert-success" id="statusName"></label></li>
            <li><span>上回掃讀時間:</span><label class="alert-success" id="lastScanDate"></label></li>
            <li><span>已掃讀筆數:</span><label class="alert-success" id="scanedAmount"></label></li>
            <li>
                <button id="saveCollectionMoney" class="k-primary">儲存結果</button>
                @if (ViewBag.ScanItem == 5)
                {
                    @Html.ActionLink("回上一步", "SelectPickUpType", null, null, new { @class = "btn btn-primary" })
                }
            </li>
        </ul>
        <div id="showScaned"></div>
    </div>
</div>

<script>

    var scanedAmount = 0;

    $(document).ready(function () {

        $("#barcode").keypress(function (e) {
            if (e.keyCode === 13) {
                var barcodeData = $("#barcode").val();

                //開始call ajax
                $.ajax({
                    url: "/barcode/GetBarcodeData?barcode=" + barcodeData, success: function (result) {

                        if (result.success > 0) {
                            $("#checkNumber").text(result.checkNumber);
                            $("#receiverName").text(result.receiverName);
                            $("#statusName").text(result.status);
                            $("#lastScanDate").text(result.lastScanDate);
                        }
                        else {
                            alert("查無託運資料，請確認託運單號是正確的");
                        }
                    }
                });

                $("#barcode").val("");
                e.preventDefault();
            }
        });
    });

    function onClick(e) {

        var checkNumber = $("#checkNumber").text();
        var plates = $("#plates").val();
        var areaArriveCode = $("#area-arrive-code").val();
        var pieces = $("#pieces").val();
        var weight = $("#weight").val();
        var platform = $("#platform").val();
        var runs = $("#runs").val();
        var carNumber = $("#car-number").val();
        var sowageRate = $("#sowage-rate").val();
        var area = $("#area").val();
        var exception = $("#exception").val();
        var arriveOption = $("select[name='arrive-option']").val();

        var json = "{"
            + "checkNumber:\"" + checkNumber
            + "\",plates:\"" + plates
            + "\",areaArriveCode:\"" + areaArriveCode
            + "\",pieces:\"" + pieces
            + "\",weight:\"" + weight
            + "\",platform:\"" + platform
            + "\",runs:\"" + runs
            + "\",carNumber:\"" + carNumber
            + "\",sowageRate:\"" + sowageRate
            + "\",area:\"" + area
            + "\",exceptionOption:\"" + exception
            + "\",arriveOption:\"" + arriveOption + "\"}";

        $.ajax({
            url: "/barcode/CallWebService?driverCode=@ViewBag.DriverCode&scanItem=@ViewBag.ScanItem&json=" + json,
            success: function (result) {
                var jObject = JSON.parse(result);

                if (jObject.resultcode == true) {
                    alert("儲存成功");
                }
                else {
                    alert(jObject.resultdesc);
                }
            }
        });        
    }

    $("#saveCollectionMoney").kendoButton({
        click: onClick
    });
</script>