﻿@{
    Layout = "~/Views/Shared/_LayoutAddJFMenu.cshtml";
}

    <div class="demo-section k-content">
        <h3>區配商AC段請款單總表</h3>
        <h4>請款月份</h4>
        <input id="monthPickerStart" style="width:100%" />
        <h4>區配商</h4>
        <input id="suppliers" style="width:100%" />
        <button id="search">查詢</button>

        <form asp-controller="PalletACSectionShouldPayController" asp-action="AllSuppliers" method="post">
            <input type="hidden" id="forZipJson"  name="forZipJson"/>
            <button asp-action="GenerateZipFile" id="exportZip" type="submit" class="btn btn-outline-dark" >
            整批匯出請款單
            </button>
        </form>

            <form asp-controller="PalletACSectionShouldPayController" asp-action="AllSuppliers" method="post">
                <input type="hidden" id="json" name="json" />
                <button asp-action="ExportFile" type="submit" id="exportexcel" style="display:none;">
                    <i class="fa fa-download"></i>
                    隱藏的下載請款單
                </button>
            </form>
    </div>
    <div id="grid"></div>

<script>
    var startMonth = kendo.toString(new Date(), "s");

     $("#monthPickerStart").kendoDatePicker({
        start: "year",
        depth: "year",
        format: "yyyy M",
        dateInput: true,
        value: new Date(),
        change: function (e) {
            var value = this.value();
            startMonth = kendo.toString(value, "s"); 
        },
        culture: "zh-TW"
    });
   
    $("#suppliers").kendoDropDownList({
        filter: "contains",
        dataTextField: "supplierName",
        dataValueField: "supplierCode",
        dataSource: {
            type: "json",
            transport: {
                read: {
                    url: "/PalletACSectionShouldPay/GetSuppliers"
                }
            }
        },
        cascade: function (e) {
            var value = this.value();
            supplierCode = value;
        }
    });

     function getGrid() {

        var getUrl = " GetAllSupplierACSectionShouldPay?start=" + startMonth + "&supplierCode=" + supplierCode ;

         dataSource = new kendo.data.DataSource({
            transport: {
                read: {
                    url: getUrl,
                    dataType: "jsonp",
                },
            },
            batch: true,
            pageSize: 30,
            schema: {
                model: {
                    id: "",
                    fields: {
                        SupplierName: { validation: { required: true }, nullable: true, editable: false },
                        RequestMonth: { validation: { required: true }, nullable: true, editable: false },
                        ASectionPayment: { validation: { required: true }, nullable: true, editable: false },
                        CSectionPayment: { validation: { required: true }, nullable: true, editable: false },
                        Tax: { validation: { required: true }, nullable: true, editable: false },
                        TotalPayment: { validation: { required: true }, nullable: true, editable: false },
                    }
                }
            }
        });
    }

    $("#search").kendoButton({
        click: function (e) {
            getGrid();

            if ($("#grid").data("kendoGrid") == null) {
            } else {
                $("#grid").data("kendoGrid").destroy();
                $("#grid").empty();
            }
            $("#grid").kendoGrid({
                dataSource: dataSource,
                pageable: true,
                sortable: true,
                filterable: true,
                reorderable: true,
                groupable: true,
                resizable: true,
                columnMenu: true,
                noRecords: {
                    template: "查無資料，請重新設定篩選條件。"
                },
                height: 650,
                columns: [
                    { field: "SupplierName", title: "區配商", format: "{0: yyyy/MM/dd}", width: 90 },
                    { field: "RequestMonth", title: "請款月份", width: 90 },
                    { field: "ASectionPayment", title: "A段應付", width: 90 },
                    { field: "CSectionPayment", title: "C段應付", width: 90 },
                    { field: "Tax", title: "營業稅", width: 90 },
                    { field: "TotalPayment", title: "應付總計", width: 90 },
                    { command: { text: "檢視請款單", click: TransferToBill }, title: "檢視", width: "100px" },
                    { command: { text: "下載請款單", click: DownloadBill}, title: "下載", width: "100px" }
                ],
            });

            let gridOnePosition = $("#grid").offset().top;
            $("html, body").animate({ scrollTop: gridOnePosition }, 200);
        }
    });

    function TransferToBill(e) {
        e.preventDefault();
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        window.open("OneSupplier?requestMonth=" + dataItem.RequestMonth + "&supplierCode=" + dataItem.SupplierName); 
    }

    function DownloadBill(e) {
        e.preventDefault();
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));

        $("#exportexcel").on("click", function (e) {

            var dataJson = {};
            dataJson["RequestMonth"] = dataItem.RequestMonth;
            dataJson["SupplierName"] = dataItem.SupplierName;

            var output = JSON.stringify(dataJson);
            $("#json").val(output);
        });

        $("#exportexcel").click();
    }

    
    $("#exportZip").on("click", function (e) {
        alert("開始下載，請耐心等候。");
        var dataJson = [];
        try {
            dataSource.fetch(function () {
                var mainData = dataSource.data();
                for (var i = 0; i < mainData.length; i++) {
                    dataJson.push({ RequestMonth: mainData[i].RequestMonth, SupplierName: mainData[i].SupplierName });
                }

                var output = JSON.stringify(dataJson);
                $("#forZipJson").val(output);
            });
        }
        catch (e){
            alert("請先按查詢再按整批匯出請款單。");
        }
    });

</script>

<style>
    h4 {
        margin-top: 2em;
    }
    #search {
       margin-right:2em;
       margin-top: 2em;
    }
    #exportZip {
        margin-top: 2em;
    }
</style>

