﻿@{
    Layout = "~/Views/Shared/_LayoutAddJFMenu.cshtml";
}

<div class="header">
        <h3><span class="span"><label id="supplier"></label></span></h3>
        <h3><span class="span"><label id="month"></label></span></h3>
        <h3><span class="span"><label id="dateRange"></label></span></h3>
    
</div>
<div id="grid"></div>
<div class="showFooter">
    <h5><span class="span">小計：NT$<label id="total"></label></span></h5>
    <h5><span class="span">5%營業稅：NT$<label id="tax"></label></span></h5>
    <h5><span class="span">應付帳款：NT$<label id="totalPayment"></label></span></h5>
</div>

<script>

    $("#supplier").text('@Html.Raw(ViewBag.Supplier)');
    $("#month").text('@Html.Raw(ViewBag.Month)');
    $("#dateRange").text('@Html.Raw(ViewBag.DateRange)');

    var total;
    var tax;
    var totalpayment;
    //var takeMoneyBack = [];

    dataSource = new kendo.data.DataSource({
        transport: {
            read: {
                url: "GetOneSupplierACSectionShouldPay",
                dataType: "jsonp",
                data: function () {
                    return {
                        end: "@ViewBag.EndDate",
                        supplierCode: "@ViewBag.SupplierCode",
                    }
                }
            },
        },
        requestEnd: function (e) {
            response = e.response;
            //takeMoneyBack = response;
                total = response[0].MyPayment.Total;
                tax = response[0].MyPayment.Tax;
                totalpayment = response[0].MyPayment.TotalPayment;
                $("#totalPayment").text(totalpayment);
                $("#total").text(total);
                $("#tax").text(tax);
        },
        batch: true,
        schema: {
            model: {
                id: "CheckNumber",
                fields: {
                    PrintDate: { type: "date", validation: { required: true }, nullable: true },
                    CustomerCode: { validation: { required: true }, nullable: true },
                    TaskId: { validation: { required: true }, nullable: true },
                    CheckNumber: { validation: { required: true }, nullable: true },
                    SendContact: { validation: { required: true }, nullable: true },
                    ReceiveContact: { validation: { required: true }, nullable: true },
                    SendCity: { validation: { required: true }, nullable: true },
                    ReceiveCity: { validation: { required: true }, nullable: true },
                    SendStation: { validation: { required: true }, nullable: true },
                    ArriveStation: { validation: { required: true }, nullable: true },
                    Pieces: { validation: { required: true }, nullable: true },
                    Plates: { validation: { required: true }, nullable: true },
                    Route: { validation: { required: true }, nullable: true },
                    Payment: { validation: { required: true }, nullable: true },
                }
            }
        }
    });

    //$("#totalPayment").text(takeMoneyBack[0].MyPayment.TotalPayment);
    //$("#total").text(takeMoneyBack[0].MyPayment.Total);
    //$("#tax").text(takeMoneyBack[0].MyPayment.Tax);

    $("#grid").kendoGrid({
        dataSource: dataSource,
        //sortable: true,
        //filterable: true,
        //reorderable: true,
        //groupable: true,
        //resizable: true,
        //columnMenu: true,
        height: 550,
        //toolbar: [{ name:"excel"}],
        //excel: {
        //    fileName: kendo.toString(new Date(), "yyyy/MM/dd") + "棧板OneSupplier.xlsx",
        //    allPages: true,
        //    filterable: true
        //},
        columns: [
            { field: "PrintDate", title: "發送日", format: "{0: yyyy/MM/dd}", width: 90 },
            { field: "CustomerCode", title: "客戶代號", width: 90 },
            { field: "TaskId", title: "任務編碼", width: 90 },
            { field: "CheckNumber", title: "貨號", width: 90 },
            { field: "SendContact", title: "寄件人", width: 90 },
            { field: "ReceiveContact", title: "收件人", width: 90 },
            { field: "SendCity", title: "發送區域", width: 90 },
            { field: "ReceiveCity", title: "配送區域", width: 90 },
            { field: "SendStation", title: "發送站", width: 90 },
            { field: "ArriveStation", title: "到著站", width: 90 },
            { field: "Plates", title: "板數", width: 70 },
            { field: "Pieces", title: "件數", width: 70 },
            { field: "Route", title: "路線", width: 70 },
            { field: "Payment", title: "總費用", width: 90 },
        ],
    });
</script>

<style>
.span{
    display:block;
}
.header {
    text-align:center;
}
.showFooter {
    margin-top:1em;
    margin-bottom:2em;
    margin-right:1em;
    text-align:right;
}
</style>

