﻿@{
    Layout = "~/Views/Shared/_LayoutAddMenu.cshtml";
}
    <div id="show">
        <h2>@ViewBag.Year 年 @ViewBag.Month 月客戶應收帳款</h2>
        <h4><label id="customer"></label></h4>
        <h4><span id="span1" style="display:block">結帳日期：<label id="writeOffDate"></label></span></h4>
        <h4><span id="span2" style="display:block">請款區間：<label id="range"></label></span></h4>
        <h4><span id="span3" style="display:block">棧板收入小計：<label id="palletIncome"></label></span></h4>
        <h4><span id="span4" style="display:block">專車收入小計：<label id="truckIncome"></label></span></h4>
        <h4><span id="span5" style="display:block">營業稅：<label id="tax"></label></span></h4>
        <h4><span id="span6" style="display:block">應收帳款：<label id="payment"></label></span></h4>
    </div>

<div id="grid"></div>

<script>

    $("#writeOffDate").text("@ViewBag.Date");
    $("#range").text("@ViewBag.StartWriteOffDate-@ViewBag.Date");
    $("#customer").text("@Html.Raw(ViewBag.ShortCustomerName)");
   // var response; 
    var total;
    var tax;
    var pallet;
    var truck;

    dataSource = new kendo.data.DataSource({
        transport: {
            read: {
                url: "/PalletCustomerWriteOff/GetAlreadyWriteOffMonthCustomer?StartDate=@ViewBag.StartWriteOffDate&endDate=@ViewBag.Date&shortCustomerCode=@ViewBag.CustomerCode",
                dataType: "jsonp"
            },
        },
        //requestEnd: function (e) {
        //    response = e.response;
        //    total = response[0].PaymentEntity.Total;
        //    tax = response[0].PaymentEntity.Tax;
        //    pallet = response[0].PaymentEntity.PalletIncome;
        //    truck = response[0].PaymentEntity.TruckIncome ;
        //    $("#payment").text(total);
        //    $("#palletIncome").text(pallet);
        //    $("#truckIncome").text(truck);
        //    $("#tax").text(tax);
        //},
        batch: true,
        //pageSize: 80,
        schema: {
            model: {
                id: "Id",
                fields: {
                    Id: { validation: { required: true }, nullable: true },
                    CustomerCode: { validation: { required: true }, nullable: true },
                    CustomerName: { validation: { required: true }, nullable: true },
                    PrintDate: { type: "date", nullable: false },
                    SupplierDate: { type: "date", validation: { required: true }, nullable: true },
                    DeliveryType: { validation: { required: true } },
                    CheckNumber: { validation: { required: true }, nullable: true },
                    SupplierArea: { validation: { required: true }, nullable: true },
                    ArriveArea: { validation: { required: true }, nullable: true },
                    Pieces: { validation: { required: true }, nullable: true },
                    Plates: { validation: { required: true }, nullable: true },
                    Payment: { validation: { required: true }, nullable: true },
                    PaymentEntity: { validation: { required: true }, nullable: true }
                }
            }
        }
    });

    dataSource.fetch(function () {
        var data = dataSource.data();

        if (data.length > 0) {
            total = data[0].PaymentEntity.Total;
            tax = data[0].PaymentEntity.Tax;
            pallet = data[0].PaymentEntity.PalletIncome;
            truck = data[0].PaymentEntity.TruckIncome;
            $("#payment").text(total);
            $("#palletIncome").text(pallet);
            $("#truckIncome").text(truck);
            $("#tax").text(tax);
        }
        else {
            $("#payment").text(0);
            $("#palletIncome").text(0);
            $("#truckIncome").text(0);
            $("#tax").text(0);
        }
    });
  
    if ($("#grid").data("kendoGrid") == null) {
    } else {
        $("#grid").data("kendoGrid").dataSource.read();
        $("#grid").data("kendoGrid").refresh();
    }

    $("#grid").kendoGrid({
        dataSource: dataSource,
        //pageable: false,
        sortable: true,
        filterable: true,
        //excel: {
        //    fileName: "帳單.xlsx",
        //    allPages: true,
        //    filterable: true
        //},
        height: 550,
        columns: [
            { field: "Id", title: "序號" },
            { hidden: true, field: "CustomerCode", title: "客戶代號" },
            { field: "PrintDate", title: "發送日期", format: "{0: yyyy/MM/dd}" },
            { hidden: true, field: "SupplierDate", title: "配送日期", format: "{0: yyyy/MM/dd HH:mm:ss}" },
            { hidden: true, field: "DeliveryType", title: "配送模式" },
            { field: "CheckNumber", title: "貨號" },
            { field: "CustomerName", title: "客戶名稱" },
            { field: "SupplierArea", title: "發送區" },
            { field: "ArriveArea", title: "到著區" },
            { hidden: true, field: "Pieces", title: "件數" },
            { field: "Plates", title: "板數" },
            { hidden: true, field: "", title: "加收費" },
            { field: "Payment", title: "貨件費用" },
            { hidden: true, field: "PaymentEntity", title: "應收帳款", template: "#=PaymentEntity.Total#" },
            { hidden: true, field: "PaymentEntity", title: "營業稅", template: "#=PaymentEntity.Tax#" },
            { hidden: true, field: "PaymentEntity", title: "棧板收入小計", template: "#=PaymentEntity.PalletIncome#" },
            { hidden: true, field: "PaymentEntity", title: "專車收入小計", template: "#=PaymentEntity.TruckIncome#" },
        ],
    });

</script>
