﻿@{
    Layout = "~/Views/Shared/_LayoutAddJFMenu.cshtml";
}

    <div class="demo-section k-content">
        <h2>客戶歷史帳單</h2>

        <h4 style="margin-top: 2em;">客戶代號</h4>
        <input id="customer" title="customer" style="width: 100%" />

        <h4 style="margin-top: 2em;">開始結帳月份</h4>
        <input id="monthpicker1" title="monthpicker" style="width: 100%" />

        <h4 style="margin-top: 2em;">結束結帳月份</h4>
        <input id="monthpicker" title="monthpicker" style="width: 100%" />

        <h4 style="margin-top: 2em;">歷史折線圖年份</h4>
        <input id="yearpicker" title="monthpicker" style="width: 100%" />

        <button style="margin-top: 2em;" id="search">查詢</button>

        <form asp-controller="PalletCustomerWriteOffController" asp-action="History" method="post">
            <input type="hidden" id="json" name="json" />
            <button asp-action="ExportFile" type="submit" id="exportexcel" style="display:none;">
                <i class="fa fa-download"></i>
                隱藏的下載帳單
            </button>
        </form>
    </div>

<div id="grid"></div>
<div id="chart"></div>

<script>

    var shortCustomerCode;
    var shortCustomerName;

    $("#customer").kendoDropDownList({
        filter: "contains",
        dataTextField: "supplierCodeAndName",
        dataValueField: "supplierCode",
        dataSource: {
            type: "json",
            transport: {
                read: {
                    url: "/PalletCustomerWriteOff/GetPalletCustomers"
                }
            }
        },
        cascade: function (e) {
            var value = this.value();
            shortCustomerCode = value;
            var Name = this.text()
            shortCustomerName = Name.substring(Name.indexOf("-") + 1);
        }
    });

    $("#monthpicker1").kendoDatePicker({
        start: "year",
        depth: "year",
        format: "yyyy M",
        dateInput: true,
        change: function (e) {
            var value = this.value();
            startMonth = kendo.toString(value, "s"); //把日期的值從英文轉成datetime
        },
        culture: "zh-TW"
    });

    $("#monthpicker").kendoDatePicker({
        start: "year",
        depth: "year",
        format: "yyyy M",
        dateInput: true,
        change: function (e) {
            var value = this.value();
            endMonth = kendo.toString(value, "s"); //把日期的值從英文轉成datetime
        },
        culture: "zh-TW"
    });

    $("#yearpicker").kendoDatePicker({
        start: "decade",
        depth: "decade",
        format: "yyyy",
        dateInput: true,
        change: function (e) {
            var value = this.value();
            yearForLineChart = kendo.toString(value, "s"); //把日期的值從英文轉成datetime
        },
        culture: "zh-TW"
    });

    function GetGrid() {
        dataSource = new kendo.data.DataSource({
            transport: {
                read: {
                    url: "/PalletCustomerWriteOff/GetHistoryByCustomerCodeAndMonths?startMonth=" + startMonth + "&endMonth=" + endMonth + "&shortCustomerCode=" + shortCustomerCode,
                    dataType: "jsonp"
                },
            },
            batch: true,
            pageSize: 30,
            schema: {
                model: {
                    id: "Id",
                    fields: {
                        Id: { validation: { required: true }, nullable: true },
                        ClosingDate: { type: "date", nullable: false },
                        RequestStartDate: { type: "date", validation: { required: true }, nullable: true },
                        RequestEndDate: { type: "date", validation: { required: true }, nullable: true },
                        Payment: { validation: { required: true }, nullable: true },
                    }
                }
            }
        });
    }

    $("#search").kendoButton({
        click: function (e) {
            if ($('#monthpicker').val() != "year month" && $('#monthpicker1').val() != "year month") {
                GetGrid();

                if ($("#grid").data("kendoGrid") == null) {
                } else {
                    $("#grid").data("kendoGrid").destroy();
                    $("#grid").empty();
                }
                $("#grid").kendoGrid({
                    dataSource: dataSource,
                    pageable: true,
                    sortable: true,
                    filterable: true,
                    height: 550,
                    columns: [
                        { field: "Id", title: "序號" },
                        { field: "ClosingDate", title: "結帳日期", format: "{0: yyyy/MM/dd}" },
                        { field: "RequestStartDate", title: "開始請款日期", format: "{0: yyyy/MM/dd}" },
                        { field: "RequestEndDate", title: "結束請款日期", format: "{0: yyyy/MM/dd}" },
                        { field: "Payment", title: "應收帳款" },
                        { command: { text: "帳單", click: transferToBill }, title: "查看", width: "100px" },
                        { command: { text: "匯出帳單", click: DownloadBillExcelNew /*showBill*/ }, title: "&nbsp;", width: "100px" },
                        { command: { text: "匯出明細", click: showDetails }, title: "&nbsp;", width: "100px" }
                    ],
                });
            }

            if (yearForLineChart != undefined) {
                $.ajax({
                    url: "/PalletCustomerWriteOff/GetLineChartByCustomerCodeAndYear?customerCode=" + shortCustomerCode + "&year=" + yearForLineChart,
                    dataType: "json",
                    type: "POST",
                    contentType: "text/html;charset=utf-8",
                    complete: function (result) {
                        var arr = JSON.parse(result.responseText);
                        $("#chart").kendoChart({
                            title: {
                                text: "歷史應收帳款折線圖"
                            },
                            legend: {
                                position: "bottom"
                            },
                            seriesDefaults: {
                                type: "line"
                            },
                            series: [{
                                name: "應收帳款",
                                data: arr,
                                color: "blue"
                            }],
                            valueAxis: {
                                max: Math.max(...arr) * 1.1,        //1.1是隨便給的，目的是要讓最大值不要超過圖表或著落在邊界
                                min: 0
                            },
                            categoryAxis: {
                                categories: ["一月", "二月", "三月", "四月", "五月", "六月", "七月", "八月", "九月", "十月", "十一月", "十二月"]
                            },
                            tooltip: {
                                visible: true,
                                format: "{0}%",
                                template: "#= value #"
                            }
                        });
                    },
                });
            }
        }
    });

    function transferToBill(e) {
        e.preventDefault();
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        window.open("CustomerMonthWriteOff?startDate=" + kendo.toString(dataItem.RequestStartDate, "s") + "&endDate=" + kendo.toString(dataItem.ClosingDate, "s") + "&shortCustomerCode=" + shortCustomerCode + "&shortCustomerName=" + shortCustomerName); // 放action result view的name/頁面的名字
    }

     function DownloadBillExcelNew(e) {
        alert("開始下載，請稍候。");
        e.preventDefault();
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));

        $("#exportexcel").on("click", function (e) {

            var dataJson = {};
            dataJson["StartDate"] = kendo.toString(dataItem.RequestStartDate, "s");
            dataJson["EndDate"] =  kendo.toString(dataItem.ClosingDate, "s");
            dataJson["ShortCustomerCode"] = shortCustomerCode;
            var output = JSON.stringify(dataJson);
            $("#json").val(output);
        });

        $("#exportexcel").click();
    }

    function showBill(e) {
        e.preventDefault();
        alert("下載中，請稍等。");
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));

        var CustomerName;
        var UniformNumber;
        var Telephone;
        var ShipmentsAddress;
        var ShipmentsEmail;
        var BillingSpecialNeeds;
        var ShipmentsPrincipal;

        var bill = new kendo.data.DataSource({
            transport: {
                read: {
                    url: "/PalletCustomerWriteOff/GetAlreadyWriteOffMonthCustomer?startDate=" + kendo.toString(dataItem.RequestStartDate, "s") + "&endDate=" + kendo.toString(dataItem.ClosingDate, "s") + "&shortCustomerCode=" + shortCustomerCode,
                    dataType: "jsonp"
                },
            },
            schema: {
                model: {
                    id: "Id",
                    fields: {
                        Id: { validation: { required: true }, nullable: true },
                        PrintDate: { type: "date", nullable: false },
                        SupplierDate: { type: "date", validation: { required: true }, nullable: true },
                        DeliveryType: { validation: { required: true } },
                        CheckNumber: { validation: { required: true }, nullable: true },
                        SupplierArea: { validation: { required: true }, nullable: true },
                        ArriveArea: { validation: { required: true }, nullable: true },
                        Pieces: { validation: { required: true }, nullable: true },
                        Plates: { validation: { required: true }, nullable: true },
                        AddFee: { validation: { required: true }, nullable: true },
                        Payment: { validation: { required: true }, nullable: true },
                    }
                }
            }
        });

        $.ajax({
            url: "/PalletCustomerWriteOff/FindCustomers?shortCustomerCode=" + shortCustomerCode,
            dataType: "json",
            type: "POST",
            contentType: "text/html;charset=utf-8",
            success: function (result) {  //result = json string

                var output = result; //Your data is already an object. No need to parse it. The javascript interpreter has already parsed it for you.
                if (result.length > 0) {
                    CustomerName = output[0].customerName;
                    UniformNumber = output[0].uniformNumber;
                    Telephone = output[0].telephone;
                    ShipmentsAddress = output[0].shipmentsAddress;
                    ShipmentsEmail = output[0].shipmentsEmail;
                    BillingSpecialNeeds = output[0].billingSpecialNeeds;
                    ShipmentsPrincipal = output[0].shipmentsPrincipal;
                }
                else {
                    CustomerName = "";
                    UniformNumber = "";
                    Telephone = "";
                    ShipmentsAddress = "";
                    ShipmentsEmail = "";
                    BillingSpecialNeeds = "";
                    ShipmentsPrincipal = "";
                }
            },
        });

        var rows = [{ cells: [{ value: "峻富物流股份有限公司", colSpan: 11, fontSize: 18, textAlign: "center" }] }];

        bill.fetch(function () {
            var data = this.data();
            rows.push({ cells: [{ value: kendo.toString(dataItem.RequestStartDate, "yyyy/MM/dd") + "-" + kendo.toString(dataItem.RequestEndDate, "yyyy/MM/dd"), colSpan: 11, fontSize: 18, textAlign: "center" }] });
            rows.push({ cells: [{ value: "客戶：" + CustomerName, colSpan: 4, textAlign: "left" }] });
            rows.push({ cells: [{ value: "統一編號：" + UniformNumber, colSpan: 4, textAlign: "left" }] });
            rows.push({ cells: [{ value: "聯絡電話：" + Telephone, colSpan: 4, textAlign: "left" }, { value: "對帳人：" + ShipmentsPrincipal, colSpan: 7, textAlign: "right" }] });
            rows.push({ cells: [{ value: "地址：" + ShipmentsAddress, colSpan: 7, textAlign: "left" }, { value: ShipmentsEmail, colSpan: 4, textAlign: "right" }] });
            rows.push({ cells: [{ value: "開立發票號碼：", colSpan: 4, textAlign: "left", borderBottom: { color: "#000000", size: 2 } }, { value: BillingSpecialNeeds, colSpan: 7, textAlign: "right", borderBottom: { color: "#000000", size: 2 } }] });
            rows.push({
                cells: [
                    { value: "序號", background: "#FFFFAA" ,borderLeft: { color: "#000000", size: 2 }},
                    { value: "發送日期", background: "#FFFFAA" },
                    { value: "配送日期", background: "#FFFFAA" },
                    { value: "配送模式", background: "#FFFFAA" },
                    { value: "貨號", background: "#FFFFAA" },
                    { value: "發送區", background: "#FFFFAA" },
                    { value: "到著區", background: "#FFFFAA" },
                    { value: "件數", background: "#FFFFAA" },
                    { value: "板數", background: "#FFFFAA" },
                    { value: "加收費", background: "#FFFFAA" },
                    { value: "貨件運費", background: "#FFFFAA", borderRight: { color: "#000000", size: 2 } }
                ]
            });

            for (var i = 0; i < data.length; i++) {
                rows.push({
                    cells: [
                        { value: data[i].Id ,borderLeft: { color: "#000000", size: 2 }},
                        { value: data[i].PrintDate },
                        { value: data[i].SupplierDate },
                        { value: data[i].DeliveryType },
                        { value: data[i].CheckNumber },
                        { value: data[i].SupplierArea },
                        { value: data[i].ArriveArea },
                        { value: data[i].Pieces },
                        { value: data[i].Plates },
                        { value: data[i].AddFee },
                        { value: data[i].Payment, borderRight: { color: "#000000", size: 2 } }
                    ]
                });
            }

            rows.push({
                cells: [
                    { value: "", borderBottom: { color: "#000000", size: 1 }, borderTop: { color: "#000000", size: 2 },borderLeft: { color: "#000000", size: 2 } },
                    { value: "", borderBottom: { color: "#000000", size: 1 }, borderTop: { color: "#000000", size: 2 } },
                    { value: "", borderBottom: { color: "#000000", size: 1 }, borderTop: { color: "#000000", size: 2 } },
                    { value: "", borderBottom: { color: "#000000", size: 1 }, borderTop: { color: "#000000", size: 2 } },
                    { value: "", borderBottom: { color: "#000000", size: 1 }, borderTop: { color: "#000000", size: 2 } },
                    { value: "", borderBottom: { color: "#000000", size: 1 }, borderTop: { color: "#000000", size: 2 } },
                    { value: "棧板收入小計", borderBottom: { color: "#000000", size: 1 }, borderTop: { color: "#000000", size: 2 } },
                    { value: data[0].PaymentEntity.TotalPiecesCount - data[0].PaymentEntity.TruckPiecesCount, borderBottom: { color: "#000000", size: 1 }, borderTop: { color: "#000000", size: 2 } },
                    { value: data[0].PaymentEntity.TotalPalletCount - data[0].PaymentEntity.TruckPalletCount, borderBottom: { color: "#000000", size: 1 }, borderTop: { color: "#000000", size: 2 } },
                    { value: "", borderBottom: { color: "#000000", size: 1 }, borderTop: { color: "#000000", size: 2 } },
                    { value: data[0].PaymentEntity.PalletIncome, borderBottom: { color: "#000000", size: 1 }, borderTop: { color: "#000000", size: 2 }, borderRight: { color: "#000000", size: 2 } }
                ]
            });
            rows.push({
                cells: [
                    { value: "", borderBottom: { color: "#000000", size: 2 },borderLeft: { color: "#000000", size: 2 } },
                    { value: "", borderBottom: { color: "#000000", size: 2 } },
                    { value: "", borderBottom: { color: "#000000", size: 2 } },
                    { value: "", borderBottom: { color: "#000000", size: 2 } },
                    { value: "", borderBottom: { color: "#000000", size: 2 } },
                    { value: "", borderBottom: { color: "#000000", size: 2 } },
                    { value: "專車收入小計", borderBottom: { color: "#000000", size: 2 } },
                    { value: data[0].PaymentEntity.TruckPiecesCount, borderBottom: { color: "#000000", size: 2 } },
                    { value: data[0].PaymentEntity.TruckPalletCount, borderBottom: { color: "#000000", size: 2 } },
                    { value: "", borderBottom: { color: "#000000", size: 2 } },
                    { value: data[0].PaymentEntity.TruckIncome, borderBottom: { color: "#000000", size: 2 }, borderRight: { color: "#000000", size: 2 } }
                ]
            });
            rows.push({
                cells: [
                    { value: "", borderBottom: { color: "#000000", size: 1 },borderLeft: { color: "#000000", size: 2 } },
                    { value: "", borderBottom: { color: "#000000", size: 1 } },
                    { value: "", borderBottom: { color: "#000000", size: 1 } },
                    { value: "", borderBottom: { color: "#000000", size: 1 } },
                    { value: "", borderBottom: { color: "#000000", size: 1 } },
                    { value: "", borderBottom: { color: "#000000", size: 1 } },
                    { value: "總計", borderBottom: { color: "#000000", size: 1 } },
                    { value: data[0].PaymentEntity.TotalPiecesCount, borderBottom: { color: "#000000", size: 1 } },
                    { value: data[0].PaymentEntity.TotalPalletCount, borderBottom: { color: "#000000", size: 1 } },
                    { value: "", borderBottom: { color: "#000000", size: 1 } },
                    { value: data[0].PaymentEntity.TruckIncome + data[0].PaymentEntity.PalletIncome, borderBottom: { color: "#000000", size: 1 }, borderRight: { color: "#000000", size: 2 } }
                ]
            });
            rows.push({
                cells: [
                    { value: "", borderBottom: { color: "#000000", size: 1 },borderLeft: { color: "#000000", size: 2 } },
                    { value: "", borderBottom: { color: "#000000", size: 1 } },
                    { value: "", borderBottom: { color: "#000000", size: 1 } },
                    { value: "", borderBottom: { color: "#000000", size: 1 } },
                    { value: "", borderBottom: { color: "#000000", size: 1 } },
                    { value: "", borderBottom: { color: "#000000", size: 1 } },
                    { value: "5%營業稅", borderBottom: { color: "#000000", size: 1 } },
                    { value: "", borderBottom: { color: "#000000", size: 1 } },
                    { value: "", borderBottom: { color: "#000000", size: 1 } },
                    { value: "", borderBottom: { color: "#000000", size: 1 } },
                    { value: data[0].PaymentEntity.Tax, borderBottom: { color: "#000000", size: 1 }, borderRight: { color: "#000000", size: 2 } }
                ]
            });
            rows.push({
                cells: [
                    { value: "", borderBottom: { color: "#000000", size: 2 },borderLeft: { color: "#000000", size: 2 } },
                    { value: "", borderBottom: { color: "#000000", size: 2 } },
                    { value: "", borderBottom: { color: "#000000", size: 2 } },
                    { value: "", borderBottom: { color: "#000000", size: 2 } },
                    { value: "", borderBottom: { color: "#000000", size: 2 } },
                    { value: "", borderBottom: { color: "#000000", size: 2 } },
                    { value: "應收帳款", borderBottom: { color: "#000000", size: 2 } },
                    { value: "", borderBottom: { color: "#000000", size: 2 } },
                    { value: "", borderBottom: { color: "#000000", size: 2 } },
                    { value: "", borderBottom: { color: "#000000", size: 2 } },
                    { value: data[0].PaymentEntity.Total, borderBottom: { color: "#000000", size: 2 }, borderRight: { color: "#000000", size: 2 }, borderRight: { color: "#000000", size: 2 } }
                ]
            });
            rows.push({ cells: [{ value: "匯入行：玉山銀行林口分行 808-0886", colSpan: 5, textAlign: "left" }] });
            rows.push({ cells: [{ value: "帳號：0886940035885", colSpan: 5, textAlign: "left" }] });
            rows.push({ cells: [{ value: "戶名：峻富物流股份有限公司", colSpan: 5, textAlign: "left" }] });
            rows.push({ cells: [{ value: "" }] });
            rows.push({ cells: [{ value: "核准：", colSpan: 3, textAlign: "left" }, { value: "初審:", colSpan: 3, textAlign: "left" }, { value: "主管:", colSpan: 2, textAlign: "left" }, { value: "製表:", colSpan: 3, textAlign: "left" }] });

            var workbook = new kendo.ooxml.Workbook({
                sheets: [
                    {
                        columns: [
                            { width: 40 },
                            { width: 80 },
                            { width: 80 },
                            { autoWidth: true },
                            { autoWidth: true },
                            { width: 200 },
                            { width: 200 },
                            { autoWidth: true },
                            { autoWidth: true },
                            { autoWidth: true },
                            { autoWidth: true },
                        ],
                        title: "應收帳款",
                        rows: rows
                    }
                ]
            });
            // Save the file as an Excel file with the xlsx extension.

             workbook.toDataURLAsync().then(function (dataURL) {
                kendo.saveAs({
                    dataURI: dataURL,
                    fileName: kendo.toString(new Date(), "yyyy/MM/dd") +  shortCustomerName + "帳單.xlsx"
                });
             });

           // kendo.saveAs({ dataURI: workbook.toDataURL(), fileName: kendo.toString(new Date(), "yyyy/MM/dd") + shortCustomerName + "帳單.xlsx" });
        });
    }

    function showDetails(e) {
        e.preventDefault();
        alert("下載中，請稍等。");
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));

        var response;
        var customerName;
        var customerCode;

        var billDetails = new kendo.data.DataSource({
            transport: {
                read: {
                    url: "/PalletCustomerWriteOff/GetMonthCustomerAlreadyWriteOffDetail?startDate=" + kendo.toString(dataItem.RequestStartDate, "s") + "&endDate=" + kendo.toString(dataItem.ClosingDate, "s") + "&shortCustomerCode=" + shortCustomerCode,
                    dataType: "jsonp"
                },
            },
            requestEnd: function (e) {
                response = e.response;
                customerName = response[0].CustomerName;
                customerCode = response[0].CustomerCode
            },
            schema: {
                model: {
                    id: "Id",
                    fields: {
                        Id: { validation: { required: true }, nullable: true },
                        PrintDate: { type: "date", nullable: false },
                        SupplierDate: { type: "date", validation: { required: true }, nullable: true },
                        CustomerCode: { validation: { required: true } },
                        CustomerName: { validation: { required: true } },
                        CheckNumber: { validation: { required: true }, nullable: true },
                        SendCity: { validation: { required: true }, nullable: true },
                        ReceiveCity: { validation: { required: true }, nullable: true },
                        OrderNumber: { validation: { required: true }, nullable: true },
                        ReceiveContact: { validation: { required: true }, nullable: true },
                        ReceiveAddress: { validation: { required: true }, nullable: true },
                        LatestArriveOptionDriver: { validation: { required: true }, nullable: true },
                        SendContact: { validation: { required: true }, nullable: true },
                        SendAddress: { validation: { required: true }, nullable: true },
                        InvoiceDesc: { validation: { required: true }, nullable: true },
                        Pieces: { validation: { required: true }, nullable: true },
                        Plates: { validation: { required: true }, nullable: true },
                        Payment: { validation: { required: true }, nullable: true },
                    }
                }
            }
        });

        var rows = [{ cells: [{ value: "峻富物流股份有限公司", colSpan: 18, fontSize: 15, textAlign: "center" }] }];

        billDetails.fetch(function () {
            var data = this.data();
            rows.push({ cells: [{ value: "請款期間：" + kendo.toString(dataItem.RequestStartDate, "yyyy/MM/dd") + "-" + kendo.toString(dataItem.RequestEndDate, "yyyy/MM/dd"), colSpan: 18, fontSize: 15, textAlign: "center" }] });
            rows.push({ cells: [{ value: "客戶：" + customerCode.substring(0, 8) + "-" + customerName, colSpan: 18, textAlign: "left", borderBottom: { color: "#000000", size: 2 } }] });
            rows.push({
                cells: [
                    { value: "序號", background: "#FFFFAA",borderLeft: { color: "#000000", size: 2 } },
                    { value: "發送日期", background: "#FFFFAA" },
                    { value: "配送日期", background: "#FFFFAA" },
                    { value: "客戶代碼", background: "#FFFFAA" },
                    { value: "客戶名稱", background: "#FFFFAA" },
                    { value: "貨號", background: "#FFFFAA" },
                    { value: "發送區", background: "#FFFFAA" },
                    { value: "到著區", background: "#FFFFAA" },
                    { value: "訂單號碼", background: "#FFFFAA" },
                    { value: "收件人", background: "#FFFFAA" },
                    { value: "收件人地址", background: "#FFFFAA" },
                    { value: "配達司機代碼", background: "#FFFFAA" },
                    { value: "寄件人", background: "#FFFFAA" },
                    { value: "寄件人地址", background: "#FFFFAA" },
                    { value: "備註", background: "#FFFFAA" },
                    { value: "件數", background: "#FFFFAA" },
                    { value: "板數", background: "#FFFFAA" },
                    { value: "貨件運費", background: "#FFFFAA", borderRight: { color: "#000000", size: 2 } }
                ]
            });

            for (var i = 0; i < data.length; i++) {
                rows.push({
                    cells: [
                        { value: data[i].Id,borderLeft: { color: "#000000", size: 2 } },
                        { value: data[i].PrintDate },
                        { value: data[i].SupplierDate },
                        { value: data[i].CustomerCode },
                        { value: data[i].CustomerName },
                        { value: data[i].CheckNumber },
                        { value: data[i].SendCity },
                        { value: data[i].ReceiveCity },
                        { value: data[i].OrderNumber },
                        { value: data[i].ReceiveContact },
                        { value: data[i].ReceiveAddress },
                        { value: data[i].LatestArriveOptionDriver },
                        { value: data[i].SendContact },
                        { value: data[i].SendAddress },
                        { value: data[i].InvoiceDesc },
                        { value: data[i].Pieces },
                        { value: data[i].Plates },
                        { value: data[i].Payment, borderRight: { color: "#000000", size: 2 } }
                    ]
                });
            }

            rows.push({
                cells: [
                    { value: "", colSpan: 14, borderBottom: { color: "#000000", size: 1 }, borderTop: { color: "#000000", size: 2 },borderLeft: { color: "#000000", size: 2 } },
                    { value: "小計", borderBottom: { color: "#000000", size: 1 }, borderTop: { color: "#000000", size: 2 } },
                    { value: data[0].PaymentEntity.TotalPiecesCount, borderBottom: { color: "#000000", size: 1 }, borderTop: { color: "#000000", size: 2 } },
                    { value: data[0].PaymentEntity.TotalPalletCount, borderBottom: { color: "#000000", size: 1 }, borderTop: { color: "#000000", size: 2 } },
                    { value: data[0].PaymentEntity.Total - data[0].PaymentEntity.Tax, borderBottom: { color: "#000000", size: 1 }, borderRight: { color: "#000000", size: 2 }, borderTop: { color: "#000000", size: 2 } }
                ]
            });
            rows.push({
                cells: [
                    { value: "", colSpan: 14, borderBottom: { color: "#000000", size: 1 },borderLeft: { color: "#000000", size: 2 } },
                    { value: "5%營業稅", borderBottom: { color: "#000000", size: 1 } },
                    { value: "", borderBottom: { color: "#000000", size: 1 } },
                    { value: "", borderBottom: { color: "#000000", size: 1 } },
                    { value: data[0].PaymentEntity.Tax, borderBottom: { color: "#000000", size: 1 }, borderRight: { color: "#000000", size: 2 } }
                ]
            });
            rows.push({
                cells: [
                    { value: "", colSpan: 14, borderBottom: { color: "#000000", size: 2 },borderLeft: { color: "#000000", size: 2 } },
                    { value: "應收帳款", borderBottom: { color: "#000000", size: 2 } },
                    { value: "", borderBottom: { color: "#000000", size: 2 } },
                    { value: "", borderBottom: { color: "#000000", size: 2 } },
                    { value: data[0].PaymentEntity.Total, borderBottom: { color: "#000000", size: 2 }, borderRight: { color: "#000000", size: 2 }, borderRight: { color: "#000000", size: 2 } }
                ]
            });

            var workbook = new kendo.ooxml.Workbook({
                sheets: [
                    {
                        columns: [
                            { width: 40 },
                            { width: 80 },
                            { width: 80 },
                            { width: 100 },
                            { autoWidth: true },
                            { width: 100 },
                            { autoWidth: true },
                            { autoWidth: true },
                            { autoWidth: true },
                            { autoWidth: true },
                            { autoWidth: true },
                            { autoWidth: true },
                            { autoWidth: true },
                            { autoWidth: true },
                            { autoWidth: true },
                            { autoWidth: true },
                            { autoWidth: true },
                        ],
                        title: "應收帳款明細",
                        rows: rows
                    }
                ]
            });
            // Save the file as an Excel file with the xlsx extension.
             workbook.toDataURLAsync().then(function (dataURL) {
                kendo.saveAs({
                    dataURI: dataURL,
                    fileName: kendo.toString(new Date(), "yyyy/MM/dd") + shortCustomerName + "明細表.xlsx"
                });
            });
            //kendo.saveAs({ dataURI: workbook.toDataURL(), fileName: kendo.toString(new Date(), "yyyy/MM/dd") + shortCustomerName + "明細表.xlsx" });
        });
    }
</script>

