﻿@{
    Layout = "~/Views/Shared/_LayoutAddJFMenu.cshtml";
}

    <div class="demo-section k-content">
        <h2>棧板月結應收帳款與手動結帳</h2>

        <a style="margin-top: 2em;" class="offline-button" href="Manual">前往手動結帳</a>

        <h4 style="margin-top: 1em;">結帳日期</h4>
        <input id="datepicker" title="datepicker" />

        <div style="margin-top: 2em;">
            <button id="search">查詢</button>
            <form asp-controller="PalletCustomerWriteOffController" asp-action="Index" method="post">
                <input type="hidden" id="forZipJson" name="forZipJson" />
                <button asp-action="GenerateZipFile" id="exportZip" type="submit" class="k-button" style="margin-top: 2em;">
                    整批匯出帳單
                </button>
            </form>
        </div>

        <form asp-controller="PalletCustomerWriteOffController" asp-action="Index" method="post">
            <input type="hidden" id="json" name="json" />
            <button asp-action="ExportFile" type="submit" id="exportexcel" style="display:none;">
                <i class="fa fa-download"></i>
                隱藏的下載帳單
            </button>
        </form>
    </div>
<div id="grid"></div>

<script>

    var transmitDate;
    var value;
    var dataSources = [];
    var oneDate = [];
    //var obj = {
    //    sendData: dataSources,
    //    sendStartDate: oneDate
    //};
    
      $("#datepicker").kendoDatePicker({
          culture: "zh-TW",
          change: function (e) {
              value = this.value();
              date = kendo.toString(value, "s");
              transmitDate = kendo.toString(value, "yyyy/MM/dd");
          }
      });

    function getGrid() {
        var getUrl = "/PalletCustomerWriteOff/GetTotalPaymentAndPlatesByOneSupplier?date=" + date;

        dataSource = new kendo.data.DataSource({
            transport: {
                read: {
                    url: getUrl,
                    dataType: "jsonp"
                },
            },
            batch: true,
            pageSize: 30,
            schema: {
                model: {
                    id: "Id",
                    fields: {
                        Id: { validation: { required: true }, nullable: true },
                        CustomerCode: { validation: { required: true }, nullable: true },
                        CustomerName: { validation: { required: true }, nullable: true },
                        Plates: { validation: { required: true }, nullable: true },
                        Payment: { validation: { required: true }, nullable: true },
                        StartDate: { type: "date", validation: { required: true }, nullable: true }
                    }
                }
            }
        });
    }

    //前端JSZip套件下載zip檔
    $("#export").kendoButton({
        click: function (e) {
            alert("開始下載，請勿離開此頁，若檔案數量龐大，請稍等約10分鐘。");
            try {
                dataSource.fetch(function () {
                    var mainData = dataSource.data();
                    remoteCallPromises = [],
                        filesPromises = [];

                    let interval = 200;
                    let waitingTime = 90000;

                    mainData.forEach((mode, index) => {
                        setTimeout(() => {
                            //console.log(mode);
                            var remoteCall = downloadAllBill(mode.CustomerCode, kendo.toString(mode.StartDate, "yyyy/MM/dd"));
                            remoteCallPromises.push(remoteCall)
                        }, index * interval)
                    });

                    setTimeout(() => {
                        
                            Promise.all(remoteCallPromises).then((results) => {
                                results.forEach((res, j) => {
                                    var data = dataSources[j].data();

                                    var rows = [{ cells: [{ value: "峻富物流股份有限公司", colSpan: 11, fontSize: 18, textAlign: "center" }] }];
                                    rows.push({ cells: [{ value: kendo.toString(oneDate[j]/*obj.sendStartDate[j]*/, "yyyy/MM/dd") + "~" + transmitDate, colSpan: 11, fontSize: 18, textAlign: "center" }] });
                                    rows.push({ cells: [{ value: "客戶：" + data[0].CustomersData.CustomerName, colSpan: 4, textAlign: "left" }] });
                                    rows.push({ cells: [{ value: "統一編號：" + data[0].CustomersData.UniformNumber, colSpan: 4, textAlign: "left" }] });
                                    rows.push({ cells: [{ value: "聯絡電話：" + data[0].CustomersData.Telephone, colSpan: 4, textAlign: "left" }, { value: "對帳人：" + data[0].CustomersData.ShipmentsPrincipal, colSpan: 7, textAlign: "right" }] });
                                    rows.push({ cells: [{ value: "地址：" + data[0].CustomersData.ShipmentsAddress, colSpan: 7, textAlign: "left" }, { value: data[0].CustomersData.ShipmentsEmail, colSpan: 4, textAlign: "right" }] });
                                    rows.push({ cells: [{ value: "開立發票號碼：", colSpan: 4, textAlign: "left", borderBottom: { color: "#000000", size: 2 } }, { value: data[0].CustomersData.BillingSpecialNeeds, colSpan: 7, textAlign: "right", borderBottom: { color: "#000000", size: 2 } }] });

                                    rows.push({
                                        cells: [
                                            { value: "序號", background: "#FFFFAA" ,borderLeft: { color: "#000000", size: 2 } },
                                            { value: "發送日期", background: "#FFFFAA" },
                                            { value: "配送日期", background: "#FFFFAA" },
                                            { value: "配送模式", background: "#FFFFAA" },
                                            { value: "貨號", background: "#FFFFAA" },
                                            { value: "發送區", background: "#FFFFAA" },
                                            { value: "到著區", background: "#FFFFAA" },
                                            { value: "件數", background: "#FFFFAA" },
                                            { value: "板數", background: "#FFFFAA" },
                                            { value: "加收費", background: "#FFFFAA" },
                                            { value: "貨件運費", background: "#FFFFAA", borderRight: { color: "#000000", size: 2 } }
                                        ]
                                    });

                                    for (var i = 0; i < data.length; i++) {
                                        rows.push({
                                            cells: [
                                                { value: data[i].Id,borderLeft: { color: "#000000", size: 2 } },
                                                { value: data[i].PrintDate },
                                                { value: data[i].SupplierDate },
                                                { value: data[i].DeliveryType },
                                                { value: data[i].CheckNumber },
                                                { value: data[i].SupplierArea },
                                                { value: data[i].ArriveArea },
                                                { value: data[i].Pieces },
                                                { value: data[i].Plates },
                                                { value: data[i].AddFee },
                                                { value: data[i].Payment, borderRight: { color: "#000000", size: 2 } }
                                            ]
                                        });
                                    }

                                    rows.push({
                                        cells: [
                                            { value: "", borderBottom: { color: "#000000", size: 1 }, borderTop: { color: "#000000", size: 2 },borderLeft: { color: "#000000", size: 2 } },
                                            { value: "", borderBottom: { color: "#000000", size: 1 }, borderTop: { color: "#000000", size: 2 } },
                                            { value: "", borderBottom: { color: "#000000", size: 1 }, borderTop: { color: "#000000", size: 2 } },
                                            { value: "", borderBottom: { color: "#000000", size: 1 }, borderTop: { color: "#000000", size: 2 } },
                                            { value: "", borderBottom: { color: "#000000", size: 1 }, borderTop: { color: "#000000", size: 2 } },
                                            { value: "", borderBottom: { color: "#000000", size: 1 }, borderTop: { color: "#000000", size: 2 } },
                                            { value: "棧板收入小計", borderBottom: { color: "#000000", size: 1 }, borderTop: { color: "#000000", size: 2 } },
                                            { value: data[0].PaymentEntity.TotalPiecesCount - data[0].PaymentEntity.TruckPiecesCount, borderBottom: { color: "#000000", size: 1 }, borderTop: { color: "#000000", size: 2 } },
                                            { value: data[0].PaymentEntity.TotalPalletCount - data[0].PaymentEntity.TruckPalletCount, borderBottom: { color: "#000000", size: 1 }, borderTop: { color: "#000000", size: 2 } },
                                            { value: "", borderBottom: { color: "#000000", size: 1 }, borderTop: { color: "#000000", size: 2 } },
                                            { value: data[0].PaymentEntity.PalletIncome, borderBottom: { color: "#000000", size: 1 }, borderTop: { color: "#000000", size: 2 }, borderRight: { color: "#000000", size: 2 } }
                                        ]
                                    });
                                    rows.push({
                                        cells: [
                                            { value: "", borderBottom: { color: "#000000", size: 2 },borderLeft: { color: "#000000", size: 2 } },
                                            { value: "", borderBottom: { color: "#000000", size: 2 } },
                                            { value: "", borderBottom: { color: "#000000", size: 2 } },
                                            { value: "", borderBottom: { color: "#000000", size: 2 } },
                                            { value: "", borderBottom: { color: "#000000", size: 2 } },
                                            { value: "", borderBottom: { color: "#000000", size: 2 } },
                                            { value: "專車收入小計", borderBottom: { color: "#000000", size: 2 } },
                                            { value: data[0].PaymentEntity.TruckPiecesCount, borderBottom: { color: "#000000", size: 2 } },
                                            { value: data[0].PaymentEntity.TruckPalletCount, borderBottom: { color: "#000000", size: 2 } },
                                            { value: "", borderBottom: { color: "#000000", size: 2 } },
                                            { value: data[0].PaymentEntity.TruckIncome, borderBottom: { color: "#000000", size: 2 }, borderRight: { color: "#000000", size: 2 } }
                                        ]
                                    });
                                    rows.push({
                                        cells: [
                                            { value: "", borderBottom: { color: "#000000", size: 1 },borderLeft: { color: "#000000", size: 2 } },
                                            { value: "", borderBottom: { color: "#000000", size: 1 } },
                                            { value: "", borderBottom: { color: "#000000", size: 1 } },
                                            { value: "", borderBottom: { color: "#000000", size: 1 } },
                                            { value: "", borderBottom: { color: "#000000", size: 1 } },
                                            { value: "", borderBottom: { color: "#000000", size: 1 } },
                                            { value: "總計", borderBottom: { color: "#000000", size: 1 } },
                                            { value: data[0].PaymentEntity.TotalPiecesCount, borderBottom: { color: "#000000", size: 1 } },
                                            { value: data[0].PaymentEntity.TotalPalletCount, borderBottom: { color: "#000000", size: 1 } },
                                            { value: "", borderBottom: { color: "#000000", size: 1 } },
                                            { value: data[0].PaymentEntity.TruckIncome + data[0].PaymentEntity.PalletIncome, borderBottom: { color: "#000000", size: 1 }, borderRight: { color: "#000000", size: 2 } }
                                        ]
                                    });
                                    rows.push({
                                        cells: [
                                            { value: "", borderBottom: { color: "#000000", size: 1 },borderLeft: { color: "#000000", size: 2 } },
                                            { value: "", borderBottom: { color: "#000000", size: 1 } },
                                            { value: "", borderBottom: { color: "#000000", size: 1 } },
                                            { value: "", borderBottom: { color: "#000000", size: 1 } },
                                            { value: "", borderBottom: { color: "#000000", size: 1 } },
                                            { value: "", borderBottom: { color: "#000000", size: 1 } },
                                            { value: "5%營業稅", borderBottom: { color: "#000000", size: 1 } },
                                            { value: "", borderBottom: { color: "#000000", size: 1 } },
                                            { value: "", borderBottom: { color: "#000000", size: 1 } },
                                            { value: "", borderBottom: { color: "#000000", size: 1 } },
                                            { value: data[0].PaymentEntity.Tax, borderBottom: { color: "#000000", size: 1 }, borderRight: { color: "#000000", size: 2 } }
                                        ]
                                    });
                                    rows.push({
                                        cells: [
                                            { value: "", borderBottom: { color: "#000000", size: 2 },borderLeft: { color: "#000000", size: 2 } },
                                            { value: "", borderBottom: { color: "#000000", size: 2 } },
                                            { value: "", borderBottom: { color: "#000000", size: 2 } },
                                            { value: "", borderBottom: { color: "#000000", size: 2 } },
                                            { value: "", borderBottom: { color: "#000000", size: 2 } },
                                            { value: "", borderBottom: { color: "#000000", size: 2 } },
                                            { value: "應收帳款", borderBottom: { color: "#000000", size: 2 } },
                                            { value: "", borderBottom: { color: "#000000", size: 2 } },
                                            { value: "", borderBottom: { color: "#000000", size: 2 } },
                                            { value: "", borderBottom: { color: "#000000", size: 2 } },
                                            { value: data[0].PaymentEntity.Total, borderBottom: { color: "#000000", size: 2 }, borderRight: { color: "#000000", size: 2 }, borderRight: { color: "#000000", size: 2 } }
                                        ]
                                    });
                                    rows.push({ cells: [{ value: "匯入行：玉山銀行林口分行 808-0886", colSpan: 5, textAlign: "left" }] });
                                    rows.push({ cells: [{ value: "帳號：0886940035885", colSpan: 5, textAlign: "left" }] });
                                    rows.push({ cells: [{ value: "戶名：峻富物流股份有限公司", colSpan: 5, textAlign: "left" }] });
                                    rows.push({ cells: [{ value: "" }] });
                                    rows.push({ cells: [{ value: "核准：", colSpan: 3, textAlign: "left" }, { value: "初審:", colSpan: 3, textAlign: "left" }, { value: "主管:", colSpan: 2, textAlign: "left" }, { value: "製表:", colSpan: 3, textAlign: "left" }] });

                                    var workbook = new kendo.ooxml.Workbook({
                                        sheets: [
                                            {
                                                columns: [
                                                    { width: 40 },
                                                    { width: 80 },
                                                    { width: 80 },
                                                    { autoWidth: true },
                                                    { autoWidth: true },
                                                    { width: 200 },
                                                    { width: 200 },
                                                    { autoWidth: true },
                                                    { autoWidth: true },
                                                    { autoWidth: true },
                                                    { autoWidth: true },
                                                ],
                                                title: "應收帳款",
                                                rows: rows
                                            }
                                        ]
                                    });

                                    var promise1 = workbook.toDataURLAsync();

                                    filesPromises.push(promise1);
                                });

                                var zip = new JSZip();
                                Promise.all(filesPromises).then((results) => {
                                    results.forEach((res, i) => {
                                        zip.file(mainData[i].CustomerName + ".xlsx", dataURLtoBlob(res));
                                    });

                                    zip.generateAsync({ type: "blob" }).then(function (blob) {
                                        var blobUrl = URL.createObjectURL(blob);
                                        var a = document.createElement("a");
                                        document.body.appendChild(a);
                                        a.style = "display: none";
                                        a.href = blobUrl;
                                        a.download = kendo.toString(new Date(), "yyyy/MM/dd") + "棧板客戶帳單.zip";
                                        a.click();
                                        window.URL.revokeObjectURL(blobUrl);
                                    });
                                });
                            });

                    }, (mainData.length * interval) + waitingTime);
                });
            } catch (e) {
                alert('無法匯出Excel，請洽管理員。');
            }
        }
    });

    $("#search").kendoButton({
        click: function (e) {
            getGrid();

            if ($("#grid").data("kendoGrid") == null) {
            } else {
                $("#grid").data("kendoGrid").destroy();
                $("#grid").empty();
            }
            $("#grid").kendoGrid({
                dataSource: dataSource,
                pageable: true,
                sortable: true,
                filterable: true,
                toolbar: [{ template: '<button id="exporttotal" class="k-button" onclick="exportexcel()">匯出Excel</button>'}],
                excel: {
                    fileName: kendo.toString(new Date(), "yyyy/MM/dd") + "棧板客戶應收帳款.xlsx",
                    allPages: true,
                    filterable: true
                },
                height: 550,
                columns: [
                    { field: "Id", title: "序號" },
                    { field: "CustomerCode", title: "客戶代號" },
                    { field: "CustomerName", title: "客戶名稱" },
                    { field: "Plates", title: "板數" },
                    { field: "Payment", title: "應收帳款" },
                    { hidden: true, field: "StartDate", title: "開始請款日期" },
                    { command: { text: "查看帳單", click: transferToBill/*, className: "detail"*/ }, title: "&nbsp;", width: "100px" },
                    { command: { text: "匯出帳單", click: DownloadBillExcelNew /*showBill*/ }, title: "&nbsp;", width: "100px" },
                    { command: { text: "匯出明細", click: showDetails }, title: "&nbsp;", width: "100px" }
                ],
            });
            let gridOnePosition = $("#grid").offset().top;
            $("html, body").animate({ scrollTop: gridOnePosition }, 200);
        }
    });

    function exportexcel() {
        try {
            var grid = $("#grid").data("kendoGrid");
            grid.saveAsExcel();
        } catch (e) {
            fnDialog('無法匯出Excel',
                '無法匯出Excel，請洽管理員。',
                null,
                null);
        }
    }

    function transferToBill(e) {
        e.preventDefault();
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        window.open("CustomerMonthWriteOff?startDate=" + kendo.toString(dataItem.StartDate, "yyyy/MM/dd") + "&endDate=" + date + "&shortCustomerCode=" + dataItem.CustomerCode + "&shortCustomerName=" + dataItem.CustomerName); // 放action result view的name/頁面的名字
    }

    function DownloadBillExcelNew(e) {
        alert("開始下載，請稍候。");
        e.preventDefault();
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));

        $("#exportexcel").on("click", function (e) {

            var dataJson = {};
            dataJson["StartDate"] = kendo.toString(dataItem.StartDate, "yyyy/MM/dd");
            dataJson["EndDate"] = date;
            dataJson["ShortCustomerCode"] = dataItem.CustomerCode;
            var output = JSON.stringify(dataJson);
            $("#json").val(output);
        });

        $("#exportexcel").click();
    }

     $("#exportZip").on("click", function (e) {
        alert("開始下載，請耐心等候。");
        var dataJson = [];
        try {
            dataSource.fetch(function () {
                var mainData = dataSource.data();
                for (var i = 0; i < mainData.length; i++) {
                    dataJson.push({ StartDate: kendo.toString(mainData[i].StartDate, "yyyy/MM/dd"), EndDate: date, ShortCustomerCode: mainData[i].CustomerCode });
                }

                var output = JSON.stringify(dataJson);
                $("#forZipJson").val(output);
            });
        }
        catch (e){
            alert("請先按查詢再按整批匯出帳單。");
        }
    });

    //前端下載單一客戶excel檔
    function showBill(e) {
        e.preventDefault();
        alert("下載中，請稍等。");
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));

        var CustomerName;
        var UniformNumber;
        var Telephone;
        var ShipmentsAddress;
        var ShipmentsEmail;
        var BillingSpecialNeeds;
        var ShipmentsPrincipal;

        var bill = new kendo.data.DataSource({
            transport: {
                read: {
                    url: "/PalletCustomerWriteOff/GetAlreadyWriteOffMonthCustomer?startDate=" + kendo.toString(dataItem.StartDate, "s") + "&endDate=" + date + "&shortCustomerCode=" + dataItem.CustomerCode,
                    dataType: "jsonp"
                },
            },
            schema: {
                model: {
                    id: "Id",
                    fields: {
                        Id: { validation: { required: true }, nullable: true },
                        PrintDate: { type: "date", nullable: false },
                        SupplierDate: { type: "date", validation: { required: true }, nullable: true },
                        DeliveryType: { validation: { required: true } },
                        CheckNumber: { validation: { required: true }, nullable: true },
                        SupplierArea: { validation: { required: true }, nullable: true },
                        ArriveArea: { validation: { required: true }, nullable: true },
                        Pieces: { validation: { required: true }, nullable: true },
                        Plates: { validation: { required: true }, nullable: true },
                        AddFee: { validation: { required: true }, nullable: true },
                        Payment: { validation: { required: true }, nullable: true },
                    }
                }
            }
        });
        
         $.ajax({
            url: "/PalletCustomerWriteOff/FindCustomers?shortCustomerCode=" + dataItem.CustomerCode,
            dataType: "json",
            type: "POST",
            contentType: "text/html;charset=utf-8",
            success: function (result) {  //result = json string

                var output = result; //Your data is already an object. No need to parse it. The javascript interpreter has already parsed it for you.
                if (result.length > 0) {
                    CustomerName = output[0].customerName;
                    UniformNumber = output[0].uniformNumber;
                    Telephone = output[0].telephone;
                    ShipmentsAddress = output[0].shipmentsAddress;
                    ShipmentsEmail = output[0].shipmentsEmail;
                    BillingSpecialNeeds = output[0].billingSpecialNeeds;
                    ShipmentsPrincipal = output[0].shipmentsPrincipal;
                }
                else {
                    CustomerName = "";
                    UniformNumber = "";
                    Telephone = "";
                    ShipmentsAddress = "";
                    ShipmentsEmail = "";
                    BillingSpecialNeeds = "";
                    ShipmentsPrincipal = "";
                }
            },
        });

        var rows = [{ cells: [{ value: "峻富物流股份有限公司", colSpan: 11, fontSize: 18, textAlign: "center" }] }];
       
        bill.fetch(function () {
            var data = this.data();
            rows.push({ cells: [{ value: kendo.toString(dataItem.StartDate, "yyyy/MM/dd") + "~" + transmitDate, colSpan: 11, fontSize: 18, textAlign: "center" }] });
            rows.push({ cells: [{ value: "客戶：" + CustomerName, colSpan: 4, textAlign: "left" }] });
            rows.push({ cells: [{ value: "統一編號：" + UniformNumber, colSpan: 4, textAlign: "left" }] });
            rows.push({ cells: [{ value: "聯絡電話：" + Telephone, colSpan: 4, textAlign: "left" }, { value: "對帳人：" + ShipmentsPrincipal, colSpan: 7, textAlign: "right" }] });
            rows.push({ cells: [{ value: "地址：" + ShipmentsAddress, colSpan: 7, textAlign: "left" }, { value: ShipmentsEmail, colSpan: 4, textAlign: "right" }] });
            rows.push({ cells: [{ value: "開立發票號碼：", colSpan: 4, textAlign: "left", borderBottom: { color: "#000000", size: 2 } }, { value: BillingSpecialNeeds, colSpan: 7, textAlign: "right", borderBottom: { color: "#000000", size: 2 } }] });
            rows.push({
                cells: [
                    { value: "序號", background: "#FFFFAA", borderLeft: { color: "#000000", size: 2 } },
                    { value: "發送日期", background: "#FFFFAA" },
                    { value: "配送日期", background: "#FFFFAA" },
                    { value: "配送模式", background: "#FFFFAA" },
                    { value: "貨號", background: "#FFFFAA" },
                    { value: "發送區", background: "#FFFFAA" },
                    { value: "到著區", background: "#FFFFAA" },
                    { value: "件數", background: "#FFFFAA" },
                    { value: "板數", background: "#FFFFAA"},
                    { value: "加收費", background: "#FFFFAA" },
                    { value: "貨件運費", background: "#FFFFAA", borderRight: { color: "#000000", size: 2 } }
                ]
            });

            for (var i = 0; i < data.length; i++) {
                rows.push({
                    cells: [
                        { value: data[i].Id,borderLeft: { color: "#000000", size: 2 } },
                        { value: data[i].PrintDate },
                        { value: data[i].SupplierDate },
                        { value: data[i].DeliveryType },
                        { value: data[i].CheckNumber },
                        { value: data[i].SupplierArea },
                        { value: data[i].ArriveArea },
                        { value: data[i].Pieces },
                        { value: data[i].Plates },
                        { value: data[i].AddFee },
                        { value: data[i].Payment, borderRight: { color: "#000000", size: 2 } }
                    ]
                });
            }

            rows.push({
                cells: [
                    { value: "", borderBottom: { color: "#000000", size: 1 }, borderTop: {color: "#000000", size: 2},borderLeft: { color: "#000000", size: 2 }},
                    { value: "" ,borderBottom: { color: "#000000", size: 1 }, borderTop: {color: "#000000", size: 2}},
                    { value: "" ,borderBottom: { color: "#000000", size: 1 }, borderTop: {color: "#000000", size: 2}},
                    { value: "" ,borderBottom: { color: "#000000", size: 1 }, borderTop: {color: "#000000", size: 2}},
                    { value: "" ,borderBottom: { color: "#000000", size: 1 }, borderTop: {color: "#000000", size: 2}},
                    { value: "" ,borderBottom: { color: "#000000", size: 1 }, borderTop: {color: "#000000", size: 2}},
                    { value: "棧板收入小計" ,borderBottom: { color: "#000000", size: 1 }, borderTop: {color: "#000000", size: 2}},
                    { value: data[0].PaymentEntity.TotalPiecesCount-data[0].PaymentEntity.TruckPiecesCount ,borderBottom: { color: "#000000", size: 1 }, borderTop: {color: "#000000", size: 2}},
                    { value: data[0].PaymentEntity.TotalPalletCount-data[0].PaymentEntity.TruckPalletCount ,borderBottom: { color: "#000000", size: 1 }, borderTop: {color: "#000000", size: 2}},
                    { value: "" ,borderBottom: { color: "#000000", size: 1 }, borderTop: {color: "#000000", size: 2}},
                    { value: data[0].PaymentEntity.PalletIncome ,borderBottom: { color: "#000000", size: 1 }, borderTop: {color: "#000000", size: 2}, borderRight: { color: "#000000", size: 2 }}
                ]
            });
            rows.push({
                cells: [
                    { value: "" ,borderBottom: { color: "#000000", size: 2 },borderLeft: { color: "#000000", size: 2 }},
                    { value: "" ,borderBottom: { color: "#000000", size: 2 }},
                    { value: "" ,borderBottom: { color: "#000000", size: 2 }},
                    { value: "" ,borderBottom: { color: "#000000", size: 2 }},
                    { value: "" ,borderBottom: { color: "#000000", size: 2 }},
                    { value: "" ,borderBottom: { color: "#000000", size: 2 }},
                    { value: "專車收入小計" ,borderBottom: { color: "#000000", size: 2 }},
                    { value: data[0].PaymentEntity.TruckPiecesCount ,borderBottom: { color: "#000000", size: 2 }},
                    { value: data[0].PaymentEntity.TruckPalletCount ,borderBottom: { color: "#000000", size: 2 }},
                    { value: "" ,borderBottom: { color: "#000000", size: 2 }},
                    { value: data[0].PaymentEntity.TruckIncome ,borderBottom: { color: "#000000", size: 2 }, borderRight: { color: "#000000", size: 2 }}
                ]
            });
             rows.push({
                cells: [
                    { value: "" ,borderBottom: { color: "#000000", size: 1 },borderLeft: { color: "#000000", size: 2 }},
                    { value: "" ,borderBottom: { color: "#000000", size: 1 }},
                    { value: "" ,borderBottom: { color: "#000000", size: 1 }},
                    { value: "" ,borderBottom: { color: "#000000", size: 1 }},
                    { value: "" ,borderBottom: { color: "#000000", size: 1 }},
                    { value: "" ,borderBottom: { color: "#000000", size: 1 }},
                    { value: "總計", borderBottom: { color: "#000000", size: 1 } },
                    { value: data[0].PaymentEntity.TotalPiecesCount, borderBottom: { color: "#000000", size: 1 } },
                    { value: data[0].PaymentEntity.TotalPalletCount, borderBottom: { color: "#000000", size: 1 }},
                    { value: "" ,borderBottom: { color: "#000000", size: 1 }},
                    { value: data[0].PaymentEntity.TruckIncome+data[0].PaymentEntity.PalletIncome ,borderBottom: { color: "#000000", size: 1 }, borderRight: { color: "#000000", size: 2 }}
                ]
             });
            rows.push({
                cells: [
                    { value: "" ,borderBottom: { color: "#000000", size: 1 },borderLeft: { color: "#000000", size: 2 }},
                    { value: "" ,borderBottom: { color: "#000000", size: 1 }},
                    { value: "" ,borderBottom: { color: "#000000", size: 1 }},
                    { value: "" ,borderBottom: { color: "#000000", size: 1 }},
                    { value: "" ,borderBottom: { color: "#000000", size: 1 }},
                    { value: "" ,borderBottom: { color: "#000000", size: 1 }},
                    { value: "5%營業稅" ,borderBottom: { color: "#000000", size: 1 }},
                    { value: "" ,borderBottom: { color: "#000000", size: 1 }},
                    { value: "" ,borderBottom: { color: "#000000", size: 1 }},
                    { value: "" ,borderBottom: { color: "#000000", size: 1 }},
                    { value: data[0].PaymentEntity.Tax, borderBottom: { color: "#000000", size: 1 }, borderRight: { color: "#000000", size: 2 } }
                ]
            });
            rows.push({
                cells: [
                    { value: "" ,borderBottom: { color: "#000000", size: 2 },borderLeft: { color: "#000000", size: 2 }},
                    { value: "" ,borderBottom: { color: "#000000", size: 2 }},
                    { value: "" ,borderBottom: { color: "#000000", size: 2 }},
                    { value: "" ,borderBottom: { color: "#000000", size: 2 }},
                    { value: "" ,borderBottom: { color: "#000000", size: 2 }},
                    { value: "" ,borderBottom: { color: "#000000", size: 2 }},
                    { value: "應收帳款" ,borderBottom: { color: "#000000", size: 2 }},
                    { value: "" ,borderBottom: { color: "#000000", size: 2 }},
                    { value: "" ,borderBottom: { color: "#000000", size: 2 }},
                    { value: "" ,borderBottom: { color: "#000000", size: 2 }},
                    { value: data[0].PaymentEntity.Total ,borderBottom: { color: "#000000", size: 2 }, borderRight: { color: "#000000", size: 2 }, borderRight: { color: "#000000", size: 2 }}
                ]
            });
            rows.push({ cells: [{ value: "匯入行：玉山銀行林口分行 808-0886", colSpan: 5, textAlign: "left" }] });
            rows.push({ cells: [{ value: "帳號：0886940035885", colSpan: 5, textAlign: "left" }] });
            rows.push({ cells: [{ value: "戶名：峻富物流股份有限公司", colSpan: 5, textAlign: "left" }] });
            rows.push({ cells: [{ value: "" }] });
            rows.push({ cells: [{ value: "核准：", colSpan: 3, textAlign: "left" }, { value: "初審:", colSpan:3, textAlign: "left" }, { value: "主管:", colSpan:2, textAlign: "left" }, { value: "製表:", colSpan:3, textAlign: "left" }] });

            var workbook = new kendo.ooxml.Workbook({
                sheets: [
                    {
                        columns: [
                            { width: 40 },
                            { width: 80 },
                            { width: 80 },
                            { autoWidth: true },
                            { autoWidth: true },
                            { width: 200 },
                            { width: 200 },
                            { autoWidth: true },
                            { autoWidth: true },
                            { autoWidth: true },
                            { autoWidth: true },
                        ],
                        title: "應收帳款",
                        rows: rows
                    }
                ]
            });
            // Save the file as an Excel file with the xlsx extension.
            
            workbook.toDataURLAsync().then(function (dataURL) {
                kendo.saveAs({
                    dataURI: dataURL,
                    fileName: kendo.toString(new Date(), "yyyy/MM/dd") + dataItem.CustomerName + "帳單.xlsx"
                });
            });
            //kendo.saveAs({ dataURI: workbook.toDataURL(), fileName: kendo.toString(new Date(), "yyyy/MM/dd") + dataItem.CustomerName + "帳單.xlsx" });
        });
    }

    function showDetails(e) {
        e.preventDefault();
        alert("下載中，請稍等。");
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));

        var response;
        var customerName;
        var customerCode;

        var billDetails = new kendo.data.DataSource({
            transport: {
                read: {
                    url: "/PalletCustomerWriteOff/GetMonthCustomerAlreadyWriteOffDetail?startDate=" + kendo.toString(dataItem.StartDate, "s") + "&endDate=" + date + "&shortCustomerCode=" + dataItem.CustomerCode,
                    dataType: "jsonp"
                },
            },
            requestEnd: function (e) {
                response = e.response;
                customerName = response[0].CustomerName;
                customerCode = response[0].CustomerCode
            },
            schema: {
                model: {
                    id: "Id",
                    fields: {
                        Id: { validation: { required: true }, nullable: true },
                        PrintDate: { type: "date", nullable: false },
                        SupplierDate: { type: "date", validation: { required: true }, nullable: true },
                        CustomerCode: { validation: { required: true } },
                        CustomerName: { validation: { required: true } },
                        CheckNumber: { validation: { required: true }, nullable: true },
                        SendCity: { validation: { required: true }, nullable: true },
                        ReceiveCity: { validation: { required: true }, nullable: true },
                        OrderNumber: { validation: { required: true }, nullable: true },
                        ReceiveContact: { validation: { required: true }, nullable: true },
                        ReceiveAddress: { validation: { required: true }, nullable: true },
                        LatestArriveOptionDriver: { validation: { required: true }, nullable: true },
                        SendContact: { validation: { required: true }, nullable: true },
                        SendAddress: { validation: { required: true }, nullable: true },
                        InvoiceDesc: { validation: { required: true }, nullable: true },
                        Pieces: { validation: { required: true }, nullable: true },
                        Plates: { validation: { required: true }, nullable: true },
                        Payment: { validation: { required: true }, nullable: true },
                    }
                }
            }
        });

        var rows = [{ cells: [{ value: "峻富物流股份有限公司", colSpan: 18, fontSize: 15, textAlign: "center" }] }];

        billDetails.fetch(function () {
            var data = this.data();
            rows.push({ cells: [{ value: "請款期間：" + kendo.toString(dataItem.StartDate, "yyyy/MM/dd") + "~" + transmitDate, colSpan: 18, fontSize: 15, textAlign: "center" }] });
            rows.push({ cells: [{ value: "客戶：" + customerCode.substring(0,8) + "-" + customerName, colSpan: 18, textAlign: "left", borderBottom: { color: "#000000", size: 2 } }] });
            rows.push({
                cells: [
                    { value: "序號", background: "#FFFFAA",borderLeft: { color: "#000000", size: 2 } },
                    { value: "發送日期", background: "#FFFFAA" },
                    { value: "配送日期", background: "#FFFFAA" },
                    { value: "客戶代碼", background: "#FFFFAA" },
                    { value: "客戶名稱", background: "#FFFFAA" },
                    { value: "貨號", background: "#FFFFAA" },
                    { value: "發送區", background: "#FFFFAA" },
                    { value: "到著區", background: "#FFFFAA" },
                    { value: "訂單號碼", background: "#FFFFAA" },
                    { value: "收件人", background: "#FFFFAA" },
                    { value: "收件人地址", background: "#FFFFAA" },
                    { value: "配達司機代碼", background: "#FFFFAA" },
                    { value: "寄件人", background: "#FFFFAA" },
                    { value: "寄件人地址", background: "#FFFFAA" },
                    { value: "備註", background: "#FFFFAA" },
                    { value: "件數", background: "#FFFFAA" },
                    { value: "板數", background: "#FFFFAA" },
                    { value: "貨件運費", background: "#FFFFAA", borderRight: { color: "#000000", size: 2 }}
                ]
            });

            for (var i = 0; i < data.length; i++) {
                rows.push({
                    cells: [
                        { value: data[i].Id,borderLeft: { color: "#000000", size: 2 } },
                        { value: data[i].PrintDate },
                        { value: data[i].SupplierDate },
                        { value: data[i].CustomerCode },
                        { value: data[i].CustomerName },
                        { value: data[i].CheckNumber },
                        { value: data[i].SendCity },
                        { value: data[i].ReceiveCity },
                        { value: data[i].OrderNumber },
                        { value: data[i].ReceiveContact },
                        { value: data[i].ReceiveAddress },
                        { value: data[i].LatestArriveOptionDriver },
                        { value: data[i].SendContact },
                        { value: data[i].SendAddress },
                        { value: data[i].InvoiceDesc },
                        { value: data[i].Pieces },
                        { value: data[i].Plates },
                        { value: data[i].Payment, borderRight: { color: "#000000", size: 2 } }
                    ]
                });
            }

            rows.push({
                cells: [
                    { value: "", colSpan: 14, borderBottom: { color: "#000000", size: 1 }, borderTop: { color: "#000000", size: 2 },borderLeft: { color: "#000000", size: 2 } },
                    { value: "小計", borderBottom: { color: "#000000", size: 1 }, borderTop: { color: "#000000", size: 2 } },
                    { value: data[0].PaymentEntity.TotalPiecesCount, borderBottom: { color: "#000000", size: 1 }, borderTop: { color: "#000000", size: 2 } },
                    { value: data[0].PaymentEntity.TotalPalletCount, borderBottom: { color: "#000000", size: 1 }, borderTop: { color: "#000000", size: 2 }},
                    { value: data[0].PaymentEntity.Total - data[0].PaymentEntity.Tax, borderBottom: { color: "#000000", size: 1 }, borderRight: { color: "#000000", size: 2 }, borderTop: { color: "#000000", size: 2 } }
                ]
            });
            rows.push({
                cells: [
                    { value: "", colSpan: 14, borderBottom: { color: "#000000", size: 1 },borderLeft: { color: "#000000", size: 2 } },
                    { value: "5%營業稅", borderBottom: { color: "#000000", size: 1 } },
                    { value: "", borderBottom: { color: "#000000", size: 1 } },
                    { value: "", borderBottom: { color: "#000000", size: 1 } },
                    { value: data[0].PaymentEntity.Tax, borderBottom: { color: "#000000", size: 1 }, borderRight: { color: "#000000", size: 2 } }
                ]
            });
            rows.push({
                cells: [
                    { value: "", colSpan: 14, borderBottom: { color: "#000000", size: 2 },borderLeft: { color: "#000000", size: 2 } },
                    { value: "應收帳款", borderBottom: { color: "#000000", size: 2 } },
                    { value: "", borderBottom: { color: "#000000", size: 2 } },
                    { value: "", borderBottom: { color: "#000000", size: 2 } },
                    { value: data[0].PaymentEntity.Total, borderBottom: { color: "#000000", size: 2 }, borderRight: { color: "#000000", size: 2 }, borderRight: { color: "#000000", size: 2 } }
                ]
            });

            var workbook = new kendo.ooxml.Workbook({
                sheets: [
                    {
                        columns: [
                            { width: 40 },
                            { width: 80 },
                            { width: 80 },
                            { width: 100 },
                            { autoWidth: true },
                            { width: 100 },
                            { autoWidth: true },
                            { autoWidth: true },
                            { autoWidth: true },
                            { autoWidth: true },
                            { autoWidth: true },
                            { autoWidth: true },
                            { autoWidth: true },
                            { autoWidth: true },
                            { autoWidth: true },
                            { autoWidth: true },
                            { autoWidth: true },
                        ],
                        title: "應收帳款明細",
                        rows: rows
                    }
                ]
            });
            // Save the file as an Excel file with the xlsx extension.

             workbook.toDataURLAsync().then(function (dataURL) {
                kendo.saveAs({
                    dataURI: dataURL,
                    fileName: kendo.toString(new Date(), "yyyy/MM/dd") +  dataItem.CustomerName + "明細表.xlsx"
                });
            });
            //kendo.saveAs({ dataURI: workbook.toDataURL(), fileName: kendo.toString(new Date(), "yyyy/MM/dd") + dataItem.CustomerName + "明細表.xlsx" });
        });
    }

    function dataURLtoBlob(dataurl) {
        var arr = dataurl.split(','), mime = arr[0].match(/:(.*?);/)[1],
            bstr = atob(arr[1]), n = bstr.length, u8arr = new Uint8Array(n);
        while (n--) {
            u8arr[n] = bstr.charCodeAt(n);
        }
        return new Blob([u8arr], { type: mime });
    }

    function downloadAllBill(shortCustomerCode, startDate) {

        var oneBillExcelFile = new kendo.data.DataSource({
            transport: {
                read: {
                    url: "/PalletCustomerWriteOff/GetAlreadyWriteOffMonthCustomer?startDate=" + startDate + "&endDate=" + date + "&shortCustomerCode=" + shortCustomerCode,
                    dataType: "jsonp"
                },
            },
            schema: {
                model: {
                    fields: {
                        PrintDate: { type: "date", nullable: false },
                        SupplierDate: { type: "date", validation: { required: true }, nullable: true },
                    }
                }
            }
        });
        dataSources.push(oneBillExcelFile);
        oneDate.push(startDate);
        //obj.sendData = dataSources;
        //obj.sendStartDate = oneDate;
        return oneBillExcelFile.fetch();
    }
</script>
