﻿@{
    Layout = "~/Views/Shared/_LayoutAddJFMenu.cshtml";
}

    <div class="demo-section k-content">
        <h2>棧板手動結帳</h2>

        <h4 style="margin-top: 2em;">客戶代號</h4>
        <input id="customer" title="customer" style="width: 100%" />

        <h4 style="margin-top: 2em;">選擇結帳日期</h4>
        <input id="datepicker" title="datepicker" style="width: 100%" />

        <button id="search">查詢未結帳貨件</button>
        <button id="export" class="k-button">開始手動結帳</button>

        <form asp-controller="PalletCustomerWriteOffController" asp-action="Manual" method="post">
            <input type="hidden" id="json" name="json" />
            <button asp-action="ExportNotWriteOffFile" type="submit" id="exportexcel" style="display:none;">
                <i class="fa fa-download"></i>
                隱藏的下載帳單
            </button>
        </form>
    </div>
<h4 id="title" style="display:none">未結帳貨件</h4>
<h4><span id="span1" style="display:none">棧板收入小計：<label id="palletIncome"></label></span></h4>
<h4><span id="span2" style="display:none">專車收入小計：<label id="truckIncome"></label></span></h4>
<h4><span id="span3" style="display:none">營業稅：<label id="tax"></label></span></h4>
<h4><span id="span4" style="display:none">應收帳款：<label id="payment"></label></span></h4>
<div id="grid"></div>

<script>
    var shortCustomerCode = "";
    var transmitDate;
    var startDate;
    var RequestPaymentStartDate;
    

    $("#customer").kendoDropDownList({
        filter: "contains",
        dataTextField: "supplierCodeAndName",
        dataValueField: "supplierCode",
        dataSource: {
            type: "json",
            transport: {
                read: {
                    url: "/PalletCustomerWriteOff/GetPalletCustomers"
                }
            }
        },
        cascade: function (e) {
            var value = this.value();
            shortCustomerCode = value;
        }
    });

    $("#datepicker").kendoDatePicker({
        culture: "zh-TW",
        change: function (e) {
            var value = this.value();
            date = kendo.toString(value, "s");
            transmitDate = kendo.toString(value, "yyyy/MM/dd");
        }
    });

    var response; 
    var total;
    var tax;
    var pallet;
    var truck;

    function GetGrid() {
        dataSource = new kendo.data.DataSource({
            transport: {
                read: {
                    url: "/PalletCustomerWriteOff/GetNotWriteOffCustomerMonthDetail?date=" + date + "&shortCustomerCode=" + shortCustomerCode,
                    dataType: "jsonp"
                },
            },
            requestEnd: function (e) {
                response = e.response;
                if (response.length > 0) {
                    total = response[0].PaymentEntity.Total;
                    tax = response[0].PaymentEntity.Tax;
                    pallet = response[0].PaymentEntity.PalletIncome;
                    truck = response[0].PaymentEntity.TruckIncome;
                    $("#payment").text(total);
                    $("#palletIncome").text(pallet);
                    $("#truckIncome").text(truck);
                    $("#tax").text(tax);
                }
                else {
                    $("#payment").text(0);
                    $("#palletIncome").text(0);
                    $("#truckIncome").text(0);
                    $("#tax").text(0);
                }
            },
            batch: true,
            //pageSize: 30,
            schema: {
                model: {
                    id: "Id",
                    fields: {
                        Id: { validation: { required: true }, nullable: true },
                        CustomerName: { validation: { required: true }, nullable: true },
                        PrintDate: { type: "date", nullable: false },
                        SupplierDate: { type: "date", validation: { required: true }, nullable: true },
                        DeliveryType: { validation: { required: true } },
                        CheckNumber: { validation: { required: true }, nullable: true },
                        SupplierArea: { validation: { required: true }, nullable: true },
                        ArriveArea: { validation: { required: true }, nullable: true },
                        Pieces: { validation: { required: true }, nullable: true },
                        Plates: { validation: { required: true }, nullable: true },
                        AddFee: { validation: { required: true }, nullable: true },
                        Payment: { validation: { required: true }, nullable: true },
                    }
                }
            }
        });
    }

    function GetRequestPaymentStartDate() {
        $.ajax({
            url: "/PalletCustomerWriteOff/ForManualGetLastMonthClosingDateOrLastManualClosingDate?closingDate=" + date + "&shortCustomerCode=" + shortCustomerCode,
            dataType: "json",
            type: "POST",
            success: function (result) {
                RequestPaymentStartDate = result;
            }
        });
    }

    $("#search").kendoButton({
        click: function (e) {

            document.getElementById('title').style.display = 'block';
            document.getElementById('span1').style.display = 'block';
            document.getElementById('span2').style.display = 'block';
            document.getElementById('span3').style.display = 'block';
            document.getElementById('span4').style.display = 'block';

            GetGrid()

                if ($("#grid").data("kendoGrid") == null) { }
                else {
                    $("#grid").data("kendoGrid").destroy();
                    $("#grid").empty();
                }

            $("#grid").kendoGrid({
                dataSource: dataSource,
                //pageable: true,
                //sortable: true,
                //filterable: true,
                height: 550,
                columns: [
                    { field: "Id", title: "序號" },
                    { field: "PrintDate", title: "發送日期", format: "{0: yyyy/MM/dd}" },
                    { field: "CheckNumber", title: "貨號" },
                    { field: "CustomerName", title: "客戶名稱" },
                    { field: "SupplierArea", title: "發送區" },
                    { field: "ArriveArea", title: "到著區" },
                    { field: "Plates", title: "板數" },
                    { field: "Payment", title: "貨件費用" },
                ],
            });

            // 視窗下拉到表格位置
            let gridOnePosition = $("#grid").offset().top;
            $("html, body").animate({ scrollTop: gridOnePosition }, 200);
        }
    });

    $("#export").kendoButton({
        click: function (e) {
            e.preventDefault();
            alert("請款帳單開始下載，貨號開始結帳，請稍等。");

            //var CustomerName;
            //var UniformNumber;
            //var Telephone;
            //var ShipmentsAddress;
            //var ShipmentsEmail;
            //var BillingSpecialNeeds;
            //var ShipmentsPrincipal;

            //GetRequestPaymentStartDate();

            var bill = new kendo.data.DataSource({
                transport: {
                    read: {
                        url:"/PalletCustomerWriteOff/GetNotWriteOffCustomerMonthDetail?date=" + date + "&shortCustomerCode=" + shortCustomerCode,
                        dataType: "jsonp"
                    },
                },
                schema: {
                    model: {
                        id: "Id",
                        fields: {
                            Id: { validation: { required: true }, nullable: true },
                            PrintDate: { type: "date", nullable: false },
                            SupplierDate: { type: "date", validation: { required: true }, nullable: true },
                            DeliveryType: { validation: { required: true } },
                            CheckNumber: { validation: { required: true }, nullable: true },
                            SupplierArea: { validation: { required: true }, nullable: true },
                            ArriveArea: { validation: { required: true }, nullable: true },
                            Pieces: { validation: { required: true }, nullable: true },
                            Plates: { validation: { required: true }, nullable: true },
                            AddFee: { validation: { required: true }, nullable: true },
                            Payment: { validation: { required: true }, nullable: true },
                        }
                    }
                }
            });

            //$.ajax({
            //    url: "/PalletCustomerWriteOff/FindCustomers?shortCustomerCode=" + shortCustomerCode,
            //    dataType: "json",
            //    type: "POST",
            //    contentType: "text/html;charset=utf-8",
            //    success: function (result) {  //result = json string

            //        var output = result; //Your data is already an object. No need to parse it. The javascript interpreter has already parsed it for you.
            //        if (result.length > 0) {
            //            CustomerName = output[0].customerName;
            //            UniformNumber = output[0].uniformNumber;
            //            Telephone = output[0].telephone;
            //            ShipmentsAddress = output[0].shipmentsAddress;
            //            ShipmentsEmail = output[0].shipmentsEmail;
            //            BillingSpecialNeeds = output[0].billingSpecialNeeds;
            //            ShipmentsPrincipal = output[0].shipmentsPrincipal;
            //        }
            //        else {
            //            CustomerName = "";
            //            UniformNumber = "";
            //            Telephone = "";
            //            ShipmentsAddress = "";
            //            ShipmentsEmail = "";
            //            BillingSpecialNeeds = "";
            //            ShipmentsPrincipal = "";
            //        }
            //    },
            //});

            //var rows = [{ cells: [{ value: "峻富物流股份有限公司", colSpan: 11, fontSize: 18, textAlign: "center" }] }];

            //bill.fetch(function () {
            //    var data = this.data();
            //    rows.push({ cells: [{ value: RequestPaymentStartDate + "~" + transmitDate, colSpan: 11, fontSize: 18, textAlign: "center" }] });
            //    rows.push({ cells: [{ value: "客戶：" + CustomerName, colSpan: 4, textAlign: "left" }] });
            //    rows.push({ cells: [{ value: "統一編號：" + UniformNumber, colSpan: 4, textAlign: "left" }] });
            //    rows.push({ cells: [{ value: "聯絡電話：" + Telephone, colSpan: 4, textAlign: "left" }, { value: "對帳人：" + ShipmentsPrincipal, colSpan: 7, textAlign: "right" }] });
            //    rows.push({ cells: [{ value: "地址：" + ShipmentsAddress, colSpan: 7, textAlign: "left" }, { value: ShipmentsEmail, colSpan: 4, textAlign: "right" }] });
            //    rows.push({ cells: [{ value: "開立發票號碼：", colSpan: 4, textAlign: "left", borderBottom: { color: "#000000", size: 2 } }, { value: BillingSpecialNeeds, colSpan: 7, textAlign: "right", borderBottom: { color: "#000000", size: 2 } }] });
            //    rows.push({
            //        cells: [
            //            { value: "序號", background: "#FFFFAA",borderLeft: { color: "#000000", size: 2 } },
            //            { value: "發送日期", background: "#FFFFAA" },
            //            { value: "配送日期", background: "#FFFFAA" },
            //            { value: "配送模式", background: "#FFFFAA" },
            //            { value: "貨號", background: "#FFFFAA" },
            //            { value: "發送區", background: "#FFFFAA" },
            //            { value: "到著區", background: "#FFFFAA" },
            //            { value: "件數", background: "#FFFFAA" },
            //            { value: "板數", background: "#FFFFAA" },
            //            { value: "加收費", background: "#FFFFAA" },
            //            { value: "貨件運費", background: "#FFFFAA", borderRight: { color: "#000000", size: 2 } }
            //        ]
            //    });

            //    for (var i = 0; i < data.length; i++) {
            //        rows.push({
            //            cells: [
            //                { value: data[i].Id,borderLeft: { color: "#000000", size: 2 } },
            //                { value: data[i].PrintDate },
            //                { value: data[i].SupplierDate },
            //                { value: data[i].DeliveryType },
            //                { value: data[i].CheckNumber },
            //                { value: data[i].SupplierArea },
            //                { value: data[i].ArriveArea },
            //                { value: data[i].Pieces },
            //                { value: data[i].Plates },
            //                { value: data[i].AddFee },
            //                { value: data[i].Payment, borderRight: { color: "#000000", size: 2 } }
            //            ]
            //        });
            //    }

            //    rows.push({
            //        cells: [
            //            { value: "", borderBottom: { color: "#000000", size: 1 }, borderTop: { color: "#000000", size: 2 },borderLeft: { color: "#000000", size: 2 } },
            //            { value: "", borderBottom: { color: "#000000", size: 1 }, borderTop: { color: "#000000", size: 2 } },
            //            { value: "", borderBottom: { color: "#000000", size: 1 }, borderTop: { color: "#000000", size: 2 } },
            //            { value: "", borderBottom: { color: "#000000", size: 1 }, borderTop: { color: "#000000", size: 2 } },
            //            { value: "", borderBottom: { color: "#000000", size: 1 }, borderTop: { color: "#000000", size: 2 } },
            //            { value: "", borderBottom: { color: "#000000", size: 1 }, borderTop: { color: "#000000", size: 2 } },
            //            { value: "棧板收入小計", borderBottom: { color: "#000000", size: 1 }, borderTop: { color: "#000000", size: 2 } },
            //            { value: data[0].PaymentEntity.TotalPiecesCount - data[0].PaymentEntity.TruckPiecesCount, borderBottom: { color: "#000000", size: 1 }, borderTop: { color: "#000000", size: 2 } },
            //            { value: data[0].PaymentEntity.TotalPalletCount - data[0].PaymentEntity.TruckPalletCount, borderBottom: { color: "#000000", size: 1 }, borderTop: { color: "#000000", size: 2 } },
            //            { value: "", borderBottom: { color: "#000000", size: 1 }, borderTop: { color: "#000000", size: 2 } },
            //            { value: data[0].PaymentEntity.PalletIncome, borderBottom: { color: "#000000", size: 1 }, borderTop: { color: "#000000", size: 2 }, borderRight: { color: "#000000", size: 2 } }
            //        ]
            //    });
            //    rows.push({
            //        cells: [
            //            { value: "", borderBottom: { color: "#000000", size: 2 },borderLeft: { color: "#000000", size: 2 } },
            //            { value: "", borderBottom: { color: "#000000", size: 2 } },
            //            { value: "", borderBottom: { color: "#000000", size: 2 } },
            //            { value: "", borderBottom: { color: "#000000", size: 2 } },
            //            { value: "", borderBottom: { color: "#000000", size: 2 } },
            //            { value: "", borderBottom: { color: "#000000", size: 2 } },
            //            { value: "專車收入小計", borderBottom: { color: "#000000", size: 2 } },
            //            { value: data[0].PaymentEntity.TruckPiecesCount, borderBottom: { color: "#000000", size: 2 } },
            //            { value: data[0].PaymentEntity.TruckPalletCount, borderBottom: { color: "#000000", size: 2 } },
            //            { value: "", borderBottom: { color: "#000000", size: 2 } },
            //            { value: data[0].PaymentEntity.TruckIncome, borderBottom: { color: "#000000", size: 2 }, borderRight: { color: "#000000", size: 2 } }
            //        ]
            //    });
            //    rows.push({
            //        cells: [
            //            { value: "", borderBottom: { color: "#000000", size: 1 },borderLeft: { color: "#000000", size: 2 } },
            //            { value: "", borderBottom: { color: "#000000", size: 1 } },
            //            { value: "", borderBottom: { color: "#000000", size: 1 } },
            //            { value: "", borderBottom: { color: "#000000", size: 1 } },
            //            { value: "", borderBottom: { color: "#000000", size: 1 } },
            //            { value: "", borderBottom: { color: "#000000", size: 1 } },
            //            { value: "總計", borderBottom: { color: "#000000", size: 1 } },
            //            { value: data[0].PaymentEntity.TotalPiecesCount, borderBottom: { color: "#000000", size: 1 } },
            //            { value: data[0].PaymentEntity.TotalPalletCount, borderBottom: { color: "#000000", size: 1 } },
            //            { value: "", borderBottom: { color: "#000000", size: 1 } },
            //            { value: data[0].PaymentEntity.TruckIncome + data[0].PaymentEntity.PalletIncome, borderBottom: { color: "#000000", size: 1 }, borderRight: { color: "#000000", size: 2 } }
            //        ]
            //    });
            //    rows.push({
            //        cells: [
            //            { value: "", borderBottom: { color: "#000000", size: 1 },borderLeft: { color: "#000000", size: 2 } },
            //            { value: "", borderBottom: { color: "#000000", size: 1 } },
            //            { value: "", borderBottom: { color: "#000000", size: 1 } },
            //            { value: "", borderBottom: { color: "#000000", size: 1 } },
            //            { value: "", borderBottom: { color: "#000000", size: 1 } },
            //            { value: "", borderBottom: { color: "#000000", size: 1 } },
            //            { value: "5%營業稅", borderBottom: { color: "#000000", size: 1 } },
            //            { value: "", borderBottom: { color: "#000000", size: 1 } },
            //            { value: "", borderBottom: { color: "#000000", size: 1 } },
            //            { value: "", borderBottom: { color: "#000000", size: 1 } },
            //            { value: data[0].PaymentEntity.Tax, borderBottom: { color: "#000000", size: 1 }, borderRight: { color: "#000000", size: 2 } }
            //        ]
            //    });
            //    rows.push({
            //        cells: [
            //            { value: "", borderBottom: { color: "#000000", size: 2 },borderLeft: { color: "#000000", size: 2 } },
            //            { value: "", borderBottom: { color: "#000000", size: 2 } },
            //            { value: "", borderBottom: { color: "#000000", size: 2 } },
            //            { value: "", borderBottom: { color: "#000000", size: 2 } },
            //            { value: "", borderBottom: { color: "#000000", size: 2 } },
            //            { value: "", borderBottom: { color: "#000000", size: 2 } },
            //            { value: "應收帳款", borderBottom: { color: "#000000", size: 2 } },
            //            { value: "", borderBottom: { color: "#000000", size: 2 } },
            //            { value: "", borderBottom: { color: "#000000", size: 2 } },
            //            { value: "", borderBottom: { color: "#000000", size: 2 } },
            //            { value: data[0].PaymentEntity.Total, borderBottom: { color: "#000000", size: 2 }, borderRight: { color: "#000000", size: 2 }, borderRight: { color: "#000000", size: 2 } }
            //        ]
            //    });
            //    rows.push({ cells: [{ value: "匯入行：玉山銀行林口分行 808-0886", colSpan: 5, textAlign: "left" }] });
            //    rows.push({ cells: [{ value: "帳號：0886940035885", colSpan: 5, textAlign: "left" }] });
            //    rows.push({ cells: [{ value: "戶名：峻富物流股份有限公司", colSpan: 5, textAlign: "left" }] });
            //    rows.push({ cells: [{ value: "" }] });
            //    rows.push({ cells: [{ value: "核准：", colSpan: 3, textAlign: "left" }, { value: "初審:", colSpan: 3, textAlign: "left" }, { value: "主管:", colSpan: 2, textAlign: "left" }, { value: "製表:", colSpan: 3, textAlign: "left" }] });

            //    var workbook = new kendo.ooxml.Workbook({
            //        sheets: [
            //            {
            //                columns: [
            //                    { width: 40 },
            //                    { width: 80 },
            //                    { width: 80 },
            //                    { autoWidth: true },
            //                    { autoWidth: true },
            //                    { width: 200 },
            //                    { width: 200 },
            //                    { autoWidth: true },
            //                    { autoWidth: true },
            //                    { autoWidth: true },
            //                    { autoWidth: true },
            //                ],
            //                title: "應收帳款",
            //                rows: rows
            //            }
            //        ]
            //    });

            //    workbook.toDataURLAsync().then(function (dataURL) {
            //        kendo.saveAs({
            //            dataURI: dataURL,
            //            fileName: kendo.toString(new Date(), "yyyy/MM/dd") + CustomerName + "帳單.xlsx"
            //        });
            //    });

            //    //kendo.saveAs({ dataURI: workbook.toDataURL(), fileName: kendo.toString(new Date(), "yyyy/MM/dd") + CustomerName + "帳單.xlsx" });
            //});

            bill.fetch(function () {

                var data = bill.data(); //object

                $.ajax({
                    url: "/PalletCustomerWriteOff/UpdateClosingDateAndInsertPaymentLog", /* + "&closingDate=" + date + "&shortCustomerCode=" + shortCustomerCode,*/
                    data: "models=" + JSON.stringify(data) + "&closingDate=" + date + "&shortCustomerCode=" + shortCustomerCode, //object to json string
                    dataType: "json",
                    type: "POST",
                    success: function (result) {
                        alert('貨號已全數結帳。');
                    },
                    error: function (e) {
                        alert('無法結帳，此客代沒有未結帳貨件。');
                    }
                });
            });

            $("#exportexcel").on("click", function (e) {

                var dataJson = {};
                dataJson["StartDate"] = new Date();
                dataJson["EndDate"] = date;
                dataJson["ShortCustomerCode"] = shortCustomerCode;
                var output = JSON.stringify(dataJson);
                $("#json").val(output);
            });

            $("#exportexcel").click();
        }
    });
    
</script>
