﻿@model LightYear.JunFuTrans.BL.BE.DriverToStationPayment.PaymentSheetPrintFormatEntity

<script src="~/js/jquery.min.js"></script>
<style>
    table {
        width: 100%;
        border-collapse: collapse;
    }

    .table-group {
        width: 100%;
        display: flex;
    }

    .table-part {
        width: 50%;
    }

    table, th, td {
        border: 1px solid black;
        text-align: center;
    }

    .top-info {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 20px 0 10px;
    }

    @@media print {
        .no-print {
            display: none !important;
        }
    }

    .split-line {
        display: flex;
        align-items: center;
        -webkit-align-items: center;
        position: relative;
        margin: 20px 0;
    }

        .split-line hr {
            flex-grow: 1;
            height: 0;
            border: 0;
            border-top: 1px solid #000;
        }

        .split-line span {
            margin: 0 10px;
        }
</style>
<div class="top-info">
    <div>
        <span>繳款總表 - @Model.ForWho</span><br>
        <span>繳款人員: @Model.DriverName</span><br>
        <span>繳款站所: @Model.StationName</span>
    </div>
    <div>
        <span>上傳時間: @Model.CreateDate</span><br>
        <span class="print-time">列印時間: </span>
    </div>
</div>

<div class="table-group">
    <table class="table-part">
        <thead>
            <tr>
                <th scope="col">NO</th>
                <th scope="col">明細表號</th>
                <th scope="col">回收別</th>
                <th scope="col">付款方式</th>
                <th scope="col">金額</th>
                <th scope="col">票據/帳號後五碼</th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < (Model.Details.Length + 1) / 2; i++)
            {
                <tr>
                    <td scope="row">@(i + 1)</td>
                    <td scope="row">@Model.Details.ElementAt(i).CheckNumber</td>
                    <td scope="row">@Model.Details.ElementAt(i).SubpoenaCategoryShowName</td>
                    <td scope="row">@Model.Details.ElementAt(i).PaidMethod</td>
                    <td scope="row">@Model.Details.ElementAt(i).CollectionMoney</td>
                    <td scope="row">@Model.Details.ElementAt(i).TicketOrRemittanceLastFive</td>
                </tr>
            }
        </tbody>
    </table>
    <table class="table-part">
        <thead>
            <tr>
                <th scope="col">NO</th>
                <th scope="col">明細表號</th>
                <th scope="col">回收別</th>
                <th scope="col">付款方式</th>
                <th scope="col">金額</th>
                <th scope="col">票據/帳號後五碼</th>
            </tr>
        </thead>
        <tbody>
            @for (int i = (Model.Details.Length + 1) / 2; i < Model.Details.Length; i++)
            {
                <tr>
                    <td scope="row">@(i + 1)</td>
                    <td scope="row">@Model.Details.ElementAt(i).CheckNumber</td>
                    <td scope="row">@Model.Details.ElementAt(i).SubpoenaCategoryShowName</td>
                    <td scope="row">@Model.Details.ElementAt(i).PaidMethod</td>
                    <td scope="row">@Model.Details.ElementAt(i).CollectionMoney</td>
                    <td scope="row">@Model.Details.ElementAt(i).TicketOrRemittanceLastFive</td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div class="table-group">
    <table style="width: 60%">
        <thead>
            <tr>
                <th scope="col">回收別</th>
                <th scope="col">付款方式</th>
                <th scope="col">筆數</th>
                <th scope="col">小計金額</th>
                <th scope="col">未收金額小計</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var e in Model.CategoryCount)
            {
                <tr>
                    <td scope="row" rowspan="3">@e.Category</td>
                    <td>現金</td>
                    <td class="count">@e.CashCount</td>
                    <td class="money">@e.CashMoney</td>
                    <td></td>

                </tr>
                <tr>
                    <td scope="row">支票</td>
                    <td class="count">@e.CheckCount</td>
                    <td class="money">@e.CheckMoney</td>
                    <td></td>

                </tr>
                <tr>
                    <td scope="row">匯款</td>
                    <td class="count">@e.RemittanceCount</td>
                    <td class="money">@e.RemittanceMoney</td>
                    <td class="remittance">@e.RemittanceMoney</td>
                </tr>
            }

        </tbody>

        <tfoot>
            <tr>
                <td scope="row" colspan="2">總計</td>
                <td>@Model.CountSum</td>
                <td>@Model.MoneySum</td>
                <td>@Model.RemittanceSum</td>
            </tr>
        </tfoot>

    </table>

    <table style="width: 40%">
        <tr><td>應收帳款</td><td></td></tr>
        <tr><td>當月交付金額</td><td></td></tr>
        <tr><td>匯款戶逾期未收</td><td></td></tr>
        <tr><td rowspan="2">未回收總額<br>(含逾期匯款戶)</td><td></td></tr>
        <tr><td></td></tr>
        <tr><td>短收</td><td></td></tr>

    </table>
</div>


<table>
    <tr>
        <td scope="col"><b>一般件<br />應繳(A-1)</b></td>
        <td scope="col"><b>預購袋<br />應繳(A-2)</b></td>
        <td scope="col">匯款入金<br />實繳(B)</td>
        <td scope="col">帳號末五碼</td>
        <td scope="col">現金/零錢入金<br />實繳(C-1)</td>
        <td scope="col">支票入金<br />實繳(C-2)</td>
        <td scope="col">所長/CS<br />實點(D)<br />=B+C</td>
        <td scope="col">差異<br />溢繳/短少<br />(E)=D-A</td>
    </tr>

    @if (Model.PaidHistories.Length > 0)
    {
        <tr>
            <td rowspan="@Model.PaidHistories.Length">@Model.TotalShouldPay</td>
            <td rowspan="@Model.PaidHistories.Length">@Model.PreOrderBagTotalShouldPay</td>
            <td>@Model.PaidHistories[0].RemittanceAmount</td>
            <td>@Model.PaidHistories[0].TranscationLastFive</td>
            <td>@Model.PaidHistories[0].CoinsAmount</td>
            <td>@Model.PaidHistories[0].CheckAmount</td>
            <td rowspan="@Model.PaidHistories.Length"></td>
            <td rowspan="@Model.PaidHistories.Length"></td>
        </tr>
    }


    @for (int i = 1; i < Model.PaidHistories.Length; i++)
    {
        <tr>
            <td>@Model.PaidHistories[i].RemittanceAmount</td>
            <td>@Model.PaidHistories[i].TranscationLastFive</td>
            <td>@Model.PaidHistories[i].CoinsAmount</td>
            <td>@Model.PaidHistories[i].CheckAmount</td>
        </tr>
    }

    <tr>
        <td colspan="4"></td>
        <td>繳款人簽名</td>
        <td></td>
        <td>所長簽名</td>
        <td></td>
    </tr>
</table>
