﻿@model LightYear.JunFuTrans.BL.BE.DriverToStationPayment.DriverPaymentEntity
@{
    Layout = "~/Views/Shared/_LayoutAddMenu.cshtml";
}

<div style="display:grid; justify-content:center; margin-bottom: 50px">
    <h1>製作精算書</h1><br /><br />
    <form asp-action="SaveData" method="post" onsubmit="return showConfirm()">

        <input asp-for="@Model.DriverCode" value="@ViewBag.DriverCode" hidden="hidden" />
        <input asp-for="@Model.StationScode" value="@ViewBag.StationScode" hidden="hidden" />


        <div class="form-group">
            <label asp-for="@Model.RemittanceAmount"></label>
            <input asp-for="@Model.RemittanceAmount" type="number" value="0" />
            <span asp-validation-for="@Model.RemittanceAmount" class="text-danger"></span>
            <br />
        </div>

        <div class="form-group">
            <label asp-for="@Model.TranscationLastFive"></label>
            <input asp-for="@Model.TranscationLastFive" type="text" />
            <span asp-validation-for="@Model.TranscationLastFive" class="text-danger"></span>
            <br />
        </div>

        <div class="form-group">
            <label asp-for="@Model.CoinsAmount"></label>
            <input asp-for="@Model.CoinsAmount" type="number" value="0" />
            <br />
        </div>

        <div class="form-group">
            <label asp-for="@Model.CheckAmount"></label>
            <input asp-for="@Model.CheckAmount" type="number" value="0" />
            <br />
        </div>


        <label>繳款日期</label>
        <input type="text" value="@DateTime.Today.ToString("yyyy/MM/dd")" readonly /><br /><br />
        <button class="btn btn-secondary" type="submit">
            確定
        </button>
        <a href="TodaysSummary" class="btn btn-secondary">回上一層</a>

    </form>
</div>

<div id="grid"></div>

<script>

    var difference = @ViewBag.Difference;

    function showConfirm() {

        if (checkGridData())
            return false;

        var message = "請確認輸入的資料：\n\n"
            + "工號：@ViewBag.DriverCode"
            + "\n交易明細末五碼：" + $('#TranscationLastFive').val()
            + "\n匯款金額：" + $('#RemittanceAmount').val()
            + "\n支票金額：" + $('#CheckAmount').val()
            + "\n零錢金額：" + $('#CoinsAmount').val();

        var totalMoney = parseInt($('#RemittanceAmount').val()) + parseInt($('#CheckAmount').val()) + parseInt($('#CoinsAmount').val());

        if (totalMoney != difference) {
            alert("金額和應繳金額不同!\n請修正");
            return false;
        }

        if (confirm(message) == true) {
            return true;
        } else {
            return false;
        }
    }

    function checkGridData() {
        var grid = $("#grid").data("kendoGrid");
        var data = grid.dataSource.data();
        var rowNum = data.length;

        for (var i = 0; i < rowNum; i++) {
            var currentDataItem = data[i];
            if (currentDataItem.PaidMethod == "支票" && currentDataItem.TicketOrRemittanceLastFive == null) {
                alert("票據末五碼必填");
                return true;
            }                
        }
        return false;
    }

    $(document).ready(function () {
        kendo.culture("zh-TW");
        $("#grid").kendoGrid({
            dataSource: {
                transport: {
                    read: {
                        url: "GetDetials",
                        dataType: "jsonp"
                    },
                    update: {
                        url: "UpdateDetials",
                        dataType: "jsonp"
                    },
                    parameterMap: function (options, operation) {
                        if (operation == "read") {
                            return {driverCode: "@ViewBag.DriverCode"};
                        }
                        else{
                            return "model=" + kendo.stringify(options.models) ;
                        }
                    },
                },
                batch: true,
                schema: {
                    model: {
                        id: "CheckNumber",
                        fields: {
                            CheckNumber: { type: "string", editable: false },
                            SubpoenaCategoryShowName: { type: "string", editable: false },
                            SubpoenaCategory: { type: "string" },
                            CollectionMoney: { type: "number", editable: false },
                            PaidMethod: {
                                type: "string"
                            },
                            TicketOrRemittanceLastFive: {
                                type: "string", editable: true,
                                validation: {
                                    required: true,
                                    rule: function (input) {
                                        if (input.is("[name='PaidMethod']")) {
                                            if (input.val() == '支票') {
                                                $('#TicketOrRemittanceLastFive').attr('required', 'required');
                                            } else {
                                                $('#TicketOrRemittanceLastFive').removeAttr("required");
                                            }
                                        }

                                        if (input.is("[name='TicketOrRemittanceLastFive']") && input.val() != "") {
                                            //input.attr("data-TicketOrRemittanceLastFivevalidation-msg", "XXXX");
                                            return input.val().length == 5;
                                        }
                                        return true;
                                    }
                                }
                            }
                        }
                    }
                }
            },
            columns: [
                { field: "CheckNumber", title: "明細表號"},
                { field: "SubpoenaCategoryShowName", title: "類別"},
                { field: "SubpoenaCategory", hidden: true},
                { field: "CollectionMoney", title: "金額"},
                { field: "PaidMethod", title: "付款方式", editor: customDropDownEditor, template: "#=PaidMethod#" },
                { field: "TicketOrRemittanceLastFive", title: "票據/帳號末五碼" },
                { template: "<button class='edit k-button' #= (SubpoenaCategory == '41') ? \"disabled='disabled'\" : ''# >編輯</button>", title: " " },
                { template: "<button class='update k-button' hidden>儲存</button><br/><button class='cancel k-button' hidden>取消</button>", title: " " }
            ],
            editable: "inline"
        });
    });

    $("#grid").on("click", ".edit", function () {
        var row = $(this).closest("tr");
        $("#grid").data("kendoGrid").editRow(row);
        row.find(".update").removeAttr("hidden");
        row.find(".cancel").removeAttr("hidden");
    });

    $("#grid").on("click", ".update", function () {
        $("#grid").data("kendoGrid").saveRow();

        $.ajax({
            url: "UpdateShouldCollectMoneyDifference?driverCode=@ViewBag.DriverCode",
            type: "post",
            dataType: "json",
            contentType: "charset=utf-8",
            success: function (result) {
                difference = result.difference;
            }
        });

    });

    $("#grid").on("click", ".cancel", function () {
        $("#grid").data("kendoGrid").cancelRow();
    });

    function customDropDownEditor(container, options) {
        $('<input required name="' + options.field + '"/>')
            .appendTo(container)
            .kendoDropDownList({
                autoBind: false,
                dataTextField: "text",
                dataValueField: "text",
                dataSource: {
                    data:
                        [
                            { text: "現金" },
                            { text: "支票" },
                            { text: "匯款" }
                        ]
                }
            });
    }

</script>

