﻿@{
    ViewData["Title"] = "[橘子] F2-7 金流日檢核表";
    Layout = "~/Views/Shared/_LayoutAddMenu.cshtml";
}
    <div id="container">
        <div class="demo-section k-content">
            <h4>請選擇檢核日期及站所</h4>
            <ul>
                <li>
                    <label>
                        到著站:
                        <input id="station" name="station" style="width: 100%;" />
                    </label>
                </li>
                <li>
                    <label>
                        發送日期:
                    </label>
                    <div id="daterangepicker" title="daterangepicker"></div>
                </li>
                <li>
                    <a class="offline-button" href="javascript:findInfo();">查詢</a>
                    <a class="offline-button" href="javascript:getExcel();">匯出Excel</a>
                </li>
            </ul>
        </div>
        <div id="example">
            <div id="grid"></div>
            <style>
                .ob-right {
                    text-align: right;
                }
            </style>
            <script id="team-template" type="text/x-kendo-template">
                <a href="http://supererp.junfu.asia/LT_trace_1.aspx?check_number=#:CheckNumber#" target="_blank">查看託運單狀態</a>
            </script>
            <script id="team-template-1" type="text/x-kendo-template">
                <a href="http://erp.fs-express.com.tw/DriverPayment/ViewPaymentSheetById?paymentSheetId=#:DriverPaymentSheetId#" target="_blank">查看精算書內容</a>
            </script>
            <script>
                var tempStationCode = "";
                var startDate = "";
                var endDate = "";
                var customerCode = "";
                var stationCode = "";
                var myGetUrl = "";
                var myDataType = "1";

                $(document).ready(function () {
                    $("#daterangepicker").kendoDateRangePicker({
                        change: onChange
                    });

                    function onChange() {
                        var range = this.range();
                        startDate = kendo.toString(range.start, 'd');
                        endDate = kendo.toString(range.end, 'd')
                    }

                    $("#station").kendoDropDownList({
                        filter: "startswith",
                        dataTextField: "ShowName",
                        dataValueField: "StationSCode",
                        dataSource: {
                            type: "odata",
                            serverFiltering: true,
                            transport: {
                                read: {
                                    url: "/KendoSelect/GetStation",
                                }
                            }
                        },
                        change: function (e) {
                            var value = this.value();
                            stationCode = value;
                        }
                    });

                    GenCustomerData();

                });

                function datediff(first, second) {
                    return Math.round((second - first) / (1000 * 60 * 60 * 24));
                }

                function findInfo() {

                    var myreturn = checkInput(stationCode, customerCode);

                    if (!myreturn) {
                        return false;
                    }

                    kendo.ui.progress($("#container"), true);

                    var myGrid = $("#grid").data("kendoGrid");

                    if (typeof myGrid !== "undefined") {
                        myGrid._progress(1);
                    }

                    genGrid();

                }

                function checkInput(station, customer) {
                    if (startDate == "") {
                        alert("必須設定啟始日期");
                        return false;
                    }

                    if (endDate == "") {
                        alert("必須設定迄止日期");
                        return false;
                    }

                    var mystart = new Date(startDate);
                    var myend = new Date(endDate);
                    var now = Date.now();

                    var datediffnum = datediff(mystart, myend);

                    if (datediffnum > 10) {
                        alert("間隔時間須小於10天");
                        return false;
                    }

                    if (datediff(mystart, now) > 30) {
                        alert("超出時間範圍，您只能選擇過去一個月內之資料");
                        return false;
                    }

                    return true;
                }

                function getExcel() {

                    var myreturn = checkInput(stationCode, customerCode);

                    if (!myreturn) {
                        return false;
                    }

                    $("#grid").getKendoGrid().saveAsExcel();
                }

                function genGrid() {

                    if ($("#grid").data("kendoGrid") == null) { }
                    else {
                        $("#grid").data("kendoGrid").destroy();
                        $("#grid").empty();
                    }

                    var getUrl = "GetCashFlowDailyInfo?station=" + stationCode + "&start=" + startDate + "&end=" + endDate;

                    myGetUrl = getUrl;

                    var dataSource = new kendo.data.DataSource(
                        {
                            transport: {
                                read: {
                                    url: myGetUrl,
                                    dataType: "jsonp"
                                },
                                parameterMap: function (options, operation) {
                                    if (operation !== "read" && options.models) {
                                        return { models: kendo.stringify(options.models) };
                                    }
                                }
                            },
                            requestEnd: function (e) {
                                kendo.ui.progress($("#container"), false);
                            },
                            pageSize: 50,
                            batch: true,
                            schema: {
                                model: {
                                    id: "id",
                                    fields: {
                                        DriverPaymentDetailId: { editable: false, nullable: true },
                                        DriverPaymentSheetId: { editable: false, nullable: true },
                                        ArriveStationName: { validation: { required: false } },
                                        DriverName: { validation: { required: false } },
                                        RemittanceAmount: { validation: { required: false } },
                                        TransactionLastFive: { validation: { required: false } },
                                        CheckNumber: { validation: { required: false } },
                                        SendStationName: { validation: { required: false } },
                                        SenderName: { validation: { required: false } },
                                        ReceiverName: { validation: { required: false } },
                                        CollectionMoney: { validation: { required: false } },
                                        ReceiverType: { validation: { required: false } }
                                    }
                                }
                            }
                        });

                    $("#grid").kendoGrid({
                        dataBound: function () {
                            //kendo.ui.progress($("#container"), false);
                        },
                        dataSource: dataSource,
                        toolbar: ["excel"],
                        excel: {
                            fileName: "GetCashFlowDailyData.xlsx",
                            allPages: true
                        },
                        groupable: true,
                        columnMenu: true,
                        sortable: true,
                        filterable: true,
                        pageable: {
                            refresh: true,
                            pageSizes: [20, 30, 50, "all"],
                            buttonCount: 5
                        },
                        columns: [{
                            field: "ArriveStationName",
                            title: "到著站"
                        }, {
                            field: "DriverName",
                            title: "配達作業人員"
                        }, {
                            field: "RemittanceAmount",
                            title: "小白單總金額", format: "{0:c0}", attributes: { class: "ob-right" }
                        }, {
                            field: "TransactionLastFive",
                            title: "交易末5碼"
                        }, {
                            field: "CheckNumber",
                            title: "託運單號"
                        }, {
                            field: "SendStationName",
                            title: "發送站"
                        }, {
                            field: "SenderName",
                            title: "寄件人"
                        }, {
                            field: "ReceiverName",
                            title: "收件人"
                        }, {
                            field: "CollectionMoney",
                            title: "代收金額", format: "{0:c0}", attributes: { class: "ob-right" }
                        }, {
                            field: "ReceiverType",
                            title: "代收類型"
                        }, {
                            field: "CheckNumber",
                            title: "查詢",
                            template: kendo.template($("#team-template").html())
                        }, {
                            field: "DriverPaymentSheetId",
                            title: "精算書內容",
                            template: kendo.template($("#team-template-1").html())
                        }],
                        editable: "popup"
                    });

                    var myGrid = $("#grid").data("kendoGrid");
                    myGrid.dataSource.read();
                    myGrid.refresh();
                }

                function changeDataType() {
                    myDataType = $("#dataType").val();
                }
            </script>
        </div>
    </div>
