﻿@model List<LightYear.JunFuTrans.BL.BE.DriverToStationPayment.PaymentSheetPrintFormatEntity>

    <style>
        @@media print {
            #change-page {
                page-break-before: always;
            }
        }
    </style>

    <button class="no-print" id="print-page">列印</button>

    <partial name="_PrintFormat" model="Model[0]" />
    <div class="split-line">
        <hr>
        <img src="~/images/login_logo_junfu.svg" style="opacity:0.4; position: absolute; z-index: -1; right: 0; left: 0; top: 0; bottom: 0; margin: auto;">
    </div>
    <partial name="_PrintFormat" model="Model[1]" />

    <script>

        $('#print-page').on("click", function () {
            var dt = new Date();
            var time = dt.getMonth() + 1 + "/" + dt.getDate() + " " + dt.getHours() + ":" + dt.getMinutes() + ":" + dt.getSeconds();
            $('.print-time').text("列印時間: " + time);
            window.print();
        });
    </script>
