﻿
@{
    Layout = "~/Views/Shared/_LayoutAddMenu.cshtml";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ViewPaymentSheetById</title>
</head>
<body>
    <div id="daterangepicker" title="daterangepicker"></div>
    <div>站所</div>
    <input id="stations" style="display: inline-block;" />
    <br /><br />
    <button id="search">查詢</button>
    <div id="grid"></div>
    <script>
        var crudServiceBaseUrl = "/DriverPayment";

        var station = $("#stations").kendoDropDownList({
            optionLabel: "選擇站所",
            dataSource: {
                transport: {
                    read: {
                        url: crudServiceBaseUrl + "/GetAllStation",
                        dataType: "jsonp"
                    }
                }
            }
        }).data("kendoDropDownList");

        $("#daterangepicker").kendoDateRangePicker();

        var dataSource = new kendo.data.DataSource({
            transport: {
                read: {
                    url: crudServiceBaseUrl + "/GetListByTimeAndStation",
                    dataType: "jsonp",
                    cache: false,
                    data: function () {
                        return {
                            start: $('.k-textbox')[0].value,
                            end: $('.k-textbox')[1].value,
                            station: $('.k-input').text()
                        };
                    }
                },
                parameterMap: function (data, type) {
                    return "json=" + kendo.stringify(data);
                }
            },
            batch: true,
            pageSize: 20,
            schema: {
                model: {
                    id: "Id",
                    fields: {
                        Id: { type: "number", editable: false, nullable: true },
                        CreateDate: { type: "datetime", format: "{yyyy-MM-dd HH:mm}" },
                        DriverCode: { type: "string" },
                        DriverName: { type: "string" },
                        Station: { type: "string" },
                        TranscationLastFive: { type: "string" },
                        RemittanceAmount: { type: "number" },
                    }
                }
            }
        });

        $("#search").kendoButton({
            click: function (e) {
                if ($("#grid").data("kendoGrid")) {
                    $("#grid").data("kendoGrid").dataSource.read();
                    $("#grid").data("kendoGrid").refresh();
                }

                $("#grid").kendoGrid({
                    toolbar: ["excel"],
                    excel: {
                        fileName: "精算書歷史",
                        allPages: true
                    },
                    dataSource: dataSource,
                    pageable: true,
                    height: 550,
                    columns: [
                        { field: "Id", title: "ID", width: 100 },
                        { field: "CreateDate", title: "精算書製作日" },
                        { field: "DriverCode", title: "司機工號" },
                        { field: "DriverName", title: "司機名字" },
                        { field: "StationName", title: "司機所屬站所", },
                        { field: "TranscationLastFive", title: "交易明細末五碼", },
                        { field: "RemittanceAmount", title: "匯款金額", },
                    ]
                });
            }
        });

        $(document).on("click", 'tbody[role="rowgroup"]', function (event) {
            var sheetId = $(event.target).parent().find('td[data-field="Id"]').text();
            window.location = crudServiceBaseUrl + "/ViewPaymentSheetById?paymentSheetId=" + sheetId;
        });

    </script>
</body>
</html>
