﻿@{
    ViewData["Title"] = "F2-8 應收帳款總表";
    Layout = "~/Views/Shared/_LayoutAddMenu.cshtml";
}
    <div id="container">
        <div class="demo-section k-content">
            <h4>應收帳款總表</h4>
            <ul>
                <li>
                    <label>
                        結帳區間:
                    </label>
                    <input id="monthpicker" value="November 2011" title="monthpicker" style="width: 100%" />
                </li>
                <li>
                    <label>
                        發送站:
                        <input id="station" name="station" style="width: 100%;" />
                    </label>
                </li>
                <li>
                    <label>
                        客戶代碼:
                        <input id="customerCode" name="customerCode" style="width: 100%;" />
                    </label>
                </li>
                <li>
                    <label>
                        銷號狀況:
                        <select id="dataType" style="width: 100%;" onchange="javascript: changeDataType();">
                            <option value="1">未支付</option>
                            <option value="2">已支付</option>
                            <option value="0">全部</option>
                        </select>
                    </label>
                </li>
                <li>
                    <a class="offline-button" href="javascript:findInfo();">查詢</a>
                    <a class="offline-button" href="javascript:getExcel();">匯出Excel</a>
                </li>
            </ul>
        </div>
        <div id="example">
            <div id="grid"></div>
            <script id="team-template" type="text/x-kendo-template">
                <a href="http://supererp.junfu.asia/LT_trace_1.aspx?check_number=#:CheckNumber#" target="_blank">查看託運單狀態</a>
            </script>
            <script>
                var tempStationCode = "";
                var startDate = "";
                var endDate = "";
                var customerCode = "";
                var stationCode = "";
                var myGetUrl = "";
                var myDataType = "1";

                $(document).ready(function () {

                    $("#monthpicker").kendoDatePicker({
                        // defines the start view
                        start: "year",

                        // defines when the calendar should return date
                        depth: "year",

                        // display month and year in the input
                        format: "yyyy年MM月",

                        // specifies that DateInput is used for masking the input element
                        dateInput: true
                    });

                    var todayDate = kendo.toString(kendo.parseDate(new Date()), 'yyyy年MM月');
                    $("#monthpicker").data("kendoDatePicker").value(todayDate);

                    function onChange() {
                        var range = this.range();
                        startDate = kendo.toString(range.start, 'd');
                        endDate = kendo.toString(range.end, 'd')
                    }

                    $("#station").kendoDropDownList({
                        filter: "startswith",
                        dataTextField: "ShowName",
                        dataValueField: "StationCode",
                        dataSource: {
                            type: "odata",
                            serverFiltering: true,
                            transport: {
                                read: {
                                    url: "/KendoSelect/GetStation",
                                }
                            }
                        },
                        change: function (e) {
                            var value = this.value();
                            $("#customerCode").data("kendoDropDownList").value(-1);
                            stationCode = value;
                            customerCode = "";
                            tempStationCode = value;
                            GenCustomerData();
                        }
                    });

                    GenCustomerData();

                });

                function GenCustomerData() {
                    var getCustomerUrl = "/KendoSelect/GetCustomer?stationCode=" + tempStationCode;

                    $("#customerCode").kendoDropDownList({
                        filter: "startswith",
                        dataTextField: "ShowName",
                        dataValueField: "CustomerCode",
                        dataSource: {
                            type: "odata",
                            serverFiltering: true,
                            transport: {
                                read: {
                                    url: getCustomerUrl,
                                }
                            }
                        },
                        change: function (e) {
                            var value = this.value();
                            $("#station").data("kendoDropDownList").value(-1);
                            customerCode = value;
                            stationCode = "";
                        }
                    });
                }

                function datediff(first, second) {
                    return Math.round((second - first) / (1000 * 60 * 60 * 24));
                }

                function findInfo() {

                    var myreturn = checkInput(stationCode, customerCode);

                    if (!myreturn) {
                        return false;
                    }

                    kendo.ui.progress($("#container"), true);

                    var myGrid = $("#grid").data("kendoGrid");

                    if (typeof myGrid !== "undefined") {
                        myGrid._progress(1);
                    }

                    genGrid();

                }

                function checkInput(station, customer) {
                    if (startDate == "") {
                        alert("必須設定啟始日期");
                        return false;
                    }

                    if (endDate == "") {
                        alert("必須設定迄止日期");
                        return false;
                    }

                    var mystart = new Date(startDate);
                    var myend = new Date(endDate);
                    var now = Date.now();

                    var datediffnum = datediff(mystart, myend);

                    if (datediffnum > 10) {
                        alert("間隔時間須小於10天");
                        return false;
                    }

                    if (datediff(mystart, now) > 30) {
                        alert("超出時間範圍，您只能選擇過去一個月內之資料");
                        return false;
                    }

                    if (station == "" && customer == "") {
                        alert("必須設定到著站所或發貨客戶");
                        return false;
                    }

                    return true;
                }

                function getExcel() {

                    var myreturn = checkInput(stationCode, customerCode);

                    if (!myreturn) {
                        return false;
                    }

                    $("#grid").getKendoGrid().saveAsExcel();
                }

                function genGrid() {

                    if ($("#grid").data("kendoGrid") == null) { }
                    else
                    {
                        $("#grid").data("kendoGrid").destroy();
                        $("#grid").empty();
                    }

                    var getUrl = "GetDeliveryAnomalyGrid?station=" + stationCode + "&customer=" + customerCode + "&start=" + startDate + "&end=" + endDate + "&checkType=" + myDataType;

                    myGetUrl = getUrl;

                    var dataSource = new kendo.data.DataSource(
                        {
                            transport: {
                                read: {
                                    url: myGetUrl,
                                    dataType: "jsonp"
                                },
                                parameterMap: function (options, operation) {
                                    if (operation !== "read" && options.models) {
                                        return { models: kendo.stringify(options.models) };
                                    }
                                }
                            },
                            requestEnd: function (e) {
                                kendo.ui.progress($("#container"), false);
                            },
                            pageSize: 50,
                            batch: true,
                            schema: {
                                model: {
                                    id: "id",
                                    fields: {
                                        Id: { editable: false, nullable: true },
                                        No: { validation: { required: false } },
                                        ShipDate: { validation: { required: false } },
                                        StationName: { validation: { required: false } },
                                        CheckNumber: { validation: { required: false } },
                                        SenderName: { validation: { required: false } },
                                        SendPices: { validation: { required: false } },
                                        GetPices: { validation: { required: false } },
                                        ReceiverName: { validation: { required: false } },
                                        ZhuArea: { validation: { required: false } },
                                        PaiArea: { validation: { required: false } },
                                        ArriveOption: { validation: { required: false } },
                                        ScanItemName: { validation: { required: false } },
                                        ArriveOptionDesc: { validation: { required: false } },
                                        ScanDate: { type: "date",validation: { required: false } }
                                    }
                                }
                            }
                        });

                    $("#grid").kendoGrid({
                        dataBound: function () {
                            //kendo.ui.progress($("#container"), false);
                        },
                        dataSource: dataSource,
                        toolbar: ["excel"],
                        excel: {
                            fileName: "GetDeliveryAnomaly.xlsx",
                            allPages: true
                        },
                        groupable: true,
                        columnMenu: true,
                        sortable: true,
                        filterable: true,
                        pageable: {
                            refresh: true,
                            pageSizes: [20, 30, 50, "all"],
                            buttonCount: 5
                        },
                        columns: [{
                            field: "No",
                            title: "No."
                        }, {
                            field: "ShipDate",
                            title: "發送日"
                        }, {
                            field: "StationName",
                            title: "到著站"
                        }, {
                            field: "CheckNumber",
                            title: "貨號"
                        }, {
                            field: "SenderName",
                            title: "出貨人"
                        }, {
                            field: "SendPices",
                            title: "發送件數"
                        }, {
                            field: "GetPices",
                            title: "到著件數"
                        }, {
                            field: "ReceiverName",
                            title: "收貨人"
                        }, {
                            field: "ZhuArea",
                            title: "註區"
                        }, {
                            field: "PaiArea",
                            title: "配區"
                        }, {
                            field: "ArriveOption",
                            title: "銷號代碼"
                        }, {
                            field: "ScanItemName",
                            title: "作業"
                        }, {
                            field: "ArriveOptionDesc",
                            title: "配達區分"
                        }, {
                            field: "ScanDate",
                            title: "掃讀區分",
                            format: "{0: yyyyMMdd HH:mm}"
                        }, {
                            field: "CheckNumber",
                            title: "查詢",
                            template: kendo.template($("#team-template").html())
                        }],
                        editable: "popup"
                    });

                    var myGrid = $("#grid").data("kendoGrid");
                    myGrid.dataSource.read();
                    myGrid.refresh();
                }

                function changeDataType() {
                    myDataType = $("#dataType").val();
                }
            </script>
        </div>
    </div>
