﻿@{
    ViewData["Title"] = "列印宅配通標籤";
    Layout = "~/Views/Shared/_LayoutAddMenu.cshtml";
}

<div>
    <div id="input_value" align="center" class="demo-section k-content">
        <h4>宅配通列印簽單</h4>
        <ul>
            <li>
                <label>
                    請輸入列印單號:<br />
                    <select id="checkNumbers" style="width:100%;"></select>
                </label>
            </li>
            <li>
                <label>
                    列印區間:
                </label>
                <input id="datepicker" style="width: 100%" />
            </li>
            <li>
                <button type="button" class="k-button" id="download">下載PDF</button>
            </li>
        </ul>
    </div>
    <style>
    </style>
    <script>
        $(document).ready(function () {
            $("#datepicker").kendoDatePicker({
                value: new Date(new Date())
            });
        })
        //var datepicker = $("#datepicker").data("kendoDatePicker");
        //datepicker.value(new Date());
        

        $(document).ready(function () {
            var currentId = 1;

            function onDataBound(e) {
                $('.k-multiselect .k-input').unbind('keyup');
                $('.k-multiselect .k-input').on('keyup', onClickEnter);
            }
            function onClickEnter(e) {
                if (e.keyCode === 13) {
                    var widget = $('#checkNumbers').getKendoMultiSelect();
                    var dataSource = widget.dataSource;
                    var input = $('.k-multiselect .k-input');
                    var value = input.val().trim();
                    if (!value || value.length === 0) {
                        return;
                    }
                    var newItem = {
                        ProductID: currentId++,
                        ProductName: value
                    };

                    dataSource.add(newItem);
                    var newValue = newItem.ProductID;
                    widget.value(widget.value().concat([newValue]));
                }
            }
            $("#checkNumbers").kendoMultiSelect({
                dataTextField: "ProductName",
                dataValueField: "ProductName",
                dataSource: {
                    data: []
                },
                dataBound: onDataBound
            });
        });

        $("#download").kendoButton({
            click: function (e) {
                if ($("#checkNumbers").data("kendoMultiSelect").value().length > 0 ) {
                    var str = "checkNumbers=";
                    for (var i = 0; i < $("#checkNumbers").data("kendoMultiSelect").value().length; i++) {
                        str += $("#checkNumbers").data("kendoMultiSelect").value() + ",";
                    }
                    str = str.substring(0, str.length - 1);
                    document.location.href = "PrintPelicanTags?" + str;
                } else {
                    var str = "date=" + $('#datepicker')[0].value;
                    window.location = "PrintPelicanTags?" + str;
                }
            }
        })


    </script>
</div>
