﻿@{
    ViewData["Title"] = "KendoTest";
    Layout = "~/Views/Shared/_LayoutAddMenu.cshtml";
}

    <div id="example">
        <script>
            var image = new Image();
            image.src = 'data:image/TIF;base64,@Html.Raw(ViewBag.Base64Data)';
            document.body.appendChild(image);
        </script>
    </div>