﻿@{
    Layout = "~/Views/Shared/_LayoutAddMenu.cshtml";
}
    <div id="view">
        <div class="demo-section k-content">
            <h2>代收貨款銷帳明細</h2><br />
            <ul>
                <li>
                    <label>到著站所:</label>
                    <input id="station" style="width:100%;" />
                </li>
                <li>
                    <label>配達日期區間</label>
                    <div id="daterangepicker" title="daterangepicker"></div>
                </li>
                <li>
                    <button id="search">查詢</button><button id="export">匯出Excel</button>
                </li>
            </ul><br />
        </div>
        
        <div id="grid"></div>

        <script src="../../js/cultures/kendo.culture.zh-TW.min.js"></script>

        <script>
            var scode = "";

            var sta = $("#station").kendoDropDownList({
                         filter: "startswith",
                         dataTextField: "ShowName",
                         dataValueField: "StationSCode",
                         value: "",
                         dataSource: {
                                type:"odata",
                                serverFiltering: true,
                                transport: {
                                         read: {
                                                  url: "/KendoSelect/GetStation",
                                         }
                                }
                         },
                         change: function (e) {
                                var value = this.value();
                                scode = value;
                         }
            });

            $("#daterangepicker").kendoDateRangePicker({
                culture: "zh-TW",
                change: function (e) {
                    var range = this.range();
                    start = kendo.toString(range.start, "s");
                    end = kendo.toString(range.end, "s");
                }
            });

            function getGrid() {
                var myurl = "/DriverCollectionMoneyWriteOff/GetAllByStationAndDatetime?scode=" + scode + "&start=" + start + "&end=" + end;

                dataSource = new kendo.data.DataSource({
                    transport: {
                        read: {
                            url: myurl,
                            dataType: "jsonp"
                        }/*,*/
                        //paramaterMap: function (data, type) {
                        //    if (type !== "read" && data.models) {
                        //        return { models: kendo.stringify(data.models) };
                        //    }
                        //}
                    },
                    batch: true,
                    pageSize: 30,
                    schema: {
                        model: {
                            fields:{
                                ArriveStationName: { validation: { required: true } },
                                DriverCodeAndName: { validation: { required: true } },
                                CheckNumber: { validation: { required: true } },
                                CustomerCode: { validation: { required: true } },
                                CustomerName: { validation: { required: true } },
                                ReceiveContact: { validation: { required: true } },
                                ScanDate: { type: "date", validation: { required: true } },
                                ScanItem: {validation: { required: true }},
                                CollectionMoney: { validation: { required: true } },
                                ReceiverType: { validation: { required: true } },
                                IsDriverPaymentSheetYN: {validation: { required: true }}
                            }
                        }
                    },
                    group: {
                               field: "IsDriverPaymentSheetYN", aggregates: [
                                        { field: "CollectionMoney", aggregate: "sum"}
                               ]
                    },
                    aggregates:
                        { field: "CollectionMoney", aggregate: "sum" }
                });
            }

            $("#search").kendoButton({
                click: function (e) {

                    getGrid();
                    //if ($("#grid").data("kendoGrid")) {
                    //$("#grid").data("kendoGrid").dataSource.read();
                    //$("#grid").data("kendoGrid").refresh();
                    //}

                    $("#grid").kendoGrid({
                        dataSource: dataSource,
                        //toolbar: [{name: "excel",text:"匯出Excel"}],
                        excel: {
                        fileName: "代收貨款銷帳明細.xlsx",
                        allPages: true,
                        filterable: true
                        },
                        pageable: true,
                        filterable: true,
                        sortable: true,
                        height: 550,
                        columns: [
                             { field: "ArriveStationName", title: "到著站所" },
                             { field: "DriverCodeAndName", title: "作業人員"},
                             { field: "CheckNumber", title: "貨號" },
                             { field: "CustomerCode", title: "客代" },
                             { field: "CustomerName", title: "客代名稱" },
                             { field: "ReceiveContact", title: "收貨人" },
                             { field: "ScanDate", title: "作業時間", format: "{0: yyyy/MM/dd HH:mm:ss}" },
                             { field: "ScanItem", title: "貨態" },
                             { field: "CollectionMoney", title: "代收金額",aggregates: ["sum"],groupFooterTemplate: "總計金額: #=sum#" },
                             { field: "ReceiverType", title: "代收類型" },
                             { field: "IsDriverPaymentSheetYN", title: "是否製作成精算書(Y/N)" }
                        ]
                    });
                    $("#grid").data("kendoGrid").dataSource.read();
                }
            });

             
            $("#export").kendoButton({
                click: function (e) {
                    try {
                        var grid = $("#grid").data("kendoGrid");
                        grid.saveAsExcel();
                    } catch (e) {
                        fnDialog('無法匯出Excel',
                            '無法匯出Excel，請洽管理員。',
                            null,
                            null);
                    }
                }
            });

        </script>

    </div>

