﻿@{
    Layout = "~/Views/Shared/_LayoutAddMenu.cshtml";
}
<style>
    .addred{
        background:red;
    }
</style>


<div id="example">
    <div class="demo-section k-content">
        <h1>新增異常貨件</h1><br />
        <h4>回報站所：@Html.Raw(ViewBag.LoginStation)&nbsp;&nbsp;&nbsp;&nbsp;回報人：@Html.Raw(ViewBag.LoginName)</h4>

        <div>
            輸入託運單號：<input id="checknumberSearch" type="text">&nbsp;&nbsp;<button id="search">查詢</button>
            <ul>
                <li><span>托運單號:</span><label class="alert-success" id="CheckNumber"></label></li>
                <li><span>發送站：</span><label class="alert-success" id="SupplierCode"></label></li>
                <li><span>到著站：</span><label class="alert-success" id="AreaArriveCode"></label></li>
                <li><span>寄件人：</span><label class="alert-success" id="SendContact"></label></li>
                <li><span>收件人：</span><label class="alert-success" id="ReceiveContact"></label></li>
                <li><span>發送件數：</span><label class="alert-success" id="Pieces"></label></li>
            </ul>
            <br /><br />
        </div>

        <form id="form" method="post" enctype="multipart/form-data" action="/DeliveryException/SaveAndFileUpload">
            <label for="file">上傳檔案:</label>
            <input type="file" accept=".png, .jpg, .jpeg" name="file" id="file" multiple />
            <br /><br />
            <label for="ReportMatter">異常狀態:</label>
            <select id="ReportMatter">
                <option value="1">破損</option>
                <option value="12">籠車修繕</option>
                <option value="13">協尋通報</option>
                <option value="14">喪失通報</option>
                <option value="15">不明貨件</option>
                <option value="17">單邊長>65公分</option>
                <option value="18">扁平式家俱</option>
                <option value="19">S120發送佔比>20%</option>
                <option value="20">S150以上貨件</option>
                <option value="21">多打1</option>
                <option value="22">液體：酒精，易燃，危險品（侵蝕性）</option>
                <option value="23">包裝異常</option>
                <option value="24">破壞袋使用不當者</option>
                <option value="25">假日配輸入異常</option>
                <option value="26">超重>20公斤</option>
                <option value="27">籠車貨件堆疊異常</option>
                <option value="28">籠車貨件誤卸流向混籠</option>
            </select>
            <br /><br />
            <label for="SketchMatter">簡述項目:</label>
            <select id="SketchMatter" onchange="filter">
                <option value="1">外箱淋濕</option>
                <option value="2">外箱凹損</option>
                <option value="3">內容物破損液體滲漏</option>
                <option value="4">其他</option>
            </select>
            <div>
            <input id="OtherMatters" type="text" placeholder="請輸入要填寫的簡述項目，最多20個中英文數字" style="width:305px; display:none;">&nbsp;&nbsp;
             </div>   
                <br /><br />
                <input type="hidden" id="json" name="json" />
                <button id="submit" class="k-primary"  >新增</button>
            
        </form>

        <script type="text/javascript">

           

            $(document).ready(function () {
                $("#search").on("click", function (e) {

                    var checknumberData = $("#checknumberSearch").val();

                    $.ajax({
                        url: "/DeliveryException/GetExceptionsInfoByCN?CN=" + checknumberData,
                        dataType: "json",
                        type: "POST",
                        contentType: "text/html;charset=utf-8",
                        success: function (result) {  //result = json string

                            var output = JSON.parse(result); //json string to object (陣列)
                            $("#CheckNumber").text(output[0].CheckNumber);
                            $("#SupplierCode").text(output[0].SupplierCode);
                            $("#AreaArriveCode").text(output[0].AreaArriveCode);
                            $("#SendContact").text(output[0].SendContact);
                            $("#ReceiveContact").text(output[0].ReceiveContact);
                            $("#Pieces").text(output[0].Pieces);

                        },
                    });
                });

                $("#submit").on("click", function (e) {

                    var isFileNonEmpty = $("#file").val();
                    if (isFileNonEmpty == "") {
                        alert("請選擇上傳檔案");
                        e.preventDefault()
                    }

                    else {
                        var checknumberData = $("#checknumberSearch").val();
                        var ReportMatterData = $("#ReportMatter").val();
                        var SketchMatterData = $("#SketchMatter").val();
                        var OtherMattersData = $("#OtherMatters").val();
                        var SupplierCodeData = $("#SupplierCode").text();
                        var AreaArriveCodeData = $("#AreaArriveCode").text();

                        var dataJSON = {};
                        dataJSON["CheckNumber"] = checknumberData; //字串
                        dataJSON["ReportMatter"] = ReportMatterData;
                        dataJSON["SketchMatter"] = SketchMatterData;
                        dataJSON["OtherMatters"] = OtherMattersData;
                        dataJSON["ReportStation"] = '@Html.Raw(ViewBag.LoginStation)';
                        dataJSON["ReportName"] = '@Html.Raw(ViewBag.LoginName)';
                        dataJSON["sendstaion"] = SupplierCodeData;
                        dataJSON["desstaion"] = AreaArriveCodeData;

                        var output = JSON.stringify(dataJSON); //object轉string
                        $("#json").val(output);
                    }
                });

                $("#SketchMatter").click(function (e) {

                    var Data = $("#SketchMatter").val();
                    if (Data == "4") {
                        OtherMatters.style.display = 'block';
                    }
                });

            });
       
        </script>
    </div>
</div>

