﻿@{
    Layout = "~/Views/Shared/_LayoutAddMenu.cshtml";
}
<head>

</head>
<body>
    <a class="offline-button" href="AddExceptions">點我進入新增異常件頁面</a>
    <br />
        <font size="10">查詢異常貨件系統</font>
    <br />
    到著日期區間：
    <div id="daterangepicker"></div><br/>
    回報所區屬：
    <input id="areas" value=""/><br/><br />
    回報所:
    <input id="stations" value="" style="display: inline-block;" /><br/><br />
    貨號：
    <input id="checknumber" type="text" onchange="javascript:chechNumberChange()"/>
    <button id="query">查詢</button>
    <a class="offline-button" href="javascript:getExcel();">匯出Excel</a>

    <script>
        var areaName = "";
        var stationscode = "";
        var start = "";
        var end = "";

        $(document).ready(function () {

                var areas = $("#areas").kendoDropDownList({
                    dataSource: {
                        type: "odata",
                        transport: {
                            read: {
                                url: "/KendoSelect/GetArea?addTotal=" + true
                            }
                        }
                    },
                    value: "全選",
                    change: function (e) {
                        var value = this.value();
                        areaName = value;
                        GenStationData();
                        $("#checknumber").val("");
                    }
                }).data("kendoDropDownList");

                GenStationData();
            
        });

        function getExcel() {
            $("#newgrid").getKendoGrid().saveAsExcel();
        }

        function GenStationData() {

            var stations = $("#stations").kendoDropDownList({
                filter: "startswith",
                dataTextField: "ShowName",
                dataValueField: "StationSCode",
                height: 200,
                value: "",
                dataSource: {
                    type: "odata",
                    serverFiltering: true,
                    transport: {
                        read: {
                            url: "/KendoSelect/GetStation?areaName=" + areaName
                        }
                    }
                },
                change: function (e) {
                    var value = this.value();
                    stationscode = value;
                    $("#checknumber").val("");
                }
            });
        };

        $("#daterangepicker").kendoDateRangePicker({
            culture: "zh-TW",
            value: new Date(),
            change: function (e) {
            var range = this.range();
            start = kendo.toString(range.start, "s");
            end = kendo.toString(range.end, "s");
            $("#checknumber").val("");
            }
        });

        function chechNumberChange() {
            $("#newgrid").data("kendoGrid").destroy();
            $("#newgrid").empty();
            $("#areas").data("kendoDropDownList").value("");
            $("#stations").data("kendoDropDownList").value("");
        }

    </script>

    <div id="processing">
        @*<div id="processingGrid"></div>
        <br />
        <div id="pendingGrid"></div>
        <br/>*@
        <div id="newgrid"></div>

        @*<script>
            var processingDataSource = new kendo.data.DataSource({
                transport: {
                    read: {
                        url: "/DeliveryException/GetExceptionsProcessing",
                        dataType: "jsonp",
                        cache: false,
                        data: function () {
                            return { station: $('.k-input').text() };
                        }
                    },

                    parameterMap: function (data) {
                        return "json=" + kendo.stringify(data);
                    }
                },
                batch: true,
                pageSize: 20,
                schema: {
                    model: {
                        id: "Id",
                        fields: {
                            Id: { editable: false, nullable: false, defaultValue: 0 },
                            CheckNumber: { validation: { required: true } },
                            ReportStation: { validation: { required: true } },
                            ReportMatter: { validation: { required: true } },
                            SketchMatter: { validation: { required: true } },
                            HandleResult: { validation: { required: true } },
                            RelativeCheckNumber: { validation: { required: true } },
                            IsClosedVX: { validation: { required: true } },
                            CreateDate: { validation: { required: true } },
                            ExceptionStatus: { nullable: true },
                        }
                    }
                }
            });

            var pendingDataSource = new kendo.data.DataSource({
                transport: {
                    read: {
                        url: "/DeliveryException/GetExceptionsPending",
                        dataType: "jsonp",
                        cache: false,
                        data: function () {
                            return { station: $('.k-input').text() };
                        }
                    },

                    parameterMap: function (data) {
                        return "json=" + kendo.stringify(data);
                    }
                },
                batch: true,
                pageSize: 20,
                schema: {
                    model: {
                        id: "Id",
                        fields: {
                            Id: { editable: false, nullable: false, defaultValue: 0 },
                            CheckNumber: { validation: { required: true } },
                            ReportStation: { validation: { required: true } },
                            ReportMatter: { validation: { required: true } },
                            SketchMatter: { validation: { required: true } },
                            HandleResult: { validation: { required: true } },
                            RelativeCheckNumber: { validation: { required: true } },
                            IsClosedVX: { validation: { required: true } },
                            CreateDate: { validation: { required: true } },
                            ExceptionStatus: { nullable: true },
                        }
                    }
                }
            });

            $("#query").kendoButton({
                click: function (e) {
                    if ($("#processingGrid").data('kendoGrid') == null) {
                    } else {
                        $("#processingGrid").data("kendoGrid").dataSource.read();
                        $("#processingGrid").data("kendoGrid").refresh();
                        $("#pendingGrid").data("kendoGrid").dataSource.read();
                        $("#pendingGrid").data("kendoGrid").refresh();
                    }

                    $("#processingGrid").kendoGrid({
                        dataSource: processingDataSource,
                        pageable: true,
                        height: 550,
                        toolbar: "處理中清單",
                        columns: [
                            { field: "rowNumber", title: "序號", template: "<span class='row-number'></span>" },
                            { field: "CreateDate", title: "回報日" },
                            { field: "ReportStation", title: "回報所" },
                            { field: "CheckNumber", title: "託運單號" },
                            { field: "ReportMatter", title: "回報事項" },
                            { field: "SketchMatter", title: "簡述" },
                            { field: "HandleResult", title: "處理結果" },
                            { field: "RelativeCheckNumber", title: "關聯託運單號" },
                            { field: "IsClosedVX", title: "已結案" },
                            { field: "ExceptionStatus", title: "異常狀態" },
                            { field: "", title: "處理工時", }
                        ],
                        dataBound: function () {
                            var rows = this.items();
                            $(rows).each(function () {
                                var index = $(this).index() + 1;
                                var rowLabel = $(this).find(".row-number");
                                $(rowLabel).html(index);
                            });
                        },
                        height: "10cm"
                    });

                    $("#pendingGrid").kendoGrid({
                        dataSource: pendingDataSource,
                        pageable: true,
                        height: 550,
                        toolbar: "未處理清單",
                        columns: [
                            { field: "rowNumber", title: "序號", template: "<span class='row-number'></span>"},
                            { field: "CreateDate", title: "回報日" },
                            { field: "ReportStation", title: "回報所" },
                            { field: "CheckNumber", title: "託運單號" },
                            { field: "ReportMatter", title: "回報事項" },
                            { field: "SketchMatter", title: "簡述" },
                            { field: "HandleResult", title: "處理結果" },
                            { field: "RelativeCheckNumber", title: "關聯託運單號" },
                            { field: "IsClosedVX", title: "已結案" },
                            { field: "ExceptionStatus", title: "異常狀態" },
                            { field: "", title: "處理工時", }
                        ],

                        dataBound: function () {
                            var rows = this.items();
                            $(rows).each(function () {
                                var index = $(this).index() + 1;
                                var rowLabel = $(this).find(".row-number");
                                $(rowLabel).html(index);
                            });
                        },
                        height: "10cm"
                    });
                }
            });
        </script>*@
        <script>
            function genGrid() {

                var ck = $("#checknumber").val();
                areaName = $("#areas").val();
                stationscode = $("#stations").val();

                var url = "/DeliveryException/GetExceptionFromScanLogs?start=" + start + "&end=" + end + "&stationscode=" + stationscode + "&area=" + areaName + "&checknumber=" + ck;
                geturl = url;
                newgridDataSource = new kendo.data.DataSource({
                    transport: {
                        read: {
                            url: geturl,
                            dataType: "jsonp",
                        },
                        parameterMap: function (options, operation) {
                            if (operation !== "read" && options.models) {
                                return { models: kendo.stringify(options.models) };
                            }
                        }
                    },
                    batch: true,
                    pageSize: 30,
                    schema: {
                        model: {
                            id: "Id",
                            fields: {
                                Id: { editable: false, nullable: false },
                                CheckNumber: { validation: { required: true } },
                                RepotrName: { validation: { required: true } },
                                SendStation: { validation: { required: true } },
                                DesStation: { validation: { required: true } },
                                ReportStation: { validation: { required: true } },
                                //ReportMatter: { validation: { required: true } },
                                //HandleResult: { validation: { required: true } },
                                CDate: { type: "date", validation: { required: true } },
                                ExceptionStatus: { nullable: true },
                                SketchMatter: { nullable: true },
                                OtherMatters: { nullable: true},
                                FilePath: { nullable: true }
                            }
                        }
                    }
                });
            }
            $("#query").kendoButton({
                click: function (e) {

                    genGrid();

                    if ($("#newgrid").data('kendoGrid') == null) {
                    } else {
                        $("#newgrid").data("kendoGrid").destroy();
                        $("#newgrid").empty();
                    }

                    $("#newgrid").kendoGrid({
                        dataSource: newgridDataSource,
                        sortable: true,
                        filterable: true,
                        pageable: true,
                        height: 550,
                        excel: {
                            fileName: "異常件查詢.xlsx",
                            allPages: true
                        },
                        columns: [
                            { field: "Id", title: "序號" },
                            { field: "CheckNumber", title: "託運單號" },
                            { field: "SendStation", title: "發送站" },
                            { field: "DesStation", title: "到著站" },
                            { field: "CDate", title: "回報日", format: "{0: yyyy/MM/dd HH:mm:ss}" },
                            { field: "ReportName", title: "回報人員" },
                            { field: "ReportStation", title: "回報站所" },                           
                            //{ field: "ReportMatter", title: "異常狀態" },
                            //{ field: "HandleResult", title: "處理結果" },
                            { field: "ExceptionStatus", title: "異常狀態" },
                            { field: "SketchMatter", title: "簡述項目" },
                            { field: "OtherMatters", title: "其他說明" },
                            { field: "FilePath", title: "檔案連結", template: '<a href=#=FilePath# target=_blank>#=FilePathText#</a>' },
                        ],
                        //dataBound: function () {
                        //    var rows = this.items();
                        //    $(rows).each(function () {
                        //        var index = $(this).index() + 1;
                        //        var rowLabel = $(this).find(".row-number");
                        //        $(rowLabel).html(index);
                        //    });
                        //},
                        height: "10cm"
                    });

   
                }
            });
        </script>
    </div>
</body>