﻿@{
    Layout = "~/Views/Shared/_LayoutAddMenu.cshtml";
}
<head>

</head>
<body>
    <br />
    <font size="10">發送未到</font>
    <br />
    <div id="station">
        發送站:
        <input id="stations" style="display: inline-block;" />
    </div>
    選擇客代:
    <input id="customerCode" style="display: inline-block;" />
    銷號狀況:
    <input id="abnormalRemarks" style="display: inline-block;" /><br />
    選擇區間(若不選擇，則視為今日):
    <div id="daterangepicker"></div>
    註區碼:(目前尚無功能)<input id="justempty" style="display: inline-block;" /><br />
    <button id="query">查詢</button>
    <div id="excel">
        <a class="offline-button" href="javascript:getExcel();">下載Excel</a>
    </div>
    <div id="failDeliveryGrid"></div>
    <script>
        $("#excel").hide();

        var tempStationCode = "";
        $(document).ready(function () {
            $("#daterangepicker").kendoDateRangePicker({
                range: {
                    start: new Date(),
                    end: new Date()
                }
            });

            function onChange() {
                var range = this.range();
                startDate = kendo.toString(range.start, 'd');
                endDate = kendo.toString(range.end, 'd')
            }

            $("#stations").kendoDropDownList({
                filter: "startswith",
                dataTextField: "ShowName",
                dataValueField: "StationSCode",
                dataSource: {
                    type: "odata",
                    serverFiltering: true,
                    transport: {
                        read: {
                            url: "/KendoSelect/GetStation",
                        }
                    }
                },
                change: function (e) {
                    var afterSelectStationURL = "";
                    if ($("#stations").data("kendoDropDownList").value() != -1) {
                        afterSelectStationURL = "/KendoSelect/GetCustomer?stationCode=F" + $("#stations").data("kendoDropDownList").value();
                    } else if ("@ViewBag.isMaster.ToString()" == "True") {
                        afterSelectStationURL = "/KendoSelect/GetCustomer";
                    } else {
                        afterSelectStationURL = "/KendoSelect/GetCustomer?stationCode=" + "@ViewBag.AccountStation";
                    }
                    $("#customerCode").width(500).kendoDropDownList({
                        filter: "startswith",
                        dataTextField: "ShowName",
                        dataValueField: "CustomerCode",
                        dataSource: {
                            type: "odata",
                            serverFiltering: true,
                            transport: {
                                read: {
                                    url: afterSelectStationURL,
                                }
                            }
                        },
                    }).data("kendoDropDownList");
                }
            });
        });

        var loginAccountListURL = "";
        if ("@ViewBag.IsMaster.ToString()" == "True") {
            loginAccountListURL = "/KendoSelect/GetCustomer"
        } else {
            loginAccountListURL = "/KendoSelect/GetCustomer?stationCode=" + "@ViewBag.AccountStation";
        }

        var customers = $("#customerCode").width(500).kendoDropDownList({
            filter: "startswith",
            dataTextField: "ShowName",
            dataValueField: "CustomerCode",

            dataSource: {
                type: "odata",
                transport: {
                    read: {
                        url: loginAccountListURL
                    },
                }
            }
        }).data("kendoDropDownList");
        /*$("#daterangepicker").kendoDateRangePicker({
            range: {
                start: new Date(),
                end: new Date()
            }
        });

        $(document).ready(function () {
            var stations = $("#stations").kendoDropDownList({
                optionLabel: "全站所",
                change: onChange,
                filter: "startswith",
                filtering: function (e) {
                    var filter = e.filter;
                },
                dataTextField: "name",
                dataValueField: "code",
                height: 200,
                dataSource: {
                    transport: {
                        read: {
                            url: "/FailDelivery/GetAllStations",
                            dataType: "json"
                        }
                    }
                }
            }).data("kendoDropDownList");


            function onChange() {
                customers = $("#customers").width(500).kendoDropDownList({
                optionLabel: "全客代",
                height: 200,
                dataTextField: "CustomerCode",
                dataValueField: "CustomerCode",
                value: "ViewBag.AccountCode",
                dataSource: {
                    transport: {
                        read: {
                            url: "/FailDelivery/GetCustomerByStation?station=" + $("#stations").data("kendoDropDownList").value(),
                            dataType: "jsonp",
                        },
                    }
                }
        }).data("kendoDropDownList");
            }
        });*/
        if ("@ViewBag.isMaster.ToString()" == "False") { $('#station').hide(); }

        /*var customers = $("#customers").width(500).kendoDropDownList({
                optionLabel: "全客代",
                height: 200,
                dataTextField: "CustomerCode",
                dataValueField: "CustomerCode",
                value: "ViewBag.AccountCode",
                dataSource: {
                    transport: {
                        read: {
                            url: "/FailDelivery/GetCustomerByStation?station=" + "ViewBag.AccountStation",
                            dataType: "jsonp",
                        },
                    }
                }
        }).data("kendoDropDownList");*/

        var abnormalRemarks = $("#abnormalRemarks").kendoDropDownList({
            dataTextField: "text",
            dataValueField: "value",
            height: 200,
            dataSource: [
                {text: "貨件多出"}
            ]
        }).data("kendoDropDownList");

        var failDeliveryDataSource = new kendo.data.DataSource({
            transport: {
                read: {
                    url: "/FailDelivery/GetFailDelivery",
                    dataType: "jsonp",
                    cache: false,
                    data: function () {
                        return {
                            startinput: $('.k-textbox')[0].value,
                            endinput: $('.k-textbox')[1].value,
                            supplierstation: $('.k-input')[0].innerText,
                            customercode: $('.k-input')[1].innerText,
                            abnormalremarkstext: $('.k-input')[2].innerText,
                            ismaster: "@ViewBag.IsMaster",
                            accountstation: "@ViewBag.AccountStation"
                        };
                    }
                },

                parameterMap: function (data) {
                    return "json=" + kendo.stringify(data);
                }
            },
            batch: true,
            pageSize: 20,
            schema: {
                model: {
                    id: "Id",
                    fields: {
                        SupplierStation: { validation: { required: true } },
                        ArriveStation: { validation: { required: true } }
                    }
                }
            }
        });

        function getExcel() {
            $("#failDeliveryGrid").getKendoGrid().setOptions({ excel: {allPages:true}})
            $("#failDeliveryGrid").getKendoGrid().saveAsExcel("1");
        }

        $("#query").kendoButton({
            click: function (e) {
                if ($("#failDeliveryGrid").data('kendoGrid') == null) {
                } else {
                    $("#failDeliveryGrid").data("kendoGrid").dataSource.read();
                    $("#failDeliveryGrid").data("kendoGrid").refresh();
                }
                $("#excel").show();

                $("#failDeliveryGrid").kendoGrid({
                    dataSource: failDeliveryDataSource,
                    pageable: true,
                    height: 550,
                    columns: [
                        { field: "Index", title: "No." },
                        { field: "ShipDateString", title: "發送日" },
                        { field: "SupplierStation", title: "發送站" },
                        { field: "ArriveStation", title: "到著站" },
                        { field: "CheckNumber", title: "貨號" },
                        { field: "CustomerShortName", title: "出貨人" },
                        { field: "SupplierPieces", title: "發送件數" },
                        { field: "ArrivePieces", title: "到著件數" },
                        { field: "ReceiveContact", title: "收貨人" },
                        { field: "AbnormalRemarksText", title: "異常說明" },
                        { field: "", title: "說明", }
                    ]
                });
            }
        });
    </script>
</body>