﻿
@{
    Layout = "~/Views/Shared/_LayoutAddMenu.cshtml";
}

<style>
</style>

<div class="demo-section k-content">
    <h3>客戶應收帳款</h3>

    <form style="margin-top: 2em;" id="form" method="post" enctype="multipart/form-data" asp-controller="CustomerShouldPay" asp-action="ImportFile">
        <input type="file" accept="application/vnd.ms-excel,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" name="file" id="file" />
        <button class="k-button" id="upload">上傳電子發票檔</button>
    </form>

    <h4 style="margin-top: 2em;">結帳月份</h4>
    <input id="monthpicker" title="monthpicker" style="width: 100%" />

    <h4 style="margin-top: 2em;">發送站</h4>
    <input id="stations" value="" style="width: 100%" />

    <h4 style="margin-top: 2em;">客代</h4>
    <input id="customerCode" value="" style="width: 100%" />

    <h4 style="margin-top: 2em;">支付狀態</h4>
    <input id="isPaid" value="" style="width: 100%" />

    <button id="search">查詢</button>
    <button type="button" class="k-button" id="printGrid">列印</button>

    <button id="test" class="k-button">下載Excel</button>
</div>

<div id="grid"></div>
<div id="gridForExcel" style="visibility:hidden"></div>

<script>

    var customerCode = "";
    var stationCode = "@ViewBag.Station";

    $(document).ready(function () {

        $("#monthpicker").kendoDatePicker({
            start: "year",
            depth: "year",
            format: "MMMM yyyy",
            dateInput: true,
            culture: "zh-TW"
        });

        GenCustomerData();

        $("#stations").kendoDropDownList({
            filter: "startswith",
            dataTextField: "ShowName",
            dataValueField: "StationCode",
            value: "@ViewBag.Station",
            dataSource: {
                type: "odata",
                serverFiltering: true,
                transport: {
                    read: {
                        url: "/KendoSelect/GetStationFromTbStation?isNeedAllStation=false"
                    }
                }
            },
            select: function (e) {
                if ("@ViewBag.Station".length > 0) {
                    e.preventDefault();
                }
            },
            change: function (e) {
                var value = this.value();
                $("#customerCode").data("kendoDropDownList").value(-1);
                stationCode = value;
                GenCustomerData();
            }
        });

        var isPaidData = [
            {text: "全部", value: -1},
            {text: "已支付", value: 1},
            {text: "未支付", value: 0}
        ];

        $("#isPaid").kendoDropDownList({
            dataTextField: "text",
            dataValueField: "value",
            dataSource: isPaidData
        });
    });

    function GenCustomerData() {
        var getCustomerUrl = "/KendoSelect/GetCustomer?stationCode=" + stationCode;

        $("#customerCode").kendoDropDownList({
            filter: "startswith",
            dataTextField: "ShowName",
            dataValueField: "CustomerCode",
            dataSource: {
                type: "odata",
                serverFiltering: true,
                transport: {
                    read: {
                        url: getCustomerUrl
                    }
                }
            },
            change: function (e) {
                var value = this.value();
            }
        });
    }

    var dataSource = new kendo.data.DataSource({
        transport: {
            read: {
                url: "GetCustomerShouldPayEntity",
                dataType: "jsonp",
                data: function () {
                    return {
                        date: $("#monthpicker").data("kendoDatePicker").value(),
                        stationCode: $("#stations").data("kendoDropDownList").value(),
                        customerCode: $("#customerCode").data("kendoDropDownList").value(),
                        isPaid: $("#isPaid").data("kendoDropDownList").value()
                    }
                }
            },
            update: {
                url: "UpdateAccountReceivable",
                dataType: "jsonp"
            },
            parameterMap: function (data, type) {
                if (type == "read") {
                    return "filter=" + kendo.stringify(data);
                } else {
                    return {
                        models: kendo.stringify(data.models),
                        stringDate: kendo.toString($("#monthpicker").data("kendoDatePicker").value(), "yyyy-MM-dd")
                    };
                }
            }
        },
        batch: true,
        pageSize: 100,
        schema: {
            model: {
                id: "Id",
                fields: {
                    Id: { editable: false, nullable: true },
                    InvoiceId: { editable: false, type: "string" },
                    CustomerCode: { editable: false, type: "string" },
                    CustomerName: { editable: false, type: "string" },
                    TotalShouldPay: { editable: false, type: "number" },
                    Peices: { editable: false, type: "string" },
                    IsPaid: { type: "boolean" },
                    PaidDate: { type: "date", format: "{yyyy-MM-dd}" },
                    ElectricReceipt: { editable: false, type: "string", nullable: true }
                }
            }
        }
    });

    $("#search").kendoButton({
        click: function (e) {
            var filterData = {
                date: $("#monthpicker").data("kendoDatePicker").value(),
                stationCode: $("#stations").data("kendoDropDownList").value(),
                customerCode: $("#customerCode").data("kendoDropDownList").value(),
                isPaid: $("#isPaid").data("kendoDropDownList").value()
            };
            getData();

            // 視窗下拉到表格位置
            let gridOnePosition = $("#grid").offset().top;
            $("html, body").animate({ scrollTop: gridOnePosition }, 200);
        }
    });

    $('#printGrid').click(function () {
        printGrid();
    });


    function customBoolEditor(container, options) {
        $('<input class="k-checkbox" type="checkbox" name="IsPaid" data-type="boolean" data-bind="checked:IsPaid"><span> 已支付</span>').appendTo(container);
    }

    function showDetails(e) {
        e.preventDefault();

        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));

        var year = kendo.toString($("#monthpicker").data("kendoDatePicker").value().getFullYear());
        var month = kendo.toString($("#monthpicker").data("kendoDatePicker").value().getMonth() + 1);

        window.open("ViewDetailByCustomer?customerCode=" + dataItem.CustomerCode + "&year=" + year + "&month=" + month);
    }

    function getData() {
        if (!$("#grid").data("kendoGrid")) {
            $("#grid").kendoGrid({
                dataSource: dataSource,
                sortable: {
                    mode: "multiple",
                    allowUnsort: true
                },
                height: 500,
                columns: [
                    { field: "InvoiceId", title: "請款編號" },
                    { field: "CustomerCode", title: "客戶代號" },
                    { field: "CustomerName", title: "客戶名稱" },
                    { field: "TotalShouldPay", title: "應收帳款<br/>總金額" },
                    { field: "Peices", title: "總件數" },
                    { field: "IsPaid", title: "支付狀態", editor: customBoolEditor, template: '<span #= IsPaid ? "" : \'hidden="hidden"\' # >已支付</span>' },
                    { field: "PaidDate", title: "支付日期", template: '#= kendo.toString(PaidDate, "yyyy-MM/dd" ) #' },
                    { field: "ElectricReceipt", title: "電子發票" },
                    { command: { text: "帳款明細", click: showDetails, className: "detail" }, title: "&nbsp;", width: "100px" },
                    { command: ["edit"], title: "&nbsp;", width: "100px" }
                ],
                editable: "inline",
                dataBound: function (e) {
                    // 站所人員/當月不能編輯
                    if ("@ViewBag.Station".length > 0 ||
                        (new Date().getMonth() == $("#monthpicker").data("kendoDatePicker").value().getMonth()
                            && new Date().getFullYear() == $("#monthpicker").data("kendoDatePicker").value().getFullYear())) {
                        $(".k-grid-edit").addClass("k-state-disabled");
                    }
                }
            });
        }
        else {
            $("#grid").data("kendoGrid").dataSource.read();
        }
    }

    function printGrid() {
        var gridElement = $('#grid'),
            printableContent = '',
            win = window.open('', '', 'width=800, height=500'),
            doc = win.document.open();

        var htmlStart =
            '<!DOCTYPE html>' +
            '<html>' +
            '<head>' +
            '<meta charset="utf-8" />' +
            '<title>Kendo UI Grid</title>' +
            '<link href="https://kendo.cdn.telerik.com/' + kendo.version + '/styles/kendo.common.min.css" rel="stylesheet" /> ' +
            '<style>' +
            'html { font: 11pt sans-serif; }' +
            '.k-grid { border-top-width: 0; }' +
            '.k-grid, .k-grid-content { height: auto !important; }' +
            '.k-grid-content { overflow: visible !important; }' +
            '.k-grid .k-grid-header th { border-top: 1px solid; }' +
            '.k-grid-toolbar, .k-grid-pager > .k-link { display: none; }' +
            '</style>' +
            '</head>' +
            '<body>';

        var htmlEnd =
            '</body>' +
            '</html>';

        var gridHeader = gridElement.children('.k-grid-header');
        if (gridHeader[0]) {
            var thead = gridHeader.find('thead').clone().addClass('k-grid-header');
            printableContent = gridElement
                .clone()
                .children('.k-grid-header').remove()
                .end()
                .children('.k-grid-content')
                .find('table')
                .first()
                .children('tbody').before(thead)
                .end()
                .end()
                .end()
                .end()[0].outerHTML;
        } else {
            printableContent = gridElement.clone()[0].outerHTML;
        }

        doc.write(htmlStart + printableContent + htmlEnd);
        doc.close();
        win.print();
    }

    $("#test").click(function () {
        var options = {
            columns: [
                { field: "Year", title: "年度" },
                { field: "InvoiceId", title: "進銷單號碼" },
                { field: "Date", title: "日期" },
                { field: "Danbiye", title: "單別" },
                { field: "CustomerCodeForExcel", title: "客戶供應商" },
                { field: "CustomerCodeForExcel", title: "請款客戶" },
                { field: "No", title: "序號" },
                { field: "No", title: "產品代號" },
                { field: "Tax", title: "稅別" },
                { field: "ContainTax", title: "「單價含稅否」欄位" },
                { field: "PiecesForExcel", title: "數量" },
                { field: "TotalShouldPayWithoutTax", title: "未稅單價" },
                { field: "TotalShouldPayWithoutTax", title: "未稅金額" }
            ],
            columnMenu: {
                columns: true
            },
            dataSource: dataSource
        }
        options.columns.push({ field: "Empty", title: "製成品代號" });
        options.columns.push({ field: "Empty", title: "生產數量" });
        options.columns.push({ field: "Empty", title: "發票號碼" });
        options.columns.push({ field: "Empty", title: "發票日期" });
        options.columns.push({ field: "Empty", title: "傳票類別" });
        options.columns.push({ field: "Empty", title: "明細備註" });
        options.columns.push({ field: "Empty", title: "明細備註二" });
        options.columns.push({ field: "Empty", title: "主檔備註" });
        options.columns.push({ field: "Empty", title: "序號(客供商聯絡人)" });
        options.columns.push({ field: "Empty", title: "進銷特殊欄位" });
        options.columns.push({ field: "Empty", title: "序號(客戶供應商統編)" });
        options.columns.push({ field: "Empty", title: "序號(客戶供應商地址)" });
        options.columns.push({ field: "Empty", title: "包裝別" });
        options.columns.push({ field: "Empty", title: "外幣代號" });
        options.columns.push({ field: "Empty", title: "匯率" });
        options.columns.push({ field: "Empty", title: "外幣未稅單價" });
        options.columns.push({ field: "Empty", title: "外幣未稅金額" });
        options.columns.push({ field: "Empty", title: "訂單單號" });
        options.columns.push({ field: "Empty", title: "採購單號" });
        options.columns.push({ field: "Empty", title: "業務員代號" });
        options.columns.push({ field: "Empty", title: "部門\工地編號" });
        options.columns.push({ field: "Empty", title: "專案\項目編號" });
        $("#gridForExcel").kendoGrid(options);
        $("#gridForExcel").getKendoGrid().saveAsExcel();
    })
</script>