﻿
@{
    ViewData["Title"] = "ShippingFeeEditor";
    Layout = "~/Views/Shared/_LayoutAddMenu.cshtml";
}

<div class="demo-section k-content">

    <h4>站所</h4>
    <input id="stations" value="" style="width: 100%" />

    <h4 style="padding-top:20px">出貨客代</h4>
    <input id="customers" value="" style="width: 100%" />

    <button id="search" class="offline-button">查詢</button>
    <a class="k-button" href="javascript:getExcel();">匯出Excel</a>

</div>

<div id="grid"></div>

<script>

    var stationCode = "";
    var dataSource;

    $(document).ready(function () {

        $("#stations").kendoDropDownList({
            filter: "startswith",
            dataTextField: "ShowName",
            dataValueField: "StationCode",
            value: "",
            dataSource: {
                type: "odata",
                serverFiltering: true,
                transport: {
                    read: {
                        url: "/KendoSelect/GetStation"
                    }
                }
            },
            change: function (e) {
                var value = this.value();
                $("#customers").data("kendoDropDownList").value(-1);
                stationCode = value;
                GenCustomerData();
            }
        });

        GenCustomerData();
    });

    function GenCustomerData() {
        var customers = $("#customers").kendoDropDownList({
            filter: "startswith",
            dataTextField: "ShowName",
            dataValueField: "CustomerCode",
            dataSource: {
                type: "odata",
                serverFiltering: true,
                transport: {
                    read: {
                        url: "/KendoSelect/GetCustomer?stationCode=" + stationCode,
                    }
                }
            }
        });
    }

    function getExcel() {

        var month = new Date().getMonth() + 1;

        var station = $("#stations").data("kendoDropDownList").text() + "_";

        var fileName = "零擔客戶運價表";

        if ($("#stations").data("kendoDropDownList").value() != "")
            fileName = month + "月_" + station + fileName
        else
            fileName = month + "月_" + fileName

        var grid = $("#grid").data("kendoGrid");
        grid.setOptions({
            excel: {
                allPages: true,
                fileName: fileName
            }
        });
        grid.saveAsExcel();
    }

    function rereadData() {
        dataSource = new kendo.data.DataSource({
            transport: {
                read: {
                    url: "GetShippingFeeEntity",
                    dataType: "jsonp",
                    cache: false,
                    data: function () {
                        return {
                            StationCode: $("#stations").data("kendoDropDownList").value(),
                            CustomerCode: $("#customers").data("kendoDropDownList").value()
                        };
                    }
                },
                update: {
                    url: "UpdateShippingFee",
                    dataType: "jsonp"
                },
                parameterMap: function (options, type) {
                    if (type == "read")
                        return { filter: kendo.stringify(options) };
                    else if (options.models) {
                        return { models: kendo.stringify(options.models) };
                    }
                }
            },
            batch: true,
            pageSize: 100,
            schema: {
                model: {
                    id: "Id",
                    fields: {
                        // Id: { editable:false, nullable: true },
                        StationName: { type: "string", editable: false },
                        CustomerCode: { type: "string", editable: false },
                        CustomerName: { type: "string", editable: false },
                        NoOne: { type: "number" },
                        NoTwo: { type: "number" },
                        NoThree: { type: "number" },
                        NoFour: { type: "number" },
                        S60: { type: "number" },
                        S90: { type: "number" },
                        S110: { type: "number" },
                        S120: { type: "number" },
                        S150: { type: "number" },
                        S180: { type: "number" },
                        HolidayPrice: { type: "number" },
                        PieceRate: { type: "number" },
                        LianYun: { type: "number" },
                        EffectiveDate: { type: "date" },
                    }
                }
            }
        });
    }
    
    $("#search").kendoButton({
        click: function (e) {
            rereadData();

            if ($("#grid").data("kendoGrid")) {                
                $("#grid").data("kendoGrid").dataSource.read();
            }

            $("#grid").html('').kendoGrid({
                dataSource: dataSource,
                sortable: {
                    mode: "multiple",
                    allowUnsort: true
                },
                height: 500,
                columns: [
                    { field: "StationName", title: "站所"},
                    { field: "CustomerCode", title: "客戶代號" },
                    { field: "CustomerName", title: "客戶名稱" },
                    { field: "NoOne", title: "1號袋", width: "50px" },
                    { field: "NoTwo", title: "2號袋", width: "50px" },
                    { field: "NoThree", title: "3號袋", width: "50px" },
                    { field: "NoFour", title: "4號袋", width: "50px" },
                    { field: "S60", title: "S60", width: "50px" },
                    { field: "S90", title: "S90", width: "50px"},
                    { field: "S110", title: "S110", width: "50px" },
                    { field: "S120", title: "S120", width: "50px"},
                    { field: "S150", title: "S150", width: "50px", width: "50px"},
                    { field: "HolidayPrice", title: "假日加價", width: "70px"},
                    { field: "PieceRate", title: "續件", width: "50px" },
                    { field: "LianYun", title: "聯運", width: "50px" },
                    { field: "EffectiveDate", title: "生效日期", format: "{0:yyyy/MM/dd}" },
                    {
                        command: [{ name: "edit", text: { edit: "編輯", update: "儲存", cancel: "取消" } }], title: "修改", width: "100px"
                    }],
                editable: "popup",
                dataBinding: function (e) {
                    dataSource = new kendo.data.DataSource({
                        data: []
                    });
                }
            });
           
            // 視窗下拉到表格位置
            let gridOnePosition = $("#grid").offset().top;
            $("html, body").animate({ scrollTop: gridOnePosition }, 200);
        }
    });
</script>

