﻿@{
    ViewData["Title"] = "KendoTest";
    Layout = "~/Views/Shared/_LayoutAddMenu.cshtml";
}
<div id="container">
    <div class="demo-section k-content" style="display:table">
        <ul>
            <li>
                <label>
                    D為通知日期，資料範圍如下說明<br>
                    一般：【D-1的16:00】至【D的16:00】<br>
                    甲配：【D-2的17:00】至【D-1的17:00】<br>
                </label>
                <div id="daterangepicker" title="daterangepicker"></div>
            </li>
            <li>
                <label>
                    發送站:
                    <input id="station" name="station" />
                </label>
            </li>
            <li>
                <label>
                    類型:
                    <span><input type="radio" name="customer_type" id="customer_type_A" value="1" /><label for="customer_type_A">甲配</label></span>
                    <span><input type="radio" name="customer_type" id="customer_type_normal" value="2" checked="checked" /><label for="customer_type_normal">一般</label></span>
                </label>
            </li>
            <li>
                <label>
                    客戶名稱:
                    <input id="customerCode" style="width:300px" />
                </label>
            </li>
            <li>
                <label>
                    最新狀態:
                    <select id="isPickUped">
                        <option value="-1">全部</option>
                        <option value="0">未集貨</option>
                        <option value="1">已集貨</option>
                    </select>
                </label>
            </li>
            <li>
                <a class="offline-button" href="javascript:findInfo();">查詢</a>
                <a class="offline-button" href="javascript:getExcel();">匯出Excel</a>
            </li>
            <li>
                <input id="batchOptions" />
                <a class="offline-button" href="javascript:batchUpdate();">批次修改</a>
            </li>
            <li>
                <label>
                    標籤格式:
                    <select id="receiptType">
                        <option value="0">A4標籤</option>
                        <option value="1">捲筒標籤</option>
                    </select>
                    <a class="offline-button" href="javascript:printReceipt();">列印</a>
                </label>
        </ul>
    </div>
    <div id="example">
        <div id="grid"></div>
        <script>
            var startDate = "";
            var endDate = "";
            var stationCode = "@ViewBag.Station";
            var myGetUrl = "";
            var myDataType = "0";

            $(document).ready(function () {
                $("#daterangepicker").kendoDateRangePicker({
                    range: {start:new Date(),end:new Date()},
                    change: onChange
                });

                function onChange() {
                    var range = this.range();
                    startDate = kendo.toString(range.start, 'd');
                    endDate = kendo.toString(range.end, 'd')
                }

                $("#station").kendoDropDownList({
                    filter: "startswith",
                    dataTextField: "ShowName",
                    dataValueField: "StationCode",
                    value: "@ViewBag.Station",
                    dataSource: {
                        type: "odata",
                        serverFiltering: true,
                        transport: {
                            read: {
                                url: "/KendoSelect/GetStation",
                            }
                        }
                    },
                    select: function (e) {
                        if ("@ViewBag.Station".length > 0) {
                            e.preventDefualt();
                        }
                    },
                    change: function (e) {
                        var value = this.value();
                        stationCode = value;
                        customerCodeFunction();
                    }
                });

                customerCodeFunction(-1);

                $("#isPickUped").kendoDropDownList();

                /*$("#batchOptions").kendoDropDownList({
                    dataTextField: "Name",
                    dataValueField: "OptionId",
                    dataSource: {
                        type: "odata",
                        transport: {
                            read: {
                                url: "/PickUpInfo/GetRoArrayForBatch"
                            }
                        }
                    }
                });*/

                var optionsForBatch;
                $.ajax({
                    url: "/PickUpInfo/GetRoArray",
                    dataType: "json",
                    type: "POST",
                    contentType: "text/html;charset=utf-8",
                    complete: function (result) {
                        optionsForBatchJson = JSON.parse(result.responseText);
                        $("#batchOptions").kendoDropDownList({
                            dataTextField: "Name",
                            dataValueField: "OptionId",
                            dataSource: optionsForBatchJson
                        });
                    },
                });

                var now = new Date();
                var nowYyyy = now.getFullYear();
                var nowMm = now.getMonth() + 1;
                var nowDd = now.getDate();
                startDate = nowYyyy + "/" + nowMm + "/" + nowDd;
                endDate = nowYyyy + "/" + nowMm + "/" + nowDd;

                // 類型是甲配的時候客戶只有蝦皮(目前 2021/04/07)
                $('input[name="customer_type"]').change(function () {
                    customerCodeFunction();
                });
            });

            var customerCodeFunction = function () {
                if ($('input[name = "customer_type"]:checked').val() == "2") {
                    let paras = "";
                    if ($("#station").data("kendoDropDownList").value() != "" && $("#station").data("kendoDropDownList").value() != -1) {
                        paras += "?stationCode=" + $("#station").data("kendoDropDownList").value();
                    }
                    $("#customerCode").kendoDropDownList({
                        filter: "startswith",
                        dataTextField: "ShowName",
                        dataValueField: "CustomerCode",
                        value: "@ViewBag.Station",
                        dataSource: {
                            type: "odata",
                            serverFiltering: true,
                            transport: {
                                read: {
                                    url: "/KendoSelect/GetCustomer" + paras,
                                }
                            }
                        },
                        autoWidth: true
                    });
                } else {
                    $("#customerCode").kendoDropDownList({
                        dataTextField: "ShowName",
                        dataValueField: "CustomerCode",
                        dataSource: [
                            { ShowName: "新加坡商蝦皮娛樂電商有限公司台灣分公司(F1300600002)", CustomerCode: "F1300600002"},
                            { ShowName: "光年專用(F2900210002)", CustomerCode: "F2900210002"}
                        ],
                        autoWidth:true
                    });
                }
            }

            function datediff(first, second) {
                return Math.round((second - first) / (1000 * 60 * 60 * 24));
            }

            function findInfo() {
                var myreturn = checkInput(stationCode);

                if (!myreturn) {
                    return false;
                }

                kendo.ui.progress($("#container"), true);

                var myGrid = $("#grid").data("kendoGrid");

                if (typeof myGrid !== "undefined") {
                    myGrid._progress(1);
                }

                var optionsForRo;
                $.ajax({
                    url: "/PickUpInfo/GetRoArray",
                    dataType: "json",
                    type: "POST",
                    contentType: "text/html;charset=utf-8",
                    complete: function (result) {
                        optionsForRo = JSON.parse(result.responseText);
                        genGrid(optionsForRo);
                    },
                });
            }

            function checkInput(station) {
                if (startDate == "") {
                    alert("必須設定啟始日期");
                    return false;
                }

                if (endDate == "") {
                    alert("必須設定迄止日期");
                    return false;
                }

                var mystart = new Date(startDate);
                var myend = new Date(endDate);

                var datediffnum = datediff(mystart, myend);

                if (datediffnum > 30 && $('#isPickUped').val() == 0) {
                    alert("未集貨間隔時間須小於30天");
                    return false;
                } else if (datediffnum > 7 && $('#isPickUped').val() != 0) {
                    alert("已集貨、全部集貨間隔時間須小於7天");
                    return false;
                }

                if (station == "" && $("#customerCode").val() == "") {
                    alert("必須設定站所或客代");
                    return false;
                }

                return true;
            }

            function genGrid(optionsForRo) {
                if ($("#grid").data("kendoGrid") == null) { }
                else
                {
                    $("#grid").data("kendoGrid").destroy();
                    $("#grid").empty();
                }
                var getUrl = "GetPickUpInfoGrid?stationCode=" + stationCode + "&start=" + startDate + "&end=" + endDate
                    + "&customerCode=" + $("#customerCode").data("kendoDropDownList").value()
                    + "&isPickUped=" + $("#isPickUped").data("kendoDropDownList").value()
                    + "&isNormal=" + $('input[name = "customer_type"]:checked').val();

                myGetUrl = getUrl;

                var dataSource = new kendo.data.DataSource(
                    {
                        transport: {
                            read: {
                                url: myGetUrl,
                                dataType: "jsonp"
                            },
                            update: {
                                url: "/PickUpInfo/UpdateAbnormalPickUpInfo",
                                dataType: "jsonp"
                            },
                            parameterMap: function (options, operation) {
                                if (operation !== "read" && options.models) {
                                    if (options.models[0].OptionSelector) {
                                        options.models[0].StatusInCode = options.models[0].OptionSelector.OptionId;
                                        options.models[0].StatusInName = options.models[0].OptionSelector.Name;
                                    }
                                    return {
                                        models: kendo.stringify(options.models),
                                        accountCode: "@ViewBag.AccountCode",
                                        isNormal: $('input[name = "customer_type"]:checked').val()
                                    };
                                }
                            }
                        },
                        requestEnd: function (e) {
                            kendo.ui.progress($("#container"), false);
                        },
                        pageSize: 50,
                        batch: true,
                        schema: {
                            model: {
                                id: "No",
                                fields: {
                                    Id: { editable: false, nullable: true },
                                    No: { validation: { required: false }, editable: false },
                                    PickupRequestId: { validation: { required: false }, editable: false },
                                    RequestId: { validation: { required: false }, editable: false },
                                    NotifyDate: { validation: { required: false }, type: "date", editable: false },
                                    CustomerName: { validation: { required: false }, editable: false },
                                    CustomerCode: { validation: { required: false }, editable: false },
                                    ShipType: { validation: { required: false }, editable: false },
                                    VehicleType: { validation: { required: false }, editable: false},
                                    ShouldPickUpPieces: { validation: { required: false }, editable: false },
                                    ActualPickUpPieces: { validation: { required: false }, editable: false},
                                    PickUpAvailTime: { validation: { required: false }, nullable: true, editable: false },
                                    Remark: { validation: { required: false }, editable: false },
                                    PickUpState: { validation: { required: false }, editable: false},
                                    PickUpDriver: { validation: { required: false }, editable: false },
                                    LatestUpdateDate: { validation: { required: false }, editable: false},
                                    AssignedSd: { validation: { required: false }, editable: false },
                                    AssignedMd: { validation: { required: false }, editable: false},
                                    SendContact: { validation: { required: false }, editable: false },
                                    SendPhone: { validation: { required: false }, editable: false },
                                    SendAddress: { validation: { required: false }, editable: false},
                                    CheckNumber: { validation: { required: false }, editable: false },
                                    PickUpStation: { validation: { required: false }, editable: false },
                                    ArriveStation: { validation: { required: false }, editable: false },
                                    ReceiveAddress: { validation: { required: false }, editable: false },
                                    Ruser: { validation: { required: false }, editable: false },
                                    StatusInName: { validation: { required: false } },
                                    PutOrder: { validation: { required: false }, editable: false },
                                    ReassignMd: { validation: { required: false } },
                                    MdUpdateUser: { validation: { required: false }, editable: false }
                                }
                            }
                        }
                    });

                var grid = $("#grid").kendoGrid({
                    dataBound: function () {
                        //kendo.ui.progress($("#container"), false);
                    },
                    dataSource: dataSource,
                    groupable: true,
                    columnMenu: true,
                    sortable: true,
                    filterable: true,
                    pageable: {
                        refresh: true,
                        pageSizes: [20, 30, 50],
                        buttonCount: 5
                    },
                    columns: [{
                        title: 'Select All',
                        headerTemplate: "<input type='checkbox' id='header-chb' class='k-checkbox header-checkbox'>",
                        template: function (dataItem) {
                            if (dataItem.IsAllowEdit == false) {
                                return "<div></div>";
                            } else {
                                return "<input type='checkbox' id='" + dataItem.No + "' class='k-checkbox row-checkbox'>";
                            }
                        },
                        width: "100px"
                    }, {
                            command: [{
                                name: "edit",
                                text: { edit: "編輯", update: "修改", cancel: "取消" }
                            }],
                            title: "狀態調整",
                            width: "100px"
                    }, {
                        field: "No",
                        title: "序號",
                        width: "100px"
                    }, {
                        field: "NotifyDate",
                        format: "{0: yyyy-MM-dd HH:mm:ss}",
                        title: "通知日期",
                        width: "120px"
                    } ,{
                        field: "PickupRequestId",
                        width: "100px",
                        hidden: true
                    } ,{
                        field: "RequestId",
                        width: "100px",
                        hidden: true
                    } ,{
                        field: "CustomerName",
                        title: "客戶名稱",
                        width: "120px"
                    }, {
                        field: "CustomerCode",
                        title: "客戶編號",
                        width: "120px"
                    }, {
                        field: "CheckNumber",
                        title: "貨號",
                        width: "150px"
                    }, {
                        field: "PickUpStation",
                        title: "發送站",
                        width: "100px"
                    }, {
                        field: "ArriveStation",
                        title: "到著站",
                        width: "100px"
                    }, {
                        field: "ReceiveAddress",
                        title: "地址",
                        width: "100px"
                    }, {
                        field: "ShipType",
                        title: "規格",
                        width: "100px"
                    }, {
                        field: "VehicleType",
                        title: "載具",
                        width: "100px"
                    }, {
                        field: "ShouldPickUpPieces",
                        title: "原集貨筆數",
                        width: "120px"
                    }, {
                        field: "ActualPickUpPieces",
                        title: "實際集貨筆數",
                        width: "120px"
                    }, {
                        field: "PickUpAvailTime",
                        title: "收件時間",
                        width: "120px"
                    }, {
                        field: "Remark",
                        title: "提醒事項",
                        width: "120px"
                    }, {
                        template: "<span>#= ActualPickUpPieces > 0 ? '已集貨' : '未集貨'#</span>",
                        title: "最新狀態",
                        width: "100px"
                    }, {
                        title: "集貨失敗原因",
                        field: "StatusInCode", // bound to the brandId field
                        template: function optionName(dataItem) {
                            for (var i = 0; i < optionsForRo.length; i++) {
                                    if (optionsForRo[i].OptionId == dataItem.StatusInCode) {
                                        return optionsForRo[i].Name;
                                    }
                            }
                            return "";
                            },
                            editor: function (container) { // use a dropdownlist as an editor
                                var input = $('<input id="OptionIdSelector" name="OptionSelector">');
                                // append to the editor container
                                input.appendTo(container);
                                input.kendoDropDownList({
                                    dataTextField: "Name",
                                    dataValueField: "OptionId",
                                    dataSource: optionsForRo // bind it to the brands array
                                }).appendTo(container);
                            },
                            editable: function (dataItem) {
                                return dataItem.IsAllowEdit;
                            },
                            width: "150px"

                    },{
                        field: "AssignedSd",
                        title: "SD",
                        width: "80px"
                    }, {
                        field: "AssignedMd",
                        title: "MD",
                        width: "80px"
                    }, {
                        title: "任務接收狀態",
                        width: "120px"
                    }, {
                        field: "SendContact",
                        title: "寄件人姓名",
                        width: "120px"
                    }, {
                        field: "SendPhone",
                        title: "寄件人電話",
                        width: "120px"
                    }, {
                        field: "SendAddress",
                        title: "寄件人地址",
                        width: "120px"
                    }, {
                        field: "Ruser",
                        title: "集貨失敗修改人",
                        width: "120px"
                    }, {
                        field: "PutOrder",
                        title: "堆疊區",
                        width: "100px"
                    }, {
                        field: "ReassignMd",
                        title: "改派 MD",
                        editor: function (container, options) {
                            MdDropDownEditor(container, options);
                        },
                        width: "120px"
                    }, {
                        field: "MdUpdateUser",
                        title: "改派修改人",
                        width: "120px"
                    }
                    ],
                    editable: "inline",
                    scrollable: true
                }).data("kendoGrid");

                $("#grid").data("kendoGrid").wrapper.find(".k-grid-header-wrap").off("scroll.kendoGrid");

                var myGrid = $("#grid").data("kendoGrid");
                myGrid.dataSource.read();
                myGrid.refresh();

                var checkedIds = {};

                function MdDropDownEditor(container, options) {
                    $('<input name="' + options.field + '"/>')
                        .appendTo(container)
                        .kendoDropDownList({
                            autoBind: false,
                            filter: "contains",
                            valuePrimitive: true,
                            dataTextField: "showName",
                            dataValueField: "value",
                            dataSource: {
                                type: "jsonp",
                                transport: {
                                    read: "GetMdDropDown"
                                }
                            }
                        });
                }

                //on click of the checkbox:
                function selectRow() {
                    var checked = this.checked,
                        row = $(this).closest("tr"),
                        grid = $("#grid").data("kendoGrid"),
                        dataItem = grid.dataItem(row);

                    checkedIds[dataItem.id] = checked;

                    if (checked) {
                        //-select the row
                        row.addClass("k-state-selected");

                        var checkHeader = true;

                        $.each(grid.items(), function (index, item) {
                            if (!($(item).hasClass("k-state-selected"))) {
                                checkHeader = false;
                            }
                        });

                        $("#header-chb")[0].checked = checkHeader;
                    } else {
                        //-remove selection
                        row.removeClass("k-state-selected");
                        $("#header-chb")[0].checked = false;
                    }
                }
                

                grid.table.on("click", ".row-checkbox", selectRow);
                $('#header-chb').change(function (ev) {
                    var checked = ev.target.checked;
                    $('.row-checkbox').each(function (idx, item) {
                        if (checked) {
                            if (!($(item).closest('tr').is('.k-state-selected'))) {
                                $(item).click();
                            }
                        } else {
                            if ($(item).closest('tr').is('.k-state-selected')) {
                                $(item).click();
                            }
                        }
                    });
                });

                $("#showSelection").bind("click", function () {
                    var checked = [];
                    for (var i in checkedIds) {
                        if (checkedIds[i]) {
                            checked.push(i);
                        }
                    }
                });
            }

            function changeDataType() {
                myDataType = $("#dataType").val();
            }

            function getExcel() {
                var grid = $("#grid").data("kendoGrid");
                grid.setOptions({
                    excel: {
                        allPages: true
                    }
                });
                grid.saveAsExcel();
            }
            

            function batchUpdate() {
                var arr = [];
                for (var c = 1; c < $("#grid").data("kendoGrid").dataSource.data().length+1; c++) {
                    if ($("#" + c)[0] != undefined && $("#" + c)[0].checked == true)
                    {
                        arr.push($("#grid").data("kendoGrid").dataSource.data()[c - 1]);        //標籤id的c與index的c不同
                        arr[arr.length - 1].StatusInCode = $("#batchOptions").val();
                    }
                }

                $.ajax({
                    url: "/PickUpInfo/UpdateAbnormalPickUpInfo",
                    dataType: "json",
                    type: "POST",
                    data: {
                        models: JSON.stringify(arr),
                        accountCode: "@ViewBag.AccountCode"
                    },
                    complete: function(){
                        var myGrid = $("#grid").data("kendoGrid");
                        myGrid.dataSource.read();
                        myGrid.refresh();
                    }
                })
            }

            function printReceipt(){ 

                if ($('#customerCode').val() != "F1300600002")
                {
                  alert("一般客代標籤請至峻富雲端物流管理系統列印");
                }
              
                var requestIds = "";
                for (var c = 1; c < $("#grid").data("kendoGrid").dataSource.data().length + 1; c++) {
                    if ($("#" + c)[0] != undefined && $("#" + c)[0].checked == true) {
                        requestIds += $("#grid").data("kendoGrid").dataSource.data()[c - 1].RequestId + ",";
                    }
                }
                if (requestIds.length > 0) {
                    requestIds = requestIds.substring(0, requestIds.length - 1);
                }
                
                if ($('#receiptType').val() == "1") {
                    parent.window.location.replace("/DeliveryRequest/PrintLTReelLabel3_0?Ids=" + requestIds)
                }
                else if ($('#receiptType').val() == "0"){
                    parent.window.location.replace("/DeliveryRequest/PrintLTA4Label3_0?Ids=" + requestIds)
                }
            };
        </script>
    </div>
</div>
