﻿@{
    ViewData["Title"] = "KendoTest";
    Layout = "~/Views/Shared/_LayoutAddJFMenu.cshtml";
}
<div id="container">
    <div class="demo-section k-content">
        <h4>文中系統匯入檔</h4>
        <ul>
            <li>
                <label>
                    單別:
                    <span><input type="radio" name="OrderType" id="AccountReceive" value="20" checked="checked" /><label for="AccountReceive">應收帳款</label></span>
                    <span><input type="radio" name="OrderType" id="AccountPay" value="10" /><label for="AccountPay">應付帳款</label></span>
                </label>
            </li>
            <li>
                <label>
                    上傳日期區間:
                </label>
                <div id="daterangepickerUpload" title="daterangepickerUpload"></div>
            </li>
            <li>
                <label>
                    發生日期區間:
                </label>
                <div id="daterangepickerRegister" title="daterangepickerRegister"></div>
            </li>
            <li>
                <label>
                    下載紀錄:
                    <span><input type="checkbox" name="DownloadRecord" id="HasDownload" value="1" /><label for="HasDownload">已下載</label></span>&nbsp;&nbsp;
                    <span><input type="checkbox" name="DownloadRecord" id="HasNotDownload" value="0" checked="checked" /><label for="HasNotDownload">未下載</label></span>
                </label>
            </li>
            <li>
                <label>
                    權責單位:
                    <input id="department" style="width: 100%;" />
                </label>
            </li>
            <li>
                <label>
                    建檔人:
                    <input id="createUser" style="width: 100%;" />
                </label>
            </li>
            <li>
                <a class="offline-button" href="javascript:findInfo();">查詢</a>
                <a id="exportData" class="offline-button" href="javascript:getExcel();">匯出Excel</a>
            </li>
        </ul>
    </div>
    <div id="example">
        <div id="grid"></div>

        <script>
            var orderType = "";
            var startDateUpload = "";
            var endDateUpload = "";
            var startDateRegister = "";
            var endDateRegister = "";
            var downloadCheckedVal = [];
            var hasDownloadCondition = "";
            var myGetUrl = "";
            var exportFlag = false;

            $(document).ready(function () {

                $("#daterangepickerUpload").kendoDateRangePicker({
                    change: onChange
                });

                $("#daterangepickerRegister").kendoDateRangePicker({
                    change: onChangeRegister
                });

                function onChange() {
                    var range = this.range();
                    startDateUpload = kendo.toString(range.start, 'd');
                    //尾巴日期加1 以便搜尋
                    var endRangeDate = new Date(range.end)
                    var fixEndDate = new Date(endRangeDate.getFullYear(), endRangeDate.getMonth(), endRangeDate.getDate() + 1)
                    endDateUpload = kendo.toString(fixEndDate, 'd');
                }

                function onChangeRegister() {
                    var range = this.range();
                    startDateRegister = kendo.toString(range.start, 'd');
                    //尾巴日期加1 以便搜尋
                    var endRangeDate = new Date(range.end)
                    var fixEndDate = new Date(endRangeDate.getFullYear(), endRangeDate.getMonth(), endRangeDate.getDate() + 1)
                    endDateRegister = kendo.toString(fixEndDate, 'd');
                }

                var deptDropDown = $("#department").kendoDropDownList({
                    dataTextField: "Name",
                    dataValueField: "Id",
                    value: "@ViewBag.Department",
                    select: function (e) {
                        if ("@ViewBag.Department" != 0 && "@ViewBag.Department" != 2) {
                            e.preventDefualt();
                        }
                    },
                    dataSource: {
                        type: "odata",
                        transport: {
                            read: {
                                url: "/KendoSelect/GetJFDept?addTotal=" + true
                            }
                        }
                    },
                    change:deptChange
                }).data("kendoDropDownList");

                function deptChange() {
                    $("#createUser").kendoDropDownList({
                    dataTextField: "Name",
                    dataValueField: "Id",
                    value: "@ViewBag.Department",
                    select: function (e) {
                        if ("@ViewBag.Department" != 0 && "@ViewBag.Department" != 2) {
                            e.preventDefualt();
                        }
                    },
                    dataSource: {
                        type: "odata",
                        transport: {
                            read: {
                                url: "/KendoSelect/GetCreateUserByDuty?duty=" + $("#department").val().toString()
                            }
                        }
                    }
                }).data("kendoDropDownList");
                }
                var userDropDown = $("#createUser").kendoDropDownList({
                    dataTextField: "Name",
                    dataValueField: "Id",
                    dataSource: {
                        type: "odata",
                        transport: {
                            read: {
                                url: "/KendoSelect/GetCreateUserByDuty?duty=" + $("#department").val().toString()
                            }
                        }
                    }
                }).data("kendoDropDownList");


                $('input[name="OrderType"]').change(function () {
                    OrderTypeCodeFunction();
                });
                function OrderTypeCodeFunction() {
                    orderType = $('input[name="OrderType"]:checked').val();
                }
                OrderTypeCodeFunction();
                getCheckBoxVal();
                $(window).on('resize', function () {
                    $("#grid").data('kendoGrid')._adjustLockedHorizontalScrollBar();
                });
                //$('input[name="DownloadRecord"]').change(function () {
                //    DownloadRecordFunction();
                //});
                //function DownloadRecordFunction() {
                //    orderType = $('input[name="DownloadRecord"]:checked').val();
                //}

            });

            function mypost(url, params) {
                // 創建form
                var temp_form = document.createElement("form");
                // 設置form
                temp_form.action = url;
                temp_form.target = "_self";
                temp_form.method = "post";
                temp_form.style.display = "none";
                // 處理需要傳遞的參數
                for (var x in params) {
                    var opt = document.createElement("textarea");
                    opt.name = x;
                    opt.value = params[x];
                    temp_form.appendChild(opt);
                }
                document.body.appendChild(temp_form);
                // 提交表單
                temp_form.submit();
            }

            function datediff(first, second) {
                return Math.round((second - first) / (1000 * 60 * 60 * 24));
            }

            function findInfo() {
                getCheckBoxVal();
                if (checkInput()) {

                    kendo.ui.progress($("#container"), true);

                    var myGrid = $("#grid").data("kendoGrid");

                    if (typeof myGrid !== "undefined") {
                        myGrid._progress(1);
                    }
                    genGrid();
                }
            }

            function getCheckBoxVal() {
                downloadCheckedVal = [];
                $.each($("input[name='DownloadRecord']:checked"), function () {
                    downloadCheckedVal.push($(this).val());
                });
            }

            function checkInput() {
                if (orderType != "20" && orderType!="10") {
                    alert("單別錯誤");
                    return false;
                }

                if ((!startDateUpload && !endDateUpload) ) {
                    if (!startDateRegister || !endDateRegister) {
                        alert("必須選定上傳或發生日期");
                        return false;
                    }
                }
                if ((!startDateRegister && !endDateRegister)) {
                    if (!startDateUpload  || !endDateUpload) {
                        alert("必須選定上傳或發生日期");
                        return false;
                    }
                }
                var mystart = new Date(startDateUpload);
                var myend = new Date(endDateUpload);

                var datediffnum = datediff(mystart, myend);
                if (datediffnum > 30) {
                    alert("間隔時間須小於30天");
                    return false;
                }
                mystart = new Date(startDateRegister);
                myend = new Date(endDateRegister);
                datediffnum = datediff(mystart, myend);
                if (datediffnum > 30) {
                    alert("間隔時間須小於30天");
                    return false;
                }
                if (downloadCheckedVal.length === 0) {
                    alert("必須選擇下載紀錄");
                    return false;
                }
                return true;
            }

            function getExcel() {
                var idsMerge = "";
                var grid = $("#grid").data("kendoGrid");
                //var rows = grid.select();
                var ids = [];
                var invoicingNs = [];
                grid.dataSource.data().forEach(function (e) {
                    var id = e.Id;
                    var iid = e.InvoicingNumber;
                    invoicingNs.push(iid);
                    ids.push(id);
                });
                //myGrid.tbody.find("tr[role='row']").each(function () {
                //    var model = myGrid.dataItem(this);
                //    var id = model.InvoicingNumber;
                //    invoicingNs.push(id);
                //});
                if (invoicingNs.length === 0) {
                    alert("無資料可匯出");
                    return false;
                }
                idsMerge = JSON.stringify(invoicingNs);

                $.ajax({
                    url: "WenERPDownloadRecord",
                    type: "post",
                    data: { ids: JSON.stringify(ids) },
                    success: function (data) {
                        console.log("success");
                        var myGrid = $("#grid").data("kendoGrid");
                        myGrid.dataSource.read();
                        myGrid.refresh();
                        //匯出合併資料
                        window.location.href = "ExportMergedExcel?ids=" + idsMerge;
                    }
                });
                
                //匯出當前資料Excel
                //$("#grid").data("kendoGrid").bind("excelExport", function (e) {
                //    if (!exportFlag) {
                //        e.sender.hideColumn(1);
                //        e.sender.hideColumn(2);
                //        e.sender.hideColumn(3);
                //        e.sender.hideColumn(4);
                //        e.sender.hideColumn(5);
                //        e.preventDefault();
                //        exportFlag = true;
                //        setTimeout(function () {
                //            e.sender.saveAsExcel();
                //        });
                //    } else {
                //        e.sender.showColumn(1);
                //        e.sender.hideColumn(2);
                //        e.sender.hideColumn(3);
                //        e.sender.hideColumn(4);
                //        e.sender.hideColumn(5);
                //        exportFlag = false;
                //    }
                //});
                //$("#grid").getKendoGrid().saveAsExcel();

            }

            function genGrid() {

                var dateStr = "";
                var department = $("#department").data('kendoDropDownList').value();
                var createUser = "*";
                if ($("#createUser").data('kendoDropDownList').value() != null) {
                    createUser = $("#createUser").data('kendoDropDownList').value();
                }
                if (startDateUpload && endDateUpload) {
                    dateStr = dateStr + "&startDateUpload=" + startDateUpload + "&endDateUpload=" + endDateUpload;
                }
                if (startDateRegister && endDateRegister) {
                    dateStr = dateStr + "&startDateRegister=" + startDateRegister + "&endDateRegister=" + endDateRegister;
                }
                var getUrl = "GetEditWenERPPageFrontEntity?" +
                    "orderType=" + orderType + dateStr +
                    "&downloadCheckedVal=" + downloadCheckedVal + "&duty=" + department + "&createUser=" + createUser;
                myGetUrl = getUrl;
                dataSource = new kendo.data.DataSource(
                    {
                        transport: {
                            read: {
                                url: myGetUrl,
                                dataType: "jsonp"
                            },
                            update: {
                                url: "UpdateVendorPaymentLog",
                                dataType: "jsonp"
                            },
                            destroy: {
                                url: "DeleteVendorPaymentLog",
                                dataType: "jsonp"
                            },
                            parameterMap: function (options, operation) {
                                if (operation !== "read" && options.models) {
                                    return { models: kendo.stringify(options.models[options.models.length-1]) };
                                }
                            }
                        },
                        requestEnd: function (e) {
                            kendo.ui.progress($("#container"), false);
                        },
                        batch: true,
                        schema: {
                            model: {
                                id: "Id",
                                fields: {
                                    DutyDept: { editable: false },
                                    DownloadDate: { editable: false, type: "date", nullable: true },
                                    DownloadUser: { editable: false, nullable: true },
                                    CreateUser: { editable: false },
                                    Year: { editable: false },
                                    UploadDate: { editable: false, type: "date" },
                                    InvoicingNumber: { editable: false, nullable: true },
                                    RegisteredDate: {
                                        editable: false, type: "date",
                                        validation: {
                                            required: true
                                        }
                                    },
                                    OrderType: { editable: false },
                                    SupplierUID: { editable: false },
                                    CustomerUID: { editable: false },
                                    Number: { editable: false },
                                    ProductCode: { editable: false },
                                    TaxType: { editable: false },
                                    strTaxInclude: { editable: false },
                                    Quantity: { editable: false },
                                    Payment: {
                                        editable: false,
                                        validation: {
                                            required: true
                                        }
                                    },
                                    UnitPrice: {
                                        editable: false,
                                        validation: {
                                            required: true
                                        }
                                    },
                                    ElecInovoice: { editable: false },
                                    PaperInovoice: { editable: false },
                                    ReconciliationDate: { editable: false, type: "date", nullable: true },
                                    CheckoutDate: { editable: false, type: "date", nullable: true },
                                    PaymentDate: { editable: false, type: "date", nullable: true },
                                    ManufactureCode: { editable: false, nullable: true },
                                    ProductionQuantity: { editable: false, nullable: true },
                                    InvoiceNumber: { editable: false, nullable: true },
                                    InvoiceDate: { editable: false, type: "date", nullable: true },
                                    VoucherType: { editable: false, nullable: true },
                                    Note01: { editable: false, nullable: true },
                                    Note02: { editable: false },
                                    NoteMain: { editable: false, nullable: true },
                                    SupplierContact: { editable: false, nullable: true },
                                    InvoicingSpecial: { editable: false, nullable: true },
                                    SupplierUniformID: { editable: false, nullable: true },
                                    SupplierAddress: { editable: false, nullable: true },
                                    PackageType: { editable: false, nullable: true },
                                    ForeignCurrencyCode: { editable: false, nullable: true },
                                    ExchangeRate: { editable: false, nullable: true },
                                    ForeignCurrencyUnitPrice: { editable: false, nullable: true },
                                    ForeignCurrencyPayment: { editable: false, nullable: true },
                                    OrderNumber: { editable: false, nullable: true },
                                    PurchaseNumber: { editable: false, nullable: true },
                                    SalesCode: { editable: false, nullable: true },
                                    Department: { editable: false },
                                    ProjectCode: { editable: false, nullable: true },
                                    CarLicense: { editable: false, nullable: true },
                                    Company: { editable: false, nullable: true },
                                    VendorName: {
                                        editable: false, nullable: true,
                                        validation: {
                                            required: true
                                        }
                                    },

                                }
                            }
                        }
                    });

                $("#grid").kendoGrid({
                    dataBound: function (e) {
                        var myGrid = $("#grid").data("kendoGrid");
                        var dataSource = myGrid.dataSource;
                        var totalRecords = dataSource.total();
                        $('.k-grid-count').text("共" + totalRecords + "筆");
                    },
                    dataSource: dataSource,
                    toolbar: ["excel",
                        //{ name: "delete-custom", text: "批次刪除" },
                        { name: "count", text: ""}
                    ],
                    excel: {
                        fileName: "車老闆應收應付收支明細.xlsx",
                        allPages: true
                    },
                    pageable: {
                        numeric: false,
                        previousNext: false,
                        messages: {
                            display: "Total: {2}"
                        }
                    },
                    height: 850,
                    excelExport: exportGridWithTemplatesContent,
                    groupable: true,
                    columnMenu: true,
                    sortable: true,
                    filterable: true,
                    columns: [
                        {
                            field: "Id",
                            hidden: true
                        }, {
                            field: "DutyDept",
                            title: "權責單位",
                            width: "120px"
                        }, {
                            field: "DownloadDate",
                            title: "下載日期",
                            format: "{0:yyyy/MM/dd}",
                            width: "120px"
                        }, {
                            field: "DownloadUser",
                            title: "下載人",
                            width: "100px"
                        }, {
                            field: "CreateUser",
                            title: "建檔人",
                            width: "100px"
                        }, {
                            field: "UploadDate",
                            title: "上傳日期",
                            format: "{0:yyyy/MM/dd}",
                            width: "120px"
                        }, {
                            field: "Year",
                            title: "年度",
                            width: "80px"
                        }, {
                            field: "InvoicingNumber",
                            title: "進銷單號碼",
                            width: "140px"
                        }, {
                            field: "RegisteredDate",
                            title: "日期",
                            format: "{0:yyyy/MM/dd}",
                            width: "120px"
                        }, {
                            field: "OrderType",
                            title: "單別",
                            width: "100px"
                        }, {
                            field: "SupplierUID",
                            title: "客戶供應商",
                            width: "140px"
                        }, {
                            field: "CustomerUID",
                            title: "請款客戶",
                            width: "120px"
                        }, {
                            field: "Number",
                            title: "序號",
                            width: "100px"
                        }, {
                            field: "ProductCode",
                            title: "產品代號",
                            width: "120px"
                        }, {
                            field: "TaxType",
                            title: "稅別",
                            width: "100px"
                        }, {
                            field: "strTaxInclude",
                            title: "單價含稅否",
                            width: "140px"
                        }, {
                            field: "Quantity",
                            title: "數量",
                            width: "100px"
                        }, {
                            field: "UnitPrice",
                            title: "未稅單價",
                            width: "120px"
                        }, {
                            field: "Payment",
                            title: "未稅金額",
                            width: "120px"
                        }, {
                            field: "ElecInovoice",
                            title: "電子發票註記",
                            width: "160px"
                        }, {
                            field: "PaperInovoice",
                            title: "列印紙本電子發票",
                            width: "180px"
                        }, {
                            field: "ReconciliationDate",
                            title: "對帳日",
                            format: "{0:yyyy/MM/dd}",
                            width: "100px"
                        }, {
                            field: "CheckoutDate",
                            title: "結帳日",
                            format: "{0:yyyy/MM/dd}",
                            width: "100px"
                        }, {
                            field: "PaymentDate",
                            title: "收款日",
                            format: "{0:yyyy/MM/dd}",
                            width: "100px"
                        }, {
                            field: "ManufactureCode",
                            title: "製成品代號",
                            width: "140px"
                        }, {
                            field: "ProductionQuantity",
                            title: "生產數量",
                            width: "120px"
                        }, {
                            field: "InvoiceNumber",
                            title: "發票號碼",
                            width: "120px"
                        }, {
                            field: "InvoiceDate",
                            title: "發票日期",
                            width: "120px"
                        }, {
                            field: "VoucherType",
                            title: "傳票類別",
                            width: "120px"
                        }, {
                            field: "Note01",
                            title: "明細備註",
                            width: "140px"
                        }, {
                            field: "Note02",
                            title: "明細備註二",
                            width: "140px"
                        }, {
                            field: "NoteMain",
                            title: "主檔備註",
                            width: "140px"
                        }, {
                            field: "SupplierContact",
                            title: "序號(客供商聯絡人)",
                            width: "180px"
                        }, {
                            field: "InvoicingSpecial",
                            title: "進銷特殊欄位",
                            width: "160px"
                        }, {
                            field: "SupplierUniformID",
                            title: "序號(客戶供應商統編)",
                            width: "180px"
                        }, {
                            field: "SupplierAddress",
                            title: "序號(客戶供應商地址)",
                            width: "180px"
                        }, {
                            field: "PackageType",
                            title: "包裝別",
                            width: "100px"
                        }, {
                            field: "ForeignCurrencyCode",
                            title: "外幣代號",
                            width: "120px"
                        }, {
                            field: "ExchangedRate",
                            title: "匯率",
                            width: "100px"
                        }, {
                            field: "ForeignCurrencyUnitPrice",
                            title: "外幣未稅單價",
                            width: "160px"
                        }, {
                            field: "ForeignCurrencyPayment",
                            title: "外幣未稅金額",
                            width: "160px"
                        }, {
                            field: "OrderNumber",
                            title: "訂單單號",
                            width: "120px"
                        }, {
                            field: "PurchaseNumber",
                            title: "採購單號",
                            width: "120px"
                        }, {
                            field: "SalesCode",
                            title: "業務員代號",
                            width: "140px"
                        }, {
                            field: "Department",
                            title: "部門\工地編號",
                            width: "160px"
                        }, {
                            field: "ProjectCode",
                            title: "專案\項目編號",
                            width: "160px"
                        }, {
                            field: "CarLicense",
                            title: "車號",
                            width: "100px"
                        }, {
                            field: "Company",
                            title: "車行",
                            width: "100px"
                        },{
                            field: "VendorName",
                            title: "車主",
                            editor: function (container, options) {
                                VendorsDropDownEditor(container, options);
                            },
                            width: "250px"
                        }, {
                            command: [
                                { className: "k-state-disabled", name: "edit", text: { edit: "編輯", update: "儲存", cancel: "取消" }, title: "", width: "100px" },
                                { className: "k-state-disabled", name: "delete", text: "刪除" , width: "100px" }
                            ]
                        }
                    ],
                    editable: {
                        mode: "inline",
                        confirmation: false
                    }
                });

                var myGrid = $("#grid").data("kendoGrid");
                myGrid.dataSource.read();
                myGrid.refresh();
            }

            $("#grid").on("click", ".k-grid-delete-custom", function () {
                var grid = $("#grid").data("kendoGrid");
                var rows = grid.select();
                var ids = [];

                rows.each(function (e) {
                    var id = grid.dataItem(this).Id;

                    ids.push(id);
                });

                $.ajax({
                    url: "BatchDeleteVendorPaymentLog",
                    type: "post",
                    data: { ids: JSON.stringify(ids) },
                    success: function (data) {
                        console.log("success");
                        var myGrid = $("#grid").data("kendoGrid");
                        myGrid.dataSource.read();
                        myGrid.refresh();
                    }
                });
            });

            function writeOffCheckListDropDownEditor(container, options) {
                $('<input required name="' + options.field + '"/>')
                    .appendTo(container)
                    .kendoDropDownList({
                        autoBind: false,
                        dataTextField: "Information",
                        dataValueField: "Id",
                        dataSource: {
                            type: "odata",
                            transport: {
                                read: "/KendoSelect/GetErrorWriteOffCheckList"
                            }
                        }
                    });
            }

            function FeeTypeDropDownEditor(container, options) {
                $('<input required name="' + options.field + '"/>') // required
                    .appendTo(container)
                    .kendoDropDownList({
                        autoBind: false,
                        filter: "contains",
                        dataTextField: "name",
                        dataValueField: "name",
                        dataSource: {
                            type: "jsonp",
                            transport: {
                                read: "/TruckVendorPaymentAndMaintenance/GetFeeTypes"
                            }
                        }
                    });
            }

            function CompaniesDropDownEditor(container, options) {
                $('<input name="' + options.field + '"/>') // not required
                    .appendTo(container)
                    .kendoDropDownList({
                        autoBind: false,
                        valuePrimitive: true,
                        filter: "contains",
                        dataTextField: "name",
                        dataValueField: "name",
                        dataSource: {
                            type: "jsonp",
                            transport: {
                                read: "/TruckVendorPaymentAndMaintenance/GetCompanies"
                            }
                        }
                    });
            }

            function VendorsDropDownEditor(container, options) {
                $('<input required name="' + options.field + '"/>')
                    .appendTo(container)
                    .kendoDropDownList({
                        autoBind: false,
                        filter: "contains",
                        valuePrimitive: true,
                        dataTextField: "supplier_name",
                        dataValueField: "supplier_name",
                        dataSource: {
                            type: "jsonp",
                            transport: {
                                read: "/TruckVendorPaymentAndMaintenance/GetAllTruckVendors"
                            }
                        }
                    });
            }

            function exportGridWithTemplatesContent(e) {
                var data = e.data;
                var gridColumns = e.sender.columns;
                var sheet = e.workbook.sheets[0];
                var visibleGridColumns = [];
                var columnTemplates = [];
                var dataItem;
                // Create element to generate templates in.
                var elem = document.createElement('div');

                // Get a list of visible columns
                for (var i = 0; i < gridColumns.length; i++) {
                    if (!gridColumns[i].hidden) {
                        visibleGridColumns.push(gridColumns[i]);
                    }
                }

                // Create a collection of the column templates, together with the current column index
                for (var i = 0; i < visibleGridColumns.length; i++) {
                    if (visibleGridColumns[i].template) {
                        columnTemplates.push({ cellIndex: i, template: kendo.template(visibleGridColumns[i].template) });
                    }
                }

                // Traverse all exported rows.
                for (var i = 1; i < sheet.rows.length; i++) {
                    var row = sheet.rows[i];
                    // Traverse the column templates and apply them for each row at the stored column position.

                    // Get the data item corresponding to the current row.
                    var dataItem = data[i - 1];
                    for (var j = 0; j < columnTemplates.length; j++) {
                        var columnTemplate = columnTemplates[j];
                        // Generate the template content for the current cell.
                        elem.innerHTML = columnTemplate.template(dataItem);
                        if (row.cells[columnTemplate.cellIndex - 1] != undefined)
                            // Output the text content of the templated cell into the exported cell.
                            row.cells[columnTemplate.cellIndex - 1].value = elem.textContent || elem.innerText || "";
                    }
                }
            }
        </script>
    </div>
</div>
