﻿@{
    ViewData["Title"] = "KendoTest";
    Layout = "~/Views/Shared/_LayoutAddJFMenu.cshtml";
}
<div id="container">
    <div class="demo-section k-content">
        <h4>鼎新系統應付媒體檔下載</h4>
        <ul>
            <li>
                <label>
                    <a class="offline-button" href="~/images/應付憑單單別說明.jpeg">應付憑單單別說明</a>
                    <br>
                    憑單單別:
                    <br>
                    <span><input type="radio" name="VoucherCode" id="7102" value="7102" checked="checked" /><label for="7102">運費應付 7102</label></span>
                    <span><input type="radio" name="VoucherCode" id="7120" value="7120" /><label for="7120">代收代付 7120</label></span>
                    <br>
                    <span><input type="radio" name="VoucherCode" id="7103" value="7103" /><label for="7103">其他應付 7103</label></span>
                    @*<span><input type="radio" name="VoucherCode" id="7401" value="7401" /><label for="7401">預付請款 7401</label></span>*@
                </label>
            </li>
            <li>
                <label>
                    入帳公司別:
                    <span><input type="radio" name="Company" id="JF" value="JF" checked="checked" /><label for="JF">峻富物流</label></span>
                    <span><input type="radio" name="Company" id="GL" value="GL" /><label for="GL">金來</label></span>
                    <span><input type="radio" name="Company" id="CH" value="CH" /><label for="CH">其他車行</label></span>
                </label>
            </li>
            <li>
                <label>
                    權責單位:
                    <input id="department" style="width: 100%;" />
                </label>
            </li>
            <li>
                <label>
                    建檔人:
                    <input id="createUser" style="width: 100%;" />
                </label>
            </li>
            <li>
                <label>
                    交易項目:
                    <input id="feeType" style="width: 100%;" />
                </label>
            </li>
            <li>
                <label>
                    上傳日期區間:
                </label>
                <div id="daterangepickerUpload" title="daterangepickerUpload"></div>
            </li>
            <li>
                <label>
                    發生日期區間:
                </label>
                <div id="daterangepickerRegister" title="daterangepickerRegister"></div>
            </li>
            <li>
                <label>
                    下載紀錄:
                    <span><input type="checkbox" name="DownloadRecord" id="HasDownload" value="1" /><label for="HasDownload">已下載</label></span>&nbsp;&nbsp;
                    <span><input type="checkbox" name="DownloadRecord" id="HasNotDownload" value="0" checked="checked" /><label for="HasNotDownload">未下載</label></span>
                </label>
            </li>
            <li>
                <a class="offline-button" href="javascript:findInfo();">查詢</a>
                <a id="exportData" class="offline-button" href="javascript:getExcel();" hidden="hidden">匯出Excel</a>
                <a id="exportDataTemp" class="offline-button" disabled="disabled" hidden="hidden">匯出Excel</a>
                <a id="exportMergeData" class="offline-button" href="javascript:getMergeExcel();">匯出合併Excel</a>
                <a id="exportMergeDataTemp" class="offline-button" disabled="disabled" hidden="hidden">匯出合併Excel</a>
            </li>
            <li>
                <label id="downloadMsg" hidden="hidden" style="color:green">欲下載同檔案，請重新查詢後再下載</label>
                <label id="downloadINGMsg" hidden="hidden" style="color:red">檔案正在下載中，請稍後...</label>
            </li>
        </ul>
    </div>
    <div id="example">
        <div id="grid"></div>

        <script>
            var voucherCode = "";
            var company = "";
            var startDateUpload = "";
            var endDateUpload = "";
            var startDateRegister = "";
            var endDateRegister = "";
            var downloadCheckedVal = [];
            var hasDownloadCondition = "";
            var myGetUrl = "";
            var exportFlag = false;
            $(document).ready(function () {

                $("#daterangepickerUpload").kendoDateRangePicker({
                    change: onChange
                });

                $("#daterangepickerRegister").kendoDateRangePicker({
                    change: onChangeRegister
                });

                function onChange() {
                    var range = this.range();
                    startDateUpload = kendo.toString(range.start, "yyyy/MM/dd");
                    //尾巴日期加1 以便搜尋
                    var endRangeDate = new Date(range.end)
                    var fixEndDate = new Date(endRangeDate.getFullYear(), endRangeDate.getMonth(), endRangeDate.getDate() + 1)
                    endDateUpload = kendo.toString(fixEndDate, "yyyy/MM/dd");
                }

                function onChangeRegister() {
                    var range = this.range();
                    startDateRegister = kendo.toString(range.start, "yyyy/MM/dd");
                    //尾巴日期加1 以便搜尋
                    var endRangeDate = new Date(range.end)
                    var fixEndDate = new Date(endRangeDate.getFullYear(), endRangeDate.getMonth(), endRangeDate.getDate() + 1)
                    endDateRegister = kendo.toString(fixEndDate, "yyyy/MM/dd");
                }



                var deptDropDown = $("#department").kendoDropDownList({
                    dataTextField: "Name",
                    dataValueField: "Id",
                    value: "@ViewBag.Department",
                    select: function (e) {
                        if ("@ViewBag.Department" != 0 && "@ViewBag.Department" != 2) {
                            e.preventDefualt();
                        }
                    },
                    dataSource: {
                        type: "odata",
                        transport: {
                            read: {
                                url: "/KendoSelect/GetJFDept?addTotal=" + true
                            }
                        }
                    },
                    change:deptChange
                }).data("kendoDropDownList");

                function deptChange() {
                    $("#createUser").kendoDropDownList({
                    dataTextField: "Name",
                    dataValueField: "Id",
                    value: "@ViewBag.Department",
                    select: function (e) {
                        if ("@ViewBag.Department" != 0 && "@ViewBag.Department" != 2) {
                            e.preventDefualt();
                        }
                    },
                    dataSource: {
                        type: "odata",
                        transport: {
                            read: {
                                url: "/KendoSelect/GetCreateUserByDuty?duty=" + $("#department").val().toString()
                            }
                        }
                    }
                }).data("kendoDropDownList");
                }
                var userDropDown = $("#createUser").kendoDropDownList({
                    dataTextField: "Name",
                    dataValueField: "Id",
                    dataSource: {
                        type: "odata",
                        transport: {
                            read: {
                                url: "/KendoSelect/GetCreateUserByDuty?duty=" + $("#department").val().toString()
                            }
                        }
                    }
                }).data("kendoDropDownList");

                var feeTypeDropDown = $("#feeType").kendoDropDownList({
                    dataTextField: "Name",
                    dataValueField: "Id",
                    dataSource: {
                        type: "odata",
                        transport: {
                            read: {
                                url: "/KendoSelect/GetFeeType?addTotal=" + true
                            }
                        }
                    }
                }).data("kendoDropDownList");

                $('input[name="VoucherCode"]').change(function () {
                    VoucherCodeFunction();
                });
                function VoucherCodeFunction() {
                    voucherCode = $('input[name="VoucherCode"]:checked').val();
                }
                VoucherCodeFunction();

                $('input[name="Company"]').change(function () {
                    CompanyFunction();
                });
                function CompanyFunction() {
                    company = $('input[name="Company"]:checked').val();
                }
                CompanyFunction();
                getCheckBoxVal();


                $(window).on('resize', function () {
                    $("#grid").data('kendoGrid')._adjustLockedHorizontalScrollBar();
                });
                //$('input[name="DownloadRecord"]').change(function () {
                //    DownloadRecordFunction();
                //});
                //function DownloadRecordFunction() {
                //    orderType = $('input[name="DownloadRecord"]:checked').val();
                //}

            });

            function mypost(url, params) {
                // 創建form
                var temp_form = document.createElement("form");
                // 設置form
                temp_form.action = url;
                temp_form.target = "_self";
                temp_form.method = "post";
                temp_form.style.display = "none";
                // 處理需要傳遞的參數
                for (var x in params) {
                    var opt = document.createElement("textarea");
                    opt.name = x;
                    opt.value = params[x];
                    temp_form.appendChild(opt);
                }
                document.body.appendChild(temp_form);
                // 提交表單
                temp_form.submit();
            }

            function datediff(first, second) {
                return Math.round((second - first) / (1000 * 60 * 60 * 24));
            }

            function findInfo() {
                getCheckBoxVal();
                if (checkInput()) {

                    kendo.ui.progress($("#container"), true);

                    var myGrid = $("#grid").data("kendoGrid");

                    if (typeof myGrid !== "undefined") {
                        myGrid._progress(1);
                    }
                    genGrid();
                }
                var button = $('#exportMergeData');
                var button2 = $('#exportMergeDataTemp');
                var label = $('#downloadMsg');
                button2.hide();
                button.show();
                label.hide();
            }

            function getCheckBoxVal() {
                downloadCheckedVal = [];
                $.each($("input[name='DownloadRecord']:checked"), function () {
                    downloadCheckedVal.push($(this).val());
                });
            }

            function checkInput() {
                if (voucherCode != "7102" && voucherCode != "7120" && voucherCode != "7103" && voucherCode != "7401") {
                    alert("憑單單別單別錯誤");
                    return false;
                }

                if (company != "JF" && company != "CH" && company != "GL") {
                    alert("入帳公司別錯誤");
                    return false;
                }

                if ((!startDateUpload && !endDateUpload)) {
                    if (!startDateRegister || !endDateRegister) {
                        alert("必須選定上傳或發生日期");
                        return false;
                    }
                }
                if ((!startDateRegister && !endDateRegister)) {
                    if (!startDateUpload || !endDateUpload) {
                        alert("必須選定上傳或發生日期");
                        return false;
                    }
                }
                var mystart = new Date(startDateUpload);
                var myend = new Date(endDateUpload);

                var datediffnum = datediff(mystart, myend);
                if (datediffnum > 30) {
                    alert("間隔時間須小於30天");
                    return false;
                }
                mystart = new Date(startDateRegister);
                myend = new Date(endDateRegister);
                datediffnum = datediff(mystart, myend);
                if (datediffnum > 30) {
                    alert("間隔時間須小於30天");
                    return false;
                }
                if (downloadCheckedVal.length === 0) {
                    alert("必須選擇下載紀錄");
                    return false;
                }
                return true;
            }

            //匯出當前資料Excel
            $("#grid").data("kendoGrid").bind("excelExport", function (e) {
                if (!exportFlag) {
                    e.sender.hideColumn(1);
                    e.sender.hideColumn(2);
                    e.sender.hideColumn(3);
                    e.sender.hideColumn(4);
                    e.preventDefault();
                    exportFlag = true;
                    setTimeout(function () {
                        e.sender.saveAsExcel();
                    });
                } else {
                    e.sender.showColumn(1);
                    e.sender.showColumn(2);
                    e.sender.showColumn(3);
                    e.sender.showColumn(4);
                    exportFlag = false;
                }
            });
            $("#grid").getKendoGrid().saveAsExcel();

            function getExcel() {
                //kendo.ui.progress($("#container"), true);
                var grid = $("#grid").data("kendoGrid");
                //隱藏按鈕
                var button = $('#exportData');
                var button2 = $('#exportDataTemp');
                var label = $('#downloadMsg');
                //var label2 = $('#downloadINGMsg');
                button.hide();
                button2.removeAttr('hidden');
                button2.show();
                button2.attr('disabled', 'disabled');
                label.removeAttr('hidden');
                //label2.removeAttr('hidden');
                label.show();
                //label2.show();
                //loading圈圈

                //myGrid._progress(1);
                var strRegisterDate = "";
                //var rows = grid.select();
                var ids = [];
                var tempS = new Date('0001-01-01T00:00:00Z');
                var tempE = new Date('0001-01-01T00:00:00Z');
                grid.dataSource.data().forEach(function (e) {
                    var id = e.Id;
                    ids.push(id);
                    if (tempS.getFullYear() == 1) {
                        tempS = e.RegisteredDate;
                        tempE = e.RegisteredDate;
                    } else if (tempS > e.RegisteredDate) {
                        tempS = e.RegisteredDate;
                    } else if (tempE < e.RegisteredDate) {
                        tempE = e.RegisteredDate;
                    }
                });
                if (tempS.getFullYear() != 1) {
                    strRegisterDate = "_" + tempS.getFullYear()
                        + ('0' + (tempS.getMonth() + 1)).slice(-2)
                        + ('0' + tempS.getDate()).slice(-2);
                }
                if (tempS != tempE) {
                    strRegisterDate += "-" + tempE.getFullYear()
                        + ('0' + (tempE.getMonth() + 1)).slice(-2)
                        + ('0' + tempE.getDate()).slice(-2);
                }
                $.ajax({
                    url: "DSERPDownloadRecord",
                    type: "post",
                    data: { ids: JSON.stringify(ids) },
                    beforeSend: function (e) {
                        kendo.ui.progress($("#container"), true);
                    }
                    ,success: function (data) {
                        console.log("success");
                        //匯出當前資料Excel
                        $("#grid").data("kendoGrid").bind("excelExport", function (e) {
                            var excelName = "";
                            var strCompany = "";
                            var strVoucher = "_" + voucherCode;
                            switch (company) {
                                case "JF":
                                    strCompany = "_峻富";
                                    break;
                                case "GL":
                                    strCompany = "_金來";
                                    break;
                                case "CH":
                                    strCompany = "_其他車行";
                                    break;
                                default:
                            }
                            //if (startDateRegister != "") {
                            //    strRegisterDate = "_" + startDateRegister.split('/').join('') + "-" + endDateRegister.split('/').join('');
                            //}
                            excelName = "鼎新系統應付媒體檔" + strCompany + strVoucher + strRegisterDate + ".xlsx";
                            e.workbook.fileName = excelName;
                            if (!exportFlag) {
                                e.sender.hideColumn(1);
                                e.sender.hideColumn(2);
                                e.sender.hideColumn(3);
                                e.sender.hideColumn(4);
                                e.preventDefault();
                                exportFlag = true;
                                setTimeout(function () {
                                    e.sender.saveAsExcel();
                                });
                            } else {
                                e.sender.showColumn(1);
                                e.sender.showColumn(2);
                                e.sender.showColumn(3);
                                e.sender.showColumn(4);
                                exportFlag = false;
                            }
                        });
                        $("#grid").getKendoGrid().saveAsExcel();
                        //$.when(exportFunc).done(function (v1,) {
                        //    kendo.ui.progress($("#container"), false);
                        //});
                        //label2.hide();
                        grid.dataSource.read();
                        grid.refresh();
                        kendo.ui.progress($("#container"), false);
                    }
                });


            }
            function getMergeExcel() {
                var grid = $("#grid").data("kendoGrid");
                //隱藏按鈕
                var button = $('#exportMergeData');
                var button2 = $('#exportMergeDataTemp');
                var label = $('#downloadMsg');
                //var label2 = $('#downloadINGMsg');
                button.hide();
                button2.removeAttr('hidden');
                button2.show();
                button2.attr('disabled', 'disabled');
                label.removeAttr('hidden');
                //label2.removeAttr('hidden');
                label.show();
                var idsMerge = "";
                var grid = $("#grid").data("kendoGrid");
                //var rows = grid.select();
                var ids = [];
                grid.dataSource.data().forEach(function (e) {
                    var id = e.Id;
                    ids.push(id);
                });
                //myGrid.tbody.find("tr[role='row']").each(function () {
                //    var model = myGrid.dataItem(this);
                //    var id = model.InvoicingNumber;
                //    invoicingNs.push(id);
                //});
                if (ids.length === 0) {
                    alert("無資料可匯出");
                    return false;
                }
                idsMerge = JSON.stringify(ids);
                var strRegisterDate = "";
                //var rows = grid.select();
                var tempS = new Date('0001-01-01T00:00:00Z');
                var tempE = new Date('0001-01-01T00:00:00Z');
                grid.dataSource.data().forEach(function (e) {
                    var id = e.Id;
                    ids.push(id);
                    if (tempS.getFullYear() == 1) {
                        tempS = e.RegisteredDate;
                        tempE = e.RegisteredDate;
                    } else if (tempS > e.RegisteredDate) {
                        tempS = e.RegisteredDate;
                    } else if (tempE < e.RegisteredDate) {
                        tempE = e.RegisteredDate;
                    }
                });
                if (tempS.getFullYear() != 1) {
                    strRegisterDate = "_" + tempS.getFullYear()
                        + ('0' + (tempS.getMonth() + 1)).slice(-2)
                        + ('0' + tempS.getDate()).slice(-2);
                }
                if (tempS != tempE) {
                    strRegisterDate += "-" + tempE.getFullYear()
                        + ('0' + (tempE.getMonth() + 1)).slice(-2)
                        + ('0' + tempE.getDate()).slice(-2);
                }
                $.ajax({
                    url: "DSERPMergeDownload",
                    type: "post",
                    data: { ids: JSON.stringify(ids) },
                    success: function (data) {
                        //alert(data);                            var excelName = "";
                        var strCompany = "";
                        var strVoucher = "_" + voucherCode;
                        switch (company) {
                            case "JF":
                                strCompany = "_峻富";
                                break;
                            case "GL":
                                strCompany = "_金來";
                                break;
                            case "CH":
                                strCompany = "_其他車行";
                                break;
                            default:
                        }
                        //if (startDateRegister != "") {
                        //    strRegisterDate = "_" + startDateRegister.split('/').join('') + "-" + endDateRegister.split('/').join('');
                        //}
                        excelName = "鼎新系統應付媒體檔" + strCompany + strVoucher + strRegisterDate + ".xlsx";

                        console.log(data);
                        var dd = JSON.parse(data)

                        console.log(dd);

                        console.log(dd.downloadId);

                        //匯出合併資料
                        window.location.href = "ExportDSMergedExcel?downloadId=" + dd.downloadId +"&fileName="+ excelName;
                        console.log("success");
                        var myGrid = $("#grid").data("kendoGrid");
                        myGrid.dataSource.read();
                        myGrid.refresh();
                    }
                });

                //匯出當前資料Excel
                //$("#grid").data("kendoGrid").bind("excelExport", function (e) {
                //    if (!exportFlag) {
                //        e.sender.hideColumn(1);
                //        e.sender.hideColumn(2);
                //        e.sender.hideColumn(3);
                //        e.sender.hideColumn(4);
                //        e.sender.hideColumn(5);
                //        e.preventDefault();
                //        exportFlag = true;
                //        setTimeout(function () {
                //            e.sender.saveAsExcel();
                //        });
                //    } else {
                //        e.sender.showColumn(1);
                //        e.sender.hideColumn(2);
                //        e.sender.hideColumn(3);
                //        e.sender.hideColumn(4);
                //        e.sender.hideColumn(5);
                //        exportFlag = false;
                //    }
                //});
                //$("#grid").getKendoGrid().saveAsExcel();

            }

            function genGrid() {

                var dateStr = "";
                var department = $("#department").data('kendoDropDownList').value();
                var createUser = "*";
                if ($("#createUser").data('kendoDropDownList').value() != null) {
                    createUser = $("#createUser").data('kendoDropDownList').value();
                }
                var feeType = $("#feeType").data('kendoDropDownList').value();

                if (startDateUpload && endDateUpload) {
                    dateStr = dateStr + "&startDateUpload=" + startDateUpload + "&endDateUpload=" + endDateUpload;
                }
                if (startDateRegister && endDateRegister) {
                    dateStr = dateStr + "&startDateRegister=" + startDateRegister + "&endDateRegister=" + endDateRegister;
                }
                var getUrl = "GetEditDSERPPageFrontEntity?" +
                    "voucherCode=" + voucherCode + "&company=" + company + dateStr +
                    "&downloadCheckedVal=" + downloadCheckedVal + "&duty=" + department + "&createUser=" + createUser + "&feeType=" + feeType;
                myGetUrl = getUrl;
                dataSource = new kendo.data.DataSource(
                    {
                        transport: {
                            read: {
                                url: myGetUrl,
                                dataType: "jsonp"
                            },
                            parameterMap: function (options, operation) {
                                if (operation !== "read" && options.models) {
                                    return { models: kendo.stringify(options.models[options.models.length - 1]) };
                                }
                            }
                        },
                        requestEnd: function (e) {
                            kendo.ui.progress($("#container"), false);
                        },
                        batch: true,
                        schema: {
                            model: {
                                id: "Id",
                                fields: {
                                    CreateUser: { editable: false },
                                    FeeType: { editable: false },
                                    DownloadDate: { editable: false, type: "date", nullable: true },
                                    DownloadUser: { editable: false, nullable: true },
                                    Company: { editable: false },
                                    VoucherCode: { editable: false },
                                    SupplierUID: { editable: false },
                                    CollectionPayCode: { editable: false },
                                    CustomerUID: { editable: false },
                                    Accounts: {
                                        editable: false,
                                        validation: {
                                            required: true
                                        }
                                    },
                                    CollectionAccounts: {
                                        editable: false,
                                        validation: {
                                            required: true
                                        }
                                    },
                                    Spread: {
                                        editable: false,
                                        validation: {
                                            required: true
                                        }
                                    },
                                    CarLicense: { editable: false, nullable: true },
                                    Note02: { editable: false },
                                    Department: { editable: false },
                                    CompanyUID: { editable: false },
                                    InvoiceNumber: { editable: false, nullable: true },
                                    InvoiceDate: { editable: false, nullable: true },
                                    RegisteredDate: { editable: false, type: "date", nullable: true }

                                }
                            }
                        }
                    });

                $("#grid").kendoGrid({
                    dataBound: function (e) {
                        var myGrid = $("#grid").data("kendoGrid");
                        var dataSource = myGrid.dataSource;
                        var totalRecords = dataSource.total();
                        $('.k-grid-count').text("共" + totalRecords + "筆");
                    },
                    dataSource: dataSource,
                    toolbar: [//"excel",
                        //{ name: "delete-custom", text: "批次刪除" },
                        { name: "count", text: "" }
                    ],
                    //excel: {
                    //    fileName: "鼎新系統應付媒體檔.xlsx",
                    //    allPages: true
                    //},
                    pageable: {
                        numeric: false,
                        previousNext: false,
                        messages: {
                            display: "Total: {2}"
                        }
                    },
                    height: 850,
                    //excelExport: exportGridWithTemplatesContent,
                    groupable: true,
                    columnMenu: true,
                    sortable: true,
                    filterable: true,
                    columns: [
                        {
                            field: "Id",
                            hidden: true
                        }, {
                            field: "CreateUser",
                            title: "建檔人",
                            width: "100px"
                        }, {
                            field: "FeeType",
                            title: "交易項目",
                            width: "120px"
                        }, {
                            field: "DownloadDate",
                            title: "下載日期",
                            format: "{0:yyyy/MM/dd}",
                            width: "120px"
                        }, {
                            field: "DownloadUser",
                            title: "下載人",
                            width: "100px"
                        }, {
                            field: "Company",
                            title: "入帳公司別",
                            width: "80px"
                        }, {
                            field: "VoucherCode",
                            title: "憑單單別",
                            width: "80px"
                        }, {
                            field: "DinShinItemCode",
                            title: "產品代號(品號類別一)",
                            width: "100px"
                        }, {
                            field: "SupplierUID",
                            title: "客戶/供應商(原始交易對象)",
                            width: "120px"
                        }, {
                            field: "Accounts",
                            title: "未稅金額(收/付款金額)",
                            width: "120px"
                        }, {
                            field: "CollectionPayCode",
                            title: "代付碼",
                            width: "60px"
                        }, {
                            field: "CustomerUID",
                            title: "車主(客戶代號)",
                            width: "100px"
                        }, {
                            field: "CollectionAccounts",
                            title: "代付轉收金額(未稅金額)",
                            width: "120px"
                        }, {
                            field: "Spread",
                            title: "ERP計算價差(收入)",
                            width: "100px"
                        }, {
                            field: "CarLicense",
                            title: "車號(文註註記)",
                            width: "120px"
                        }, {
                            field: "Note02",
                            title: "明細備註二",
                            width: "150px"
                        }, {
                            field: "Department",
                            title: "部門編號",
                            width: "80px"
                        }, {
                            field: "CompanyUID",
                            title: "專案\項目編號(車行)",
                            width: "100px"
                        }, {
                            field: "InvoiceNumber",
                            title: "發票號碼",
                            width: "100px"
                        }, {
                            field: "InvoiceDate",
                            title: "發票日期",
                            width: "100px"
                        }, {
                            field: "RegisteredDate",
                            hidden: true
                        }
                    ]
                });

                var myGrid = $("#grid").data("kendoGrid");
                myGrid.dataSource.read();
                myGrid.refresh();
            }

            $("#grid").on("click", ".k-grid-delete-custom", function () {
                var grid = $("#grid").data("kendoGrid");
                var rows = grid.select();
                var ids = [];

                rows.each(function (e) {
                    var id = grid.dataItem(this).Id;

                    ids.push(id);
                });

                $.ajax({
                    url: "BatchDeleteVendorPaymentLog",
                    type: "post",
                    data: { ids: JSON.stringify(ids) },
                    success: function (data) {
                        console.log("success");
                        var myGrid = $("#grid").data("kendoGrid");
                        myGrid.dataSource.read();
                        myGrid.refresh();
                    }
                });
            });

            function writeOffCheckListDropDownEditor(container, options) {
                $('<input required name="' + options.field + '"/>')
                    .appendTo(container)
                    .kendoDropDownList({
                        autoBind: false,
                        dataTextField: "Information",
                        dataValueField: "Id",
                        dataSource: {
                            type: "odata",
                            transport: {
                                read: "/KendoSelect/GetErrorWriteOffCheckList"
                            }
                        }
                    });
            }


            function exportGridWithTemplatesContent(e) {
                var data = e.data;
                var gridColumns = e.sender.columns;
                var sheet = e.workbook.sheets[0];
                var visibleGridColumns = [];
                var columnTemplates = [];
                var dataItem;
                // Create element to generate templates in.
                var elem = document.createElement('div');

                // Get a list of visible columns
                for (var i = 0; i < gridColumns.length; i++) {
                    if (!gridColumns[i].hidden) {
                        visibleGridColumns.push(gridColumns[i]);
                    }
                }

                // Create a collection of the column templates, together with the current column index
                for (var i = 0; i < visibleGridColumns.length; i++) {
                    if (visibleGridColumns[i].template) {
                        columnTemplates.push({ cellIndex: i, template: kendo.template(visibleGridColumns[i].template) });
                    }
                }

                // Traverse all exported rows.
                for (var i = 1; i < sheet.rows.length; i++) {
                    var row = sheet.rows[i];
                    // Traverse the column templates and apply them for each row at the stored column position.

                    // Get the data item corresponding to the current row.
                    var dataItem = data[i - 1];
                    for (var j = 0; j < columnTemplates.length; j++) {
                        var columnTemplate = columnTemplates[j];
                        // Generate the template content for the current cell.
                        elem.innerHTML = columnTemplate.template(dataItem);
                        if (row.cells[columnTemplate.cellIndex - 1] != undefined)
                            // Output the text content of the templated cell into the exported cell.
                            row.cells[columnTemplate.cellIndex - 1].value = elem.textContent || elem.innerText || "";
                    }
                }
            }
        </script>
    </div>
</div>
