﻿@{
    ViewData["Title"] = "KendoTest";
    Layout = "~/Views/Shared/_LayoutAddJFMenu.cshtml";
}
<div id="container">
    <div class="demo-section k-content">
        <h4>各單位收支明細</h4>
        <ul>
            <li>
                <label>
                    上傳日期區間:
                </label>
                <div id="daterangepicker" title="daterangepicker"></div>
            </li>
            <li>
                <label>
                    權責單位:
                    <input id="department" style="width: 100%;" />
                </label>
            </li>
            <li>
                <label>
                    建檔人:
                    <input id="createUser" style="width: 100%;" />
                </label>
            </li>
            <li>
                <label>
                    交易項目:
                    <input id="feeType" style="width: 100%;" />
                </label>
            </li>
            <li>
                <label>
                    應收對象:
                    <input id="vendor" style="width: 100%;" />
                </label>
            </li>
            <li>
                <label>
                    應付對象:
                    <input id="payable" style="width: 100%;" />
                </label>
            </li>
            <li>
                <label>
                    核帳紀錄:
                    <span><input type="checkbox" name="CheckAccountRecord" id="HasCheckAccount" value="1" /><label for="HasDownload">已核帳</label></span>&nbsp;&nbsp;
                    <span><input type="checkbox" name="CheckAccountRecord" id="HasNotCheckAccount" value="0" checked="checked" /><label for="HasNotDownload">未核帳</label></span>
                </label>
            </li>
            <li>
                <label>
                    摘要搜尋:
                    <input id="noteSearch" style="width: 100%;" />
                </label>
            </li>
            <li>
                <a class="offline-button" href="javascript:findInfo();">查詢</a>
                <a id="GetExcel" class="offline-button" href="javascript:getExcel();">匯出Excel</a>
            </li>
            <li>
                <a id="CheckAccounts" class="offline-button" href="javascript:checkAccounts();">批次核帳</a>
                <a id="CheckAccountsTemp" class="offline-button" disabled="disabled" hidden="hidden">批次核帳</a>
            </li>
        </ul>
    </div>
    <div id="example">
        <div id="grid"></div>

        <script>
            var startDate = "";
            var endDate = "";
            var rowNumber = 0;
            var now = new Date();
            var selectPayTotal = 0;
            var selectCostTotal = 0;
            var selectSpreadTotal = 0;
            var checkAccountCheckedVal = [];
            var noteSearch = "";
            var cannotModifyDate = new Date(now.getFullYear(), now.getMonth(), 1);
            if (now.getDate() < 11) {
                //前月最後一天
                cannotModifyDate = new Date(cannotModifyDate.getFullYear(), cannotModifyDate.getMonth(), 0);
                //設定為第一天
                cannotModifyDate = new Date(cannotModifyDate.getFullYear(), cannotModifyDate.getMonth(), 1);
            }

            //document.write(formatDate(prevMonthFirstDate) + ' - ' + formatDate(prevMonthLastDate));
            $(document).ready(function () {

                $("#daterangepicker").kendoDateRangePicker({
                    change: onChange
                });
                $("#noteSearch").kendoTextBox({
                    change: function (e) {
                        noteSearch = this.value();
                        /* The result can be observed in the DevTools(F12) console of the browser. */
                        //console.log(noteSearch);
                        // Use the value of the widget
                    }
                });
                function onChange() {
                    var range = this.range();
                    startDate = kendo.toString(range.start, "yyyy/MM/dd");
                    //尾巴日期加1 以便搜尋
                    var endRangeDate = new Date(range.end)
                    var fixEndDate = new Date(endRangeDate.getFullYear(), endRangeDate.getMonth(), endRangeDate.getDate() + 1)
                    endDate = kendo.toString(fixEndDate, "yyyy/MM/dd");
                }

                var deptDropDown = $("#department").kendoDropDownList({
                    dataTextField: "Name",
                    dataValueField: "Id",
                    value: "@ViewBag.Department",
                    select: function (e) {
                        if ("@ViewBag.Department" != 0 && "@ViewBag.Department" != 2) {
                            e.preventDefualt();
                        }
                    },
                    dataSource: {
                        type: "odata",
                        transport: {
                            read: {
                                url: "/KendoSelect/GetJFDept?addTotal=" + true
                            }
                        }
                    },
                    change: deptChange
                }).data("kendoDropDownList");
                function deptChange() {
                    $("#createUser").kendoDropDownList({
                    dataTextField: "Name",
                    dataValueField: "Id",
                    value: "@ViewBag.Department",
                    select: function (e) {
                        if ("@ViewBag.Department" != 0 && "@ViewBag.Department" != 2) {
                            e.preventDefualt();
                        }
                    },
                    dataSource: {
                        type: "odata",
                        transport: {
                            read: {
                                url: "/KendoSelect/GetCreateUserByDuty?duty=" + $("#department").val().toString()
                            }
                        }
                    }
                }).data("kendoDropDownList");
                }
                var userDropDown = $("#createUser").kendoDropDownList({
                    dataTextField: "Name",
                    dataValueField: "Id",
                    dataSource: {
                        type: "odata",
                        transport: {
                            read: {
                                url: "/KendoSelect/GetCreateUserByDuty?duty=" + $("#department").val().toString()
                            }
                        }
                    }
                }).data("kendoDropDownList");

                var feeTypeDropDown = $("#feeType").kendoDropDownList({
                    dataTextField: "Name",
                    dataValueField: "Id",
                    dataSource: {
                        type: "odata",
                        transport: {
                            read: {
                                url: "/KendoSelect/GetFeeType?addTotal=" + true
                            }
                        }
                    },
                    filter: "contains"
                }).data("kendoDropDownList");

                var vendorDropDown = $("#vendor").kendoDropDownList({
                    dataTextField: "Name",
                    dataValueField: "Id",
                    dataSource: {
                        type: "odata",
                        transport: {
                            read: {
                                url: "/KendoSelect/GetSupplier?addTotal=" + true
                            }
                        }
                    },
                    filter: "contains"
                }).data("kendoDropDownList");
                var payableDropDown = $("#payable").kendoDropDownList({
                    dataTextField: "Name",
                    dataValueField: "Id",
                    dataSource: {
                        type: "odata",
                        transport: {
                            read: {
                                url: "/KendoSelect/GetSupplier?addTotal=" + true
                            }
                        }
                    },
                    filter: "contains",
                    //filtering: function (e) {
                    //    //get filter descriptor
                    //    var filter = e.filter;

                    //    // handle the event
                    //    if (!filter.value) {
                    //        //prevent filtering if the filter does not value
                    //        e.preventDefault();
                    //    }
                    //},
                    change: deptChange
                }).data("kendoDropDownList");

                $(window).on('resize', function () {
                    $("#grid").data('kendoGrid')._adjustLockedHorizontalScrollBar();
                });
            });

            function datediff(first, second) {
                return Math.round((second - first) / (1000 * 60 * 60 * 24));
            }

            function onGridChange() {
                var grid = $("#grid").data("kendoGrid");
                var rows = grid.select();
                var ids = [];
                var checkedIds = []
                selectPayTotal = 0;
                selectCostTotal = 0;
                selectSpreadTotal = 0;
                rows.each(function (e) {
                    var pay = grid.dataItem(this).Payment;
                    var cost = grid.dataItem(this).Cost;
                    var spread = grid.dataItem(this).Spread;
                    if (grid.dataItem(this).StrChecked.toString().indexOf("作廢")<0) {
                        selectPayTotal = selectPayTotal + pay;
                        selectCostTotal = selectCostTotal + cost;
                        selectSpreadTotal = selectSpreadTotal + spread;
                    }
                });
                $('.k-grid-selectPay').text("勾選資料收入：" + selectPayTotal);
                $('.k-grid-selectCost').text("勾選資料支出：" + selectCostTotal);
                $('.k-grid-selectSpread').text("勾選資料價差：" + selectSpreadTotal);
                $(".k-state-disabled").removeClass("k-state-selected");
                $(".k-state-disabled").find(".k-checkbox").prop("checked", false);
                //$('#paySum').text = selectPayTotal.toString();
                //$("#grid").getKendoGrid().dataSource.read();
            }

            function findInfo() {

                getCheckBoxVal();
                if (checkInput()) {
                    kendo.ui.progress($("#container"), true);

                    var myGrid = $("#grid").data("kendoGrid");

                    if (typeof myGrid !== "undefined") {
                        myGrid._progress(1);
                    }
                    if (myGrid !== undefined) {
                        //var newDataSource = new kendo.data.DataSource({
                        //    data: []
                        //});
                        //myGrid.setDataSource(newDataSource);
                        myGrid.dataSource.data([]);
                        myGrid.refresh();
                    }
                    

                    genGrid();
                }
            }

            function getCheckBoxVal() {
                checkAccountCheckedVal = [];
                $.each($("input[name='CheckAccountRecord']:checked"), function () {
                    checkAccountCheckedVal.push($(this).val());
                });
            }

            function checkInput(station, customer) {
                if (startDate == "") {
                    alert("必須設定啟始日期");
                    return false;
                }

                if (endDate == "") {
                    alert("必須設定迄止日期");
                    return false;
                }

                var mystart = new Date(startDate);
                var myend = new Date(endDate);

                var datediffnum = datediff(mystart, myend);

                if (datediffnum > 30) {
                    alert("間隔時間須小於30天");
                    return false;
                }

                if (checkAccountCheckedVal.length === 0) {
                    alert("必須選擇核帳紀錄");
                    return false;
                }
                return true;
            }

            function getExcel() {
                //footer problem
                //$("#grid").getKendoGrid().saveAsExcel();
                //解決連續出Excel問題
                //var button = $('#GetExcel');
                //button.attr('disabled', 'disabled');
                //$("#grid").find(".k-grid-excel").click();

                //解決連續出Excel問題
                $("#grid").getKendoGrid().saveAsExcel();
            }

            function checkAccounts() {
                var button = $('#CheckAccounts');
                var button2 = $('#CheckAccountsTemp');
                button.hide();
                button2.removeAttr('hidden');
                button2.show();
                button2.attr('disabled', 'disabled');
                setTimeout(function () {
                    button.show();
                    button2.hide();
                }, 30000);
                var grid = $("#grid").data("kendoGrid");
                var rows = grid.select();
                var ids = [];
                var checkedIds = [];
                var cannotModifyIds = [];
                rows.each(function (e) {
                    var id = grid.dataItem(this).Id;
                    ids.push(id);
                    if (grid.dataItem(this).IsChecked) {
                        var tr = this.closest("tr");
                        var rowId = $("tr", grid.tbody).index(tr) + 1;
                        checkedIds.push(rowId);
                    }
                    if (grid.dataItem(this).RegisterDate < cannotModifyDate) {
                        var tr = this.closest("tr");
                        var rowId = $("tr", grid.tbody).index(tr) + 1;
                        cannotModifyIds.push(rowId);
                    }
                });
                if (cannotModifyIds.length > 0) {

                    alert("第" + cannotModifyIds.join(",") + "列資料已逾時無法進行核銷。");
                    button.show();
                    button2.hide();
                    return false;
                }
                if (checkedIds.length > 0) {

                    alert("第" + checkedIds.join(",") + "列資料為已核銷資料，請確認後再進行核銷。");
                    button.show();
                    button2.hide();
                    return false;
                }
                if (confirm("請確定資料皆為需核銷資料，確認核銷後不得變更資料！")) {

                    $.ajax({
                        url: "WenERPCheckAccount",
                        type: "post",
                        data: { ids: JSON.stringify(ids) },
                        beforeSend: function (e) { window.kendo.ui.progress($("#container"), true); },
                        success: function (data) {
                            console.log("success");
                            var myGrid = $("#grid").data("kendoGrid");
                            myGrid.dataSource.read();
                            myGrid.refresh();
                        }
                    });
                } else {
                    button.show();
                    button2.hide();
                    return false;
                }
            }

            function genGrid() {

                var department = $("#department").data('kendoDropDownList').value();
                var createUser = "*";
                if ($("#createUser").data('kendoDropDownList').value() != null) {
                    createUser = $("#createUser").data('kendoDropDownList').value();
                }
                var feeType = $("#feeType").data('kendoDropDownList').value();
                var vendor = $("#vendor").data('kendoDropDownList').value();
                var payable = $("#payable").data('kendoDropDownList').value();
                var strNoteSearch = "";
                if (noteSearch) {
                    strNoteSearch = "&noteSearch=" + noteSearch;
                }
                var getUrl = "GetEditPageFrontEntity?start=" + startDate + "&end=" + endDate
                    + "&duty=" + department + "&createUser=" + createUser + "&feeType=" + feeType
                    + "&checkAccountCheckedVal=" + checkAccountCheckedVal + "&vendor=" + vendor + "&payable=" + payable
                    + strNoteSearch;
                dataSource = new kendo.data.DataSource(
                    {
                        transport: {
                            read: {
                                url: getUrl,
                                dataType: "jsonp"
                            },
                            update: {
                                url: "UpdateVendorPaymentLog",
                                dataType: "jsonp"
                            },
                            destroy: {
                                url: "DeleteVendorPaymentLog",
                                dataType: "jsonp"
                            },
                            parameterMap: function (options, operation) {
                                if (operation !== "read" && options.models) {
                                    return { models: kendo.stringify(options.models[options.models.length-1]) };
                                }
                            }
                        },
                        requestEnd: function (e) {
                            kendo.ui.progress($("#container"), false);
                        },
                        batch: true,
                        schema: {
                            model: {
                                id: "Id",
                                IsChecked: "IsChecked",
                                IsActive: "IsActive",
                                fields: {
                                    UploadDate: { editable: false, type: "date" },
                                    StrChecked: { editable: false, nullable: true },
                                    /*DutyDept: { editable: false },*/
                                    CreateUser: {
                                        editable: false, nullable: true,
                                        validation: {
                                            required: true
                                        }
                                    },
                                    RegisterDate: {
                                        editable: true, type: "date",
                                        validation: {
                                            required: true
                                        }
                                    },
                                    FeeType: {
                                        editable: true,
                                        validation: {
                                            required: true
                                        }
                                    },
                                    VendorName: {
                                        editable: true, nullable: true,
                                        validation: {
                                            required: true
                                        }
                                    },
                                    VendorUID: {
                                        editable: false, nullable: true,
                                        validation: {
                                            required: true
                                        }
                                    },
                                    Payment: {
                                        editable: true,
                                        validation: {
                                            required: function (input) {
                                                if (input.is("[name='Payment']") && input.val() == "") {
                                                    input.attr("data-required-msg", "這是必填欄位");
                                                    return input.val() != "";
                                                }
                                                return true;
                                            }
                                        }
                                    },
                                    Payable: {
                                        editable: true, nullable: true,
                                        validation: {
                                            required: true
                                        }
                                    },
                                    PayableUID: {
                                        editable: false, nullable: true,
                                        validation: {
                                            required: true
                                        }
                                    },
                                    Cost: {
                                        editable: true,
                                        validation: {
                                            required: function (input) {
                                                if (input.is("[name='Cost']") && input.val() == "") {
                                                    input.attr("data-required-msg", "這是必填欄位");
                                                    return input.val() != "";
                                                }
                                                return true;
                                            }
                                        }
                                    },
                                    CarNumber: { editable: true, nullable: true },
                                    Spread: {
                                        editable: false,
                                        validation: {
                                            required: function (input) {
                                                if (input.is("[name='Spread']") && input.val() == "") {
                                                    input.attr("data-required-msg", "這是必填欄位");
                                                    return input.val() != "";
                                                }
                                                return true;
                                            }
                                        }
                                    },
                                    InvoiceNumber: { editable: true, nullable: true },
                                    InvoiceDate: {
                                        editable: true, type: "date",
                                        validation: {
                                            required: true
                                        }
                                    },
                                    Memo: {
                                        editable: true,
                                        validation: {
                                            required: function (input) {
                                                if (input.is("[name='Memo']") && input.val() == "") {
                                                    input.attr("data-required-msg", "這是必填欄位");
                                                    return input.val() != "";
                                                }
                                                return true;
                                            }
                                        }
                                    },
                                    Department: { editable:true, nullable: true },
                                    CompanyType: { editable: true, nullable: true }
                                }
                            }
                        },
                        aggregate: [
                            { field: "Payment", aggregate: "sum" },
                            { field: "Cost", aggregate: "sum" },
                            { field: "Spread", aggregate: "sum" }
                        ]

                    });

                $("#grid").kendoGrid({
                    dataBound: function () {
                        rowNumber = 0;
                        var myGrid = $("#grid").data("kendoGrid");
                        var dataSource = myGrid.dataSource;
                        var totalRecords = dataSource.total();
                        $('.k-grid-count').text("共" + totalRecords + "筆");
                        $('.k-grid-selectPay').text("勾選資料收入：0");
                        $('.k-grid-selectCost').text("勾選資料支出：0");
                        $('.k-grid-selectSpread').text("勾選資料價差：0");

                        myGrid.tbody.find("tr[role='row']").each(function () {
                            var model = myGrid.dataItem(this);
                            //已核帳不能編輯
                            if (model.IsChecked) {
                                $(this).find(".k-grid-edit").addClass("k-state-disabled");
                                //$(this).find(".k-grid-delete").addClass("k-state-disabled");
                            }
                            //已過期不能編輯作廢
                            if (model.RegisterDate < cannotModifyDate) {
                                $(this).find(".k-grid-edit").addClass("k-state-disabled");
                                $(this).find(".k-grid-delete").addClass("k-state-disabled");
                            }
                            //已作廢不能編輯作廢
                            if (!model.IsActive) {
                                $(this).find(".k-grid-edit").addClass("k-state-disabled");
                                $(this).find(".k-grid-delete").addClass("k-state-disabled");
                                $(this).find(".k-checkbox").addClass("k-state-disabled");
                                $(this).addClass("k-state-disabled");
                            }
                        });
                        $(".k-state-disabled").each(function (index) {
                            $(this).removeClass('k-grid-edit')
                            $(this).removeClass('k-grid-delete')
                        });
                    },
                    height: 850,
                    change: onGridChange,
                    dataSource: dataSource,
                    toolbar: ["excel",
                        { name: "delete-custom", text: "批次作廢" },
                        { name: "count", text: "" },
                        { name: "selectPay", text: "", refresh: true },
                        { name: "selectCost", text: "", refresh: true },
                        { name: "selectSpread", text: "", refresh: true }
                    ],
                    excel: {
                        fileName: "車老闆應收應付收支明細.xlsx",
                        allPages: true
                    },
                    pageable: {
                        numeric: false,
                        previousNext: false,
                        messages: {
                            display: "Total: {2}"
                        }
                    },
                    excelExport: exportGridWithTemplatesContent,
                    groupable: true,
                    columnMenu: true,
                    sortable: true,
                    filterable: true,
                    columns: [
                        {
                            title: "rowID",
                            template: "#= ++rowNumber #",
                            width: "50px",
                            footerTemplate: "Total"
                        },
                        {
                            selectable: true, width: "50px",
                            attributes: {
                                "class": "#= IsActive == false ? 'k-state-disabled':''#"
                            }
                        }, {
                            field: "Id",
                            hidden: true
                        }, {
                            field: "UploadDate",
                            title: "上傳日期",
                            format: "{0:yyyy/MM/dd}",
                            width: "100px"
                        }, {
                            field: "StrChecked",
                            title: "是否已核帳",
                            width: "140px"
                        //}, {
                        //    field: "DutyDept",
                        //    title: "權責單位",
                        //    width: "60px"
                        }, {
                            field: "CreateUser",
                            title: "建檔人",
                            width: "100px"
                        }, {
                            field: "RegisterDate",
                            title: "發生日期",
                            format: "{0:yyyy/MM/dd}",
                            width: "100px"
                        }, {
                            field: "FeeType",
                            title: "交易項目",
                            editor: function (container, options) {
                                FeeTypeDropDownEditor(container, options);
                            },
                            width: "120px"
                        }, {
                            field: "VendorName",
                            title: "應收對象",
                            editor: function (container, options) {
                                VendorsDropDownEditor(container, options);
                            },
                            width: "200px"
                        }, {
                            field: "VendorUID",
                            title: "應收對象統一編號/身分證字號",
                            width: "100px"
                        }, {
                            field: "Payment",
                            title: "收入未稅",
                            footerTemplate: "總計: #: data.Payment ? data.Payment.sum: 0 #",
                            width: "150px"
                        }, {
                            field: "Payable",
                            title: "應付對象",
                            editor: function (container, options) {
                                VendorsDropDownEditor(container, options);
                            },
                            width: "200px"
                        }, {
                            field: "PayableUID",
                            title: "應付對象統一編號/身分證字號",
                            width: "100px"
                        }, {
                            field: "Cost",
                            title: "支出未稅",
                            footerTemplate: "總計: #: data.Cost ? data.Cost.sum: 0 #",
                            width: "150px"
                        }, {
                            field: "Spread",
                            title: "價差",
                            footerTemplate: "總計: #: data.Spread ? data.Spread.sum: 0 #",
                            width: "100px"
                        }, {
                            field: "InvoiceNumber",
                            title: "發票號碼",
                            width: "120px"
                        }, {
                            field: "InvoiceDate",
                            title: "發票日期",
                            format: "{0:yyyy/MM/dd}",
                            width: "100px"
                        }, {
                            field: "CarNumber",
                            title: "車號",
                            width: "100px"
                        }, {
                            field: "Memo",
                            title: "摘要",
                            width: "250px"
                        }, {
                            field: "Department",
                            title: "部門",
                            editor: function (container, options) {
                                DepartmentDropDownEditor(container, options);
                            },
                            width: "80px"
                        }, {
                            field: "CompanyType",
                            title: "入帳公司別",
                            editor: function (container, options) {
                                CompaniesDropDownEditor(container, options);
                            },
                            width: "60px"
                        }, {
                            field: "IsChecked",
                            hidden: true,
                        }, {
                            command: [
                                { name: "edit", text: { edit: "編輯", update: "儲存", cancel: "取消" }, title: "", width: "100px" },
                                { name: "delete", text: "作廢", width: "100px"}
                            ],
                            width: "100px"
                        }
                    ],
                    editable: {
                        mode: "inline",
                        confirmation: "請再次確定資料是否作廢?",
                        width: "100px"
                    }
                });

                var myGrid = $("#grid").data("kendoGrid");

                myGrid.dataSource.read();
                myGrid.refresh();
            }

            $("#grid").on("click", ".k-grid-delete-custom", function () {
                var grid = $("#grid").data("kendoGrid");
                var rows = grid.select();
                var ids = [];
                var cannotDeleteIds = [];
                rows.each(function (e) {
                    var id = grid.dataItem(this).Id;
                    if (grid.dataItem(this).RegisterDate < cannotModifyDate) {
                        var tr = this.closest("tr");
                        var rowId = $("tr", grid.tbody).index(tr) + 1;
                        cannotDeleteIds.push(rowId);
                    }
                    ids.push(id);
                });
                if (cannotDeleteIds.length > 0) {
                    alert("第" + cannotDeleteIds.join(",") + "列資料已過時無法作廢。");
                    return false;
                }
                if (confirm("確認作廢資料?")) {
                    $.ajax({
                        url: "BatchDeleteVendorPaymentLog",
                        type: "post",
                        data: { ids: JSON.stringify(ids) },
                        beforeSend: function (e) { window.kendo.ui.progress($("#container"), true); },
                        success: function (data) {
                            console.log("success");
                            var myGrid = $("#grid").data("kendoGrid");
                            selectPayTotal = 0;
                            selectCostTotal = 0;
                            selectSpreadTotal = 0;
                            myGrid.dataSource.read();
                            myGrid.refresh();
                        }
                    });

                }
            });

            function writeOffCheckListDropDownEditor(container, options) {
                $('<input required name="' + options.field + '"/>')
                    .appendTo(container)
                    .kendoDropDownList({
                        autoBind: false,
                        dataTextField: "Information",
                        dataValueField: "Id",
                        dataSource: {
                            type: "odata",
                            transport: {
                                read: "/KendoSelect/GetErrorWriteOffCheckList"
                            }
                        }
                    });
            }

            function FeeTypeDropDownEditor(container, options) {
                $('<input required name="' + options.field + '"/>') // required
                    .appendTo(container)
                    .kendoDropDownList({
                        autoBind: false,
                        filter: "contains",
                        dataTextField: "name",
                        dataValueField: "name",
                        dataSource: {
                            type: "jsonp",
                            transport: {
                                read: "/TruckVendorPaymentAndMaintenance/GetFeeTypes"
                            }
                        }
                    });
            }

            function CompaniesDropDownEditor(container, options) {
                $('<input name="' + options.field + '"/>') // not required
                    .appendTo(container)
                    .kendoDropDownList({
                        autoBind: false,
                        valuePrimitive: true,
                        filter: "contains",
                        dataTextField: "name",
                        dataValueField: "name",
                        dataSource: {
                            type: "jsonp",
                            transport: {
                                read: "/TruckVendorPaymentAndMaintenance/GetCompanies"
                            }
                        }
                    });
            }

            function VendorsDropDownEditor(container, options) {
                $('<input required name="' + options.field + '"/>')
                    .appendTo(container)
                    .kendoDropDownList({
                        autoBind: false,
                        filter: "contains",
                        valuePrimitive: true,
                        dataTextField: "vendorName",
                        dataValueField: "vendorName",
                        dataSource: {
                            type: "jsonp",
                            transport: {
                                read: "/TruckVendorPaymentAndMaintenance/GetAllTruckVendors"
                            }
                        }
                    });
            }

            function DepartmentDropDownEditor(container, options) {
                $('<input name="' + options.field + '"/>') // not required
                    .appendTo(container)
                    .kendoDropDownList({
                        autoBind: false,
                        valuePrimitive: true,
                        filter: "contains",
                        dataTextField: "name",
                        dataValueField: "id",
                        dataSource: {
                            type: "jsonp",
                            transport: {
                                read: "/TruckVendorPaymentAndMaintenance/GetDepartments"
                            }
                        }
                    });
            }

            function exportGridWithTemplatesContent(e) {
                var rows = e.workbook.sheets[0].rows;
                var newRows = [];
                for (var ri = 0; ri < rows.length; ri++) {
                    var row = rows[ri];

                    if (row.type != "footer") {
                        newRows.push(row);
                    }
                }
                e.workbook.sheets[0].rows = newRows;
            }
        </script>
    </div>
</div>
