﻿@{
    ViewData["Title"] = "KendoTest";
    Layout = "~/Views/Shared/_LayoutAddJFMenu.cshtml";
}
<div id="container">
    <div class="demo-section k-content">
        <h4>無法進入頁面</h4>
        <label style="color:red">
            @Html.Raw(ViewBag.msg)
        </label>
    </div>
</div>
