﻿@{
    Layout = "~/Views/Shared/_LayoutAddJFMenu.cshtml";
}

<div style="background-color:black" class="demo-section k-content">
    <h3 style="color: white">供應商收支表(舊版)</h3>
    <a href="/TruckVendorPaymentAndMaintenance/Index" class="k-button">查詢新版資料</a>
    <h4 style="margin-top: 2em; color: white">供應商名稱</h4>
    <input id="truckvendor" style="width: 100%" />

    <h4 style="margin-top: 2em; color: white">發生月份</h4>
    <input id="monthpicker" title="monthpicker" style="width: 100%" />

    <button id="search" class="k-button">查詢收支表</button>
    <button id="query" class="k-button">查詢明細</button>

    @*<button id="exportPDF" class="k-button">匯出PDF</button>
        <button id="exportexcel" class="k-button">匯出Excel</button>*@
</div>
<h4><span id="span1" style="display:none">支出金額：<label id="expenditure"></label></span></h4>
<h4><span id="span2" style="display:none">收入金額：<label id="income"></label></span></h4>
<h4><span id="span3" style="display:none">損益：<label id="remainder"></label></span></h4>
<div id="grid"></div>
<div id="griddetail"></div>

<script>
    $(document).ready(function () {

        $("#monthpicker").kendoDatePicker({
            start: "year",
            depth: "year",
            format: "yyyy M",
            dateInput: true,
            change: onChange,
            culture: "zh-TW"
        });

        function onChange() {
            var value = this.value();
            month = kendo.toString(value, "s"); //把日期的值從英文轉成datetime
            exportPDFmonth = kendo.toString(value, "MM");
            exportPDFyear = kendo.toString(value, "yyyy");
        }
    });
    $(document).ready(function () {
        $("#truckvendor").kendoDropDownList({
            dataTextField: "vendorName",
            dataValueField: "id",
            filter: "contains",
            value: "@ViewBag.TruckVendorId",
            dataSource: {
                //serverFiltering: true, // if set true, filter fail
                transport: {
                    read: {
                        url: "/TruckVendorPaymentAndMaintenance/GetAllTruckVendors_Old",
                        type: "jsonp",
                    }
                }
            },
            cascade: function (e) {
                var value = this.value();
                vendor = value;
                exportVendorName = this.text();
            }
        }).data("kendoDropDownList");

        EnableSelectOrNot()
    });

    function EnableSelectOrNot() {
        $.ajax({
            url: "GetSuppliersAccountCode",
            dataType: "json",
            success: function (result) {
                if (result.includes("@ViewBag.UserAccount")) {
                    var dropdownlist = $("#truckvendor").data("kendoDropDownList");
                    dropdownlist.enable(false);
                }
                else {
                    var dropdownlist = $("#truckvendor").data("kendoDropDownList");
                    dropdownlist.enable(true);
                }
            }
        });
    }

    function getGridDetail() {

        var getUrl = "/TruckVendorPaymentAndMaintenance/GetAllByMonthAndTruckVendor_Old?month=" + month + "&vendor=" + vendor;

        dataSource = new kendo.data.DataSource({
            transport: {
                read: {
                    url: getUrl,
                    dataType: "jsonp"
                },
                update: {
                    url: "/TruckVendorPaymentAndMaintenance/Update",
                    dataType: "jsonp"
                },
                //create: {
                //    url: "/TruckVendorPaymentAndMaintenance/Save",
                //    dataType: "jsonp"
                //},
                parameterMap: function (data, type) {
                    if (type !== "read" && data.models) {
                        return { models: kendo.stringify(data.models) };
                    }
                },
            },
            batch: true,
            pageSize: 30,
            schema: {
                model: {
                    id: "Id",
                    fields: {
                        //Id: { editable: false, nullable: false},
                        RegisterDate: { type: "date", validation: { required: true } },
                        FeeType: { validation: { required: true }, type: "string" },
                        VendorName: { validation: { required: true }, nullable: true , type: "string" },
                        CarNumber: { validation: { required: false }, nullable: true },
                        Payment: { validation: { required: true }, nullable: true },
                        Memo: { validation: { required: true }, nullable: true },
                        CompanyType: { validation: { required: false }, nullable: true, type: "string" },
                    }
                }
            }
        });
    }
    //查詢明細
    $("#query").kendoButton({
        click: function (e) {

            $("#grid").hide();
            document.getElementById('span1').style.display = 'none';
            document.getElementById('span2').style.display = 'none';
            document.getElementById('span3').style.display = 'none';

            getGridDetail();
            $("#griddetail").show();

            if ($("#griddetail").data("kendoGrid") == null) {
            } else {
                $("#griddetail").data("kendoGrid").dataSource.read();
                $("#griddetail").data("kendoGrid").refresh();
            }

            $("#griddetail").kendoGrid({
                dataSource: dataSource,
                sortable: true,
                filterable: {
                    mode: "row"
                },
                pageable: true,
                height: 550,
                toolbar: [{ template: '<button id="export" class="k-button" onclick="exportexcel()">匯出EXCEL</button>'}],
                excel: {
                    fileName: kendo.toString(new Date(), "yyyy/MM/dd") + "供應商收支明細.xlsx",
                    allPages: true,
                    filterable: true
                },
                columnMenu: {
                    columns: true
                },
                columns: [
                    //{ field: "Id", title: "序號", width: "100px" },
                    { field: "RegisterDate", title: "發生日期", format: "{0: yyyy/MM/dd}" },
                    {
                        field: "FeeType", title: "交易項目", editor: FeeTypeDropDownEditor, width: "200px",
                        filterable: {
                             cell: {
                                    operator: "contains",
                                    suggestionOperator: "contains"
                             }
                        }
                    },
                    { field: "VendorName", title: "供應商名稱", editor: VendorsDropDownEditor, width: "250px", filterable: false },
                    { field: "CarNumber", title: "車號", filterable: false },
                    { field: "Payment", title: "金額", filterable: false },
                    { field: "Memo", title: "摘要" , filterable: false},
                    { field: "CompanyType", title: "公司別", editor: CompaniesDropDownEditor, width: "100px", filterable: false }
                    ],
                    //{
                    //    command: { name: "edit", text: { edit: "編輯", update: "儲存", cancel: "取消" } },
                    //    title: "修改", width: "150px"
                    //}],
                editable: { mode: "inline", confirmation: false },
                dataBound: function (e) {
                    $.ajax({
                        url: "GetSuppliersAccountCode",
                        dataType: "json",
                        success: function (result) {
                            // 供應商不能編輯
                            if (result.includes("@ViewBag.UserAccount")) {
                                $(".k-grid-edit").addClass("k-state-disabled");
                            }
                        }
                    });
                }
            });

            let gridOnePosition = $("#griddetail").offset().top;
            $("html, body").animate({ scrollTop: gridOnePosition }, 200);
        }
    });

    function FeeTypeDropDownEditor(container, options) {
        $('<input required name="' + options.field + '"/>')
            .appendTo(container)
            .kendoDropDownList({
                autoBind: false,
                filter: "contains",
                dataTextField: "name",
                dataValueField: "Id",
                dataSource: {
                    type: "json",
                    transport: {
                        read: "/TruckVendorPaymentAndMaintenance/GetFeeTypes"
                    }
                },
            });
    }

    function CompaniesDropDownEditor(container, options) {
        $('<input name="' + options.field + '"/>')
            .appendTo(container)
            .kendoDropDownList({
                autoBind: false,
                filter: "contains",
                dataTextField: "name",
                dataValueField: "Id",
                dataSource: {
                    type: "json",
                    transport: {
                        read: "/TruckVendorPaymentAndMaintenance/GetCompanies"
                    }
                },
            });
    }

    function VendorsDropDownEditor(container, options) {
        $('<input required name="' + options.field + '"/>')
            .appendTo(container)
            .kendoDropDownList({
                autoBind: false,
                filter: "contains",
                dataTextField: "vendorName",
                dataValueField: "Id",
                dataSource: {
                    type: "json",
                    transport: {
                        read: "/TruckVendorPaymentAndMaintenance/GetAllTruckVendors"
                    }
                },
            });
    }

    function getGrid() {

        var getUrl = "/TruckVendorPaymentAndMaintenance/GetDisbursement_Old?month=" + month + "&vendor=" + vendor;

        dataSource1 = new kendo.data.DataSource({
            transport: {
                read: {
                    url: getUrl,
                    dataType: "jsonp"
                },
                parameterMap: function (data, type) {
                    if (type !== "read" && data.models) {
                        return { models: kendo.stringify(data.models) };
                    }
                },
            },
            batch: true,
            pageSize: 30,
            schema: {
                model: {
                    id: "Id",
                    fields: {
                        FeeType: { validation: { required: true } },
                        Payment: { validation: { required: true }, nullable: true },
                    }
                }
            }
        });
    }

    //查詢收支表
    $("#search").kendoButton({
        click: function (e) {

            $("#griddetail").hide();
            getGrid();
            $("#grid").show();

            var income = "";
            var expenditure = "";
            var remainder = "";

            $.ajax({
                url: "GetIncomeAndExpenditure_Old?month=" + month + "&vendor=" + vendor,
                dataType: "json",
                success: function (result) {
                    var output = JSON.parse(result);
                    income = output.Income;
                    expenditure = output.Expenditure;
                    remainder = output.Remainder;
                    $("#income").text(income);
                    $("#expenditure").text(expenditure);
                    $("#remainder").text(remainder);
                }
            });

            document.getElementById('span1').style.display = 'block';
            document.getElementById('span2').style.display = 'block';
            document.getElementById('span3').style.display = 'block';

            if ($("#grid").data("kendoGrid") == null) {
            } else {
                $("#grid").data("kendoGrid").dataSource.read();
                $("#grid").data("kendoGrid").refresh();
            }

            $("#grid").kendoGrid({
                dataSource: dataSource1,
                sortable: true,
                filterable: true,
                pageable: true,
                height: 550,
                toolbar: [{ template: '<button id="exportpdf" class="k-button" onclick="exportPDF()">匯出PDF</button>'}],
                pdf: {
                    fileName: exportPDFyear + "年" + exportPDFmonth + "月份" + exportVendorName + "收支表.pdf",
                    allPages: true,
                    avoidLinks: true,
                    paperSize: "A4",
                    margin: { top: "2.5cm", left: "1cm", right: "1cm", bottom: "1cm" },
                    landscape: true,
                    repeatHeaders: true,
                    template: $("#page-template").html(),
                    scale: 0.8,
                },
                pdfExport: function (e) {
                    customHeader = exportPDFyear + "年" + exportPDFmonth + "月份" + exportVendorName + "收支表";
                    customFooter = "支出金額：" + expenditure + "\n\n\n" + "收入金額：" + income;
                    customHeader1 = "損益：" + remainder;
                },
                columnMenu: {
                    columns: true
                },
                columns: [
                    { field: "FeeType", title: "交易項目" },
                    { field: "Payment", title: "金額" },
                ],
            });
            let gridOnePosition = $("#grid").offset().top;
            $("html, body").animate({ scrollTop: gridOnePosition }, 200);
        }
    });

    function exportexcel() {
        try {
            var grid = $("#griddetail").data("kendoGrid");
            grid.saveAsExcel();
        } catch (e) {
            fnDialog('無法匯出Excel',
                '無法匯出Excel，請洽管理員。',
                null,
                null);
        }
    }

    function exportPDF() {
        try {
            var grid = $("#grid").data("kendoGrid");
            grid.saveAsPDF();
        } catch (e) {
            fnDialog('無法匯出PDF',
                '無法匯出PDF，請洽管理員。',
                null,
                null);
        }
    }

</script>

<script type="x/kendo-template" id="page-template">
    <div class="page-template">
        <div class="header">
            #=customHeader#
        </div>
        <div class="footer">
            #=customFooter#
        </div>
        <div class="header1">
            #=customHeader1#
        </div>
    </div>
</script>

<style>
    .page-template {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }

        .page-template .header {
            position: absolute;
            top: 30px;
            left: 30px;
            right: 30px;
            border-bottom: 1px solid #888;
            text-align: center;
            font-size: 18px;
        }

        .page-template .footer {
            position: absolute;
            top: 40px;
            bottom: 30px;
            left: 30px;
            right: 30px;
            text-align: left;
            font-size: 14px;
        }

        .page-template .header1 {
            position: absolute;
            top: 60px;
            left: 30px;
            right: 30px;
            text-align: right;
            font-size: 14px;
        }
</style>
