﻿@{
    Layout = "~/Views/Shared/_LayoutAddJFMenu.cshtml";
}

    <div class="demo-section k-content">
        <h2>供應商下拉選單維護區</h2><br />
        <button id="searchIncomeFeetype">修改收入項目</button>
        <button id="searchExpenditureFeetype">修改支出項目</button>
        <button id="searchCompany">修改公司別</button>
        <button id="searchVendor">修改供應商</button><br/><br/>
        <div id="incomefeetype"></div>
        <div id="expenditurefeetype"></div>
        <div id="company"></div>
        <div id="vendor"></div>
    </div>

    <script>

    function getvendor() {

        dataSource = new kendo.data.DataSource({
            transport: {
                read: {
                    url: "/TruckVendorPaymentAndMaintenance/GetTruckVendorForMainten",
                    dataType: "jsonp"
                },
                update: {
                    url: "/TruckVendorPaymentAndMaintenance/SaveTruckVendor",
                    dataType: "jsonp"
                },
                create: {
                    url: "/TruckVendorPaymentAndMaintenance/SaveTruckVendor",
                    dataType: "jsonp"
                },
                parameterMap: function (data, type) {
                    if (type !== "read" && data.models) {
                        return { models: kendo.stringify(data.models) };
                    }
                },
            },
            batch: true,
            pageSize: 30,
            schema: {
                model: {
                    id: "Id",
                    fields: {
                        Id: { editable: false, nullable: false, defaultValue: 0},
                        VendorName: { validation: { required: true }, nullable: true },
                        IsActive: { validation: { required: false }, nullable: true, type: "boolean" }
                    }
                }
            }
        });
    }

    function getcompany() {

        dataSource2 = new kendo.data.DataSource({
            transport: {
                read: {
                    url: "/TruckVendorPaymentAndMaintenance/GetCompanyForMainten",
                    dataType: "jsonp"
                },
                update: {
                    url: "/TruckVendorPaymentAndMaintenance/SaveCompany",
                    dataType: "jsonp"
                },
                create: {
                    url: "/TruckVendorPaymentAndMaintenance/SaveCompany",
                    dataType: "jsonp"
                },
                parameterMap: function (data, type) {
                    if (type !== "read" && data.models) {
                        return { models: kendo.stringify(data.models) };
                    }
                },
            },
            batch: true,
            pageSize: 30,
            schema: {
                model: {
                    id: "Seq",
                    fields: {
                        Seq: { editable: false, nullable: false, defaultValue: 0},
                        CodeId: { editable: false, nullable: false},
                        CodeName: { validation: { required: true }, nullable: true },
                        ActiveFlag: { validation: { required: false }, nullable: true, type: "boolean" }
                    }
                }
            }
        });
    }

    function getIncomeFeeType() {

        dataSource3 = new kendo.data.DataSource({
            transport: {
                read: {
                    url: "/TruckVendorPaymentAndMaintenance/GetIncomeFeeType",
                    dataType: "jsonp"
                },
                update: {
                    url: "/TruckVendorPaymentAndMaintenance/SaveIncomeFeeType",
                    dataType: "jsonp"
                },
                create: {
                    url: "/TruckVendorPaymentAndMaintenance/SaveIncomeFeeType",
                    dataType: "jsonp"
                },
                parameterMap: function (data, type) {
                    if (type !== "read" && data.models) {
                        return { models: kendo.stringify(data.models) };
                    }
                },
            },
            batch: true,
            pageSize: 30,
            schema: {
                model: {
                    id: "Seq",
                    fields: {
                        Seq: { editable: false, nullable: false, defaultValue: 0},
                        CodeId: { editable: false, nullable: false},
                        CodeName: { validation: { required: true }, nullable: true },
                        ActiveFlag: { validation: { required: false }, nullable: true, type: "boolean" },
                        DutyDept: { validation: { required: true }, nullable: false }
                    }
                }
            }
        });
    }

    function getExtenditureFeeType() {

        dataSource4 = new kendo.data.DataSource({
            transport: {
                read: {
                    url: "/TruckVendorPaymentAndMaintenance/GetExpenditureFeeType",
                    dataType: "jsonp"
                },
                update: {
                    url: "/TruckVendorPaymentAndMaintenance/SaveExpenditureFeeType",
                    dataType: "jsonp",
                },
                create: {
                    url: "/TruckVendorPaymentAndMaintenance/SaveExpenditureFeeType",
                    dataType: "jsonp"
                },
                parameterMap: function (options, operation) {
                    if (operation !== "read") {
                        return { models: kendo.stringify(options.models) };
                    }
                }
            },
            batch: true,
            pageSize: 30,
            schema: {
                model: {
                    id:"Seq",
                    fields: {
                        Seq: { editable: false, nullable: false, defaultValue: 0},
                        CodeId: { editable: false, nullable: false},
                        CodeName: { validation: { required: true }, nullable: true },
                        ActiveFlag: { validation: { required: false }, nullable: true, type: "boolean" },
                        DutyDept: { validation: { required: true }, nullable: false }
                    }
                }
            },
        });
    }

    $("#searchVendor").kendoButton({
        click: function (e) {

            $("#incomefeetype").hide();
            $("#expenditurefeetype").hide();
            $("#company").hide();
            getvendor();
            $("#vendor").show();

            if ($("#vendor").data("kendoGrid") == null) {
            } else {
                $("#vendor").data("kendoGrid").dataSource.read();
                $("#vendor").data("kendoGrid").refresh();
            }

            $("#vendor").kendoGrid({
                dataSource: dataSource,
                sortable: true,
                filterable: {
                    mode: "row"
                },
                pageable: true,
                height: 550,
                toolbar: [{ name: "create", text: "新增" }],
                columns:
                    [{  hidden: true, field: "Id", title: "代號", width: "80px", filterable: false },
                    {
                        field: "VendorName",
                        title: "供應商名稱",
                        filterable: {
                             cell: {
                                    operator: "contains",
                                    suggestionOperator: "contains"
                             }
                        }
                    },
                    { field: "IsActive", title:"是否啟用", width:"100px", filterable: false, template: '<label> #= IsActive ? "是" : "否" # </label>'},
                    {
                        command: { name: "edit", text: { edit: "編輯", update: "儲存", cancel: "取消" } },
                        title: "修改", width: "150px"
                    }],
                editable: { mode: "inline", confirmation: false },
            });
        }
    });

     $("#searchIncomeFeetype").kendoButton({
         click: function (e) {

            $("#vendor").hide();
            $("#expenditurefeetype").hide();
            $("#company").hide();

            getIncomeFeeType();
            $("#incomefeetype").show();

            if ($("#incomefeetype").data("kendoGrid") == null) {
            } else {
                $("#incomefeetype").data("kendoGrid").dataSource.read();
                $("#incomefeetype").data("kendoGrid").refresh();
            }

            $("#incomefeetype").kendoGrid({
                dataSource: dataSource3,
                sortable: true,
                filterable: {
                    mode: "row"
                },
                pageable: true,
                height: 550,
                toolbar: [{ name: "create", text: "新增" }],
                columns:
                    [{
                        hidden: true, field: "Seq", title: "序號", width: "80px", filterable: false
                    },{
                        field: "CodeId", title: "代號", width: "80px", filterable: false
                    },{
                        field: "CodeName",
                        title: "收入項目名稱",
                        filterable: {
                            cell: {
                                operator: "contains",
                                suggestionOperator: "contains"
                            }
                        }
                    },{
                        field: "DutyDept", title: "權責部門",
                        width: "80px", filterable: false,
                        editor: function (container, options) {
                            CompaniesDropDownEditor(container, options);
                        }
                    },{
                        field: "ActiveFlag", title: "是否啟用", width: "100px", filterable: false, template: '<label> #= ActiveFlag ? "是" : "否" # </label>'
                    },{
                        command: { name: "edit", text: { edit: "編輯", update: "儲存", cancel: "取消" } },
                        title: "修改", width: "150px"
                    }],
                editable: { mode: "inline", confirmation: false },
            });
        }
     });

     $("#searchExpenditureFeetype").kendoButton({
         click: function (e) {

             $("#vendor").hide();
             $("#incomefeetype").hide();
             $("#company").hide();
             getExtenditureFeeType();
             $("#expenditurefeetype").show();

            if ($("#expenditurefeetype").data("kendoGrid") == null) {
            } else {
                $("#expenditurefeetype").data("kendoGrid").dataSource.read();
                $("#expenditurefeetype").data("kendoGrid").refresh();
            }

            $("#expenditurefeetype").kendoGrid({
                dataSource: dataSource4,
                sortable: true,
                filterable: {
                    mode: "row"
                },
                pageable: true,
                height: 550,
                toolbar: [{ name: "create", text: "新增" }],
                columns:
                    [{
                        hidden: true, field: "Seq", title: "序號", width: "80px", filterable: false
                    },{
                        field: "CodeId", title: "代號", width: "80px", filterable: false
                    },{
                        field: "CodeName",
                        title: "支出項目名稱",
                        filterable: {
                            cell: {
                                operator: "contains",
                                suggestionOperator: "contains"
                            }
                        }
                    },{
                        field: "DutyDept", title: "權責部門",
                        width: "80px", filterable: false,
                        editor: function (container, options) {
                            CompaniesDropDownEditor(container, options);
                        }
                    },{
                        field: "ActiveFlag", title: "是否啟用", width: "100px", filterable: false, template: '<label> #= ActiveFlag ? "是" : "否" # </label>'
                    },{
                        command: { name: "edit", text: { edit: "編輯", update: "儲存", cancel: "取消" } },
                        title: "修改", width: "150px"
                     }],
                editable: { mode: "inline", confirmation: false }
            });
        }
     });

     $("#searchCompany").kendoButton({
        click: function (e) {

            $("#vendor").hide();
            $("#expenditurefeetype").hide();
            $("#incomefeetype").hide();
            getcompany();
            $("#company").show();

            if ($("#company").data("kendoGrid") == null) {
            } else {
                $("#company").data("kendoGrid").dataSource.read();
                $("#company").data("kendoGrid").refresh();
            }

            $("#company").kendoGrid({
                dataSource: dataSource2,
                sortable: true,
                filterable: {
                    mode: "row"
                },
                pageable: true,
                height: 550,
                toolbar: [{ name: "create", text: "新增" }],
                columns:
                    [{ hidden: true, field : "Seq", title: "序號" ,width: "80px", filterable: false},
                    { field: "CodeId", title: "代號", width: "80px", filterable: false },
                    {
                        field: "CodeName",
                        title: "公司名稱",
                        filterable: {
                             cell: {
                                    operator: "contains",
                                    suggestionOperator: "contains"
                             }
                        }
                    },
                    { field: "ActiveFlag", title:"是否啟用", width:"100px", filterable: false, template: '<label> #= ActiveFlag ? "是" : "否" # </label>' },
                    {
                        command: { name: "edit", text: { edit: "編輯", update: "儲存", cancel: "取消" } },
                        title: "修改", width: "150px"
                    }],
                editable: { mode: "inline", confirmation: false },
            });
        }
     });

    function CompaniesDropDownEditor(container, options) {
        $('<input Name="' + options.field + '"/>') // not required
            .appendTo(container)
            .kendoDropDownList({
                autoBind: false,
                valuePrimitive: true,
                filter: "contains",
                dataTextField: "Name",
                dataValueField: "Name",
                dataSource: {
                    type: "odata",
                    transport: {
                        read: "/KendoSelect/GetJFDept"
                    }
                }
            });
    }

    </script>
<style>
    .demo-section:not(.wide) {
        max-width: 700px;
    }
</style>
