﻿@{
    Layout = "~/Views/Shared/_LayoutAddJFMenu.cshtml";
}

<div class="demo-section k-content">
    <div>
        <h2>供應商收支明細整批匯入</h2><br />
        <form asp-controller="TruckVendorPaymentAndMaintenance" asp-action="Upload" method="post">
            <button asp-action="ExportFileByUrl" type="submit" name="exportexcel" class="btn btn-success">
                <i class="fa fa-download"></i>
                下載空白供應商明細檔案
            </button>
            <h6>最新版本為2023年4月10日</h6>
            <button asp-action="ExportBasicInformation" type="submit" name="exportBasicInfoExcel" class="btn btn-info">
                <i class="fa fa-download"></i>
                下載基本資料對照表
            </button>
        </form>
    </div><br />
    <form id="form" method="post" enctype="multipart/form-data" asp-controller="TruckVendorPaymentAndMaintenance" asp-action="ImportFile">
        <input type="file" accept="application/vnd.ms-excel,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" name="file" id="file" />
        <button id="submit" class="btn btn-warning" UseSubmitBehavior="false">
            <i class="fa fa-upload"></i>上傳
        </button>
        <button id="submit2temp" class="btn btn-warning" disabled="disabled" hidden="hidden">
            <i class="fa fa-upload"></i>上傳
        </button>
    </form><br />
    <p id="response2"></p>
    <hr />
    @*
    取消下方表格
    <div>
        <h2>已上傳明細</h2><br />
        <div id="grid"></div>
    </div>
    *@
</div>

<script>
    $('#submit').click(function () {
        var button = $(this);
        var button2 = $('#submit2temp');
        button.hide();
        button2.removeAttr('hidden');
        button2.show();
        button2.attr('disabled', 'disabled');
        setTimeout(function () {
            button.show();
            button2.hide();
        }, 30000);
        //disable後無法post 改用雙按紐
        //setTimeout(function () {
        //    button2.removeAttr('disabled');
        //}, 3000);

        //if (!$('#text').val()) {
        //    alert('field empty');
        //    button.removeAttr('disabled');
        //} else {
        //    $('#message').html('done');
        //    $('#text').val('');
        //}
    });

    $("#response2").text("@Html.Raw(@TempData["Response"])".replace(/。/g, "\n"));

        @*dataSource = new kendo.data.DataSource({
            transport: {
                read: {
                    url: '/TruckVendorPaymentAndMaintenance/GetLatestUploadData?ImportRandomCode=' + '@TempData["importRandomCode"]',
                    dataType: "jsonp"
                },
                create: {
                    url: "/TruckVendorPaymentAndMaintenance/Save",
                    type: "POST",
                    dataType: "jsonp"
                },
                parameterMap: function (options, operation) {
                    if (operation !== "read" && options.models) {
                        return { models: kendo.stringify(options.models) };
                    }
                }
            },
            batch: true,
            pageSize: 20,
            schema: {
                model: {
                    id: "Id",
                    fields: {
                        rowNumber: { editable: false, nullable: false, defaultValue: 1 },
                        Id: { editable: false, nullable: false, defaultValue: 0},
                        RegisteredDate: { type: "date", validation: { required: true } },
                        FeeType: { validation: { required: true } },
                        VendorName: { validation: { required: true }, nullable: true },
                        CarLicense: { validation: { required: false }, nullable: true },
                        Payment: { validation: { required: true }, nullable: true },
                        Memo: { validation: { required: true }, nullable: true },
                        Company: { validation: { required: false }, nullable: true },
                        Department: { validation: { required: false }, nullable: true },
                    }
                }
            }
        });*@

    //function grid_saveChanges(e) {
    //    //var grid = $("#grid").data("kendoGrid");
    //    if (!confirm("請先確認必填的欄位全部填齊再按下確定。")) {
    //        e.preventDefault();
    //    }
    //}

     //$("#grid").kendoGrid({
     //   dataSource: dataSource,
     //   navigatable: true,
     //   dataBound: function (e) {
     //        var rows = this.items();
     //        $(rows).each(function () {
     //            var index = $(this).index() + 1;
     //            var rowLabel = $(this).find(".row-number");
     //            $(rowLabel).html(index);
     //            var totalRecords = dataSource.total();
     //            $('.k-grid-count').text("共" + totalRecords + "筆");
     //        });
     //   },
     //   pageable: true,
     //   height: 300,
     //   toolbar: [{ name: "create", text: "新增" }, { name: "save", text: "儲存" }, { name: "cancel", text: "清空" }, { name: "count", text: "" }],
     //   columns:
     //       [{ field: "rowNumber", title: "序號", template: "<span class='row-number'></span>" },
     //       { hidden: true, field: "Id", title: "序號", width: "80px" },
     //           {
     //               field: "RegisteredDate", title: "發生日期(必填)", format: "{0: yyyy/MM/dd}", editor: function (container, options) {
     //                   if (options.model.Id > 0) {
     //                       var input = $('<div data-bind="text:' + options.field + '"/>');
     //                       input.appendTo(container);
     //                   }else {
     //                       $('<input required name="' + options.field + '"/>')
     //                           .appendTo(container).kendoDatePicker();
     //                   }
     //               }
     //           },
     //           {
     //               field: "FeeType", title: "交易項目(必填)", editor: function (container, options) {
     //                   if (options.model.Id > 0) {
     //                       var input = $('<div data-bind="text:' + options.field + '"/>');
     //                       input.appendTo(container);
     //                   } else {
     //                       FeeTypeDropDownEditor(container, options);
     //                   }
     //               }, width: "200px"
     //           },
     //           {
     //               field: "VendorName", title: "供應商名稱(必填)", editor: function (container, options) {
     //                   if (options.model.Id > 0) {
     //                       var input = $('<div data-bind="text:' + options.field + '"/>');
     //                       input.appendTo(container);
     //                   } else {
     //                       VendorsDropDownEditor(container, options);
     //                   }
     //               }, width: "250px"
     //           },
     //           {
     //               field: "CarLicense", title: "車號", editor: function (container, options) {
     //                   if (options.model.Id > 0) {
     //                       var input = $('<div data-bind="text:' + options.field + '"/>');
     //                       input.appendTo(container);
     //                   } else {
     //                       var input = $('<input data-bind="value:' + options.field + '"/>');
     //                       input.appendTo(container);
     //                   }
     //               }
     //           },
     //           {
     //               field: "Payment", title: "金額(必填)", editor: function (container, options) {
     //                   if (options.model.Id > 0) {
     //                       var input = $('<div data-bind="text:' + options.field + '"/>');
     //                       input.appendTo(container);
     //                   } else {
     //                       var input = $('<input required data-bind="value:' + options.field + '"/>');
     //                       input.appendTo(container);
     //                   }
     //               }
     //           },
     //           {
     //               field: "Memo", title: "摘要(必填)", editor: function (container, options) {
     //                   if (options.model.Id > 0) {
     //                       var input = $('<div data-bind="text:' + options.field + '"/>');
     //                       input.appendTo(container);
     //                   } else {
     //                       var input = $('<input required data-bind="value:' + options.field + '"/>');
     //                       input.appendTo(container);
     //                   }
     //               }
     //           },
     //           {
     //               field: "Department", title: "部門", editor: function (container, options) {
     //                   if (options.model.Id > 0) {
     //                       var input = $('<div data-bind="text:' + options.field + '"/>');
     //                       input.appendTo(container);
     //                   } else {
     //                       CompaniesDropDownEditor(container, options);
     //                   }
     //               }, width: "100px"
     //           },
     //           {
     //               field: "Company", title: "公司別", editor: function (container, options) {
     //                   if (options.model.Id > 0) {
     //                       var input = $('<div data-bind="text:' + options.field + '"/>');
     //                       input.appendTo(container);
     //                   } else {
     //                       CompaniesDropDownEditor(container, options);
     //                   }
     //               }, width: "100px"
     //           }
     //       ],
     //   editable: true,
     //});

    //var grid = $("#grid").data("kendoGrid");
    //grid.bind("saveChanges", grid_saveChanges);

    //function FeeTypeDropDownEditor(container, options) {
    //    $('<input required name="' + options.field + '"/>') // required
    //            .appendTo(container)
    //            .kendoDropDownList({
    //                autoBind: false,
    //                filter: "contains",
    //                dataTextField: "name",
    //                dataValueField: "name",
    //                dataSource: {
    //                    type: "jsonp",
    //                    transport: {
    //                        read: "/TruckVendorPaymentAndMaintenance/GetFeeTypes"
    //                    }
    //                }
    //            });
    //    }

    //    function CompaniesDropDownEditor(container, options) {
    //        $('<input name="' + options.field + '"/>') // not required
    //            .appendTo(container)
    //            .kendoDropDownList({
    //                autoBind: false,
    //                valuePrimitive: true,
    //                filter: "contains",
    //                dataTextField: "name",
    //                dataValueField: "name",
    //                dataSource: {
    //                    type: "jsonp",
    //                    transport: {
    //                        read: "/TruckVendorPaymentAndMaintenance/GetCompanies"
    //                    }
    //                }
    //            });
    //    }

    //    function VendorsDropDownEditor(container, options) {
    //        $('<input required name="' + options.field + '"/>')
    //            .appendTo(container)
    //            .kendoDropDownList({
    //                autoBind: false,
    //                filter: "contains",
    //                valuePrimitive: true,
    //                dataTextField: "vendorName",
    //                dataValueField: "vendorName",
    //                dataSource: {
    //                    type: "jsonp",
    //                    transport: {
    //                        read: "/TruckVendorPaymentAndMaintenance/GetAllTruckVendors"
    //                    }
    //                }
    //            });
    //    }
</script>

<style>
    .demo-section:not(.wide) {
        max-width: 1200px;
    }

    p {
        white-space: pre-wrap;
    }
</style>



