﻿
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutAddMenu.cshtml";
}

<div id="grid"></div>

<script id="popupTemplate" type="text/x-kendo-template">
    <div class="k-edit-label">
        <label for="Area">Area:</label>
    </div>
    <div class="k-edit-field">
        <input id="Area" name="Area" data-bind="value:Area" required />
        <span class="k-invalid-msg" data-for="Area"></span>
    </div>

    <div class="k-edit-label">
        <label for="StationName">Station Name:</label>
    </div>
    <div class="k-edit-field">
        <input id="StationName" name="StationName" data-bind="value:StationName" disabled />
        <span class="k-invalid-msg" data-for="StationName"></span>
    </div>

    <div class="k-edit-label">
        <label for="StationCode">Station Code:</label>
    </div>
    <div class="k-edit-field">
        <input id="StationCode" name="StationCode" data-bind="value:StationCode" disabled />
        <span class="k-invalid-msg" data-for="StationCode"></span>
    </div>

    <div class="k-edit-label">
        <label for="StationSCode">Station SCode:</label>
    </div>
    <div class="k-edit-field">
        <input id="StationSCode" name="StationSCode" data-bind="value:StationSCode" disabled />
        <span class="k-invalid-msg" data-for="StationSCode"></span>
    </div>
</script>

<script>
    $(document).ready(function () {
        dataSource = new kendo.data.DataSource({
            transport: {
                read: {
                    url: "GetAll",
                    dataType: "jsonp"
                },
                create: {
                    url: "Insert",
                    dataType: "jsonp"
                },
                update: {
                    url: "Update",
                    dataType: "jsonp"
                },
                destroy: {
                    url: "Delete",
                    dataType: "jsonp"
                },
                parameterMap: function (options, operation) {
                    if (operation !== "read" && options.models[0]) {
                        return { model: kendo.stringify(options.models[0]) };
                    }
                }
            },
            batch: true,
            pageSize: 20,
            schema: {
                model: {
                    id: "Id",
                    fields: {
                        Id: { editable: false, nullable: true },
                        StationCode: { type: "string" },
                        StationSCode: { type: "string" },
                        StationName: { type: "string" },
                        Area: { defaultValue: null },
                        UpdateDate: { type: "datetime", format: "{yyyy-MM-dd HH:mm}", editable: false, nullable: true },
                        UpdateUser: { type: "string", editable: false, nullable: true }
                    }
                }
            }
        });

        function initDropDownLists() {
            var areas = $("#Area").kendoDropDownList({
                dataSource: {
                    type: "odata",
                    transport: {
                        read: {
                            url: "/KendoSelect/GetArea"
                        }
                    }
                },
                value: "全選"
            }).data("kendoDropDownList");
        }
    

        $("#grid").kendoGrid({
        dataSource: dataSource,
        sortable: {
            mode: "multiple",
            allowUnsort: true
        },
        pageable: true,
        height: 550,
        columns: [
            { field: "Id", title: "ID", width: 100 },
            { field: "Area", title: "區屬" },
            { field: "StationCode", title: "站所簡碼 1" },
            { field: "StationSCode", title: "站所簡碼 2" },
            { field: "StationName", title: "站所名稱" },
            { field: "UpdateDate", title: "更新日期" },
            { field: "UpdateUser", title: "更新使用者" },
            {
                command: [{ text: "Edit", template: "<a class='k-button k-button-icontext k-grid-edit'>編輯</a>" }]
            }],
        editable: { mode: "popup", window: { width: 600 }, template: $("#popupTemplate").html() },
        edit: function (e) {
            initDropDownLists();
        },
        autoBind: true
    });
    });

</script>
