﻿@{
    ViewData["Title"] = "橘子 - 郵政3+2註區MD及SD維運";
    Layout = "~/Views/Shared/_LayoutAddMenu.cshtml";
}
    <div id="container">
        <div class="demo-section k-content">
            <h4>請選擇站所</h4>
            <ul>
                <li>
                    <label>
                        維護站所:
                        <input id="station" name="station" style="width: 100%;" />
                    </label>
                </li>
                <li>
                    <a class="offline-button" href="javascript:findInfo();">查詢</a>
                    <a class="offline-button" href="javascript:getExcel();">匯出Excel</a>
                </li>
                <li>
                    <button id="promptBtnSD" class="k-button">修改SD</button>
                    <button id="promptBtnMD" class="k-button">修改MD</button>
                    <button id="promptBtnPG" class="k-button">修改堆罍區</button>
                </li>
            </ul>
        </div>
        <div id="example">
            <div id="grid"></div>
            <script id="team-template" type="text/x-kendo-template">
                <a href="http://supererp.junfu.asia/LT_trace_1.aspx?check_number=#:Id#" target="_blank">查看託運單狀態</a>
            </script>
            <script>
                var tempStationCode = "";
                var tempSelectedSection = "";

                $(document).ready(function () {

                    $("#station").kendoDropDownList({
                        filter: "startswith",
                        dataTextField: "ShowName",
                        dataValueField: "StationSCode",
                        dataSource: {
                            type: "odata",
                            serverFiltering: true,
                            transport: {
                                read: {
                                    url: "/KendoSelect/GetStation?stationSCode=@Html.Raw(ViewBag.Station)&isNeedAllStation=false",
                                }
                            }
                        },
                        change: function (e) {
                            var value = this.value();
                            stationCode = value;
                            //tempStationCode = value;
                            //GenCustomerData();
                        }
                    });

                });

                function batchEditData(goType, editValue) {

                    var putData = { OrgAreaIds: tempSelectedSection, EditValue: editValue };

                    var displayedDataAsJSON = JSON.stringify(putData);

                    $.ajax({
                        type: "POST",
                        async: false,
                        dataType: "json",
                        url: "BatchEditPost5Mapping?type=" + goType,
                        contentType: 'application/json; charset=UTF-8',
                        data: displayedDataAsJSON,
                        success: function (msg) {
                            console.log(displayedDataAsJSON);
                            console.log(msg);
                            //do something
                        }
                    });

                }

                $("#promptBtnSD").on("click", function () {
                    kendo.prompt("請輸入SD:", "").then(function (data) {
                        batchEditData("1", data);
                        kendo.alert(kendo.format("修改完成"));
                        findInfo();
                    }, function () {
                        kendo.alert("取消修改SD.");
                    })
                });

                $("#promptBtnMD").on("click", function () {
                    kendo.prompt("請輸入MD:", "").then(function (data) {
                        batchEditData("2", data);
                        kendo.alert(kendo.format("修改完成"));
                        findInfo();
                    }, function () {
                            kendo.alert("取消修改MD.");
                    })
                });

                $("#promptBtnPG").on("click", function () {
                    kendo.prompt("請輸入堆罍區:", "").then(function (data) {
                        batchEditData("3", data);
                        kendo.alert(kendo.format("修改完成"));
                        findInfo();
                    }, function () {
                        kendo.alert("取消修改堆罍區.");
                    })
                });

                function datediff(first, second) {
                    return Math.round((second - first) / (1000 * 60 * 60 * 24));
                }

                function findInfo() {

                    var myreturn = checkInput(stationCode);

                    if (!myreturn) {
                        return false;
                    }

                    kendo.ui.progress($("#container"), true);

                    var myGrid = $("#grid").data("kendoGrid");

                    if (typeof myGrid !== "undefined") {
                        myGrid._progress(1);
                    }

                    genGrid();

                }

                function checkInput(station) {

                    if (station == "") {
                        alert("必須設定到編輯站所");
                        return false;
                    }

                    return true;
                }

                function onChange(arg) {
                    //alert(this.selectedKeyNames().join(", "));
                    tempSelectedSection = this.selectedKeyNames().join(", ");
                }

                function batchEdit() {
                    alert(tempSelectedSection);
                }

                function getExcel() {

                    var myreturn = checkInput(stationCode);

                    if (!myreturn) {
                        return false;
                    }

                    $("#grid").getKendoGrid().saveAsExcel();
                }

                function genGrid() {

                    if ($("#grid").data("kendoGrid") == null) { }
                    else
                    {
                        $("#grid").data("kendoGrid").destroy();
                        $("#grid").empty();
                    }

                    var getUrl = "GetPost5Code?station=" + stationCode;

                    myGetUrl = getUrl;

                    var dataSource = new kendo.data.DataSource(
                        {
                            transport: {
                                read: {
                                    url: myGetUrl,
                                    dataType: "jsonp"
                                },
                                update: {
                                    url: "/StationArea/EditPost5Mapping",
                                    dataType: "jsonp"
                                },
                                parameterMap: function (options, operation) {
                                    if (operation !== "read" && options.models) {
                                        return { models: kendo.stringify(options.models) };
                                    }
                                }
                            },
                            requestEnd: function (e) {
                                kendo.ui.progress($("#container"), false);
                            },
                            pageSize: 50,
                            batch: true,
                            schema: {
                                model: {
                                    id: "Id",
                                    fields: {
                                        Id: { editable: false, nullable: true },
                                        Office: { editable: false,validation: { required: false } },
                                        Zip3A: { editable: false,validation: { required: false } },
                                        ZipCode: { editable: false,validation: { required: false } },
                                        City: { editable: false,validation: { required: false } },
                                        Area: { editable: false,validation: { required: false } },
                                        Road: { editable: false,validation: { required: false } },
                                        Scoop: { editable: false,validation: { required: false } },
                                        StationScode: { editable: false,validation: { required: false } },
                                        StationName: { editable: false,validation: { required: false } },
                                        MDNo: { validation: { required: false } },
                                        SDNo: { validation: { required: false } },
                                        PutOrder: { validation: { required: false } }
                                    }
                                }
                            }
                        });

                    $("#grid").kendoGrid({
                        dataBound: function () {
                            //kendo.ui.progress($("#container"), false);
                        },
                        dataSource: dataSource,
                        //toolbar: ["excel"],
                        excel: {
                            fileName: "GetDeliveryAnomaly.xlsx",
                            allPages: true
                        },
                        //groupable: true,
                        columnMenu: true,
                        sortable: true,
                        filterable: {
                            mode: "row"
                        },
                        change: onChange,
                        height: 650,
                        pageable: {
                            refresh: true,
                            pageSizes: [20, 30, 50, "all"],
                            buttonCount: 5
                        },
                        columns: [
                            { selectable: true, width: "50px" },
                            {
                                command: [{ name: "edit", text: { edit: "編輯", update: "儲存", cancel: "取消" } }], title: "修改", width: "100px"
                            }, {
                                field: "Office",
                                title: "郵政投遞區", filterable: false,
                                width: 180
                            }, {
                                field: "Zip3A",
                                title: "郵遞區號3碼", filterable: false,
                                width: 150
                            }, {
                                field: "ZipCode",
                                title: "郵遞區號5碼", filterable: false,
                                width: 150
                            }, {
                                field: "City",
                                title: "縣市",
                                filterable: {
                                    cell: {
                                        operator: "contains",
                                        suggestionOperator: "contains",
                                        inputWidth: 100
                                    }
                                },
                                width: 200
                            }, {
                                field: "Area",
                                title: "鄉鎮市區",
                                filterable: {
                                    cell: {
                                        operator: "contains",
                                        suggestionOperator: "contains",
                                        inputWidth: 100
                                    }
                                },
                                width: 200
                            }, {
                                field: "Road",
                                title: "路段",
                                filterable: {
                                    cell: {
                                        operator: "contains",
                                        suggestionOperator: "contains",
                                        inputWidth: 100
                                    }
                                },
                                width: 200
                            }, {
                                field: "Scoop",
                                title: "配送路號", filterable: false,
                                width: 200
                            }, {
                                field: "StationScode",
                                title: "站所代碼",
                                filterable: {
                                    cell: {
                                        operator: "contains",
                                        suggestionOperator: "contains",
                                        inputWidth: 100
                                    }
                                },
                                width: 200
                            }, {
                                field: "StationName",
                                title: "站所名稱", filterable: false,
                                width: 200
                            }, {
                                field: "MDNo",
                                title: "MD配區",
                                filterable: {
                                    cell: {
                                        operator: "contains",
                                        suggestionOperator: "contains",
                                        inputWidth: 100
                                    }
                                },
                                width: 200
                            }, {
                                field: "SDNo",
                                title: "SD配區",
                                filterable: {
                                    cell: {
                                        operator: "contains",
                                        suggestionOperator: "contains",
                                        inputWidth: 100
                                    }
                                },
                                width: 200
                            }, {
                                field: "PutOrder",
                                title: "堆疉區",
                                filterable: {
                                    cell: {
                                        operator: "contains",
                                        suggestionOperator: "contains",
                                        inputWidth: 100
                                    }
                                },
                                width: 200
                            }],
                        editable: "popup"
                    });

                    var myGrid = $("#grid").data("kendoGrid");
                    myGrid.dataSource.read();
                    myGrid.refresh();
                }

            </script>
        </div>
    </div>
