﻿@{
    ViewData["Title"] = "KendoTest";
    Layout = "~/Views/Shared/_LayoutTestForKendo.cshtml";
}

    <head>
        <link rel=stylesheet href="~/css/dashboard.css">

    </head>
    <body>
        <div class="split left">
            <div id="statics" class="centered">
                <p style="color: #DFDFEF; font-size: 30px; text-align: center;font-weight: bolder;">
                    今日應配筆數
                </p>
                <p style="color: rgb(101, 221, 155); font-weight: bold; text-align: center; border-bottom: 0; font-size: 70px; margin-bottom: 0px;">
                    @Html.Raw(ViewBag.TotalShouldDeliveryCount)
                </p>
                <p style="color: #DFDFEF; font-size: 30px; text-align: center;font-weight: bolder;">
                    未配筆數
                </p>
                <p style="color: #ff9d00; font-weight: bold; text-align: center; border-bottom: 0; font-size: 70px; margin-bottom: 0px;">
                    @Html.Raw(ViewBag.TotalNotYetNum)
                </p>
                <p style="color: #DFDFEF; font-size: 30px; text-align: center;font-weight: bolder;">
                    配達率
                </p>
                <p style="color: rgb(248, 245, 64); font-weight: bold; text-align: center; border-bottom: 0; font-size: 70px; margin-bottom: 0px;">
                    @Html.Raw(ViewBag.SuccessRate)
                </p>
                <p style="color: #DFDFEF; font-size: 30px; text-align: center;font-weight: bolder;">
                    D+3留庫
                </p>
                <p style="color: #F65164; font-weight: bold; text-align: center; border-bottom: 0; font-size: 70px; margin-bottom: 0px;">
                    @Html.Raw(ViewBag.TotalDPlus3Depot)
                </p>
            </div>
        </div>

        <div id="container" class="split right" >
            <div id="example" style="color: #ff9d00;" >
                <div id="grid"></div>
                <script>
                    //setTimeout('myrefresh()', 3000);//指定五分鐘刷新一次

                    $(document).ready(function () {
                        findInfo();
                        updateStatics();
                    });
                    function findInfo() {

                        kendo.ui.progress($("#container"), true);

                        var myGrid = $("#grid").data("kendoGrid");

                        if (typeof myGrid !== "undefined") {
                            myGrid._progress(1);
                        }

                        genGrid();

                    }

                    function genGrid() {
                        if ($("#grid").data("kendoGrid") == null) { }
                        else {
                            $("#grid").data("kendoGrid").destroy();
                            $("#grid").empty();
                        }
                        var getUrl = "/Statics/GetAllStationStatisticsList";

                        var dataSource = new kendo.data.DataSource(
                            {
                                transport: {
                                    read: {
                                        url: getUrl,
                                        dataType: "jsonp"
                                    },
                                    parameterMap: function (options, operation) {
                                        if (operation !== "read" && options.models) {
                                            return { models: kendo.stringify(options.models) };
                                        }
                                    }
                                },
                                requestEnd: function (e) {
                                    kendo.ui.progress($("#container"), false);
                                },
                                pageSize: 50,
                                batch: true,
                                schema: {
                                    model: {
                                        id: "id",
                                        fields: {
                                            Station: { validation: { required: false } },
                                            ShouldDeliveryCount: { validation: { required: false } },
                                            NonDeliveredFinishCount: { validation: { required: false } },
                                            DPlusOneDeliveryRate: { validation: { required: false } },
                                            DPlusThreeDepotCount: { validation: { required: false } },
                                        }
                                    }
                                }
                            });

                        $("#grid").kendoGrid({
                            dataBound: function () {
                                //kendo.ui.progress($("#container"), false);
                            },
                            dataSource: dataSource,
                            groupable: false,
                            columnMenu: false,
                            sortable: true,
                            filterable: true,
                            dataBound: updateStatics,
                            ////pageable: {
                            //    refresh: true,
                            //    pageSizes: [20, 30, 50, "all"],
                            //    buttonCount: 5
                            //},
                            columns: [{
                                field: "Station",
                                title: "站所", 
                                attributes: {
                                    "class": "colum",
                                    style: "text-align: left; font-size: 20px ; color: rgb(101, 221, 155); "
                                }
                               
                            }, {
                                field: "ShouldDeliveryCount",
                                title: "D+1應配筆數",
                                attributes: {
                                    "class": "colum",
                                    style: "text-align: left; font-size: 20px ; color: rgb(246, 81, 100); "
                                 }
                            }, {
                                field: "NonDeliveredFinishCount",
                                title: "D+1未配筆數",
                                attributes: {
                                    "class": "colum",
                                     style: "text-align: left; font-size: 20px ; color: rgb(255, 157, 0); "
                                }
                            }, {
                                field: "DPlusOneDeliveryRate",
                                title: "D+1配達率",
                                attributes: {
                                    "class": "colum",
                                    style: "text-align: left; font-size: 20px ; color: rgb(248, 245, 64); "
                                }
                            }, {
                                field: "DPlusThreeDepotCount",
                                title: "D+3留庫筆數",
                                attributes: {
                                     "class": "colum",
                                     style: "text-align: left; font-size: 20px ; color: rgb(68, 155, 226); "
                                }
                            }
                            ],
                            editable: "popup"
                        });

                       

                        var myGrid = $("#grid").data("kendoGrid");
                        myGrid.dataSource.read();
                        myGrid.refresh();
                    }

                    function updateStatics() {
                        $("#statics").load(window.location.href + " #statics");
                    }
                    function addColor() {
                        var grid = $("#grid").data("kendoGrid");    // 行样式
                        var rows = grid.tbody.find("tr");
                        rows.each(function (i, row) {
                            var isCheck = $(this).find("td>span").eq(3).text();
                            if (isCheck == '上传成功') {
                                $(this).css("background-color", "#d1edb8");
                            };

                        });
                    }
                </script>
            </div>
        </div>
    </body>

