﻿@{
    ViewData["Title"] = "KendoTest";
    Layout = "~/Views/Shared/_LayoutAddMenu.cshtml";
}

<div class="demo-section k-content">
    <h4>以配送日查詢D+1未配達資訊：</h4>
    <ul id="fieldlist">
        <li>
            <label>
                配送日:
                <input id="datetimepicker" name="do_date" style="width: 100%;" />
            </label>
        </li>
        <li>
            <a class="offline-button" href="javascript:findData();">查詢</a>
            <a class="offline-button" href="javascript:getExcel();">匯出Excel</a>
        </li>
    </ul>

</div>

<div id="example">
    <div id="grid"></div>
    <script id="team-template" type="text/x-kendo-template">
        <a href="http://supererp.junfu.asia/LT_trace_1.aspx?check_number=#:CheckNumber#" target="_blank">查看託運單狀態</a>
    </script>
    <script>
        Date.prototype.addDays = function (days) {
            var dat = new Date(this.valueOf()); // (1)
            dat.setDate(dat.getDate() + days);  // (2)
            return dat
        }
        $(document).ready(function () {
            // create DateTimePicker from input HTML element
            var defaultDate = new Date();
            $("#datetimepicker").kendoDatePicker({
                value: defaultDate
            });
        });
            $(document).ready(function () {
                dataSource = new kendo.data.DataSource(
                    {
                        transport: {
                            read: {
                                url: "GetDPlusOneNotDeliverySuccessList?deliveryDate=@Html.Raw(ViewBag.DeliveryDate)",
                                dataType: "jsonp"
                            },
                            parameterMap: function (options, operation) {
                                if (operation !== "read" && options.models) {
                                    return { models: kendo.stringify(options.models) };
                                }
                            }
                        },
                        requestEnd: function (e) {
                            kendo.ui.progress($("#example"), false);
                        },
                        pageSize: 50,
                        batch: true,
                        schema: {
                            model: {
                                id: "id",
                                fields: {
                                    Id: { editable: false, nullable: true },
                                    DeliveryDriver: { validation: { required: false } },
                                    CheckNumber: { validation: { required: false } },
                                    ReceiverName: { validation: { required: false } },
                                    ReceiverTel1: { validation: { required: false } },
                                    ReceiverAddress: { validation: { required: false } },
                                    LatestScanStatus: { validation: { required: false } },
                                    LatestScanArriveOption: { validation: { required: false } },
                                    LatestScanDate: { validation: { required: false } }
                                }
                            }
                        }
                    });

            $("#grid").kendoGrid({
                dataSource: dataSource,
                //toolbar: ["excel"],
                excel: {
                   fileName: "未正常配交明細.xlsx",
                   allPages: true
                },
                groupable: true,
                columnMenu: true,
                sortable: true,
                filterable: true,
                pageable: {
                    refresh: true,
                    pageSizes: [20, 30, 50, "all"],
                    buttonCount: 5
                },
                columns: [{
                    field: "DeliveryDriver",
                    title: "配送司機"
                }, {
                    field: "CheckNumber",
                    title: "託運單號"
                }, {
                    field: "ReceiverName",
                    title: "收件人姓名"
                }, {
                    field: "ReceiverTel1",
                    title: "連絡電話"
                }, {
                    field: "ReceiverAddress",
                    title: "地址"
                }, {
                    field: "LatestScanStatus",
                    title: "最新貨態"
                }, {
                    field: "LatestScanArriveOption",
                    title: "配達區分"
                }, {
                    field: "LatestScanDate",
                    title: "作業時間",
                    format: "{0: yyyy-MM-dd HH:mm}"
                }, {
                    field: "CheckNumber",
                    title: "查詢",
                    template: kendo.template($("#team-template").html())
                }],
                editable: "popup"
            });
        });
    </script>
    <script>
            function findData() {
                var doDeliveryDate = $("#datetimepicker").val();

                var goUrl = "GetDPlusOneNotDeliverySuccessList?deliveryDate=" + doDeliveryDate;

                kendo.ui.progress($("#example"), true);
                var myGrid = $("#grid").data("kendoGrid");
                myGrid.dataSource.options.transport.read.url = goUrl;
                myGrid.dataSource.read();
                myGrid.refresh();
            }

            function getExcel() {
                $("#grid").getKendoGrid().saveAsExcel();
            }
    </script>
</div>

<style type="text/css">
    .customer-photo {
        display: inline-block;
        width: 32px;
        height: 32px;
        border-radius: 50%;
        background-size: 32px 35px;
        background-position: center center;
        vertical-align: middle;
        line-height: 32px;
        box-shadow: inset 0 0 1px #999, inset 0 0 10px rgba(0,0,0,.2);
        margin-left: 5px;
    }

    .customer-name {
        display: inline-block;
        vertical-align: middle;
        line-height: 32px;
        padding-left: 3px;
    }
</style>