﻿@{
    ViewData["Title"] = "KendoTest";
    Layout = "~/Views/Shared/_LayoutAddMenu.cshtml";
}

    <div id="example">
        <div class="demo-section k-content wide">
            <div id="chart"></div>
        </div>
        <script>
            function createChart() {
                $("#chart").kendoChart({
                    title: {
                        text: "最近10周委託件數統計表"
                    },
                    legend: {
                        position: "bottom"
                    },
                    seriesDefaults: {
                        type: "area",
                        area: {
                            line: {
                                style: "smooth"
                            }
                        }
                    },
                    series: [{
                        name: "Momo件數",
                        data: [@Html.Raw(ViewBag.Momo)]
                    }, {
                        name: "總件數",
                        data: [@Html.Raw(ViewBag.Total)]
                    }, {
                        name: "扣除momo件數",
                        data: [@Html.Raw(ViewBag.NonMomo)]
                    }],
                    valueAxis: {
                        labels: {
                            format: "{0}件"
                        },
                        line: {
                            visible: false
                        },
                        axisCrossingValue: -10
                    },
                    categoryAxis: {
                        categories: [@Html.Raw(ViewBag.TimeZone)],
                        majorGridLines: {
                            visible: false
                        },
                        labels: {
                            rotation: "auto"
                        }
                    },
                    tooltip: {
                        visible: true,
                        format: "{0}件",
                        template: "#= series.name #: #= value #"
                    }
                });
            }

            $(document).ready(createChart);
            $(document).bind("kendo:skinChange", createChart);
        </script>
        <style type="text/css">
            #chart {
                background: center no-repeat url('../content/shared/styles/world-map.png');
            }
        </style>
    </div>