﻿@{
    ViewData["Title"] = "KendoTest";
    Layout = "~/Views/Shared/_LayoutAddMenu.cshtml";
}
    <div id="container">
        <div class="demo-section k-content">
            <h4>人工銷號作業</h4>
            <ul>
                <li>
                    <label>
                        區屬:
                        <input id="areas" style="width: 100%;" />
                    </label>
                </li>
                <li>
                    <label>
                        應到站所:
                        <input id="station" style="width: 100%;" />
                    </label>
                </li>
                <li>
                    <label>
                        銷號日:
                    </label>
                    <div id="daterangepicker" title="daterangepicker"></div>
                </li>
                <li>
                    <label>
                        工號:
                        <input id="empCode" name="empCode" style="width: 100%;" onchange="javascript:empCodeChange()" />
                    </label>
                </li>
                <li>
                    <label>
                        託運單號:
                        <input id="checkNumber" name="checkNumber" style="width: 100%;" onchange="javascript:chechNumberChange()" />
                    </label>
                </li>
                <li>
                    <a class="offline-button" href="javascript:findInfo();">查詢</a>
                    <a class="offline-button" href="javascript:getExcel();">匯出Excel</a>
                </li>
            </ul>
        </div>
        <div id="example">
            <div id="grid"></div>
            <script id="team-template" type="text/x-kendo-template">
                <a href="http://supererp.junfu.asia/LT_trace_1.aspx?check_number=#:CheckNumber#" target="_blank">查看託運單狀態</a>
            </script>
            <script id="image" type="text/x-kendo-template">
                <a href="http://220.128.210.180:10080/JUNFU_APP_WebService/PHOTO/#:CheckNumber#.jpg" target="_blank">查看簽單照片</a>
            </script>
            <script>
                var tempStationCode = "";
                var startDate = "";
                var endDate = "";
                var customerCode = "";
                var stationSCode = "@ViewBag.Station";
                var myGetUrl = "";
                var myDataType = "1";
                var areaName = "";

                $(document).ready(function () {
                    $("#daterangepicker").kendoDateRangePicker({
                        change: onChange
                    });

                    function onChange() {
                        var range = this.range();
                        startDate = kendo.toString(range.start, 'd');
                        endDate = kendo.toString(range.end, 'd');

                        $("#empCode").val("");
                        $("#checkNumber").val("");
                    }

                });

                function empCodeChange() {
                    $("#checkNumber").val("");
                }

                function chechNumberChange() {
                    $("#empCode").val("");
                }

                function datediff(first, second) {
                    return Math.round((second - first) / (1000 * 60 * 60 * 24));
                }

                function findInfo() {

                    kendo.ui.progress($("#container"), true);

                    var myGrid = $("#grid").data("kendoGrid");

                    if (typeof myGrid !== "undefined") {
                        myGrid._progress(1);
                    }

                    genGrid();

                }

                function checkInput(station, customer) {
                    if (startDate == "") {
                        alert("必須設定啟始日期");
                        return false;
                    }

                    if (endDate == "") {
                        alert("必須設定迄止日期");
                        return false;
                    }

                    var mystart = new Date(startDate);
                    var myend = new Date(endDate);

                    var datediffnum = datediff(mystart, myend);

                    if (datediffnum > 10) {
                        alert("間隔時間須小於10天");
                        return false;
                    }

                    if (station == "" && customer == "") {
                        alert("必須設定到著站所或發貨客戶");
                        return false;
                    }

                    return true;
                }

                function getExcel() {

                    $("#grid").getKendoGrid().saveAsExcel();
                }

                $(document).ready(function () {
                    var areas = $("#areas").kendoDropDownList({
                        value:"全選",
                        dataSource: {
                            type: "odata",
                            transport: {
                                read: {
                                    url: "/KendoSelect/GetArea?addTotal=" + true
                                }
                            }
                        },
                        change: function (e) {
                            var value = this.value();
                            areaName = value;
                            GetStationData()
                        }
                    }).data("kendoDropDownList");

                    GetStationData()
                    EnableSelectOrNot()
                });

                function EnableSelectOrNot() {
                    if ("@ViewBag.Area".length > 0) { //總公司站所無對應區屬，若有所屬區屬則不予選取
                       var dropdownlist = $("#areas").data("kendoDropDownList");
                        dropdownlist.enable(false);
                    }
                    var acountArray = ['j1029', 'Z010001', 'Z010070', 'Z010105', 'Z010115', 'Z010125', 'Z010130', 'Z010357'];
                    if (acountArray.includes('@ViewBag.Account')) {
                        var dropdownlist = $("#areas").data("kendoDropDownList");
                        dropdownlist.enable(true);
                    }
                }

                function GetStationData() {

                    $("#station").kendoDropDownList({
                        filter: "startswith",
                        dataTextField: "ShowName",
                        dataValueField: "StationSCode",
                        value: "@ViewBag.Station",
                        dataSource: {
                            type: "odata",
                            serverFiltering: true,
                            transport: {
                                read: {
                                    url: "/KendoSelect/GetStation?areaName=" + areaName
                                }
                            }
                        },
                        select: function (e) {
                            var array = ['FGM01','FMD01','FHD01','FBD01','FBM01','FBM02'];
                            if (!array.includes("@ViewBag.Station")) {
                                e.preventDefault();
                            }
                        },
                        cascade: function (e) {
                            var value = this.value();
                            stationSCode = value;
                        }
                    });
                }


                function genGrid() {

                    vEmpCode = $("#empCode").val();

                    vCheckNumber = $("#checkNumber").val();

                    areaName = $("#areas").val();

                    var getUrl = "FindErrorDeliveryRequest?start=" + startDate + "&end=" + endDate + "&empCode=" + vEmpCode + "&checkNumber=" + vCheckNumber + "&areaName=" + areaName + "&scode=" + stationSCode;

                    myGetUrl = getUrl;

                    dataSource = new kendo.data.DataSource(
                        {
                            transport: {
                                read: {
                                    url: myGetUrl,
                                    dataType: "jsonp"
                                },
                                update: {
                                    url: "/Statics/VerifyDeliveryRequest",
                                    dataType: "jsonp"
                                },
                                parameterMap: function (options, operation) {
                                    if (operation !== "read" && options.models) {
                                        return { models: kendo.stringify(options.models) };
                                    }
                                }
                            },
                            requestEnd: function (e) {
                                kendo.ui.progress($("#container"), false);
                            },
                            pageSize: 50,
                            batch: true,
                            schema: {
                                model: {
                                    id: "CheckNumber",
                                    fields: {
                                        SerialNo: { editable: false, nullable: true },
                                        Station: { editable: false, validation: { required: false } },
                                        DeliveryArea: { editable: false, validation: { required: false } },
                                        EmpCode: { editable: false, validation: { required: false } },
                                        CheckNumber: { editable: false, validation: { required: false } },
                                        ScanDate: { editable: false, validation: { required: false } },
                                        ArriveOption: { editable: false, validation: { required: false } },
                                        VerifyOption: {
                                            defaultValue: { Id: 0, Information: "" }, validation: { required: true }
                                        },
                                        VerifyEmpCode: { validation: { required: true } },
                                        VerifyStation: {
                                            defaultValue: { StationSCode: "", ShowName: "" }, validation: { required: true }
                                        }
                                    }
                                }
                            }
                        });

                    $("#grid").kendoGrid({
                        dataBound: function () {
                            //kendo.ui.progress($("#container"), false);
                        },
                        dataSource: dataSource,
                        toolbar: ["excel"],
                        excel: {
                            fileName: "menuVerifyErrorDeliveryRequest.xlsx",
                            allPages: true
                        },
                        excelExport: exportGridWithTemplatesContent,
                        groupable: true,
                        columnMenu: true,
                        sortable: true,
                        filterable: true,
                        pageable: {
                            refresh: true,
                            pageSizes: [20, 30, 50, "all"],
                            buttonCount: 5
                        },
                        columns: [
                            { command: [{ name: "edit", text: { edit: "編輯", update: "儲存", cancel: "取消" } }], title: "修改", width: "100px" }, {
                                field: "SerialNo",
                                title: "序號"
                            }, {
                                field: "Station",
                                title: "原銷號站"
                            }, {
                                field: "DeliveryArea",
                                title: "配區"
                            }, {
                                field: "EmpCode",
                                title: "原銷號工號"
                            }, {
                                field: "CheckNumber",
                                title: "貨號"
                            }, {
                                field: "ScanDate",
                                title: "銷號日期",
                                format: "{0: yyyy/MM/dd HH:mm:ss}"
                            }, {
                                field: "ArriveOption",
                                title: "原銷號區分"
                            }, {
                                field: "VerifyOption",
                                title: "銷號區分",
                                editor: writeOffCheckListDropDownEditor, template: "#=VerifyOption.Information#"
                            }, {
                                field: "VerifyEmpCode",
                                title: "銷號工號"
                            }, {
                                field: "VerifyStation",
                                title: "實際銷號站",
                                editor: stationDropDownEditor, template: "#=VerifyStation.ShowName#"
                            }, {
                                field: "CheckNumber",
                                title: "查詢",
                                template: kendo.template($("#team-template").html())
                            }, {
                                field: "CheckNumber",
                                title: "簽單照片",
                                template: kendo.template($("#image").html())
                            }],
                        editable: "inline"
                    });

                    var myGrid = $("#grid").data("kendoGrid");
                    myGrid.dataSource.read();
                    myGrid.refresh();
                }

                function changeDataType() {
                    myDataType = $("#dataType").val();
                }

                function stationDropDownEditor(container, options) {
                    $('<input required name="' + options.field + '"/>')
                        .appendTo(container)
                        .kendoDropDownList({
                            autoBind: false,
                            dataTextField: "ShowName",
                            dataValueField: "StationSCode",
                            dataSource: {
                                type: "odata",
                                transport: {
                                    read: "/KendoSelect/GetStation"
                                }
                            }
                        });
                }

                function writeOffCheckListDropDownEditor(container, options) {
                    $('<input required name="' + options.field + '"/>')
                        .appendTo(container)
                        .kendoDropDownList({
                            autoBind: false,
                            dataTextField: "Information",
                            dataValueField: "Id",
                            dataSource: {
                                type: "odata",
                                transport: {
                                    read: "/KendoSelect/GetErrorWriteOffCheckList"
                                }
                            }
                        });
                }

                function exportGridWithTemplatesContent(e) {
                    var data = e.data;
                    var gridColumns = e.sender.columns;
                    var sheet = e.workbook.sheets[0];
                    var visibleGridColumns = [];
                    var columnTemplates = [];
                    var dataItem;
                    // Create element to generate templates in.
                    var elem = document.createElement('div');

                    // Get a list of visible columns
                    for (var i = 0; i < gridColumns.length; i++) {
                        if (!gridColumns[i].hidden) {
                            visibleGridColumns.push(gridColumns[i]);
                        }
                    }

                    // Create a collection of the column templates, together with the current column index
                    for (var i = 0; i < visibleGridColumns.length; i++) {
                        if (visibleGridColumns[i].template) {
                            columnTemplates.push({ cellIndex: i, template: kendo.template(visibleGridColumns[i].template) });
                        }
                    }

                    // Traverse all exported rows.
                    for (var i = 1; i < sheet.rows.length; i++) {
                        var row = sheet.rows[i];
                        // Traverse the column templates and apply them for each row at the stored column position.

                        // Get the data item corresponding to the current row.
                        var dataItem = data[i - 1];
                        for (var j = 0; j < columnTemplates.length; j++) {
                            var columnTemplate = columnTemplates[j];
                            // Generate the template content for the current cell.
                            elem.innerHTML = columnTemplate.template(dataItem);
                            if (row.cells[columnTemplate.cellIndex - 1] != undefined)
                                // Output the text content of the templated cell into the exported cell.
                                row.cells[columnTemplate.cellIndex - 1].value = elem.textContent || elem.innerText || "";
                        }
                    }
                }
            </script>
        </div>
    </div>
