﻿@{
    ViewData["Title"] = "KendoTest";
    Layout = "~/Views/Shared/_LayoutTestForKendo.cshtml";
}
<body style="background-color:#3e486c;">
    <center>
        <span style="font-size:1cm;color:#c9ccd6">@Html.Raw(ViewBag.StationShowName)</span><br />
        <span style="font-size:2cm;color:#c9ccd6">今日應配件數/未配件數/配達成功率</span><br />
        <span style="font-size:5cm;color:#017cbf">@Html.Raw(ViewBag.Total)</span>
        <span style="font-size: 5cm;color:#c9ccd6">
            /
        </span>
        <span style="font-size:5cm;color:darkorange">
            <a href="DPlusOneNotDeliverySuccessList" target="_blank" style="color:#40c8e0">@Html.Raw(ViewBag.NotYetNum)</a>
        </span>
        <span style="font-size:5cm;color:#c9ccd6">
            /
        </span>
        <span style="font-size:5cm;color:#66dd9c">
            @Html.Raw(ViewBag.Percentage)%
        </span><br />
        <span style="font-size:2cm;color:#c9ccd6">D+1留庫/D+2留庫/D+3留庫</span><br />
        <span style="font-size:5cm;">
            <a href="ShowDepotNonFinishListView?depotCategory=1" target="_blank" style="color:#dadb5b">@Html.Raw(ViewBag.DPlus1Depot)</a>
        </span>
        <span style="font-size: 5cm;color:#c9ccd6">
            /
        </span>
        <span style="font-size:5cm;">
            <a href="ShowDepotNonFinishListView?depotCategory=2" target="_blank" style="color:#f99c0a">@Html.Raw(ViewBag.DPlus2Depot)</a>
        </span>
        <span style="font-size:5cm;color:#c9ccd6">
            /
        </span>
        <span style="font-size:5cm;">
            <a href="ShowDepotNonFinishListView?depotCategory=3" target="_blank" style="color:#cb3e58">@Html.Raw(ViewBag.DPlus3Depot)</a>
        </span>
    </center>
</body>
<script language="JavaScript">
    function myrefresh() {
        window.location.reload();
    }
    setTimeout('myrefresh()', 300000); //指定五分鐘刷新一次
</script>