﻿@{
    ViewData["Title"] = "SignPaperInfo";
    Layout = "~/Views/Shared/_LayoutAddMenu.cshtml";
}



<div class="demo-section k-content">
    <div>
        <h1>簽單下載</h1>
    </div>
    <div>
        <h4>
            客戶代號:
            <input id="customerCode" style="font-size:12px" />
        </h4>
    </div>
    <div>
        <h4>
            發送日期:
            <div id="printDatePeriod" style="font-size:12px"></div>
        </h4>
    </div>
    <div>
        <h4>
            出貨日期:
            <div id="shipDatePeriod" style="font-size:12px"></div>
        </h4>
    </div>

    <button id="search">查詢</button><label id="msg" style="font-size:20px; color:red"></label>
    <button id="download">下載表格內所有簽單</button><label id="msg2" style="font-size:20px; color:red"></label>
    <div id="dataName" style="display:none"></div>
</div>
<div class="demo-section k-content wide">
    <div id="progressBar"></div>
</div>
<div id="grid" />
<script>
    $(document).ready(function () {
        $("#printDatePeriod").kendoDateRangePicker();
        $("#shipDatePeriod").kendoDateRangePicker();

        GetCustomerCodes();
    })

    function GetCustomerCodes() {
        $("#customerCode").width(300).kendoDropDownList({
            filter: "startswith",
            dataTextField: "ShowName",
            dataValueField: "CustomerCode",
            dataSource: {
                type: "odata",
                serverFiltering: true,
                transport: {
                    read: {
                        url: "/KendoSelect/GetCustomer",
                    }
                }
            },
        }).data("kendoDropDownList");
    }

    var progressDataSource = new kendo.data.DataSource({
        transport: {
            read: {
                url: "/SignPaperPhotoPackage/GetProgressData",
                dataType: "jsonp",
                cache: "false"
            },
            parameterMap: function (data) {
                return "loginAccountCode=@ViewBag.LoginAccountCode";
            },
            batch: true,
            pageSize: 20,
            schema: {
                model: {
                    id: "Id",
                    fields: {
                        DataName: { type: "string" },
                        FileTotalRecords: { type: "string" }
                    }
                }
            }
        }
    })

    $("#progressBar").kendoGrid({
        dataSource: progressDataSource,
        pageable: true,
        columns: [
            { field: "DataName", title: "檔案名稱" },
            { field: "CompletePercent", template: "<div class='progress'></div>", title: "完成百分比" },
            { field: "DataPathUrl", title: "簽單檔案連結", template: '<a href=#=DataPathUrl# target=_blank>#= DataPathString#</a>'},
            { field: "PredictRemaining", title: "預估剩餘時間"}
        ],
        height: "10cm",
        dataBound: function (e) {
            var grid = this;

            grid.tbody.find(".progress").each(function (e) {
                var row = $(this).closest("tr");
                var model = grid.dataItem(row);

                $(this).width(90).kendoProgressBar({
                    max: 100,
                    value: model.CompletePercent
                })
            });
        }
    })

    $("#search").kendoButton({
        click: function (e) {
            if ($("#customerCode").data("kendoDropDownList").value() == "")
            {
                alert("必須選擇客代");
            }
            else if (($("#printDatePeriod").data("kendoDateRangePicker")._startDateInput._oldText == "month/day/year" && $("#shipDatePeriod").data("kendoDateRangePicker")._startDateInput._oldText == "month/day/year") || ($("#printDatePeriod").data("kendoDateRangePicker")._endDateInput._oldText == "month/day/year" && $("#shipDatePeriod").data("kendoDateRangePicker")._endDateInput._oldText == "month/day/year"))
            {
                alert("請輸入完整日期");
            }
            else
            {
                $("#dataName").text($("#customerCode").data("kendoDropDownList").text() + "_發送日期" + $("#printDatePeriod").data("kendoDateRangePicker")._startDateInput._oldText + "~" + $("#printDatePeriod").data("kendoDateRangePicker")._endDateInput._oldText + "_出貨日期" + $("#shipDatePeriod").data("kendoDateRangePicker")._startDateInput._oldText + "~" + $("#shipDatePeriod").data("kendoDateRangePicker")._endDateInput._oldText);
                GetGrid();
                $('html,body').animate({ scrollTop: document.body.scrollHeight }, "fast");
            }
        }
    })

    $("#download").kendoButton({
        click: function (e) {
            var cns = [];
            for (var i = 0; i < $('#grid').data().kendoGrid.dataSource._data.length; i++) {
                if ($('#grid').data().kendoGrid.dataSource._data[i].SignPaperString != "") {
                    var data = { CheckNumber: $('#grid').data().kendoGrid.dataSource._data[i].CheckNumber, SignPhotoPath: $('#grid').data().kendoGrid.dataSource._data[i].SignPaperPath, SourceType: $('#grid').data().kendoGrid.dataSource._data[i].SourceType }
                    cns.push(data);
                }
            }
            var obj = { DataName: $("#dataName").text(), AccountCode: "@ViewBag.LoginAccountCode", CheckNumbersAndPathsAndTypes: cns }
            DownloadPics(obj)
        }
    })

    setInterval(function () {
        var Refresher = $("#progressBar").data("kendoGrid").dataSource.read(); $("#progressBar").data("kendoGrid").refresh();
    }, 10000)

    function DownloadPics(obj) {
        $.ajax({
            type: "post",
            url: "/SignPaperPhotoPackage/DownloadPics",
            data: "obj=" + JSON.stringify(obj),
            dataType: "json",
            success: function (result) {
                //do something
                alert("已接收，請稍候...");
            }
        });
    }

    function GetGrid() {
        (function () {
            if ($("#grid").data('kendoGrid') == null) {
            } else {
                $("#grid").data("kendoGrid").dataSource().read();
                $("#grid").data("kendoGrid").refresh();
            }
        })

        var arrivedRequestsDataSource = new kendo.data.DataSource({
            transport: {
                read: {
                    url: "/SignPaperPhotoPackage/GetRequestsInfo",
                    dataType: "jsonp",
                    cache: "false",
                    data: function () {
                        return {
                            customerCode: $("#customerCode").data("kendoDropDownList").value(),
                            printDateStart: $("#printDatePeriod").data("kendoDateRangePicker")._startDateInput._oldText == "month/day/year" ? null : $("#printDatePeriod").data("kendoDateRangePicker")._startDateInput._oldText,
                            printDateEnd: $("#printDatePeriod").data("kendoDateRangePicker")._endDateInput._oldText == "month/day/year" ? null : $("#printDatePeriod").data("kendoDateRangePicker")._endDateInput._oldText,
                            shipDateStart: $("#shipDatePeriod").data("kendoDateRangePicker")._startDateInput._oldText == "month/day/year" ? null : $("#shipDatePeriod").data("kendoDateRangePicker")._startDateInput._oldText,
                            shipDateEnd: $("#shipDatePeriod").data("kendoDateRangePicker")._endDateInput._oldText == "month/day/year" ? null : $("#shipDatePeriod").data("kendoDateRangePicker")._endDateInput._oldText
                        };
                    }
                },
                parameterMap: function (data) {
                    return "json=" + kendo.stringify(data);
                }
            },
            batch: true,
            pageSize: 20,
            schema: {
                model: {
                    id: "Id",
                    fields: {
                        CheckNumber: { type: "string" },
                        OrderNumber: { type: "string" },
                        ReceiveContact: { type: "string" },
                        ReceiveAddress: { type: "string" },
                        PrintDate: { type: "string" },
                        ShipDate: { type: "string" },
                        ArriveDate: { type: "string" },
                        SignPaperPath: { type: "string" }
                    }
                }
            }
        })

        $("#grid").kendoGrid({
            dataSource: arrivedRequestsDataSource,
            pageable: true,
            height: 550,
            columns: [
                { field: "CheckNumber", title: "貨號" },
                { field: "OrderNumber", title: "訂單編號" },
                { field: "ReceiveContact", title: "收件人" },
                { field: "ReceiveAddress", title: "收件地址" },
                { field: "PrintDate", title: "發送日期" },
                { field: "ShipDate", title: "出貨日期" },
                { field: "ArriveDate", title: "配達日期" },
                { field: "SignPaperString", template: '<a href=#=SignPaperPath# target=_blank>#= SignPaperString#</a>', title: "簽單圖片連結" }
            ]
        })
    }


</script>
