﻿@model LightYear.JunFuTrans.BL.BE.TMS.TmsPalletCountViewEntity

<table class="table table-bordered" id="tb-plate-count">
    <thead>
        <tr>
            <th class="k-header"></th>
            @foreach (var e in Model.Stations)
            {
                <th class="k-header" colspan="@e.Stations.Count">@e.Position</th>
            }
        </tr>
        <tr>
            <th class="k-header"></th>
            @foreach (var e in Model.Stations)
            {
                foreach (var c in e.Stations)
                {
                    <th class="k-header">@c</th>
                }
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var tableRow in Model.CountEntity)
        {
            <tr>
                <td>@tableRow.AreaArrive</td>
                @foreach (var r in tableRow.RowData)
                {
                    <td>@r.Count</td>
                }
            </tr>
        }
    </tbody>
</table>
