﻿@{
  ViewData["Title"] = "B段停靠點管理";
  Layout = "~/Views/Shared/_LayoutAddJFMenu.cshtml";
}

<div class="container">
  <h2 class="title">B段停靠點管理</h2>
  <div>
    <button class="new-station">新增</button>
  </div>

  <div id="grid"></div>

  <div id="dialog">
    <form name="b-section-station">
      <input type="text" name="id" id="station-id" style="display: none" />

      <div class="section">
        <label for="station-name">停靠點名稱：</label>
        <input
          type="text"
          name="station-name"
          id="station-name"
          placeholder="請輸入停靠點名稱"
        />
      </div>

      <div class="section">
        <label for="address-section">地址：</label>
        <select
          name="city"
          id="select-city"
          class="required"
          onchange="updateDistrictOptions()"
        >
          <option value="" selected disabled hidden>請選擇</option>
        </select>
        <select name="district" id="select-district" class="required">
          <option class="placeholder" value="" selected disabled hidden>
            請選擇
          </option>
        </select>
        <input
          type="text"
          id="input-address"
          name="address"
          placeholder="請輸入地址"
        />
      </div>

      <div class="section">
          <div class="sub-section">
              <label for="suppliers">棧板發送到著區：</label>
              <button type="button" id="remove-supplier">
                  <img src="/images/icon/minus-circle.svg"
                       alt="remove a new supplier" />
              </button>
              <button type="button" id="add-supplier">
                  <img src="/images/icon/plus-circle.svg" alt="add a new supplier" />
              </button>
              <input type="number"
                     name="supplier-count"
                     id="supplier-count"
                     style="display: none"
                     value="0" />
          </div>
          <div class="sub-section supplier-group" id="supplier-list">
              <select class="select-supplier required"
                      name="supplier-0"
                      id="select-supplier-0">
                  <option value="" selected disabled hidden>請選擇(必填)</option>
              </select>
          </div>
      </div>

      <div class="section">
        <label for="position">方位：</label>
        <select name="position" id="select-position" class="required">
          <option value="" selected disabled hidden>請選擇</option>
          <option value="北">北</option>
          <option value="中">中</option>
          <option value="南">南</option>
          <option value="東">東</option>
        </select>
      </div>

      <div class="section">
        <label for="status">啟用狀況：</label>
        <label for="radio-enable">
          <input
            type="radio"
            name="status"
            id="radio-enable"
            value="enable"
            checked
          />
          啟用
        </label>
        <label for="radio-disable">
          <input
            type="radio"
            name="status"
            id="radio-disable"
            vlaue="disable"
          />
          停用
        </label>
      </div>

      <div class="section bottom-buttons">
        <button type="button" id="btn-submit">確認</button>
        <button type="button" id="btn-cancel-submit">取消</button>
      </div>
    </form>
  </div>

  <div id="popup-message"></div>
</div>

<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

<script>
  const TYPE_UPDATE = 'update'
  const TYPE_CREATE = 'create'

  let formCommitType = ''
  let dialog = null
  let cityList = []
  let supplierListData = []
  let fetchedStationData = []

    let popupMessage = null

    let supplierCount = 1;
  const form = document.querySelector('form[name="b-section-station"]')

  const showPopupMessage = (message, status) => {
    // status: 'info', 'success', 'error'
    popupMessage.show(message, status)
  }

    const editStation = (e) => {
    e.preventDefault()
    const stationToEdit = e.currentTarget.closest('tr')
    const allProps = stationToEdit.childNodes
    const id = +allProps[0].innerText

    formCommitType = TYPE_UPDATE

    const stationData = fetchedStationData.find(
      (station) => +station.id === +id
    )

    setEditForm(stationData)
    dialog.title(`編輯停靠點`)
    dialog.open()
  }

  const openCreateForm = () => {
    formCommitType = TYPE_CREATE

    dialog.title('新增停靠點')
    dialog.open()
    }

  const setLoading = (value = false) => {
    var element = $('.container')
    kendo.ui.progress(element, value)
  }

  const getStations = () => {
    return new Promise((resolve, reject) => {
      setLoading(true)
      axios
        .get('/TMS/GetStations')
        .then((res) => {
          setLoading(false)
          resolve(res.data)
        })
        .catch((error) => {
          setLoading(false)
          reject(error)
        })
    })
  }

  const getSuppliers = () => {
    return new Promise((resolve, reject) => {
      setLoading(true)
      axios
        .get('/TMS/GetSuppliers')
        .then((res) => {
          setLoading(false)
          resolve(res.data)
        })
        .catch((error) => {
          setLoading(false)
          reject(error)
        })
    })
  }

  const getCitys = () => {
    return new Promise((resolve, reject) => {
      setLoading(true)
      axios
        .get('/ConstantData/GetCitys')
        .then((res) => {
          setLoading(false)
          resolve(res.data)
        })
        .catch((error) => {
          setLoading(false)
          reject(error)
        })
    })
  }

  const createNewStation = (formData) => {
    return new Promise((resolve, reject) => {
      setLoading(true)
      axios
        .post('/TMS/CreateNewStation', formData)
        .then((res) => {
          setLoading(false)
          resolve(res.data)
        })
        .catch((error) => {
          setLoading(false)
          reject(error)
        })
    })
  }

  const updateStation = (formData) => {
    return new Promise((resolve, reject) => {
      setLoading(true)
      axios
        .post('/TMS/UpdateStation', formData)
        .then((res) => {
          setLoading(false)
          resolve(res.data)
        })
        .catch((error) => {
          setLoading(false)
          reject(error)
        })
    })
  }

    const setEditForm = (station) => {
    const inputStationID = form.querySelector('input[name="id"]')
    inputStationID.value = station.id

    const inputName = form.querySelector('input[name="station-name"]')
    inputName.value = station.name

    const selectCity = form.querySelector('select[name="city"]')
    selectCity.value = station.city_id

    updateDistrictOptions()

    const selectDistrict = form.querySelector('select[name="district"]')
    selectDistrict.value = station.district_id

    const inputAddress = form.querySelector('input[name="address"]')
    inputAddress.value = station.address

      station.suppliers.forEach((supplier, index) => {
          if (index == 0)
              return;
          addSupplierWithIndex(index);
      })

      const supplierSelectEls = document.querySelectorAll('.select-supplier')
      supplierSelectEls.forEach((select) => {
          supplierListData.forEach((supplier) => {
              const option = document.createElement('option')
              option.value = supplier.id
              option.innerText = supplier.code + ' ' + supplier.name
              select.append(option)
          })
      })

      station.suppliers.forEach((supplier, index) => {
          $(`#select-supplier-${index}`).val(supplier.id);
      })

    const selectPosition = form.querySelector('select[name="position"]')
    selectPosition.value = station.position

    const inputStatusEnable = form.querySelector('input#radio-enable')
    inputStatusEnable.checked = station.is_active

    const inputStatusDisable = form.querySelector('input#radio-disable')
    inputStatusDisable.checked = !station.is_active
  }

  const getCityDistrictByID = (cityID, districtID) => {
    let result = ''
    cityList.forEach((city) => {
      if (city.id == cityID) {
        result += city.name
        city.districts.forEach((district) => {
          if (district.id == districtID) {
            result += district.name
          }
        })
      }
    })
    return result
  }

  const parseStations = (data) => {
    const stations = []
    data.forEach((origin) => {
      const cityDistrict = getCityDistrictByID(
        origin.city_id,
        origin.district_id
      )
      const address = cityDistrict + origin.address

      let suppliers = ''
      origin.suppliers.forEach((vendor, index) => {
        if (index !== 0) {
          suppliers += ', ' + vendor.code
        } else {
          suppliers = vendor.code
        }
      })

      stations.push({
        id: origin.id,
        name: origin.name,
        address,
        suppliers,
        position: origin.position,
        is_active: origin.is_active ? '是' : '否',
      })
    })

    return stations
  }

    const renderTable = (data) => {

        if ($("#grid").data("kendoGrid")) {
            $("#grid").data("kendoGrid").dataSource = new kendo.data.DataSource({ data, pageSize: 20 });
            $("#grid").data("kendoGrid").dataSource.read();
            $("#grid").data("kendoGrid").refresh();
            return;
        }

    const dataSource = new kendo.data.DataSource({ data, pageSize: 20 })
    $('#grid').kendoGrid({
      dataSource,
      height: 600,
      sortable: true,
      pageable: true,
      columns: [
        {
          hidden: true,
          field: 'id',
        },
        {
          field: 'name',
          title: '停靠點名稱',
          width: '80px',
        },
        {
          field: 'address',
          title: '地址',
        },
        {
          field: 'suppliers',
          title: '棧板-發送到著區',
          width: '120px',
        },
        {
          field: 'position',
          title: '方位',
          width: '40px',
        },
        {
          field: 'is_active',
          title: '啟用',
          width: '40px',
        },
        {
          command: { text: '編輯', click: editStation },
          title: '',
          width: '90px',
        }
      ]
    })
  }

  const getStationTable = () => {
    getStations()
      .then((res) => {
        showPopupMessage('取得停靠點資料成功', 'success')
        fetchedStationData = res.data
          const stations = parseStations(fetchedStationData)
          
            renderTable(stations)                 
      })
      .catch((error) => {
        showPopupMessage('取得停靠點資料失敗', 'error')
      })
  }

  const updateDistrictOptions = () => {
    const selectedCityId = +document.querySelector('#select-city').value
    const districtSelectEl = document.querySelector('#select-district')
    const city = cityList.find((c) => c.id === selectedCityId)

    while (districtSelectEl.lastChild.className !== 'placeholder') {
      districtSelectEl.removeChild(districtSelectEl.lastChild)
    }

    city.districts.forEach((district) => {
      const option = document.createElement('option')
      option.value = district.id
      option.innerText = district.name
      districtSelectEl.append(option)
    })
  }

  const resetForm = () => {
    const districtSelectEl = document.querySelector('#select-district')
    while (districtSelectEl.lastChild.className !== 'placeholder') {
      districtSelectEl.removeChild(districtSelectEl.lastChild)
    }
      while (supplierCount > 1) {
          removeSupplier();
      }

      supplierCount = 1;
      form.reset();
  }

  const checkSubmitData = () => {
    let checkResult = {
      pass: true,
      message: '',
    }

    const inputName = document.querySelector('input[name="station-name"]')
    if (!inputName || !inputName.value) {
      checkResult.pass = false
      checkResult.message = '未輸入停靠點名稱'
    }

    const selects = document.querySelectorAll('select.required')
    selects.forEach((select) => {
      if (!select || !select.value || select.value === 'null') {
        checkResult.pass = false
        checkResult.message = '有必填選項未選擇'
      }
    })

    const inputAddress = document.querySelector('input[name="address"]')
    if (!inputAddress || !inputAddress.value) {
      checkResult.pass = false
      checkResult.message = '未輸入地址'
    }

    const statusVal = document.querySelector('input[name="status"]:checked')
    if (!statusVal || !statusVal.value) {
      checkResult.pass = false
      checkResult.message = '未選擇啟用狀況' // should not be here
    }

    return checkResult
  }

    $('#btn-submit').on('click', () => {
        const checkResult = checkSubmitData()
        if (!checkResult.pass) {
            alert(checkResult.message)
            return false
        }

        const formData = new FormData(form)

        if (formCommitType === TYPE_CREATE) {
            createNewStation(formData)
                .then((res) => {
                    showPopupMessage('新增停靠點成功', 'success')
                    getStationTable()
                })
                .catch((error) => {
                    showPopupMessage('新增停靠點失敗', 'error')
                })
        } else if (formCommitType === TYPE_UPDATE) {
            updateStation(formData)
                .then((res) => {
                    showPopupMessage('編輯停靠點成功', 'success')
                    getStationTable();
                })
                .catch((error) => {
                    showPopupMessage('編輯停靠點失敗', 'error')
                })
        }

        resetForm();
        dialog.close();

        return false
    });

    $('#btn-cancel-submit').on('click', () => {
        resetForm();
        dialog.close();
        return false;
    });

    $(document).ready(() => {
        $('#dialog')
            .kendoDialog({
                visible: false,
                close: () => {
                    resetForm()
                }
            })
            .data('kendoDialog')

        dialog = $('#dialog').data('kendoDialog')

        $('.new-station').kendoButton({
            click: (e) => {
                openCreateForm()
            }
        })

        const getInitData = Promise.all([getCitys(), getSuppliers()]).then(
            (res) => {
                cityList = res[0].data
                const citySelectEl = document.querySelector('#select-city')
                cityList.forEach((city) => {
                    const option = document.createElement('option')
                    option.value = city.id
                    option.innerText = city.name
                    citySelectEl.append(option)
                })

                supplierListData = res[1].data;

                popupMessage = $('#popup-message')
                    .kendoNotification()
                    .data('kendoNotification')

                getStationTable()
            }
        )        
    });

    $('#remove-supplier').on('click', () => {
        removeSupplier()
    })
    $('#add-supplier').on('click', () => {
        addSupplier()
    })

    const addSupplier = () => {
        const supplierList = $('#supplier-list')
        const id = supplierCount

        supplierList.append(newSupplierSection(id));
        
        supplierListData.forEach((supplier) => {
            const option = document.createElement('option')
            option.value = supplier.id
            option.innerText = supplier.code + ' ' + supplier.name
            $(`#select-supplier-${id}`).append(option)
        });        

        supplierCount++
        $('#supplier-count').val(id + 1)        
    }

    const addSupplierWithIndex = (index) => {
        const supplierList = $('#supplier-list')

        supplierList.append(newSupplierSection(index));

        supplierCount++
        $('#supplier-count').val(index + 1)
    }

    const removeSupplier = () => {
        const supplierList = $(`#supplier-list`)
        const id = supplierCount - 1;

        if (id < 1) {
            $('#supplier-count').val(0)
            return
        }

        $(`#select-supplier-${id}`).remove()
        supplierCount--

        $('#supplier-count').val(id)
    }

    const newSupplierSection = (id) => 
            `<select
            class="select-supplier"
            name="supplier-${id}"
            id="select-supplier-${id}"
          >
            <option value="">未選擇</option>
          </select>
        `            
    
</script>

<style scpoed>
  .k-animation-container {
    top: 30% !important;
    left: 50% !important;
    transform: translate(-50%, -50%) !important;
  }

  .container {
    padding: 20px 0;
  }

  tr td:nth-of-type(2),
  tr th:nth-of-type(2) {
    border-left-color: transparent;
  }

  table,
  thead,
  tbody,
  tr,
  th,
  td {
    box-sizing: border-box !important;
  }

  tbody tr {
    height: 50px;
  }

  th,
  td {
    text-align: center;
  }

  tbody tr:last-of-type td {
    border-bottom: 1px solid #d5d5d5;
  }

  .new-station {
    padding: 5px 20px;
    font-size: 16px;
    margin-top: 16px;
    margin-bottom: 16px;
  }

  .k-dialog {
    overflow: auto;
    width: fit-content;
    max-width: 90%;
    height: fit-content;
    max-height: 80%;
    font-size: 16px;
  }

  .k-dialog-content,
  .k-dialog-titlebar {
    padding: 2em;
  }

  .k-dialog-titlebar {
    padding: 1em 2em;
    color: black;
    font-weight: bold;
    font-size: 18px;
  }

  .k-dialog-content form .section {
    margin-bottom: 2em;
  }

  .k-dialog-content form .section select,
  .k-dialog-content form .section input {
    border: 1px solid black;
    padding: 0.2em 0.5em;
    border-radius: 4px;
  }

  .k-dialog-content form .section .sub-section {
    margin-bottom: 2em;
  }

  .k-dialog-content form .section .sub-section.supplier-group {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1.5rem;
  }

  .k-window-titlebar .k-window-actions {
    right: 2em;
  }

  .k-dialog-content form .section.bottom-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3em;
  }

  .k-dialog-content form .section.bottom-buttons button {
    padding: 0.25em 2.5em;
    font-size: 1em;
    border-radius: 4px;
  }

  .k-dialog-content form .section.bottom-buttons button:first-of-type {
    margin-right: 2em;
    background: #11a736;
    border: 1px solid #11a736;
    color: #ffffff;
  }

  .k-dialog-content form .section.bottom-buttons button:nth-of-type(2) {
    background: #ff2828;
    border: 1px solid #ff2828;
    color: #ffffff;
  }
</style>
