﻿@model LightYear.JunFuTrans.BL.BE.TMS.FormFiledDataEntity
@{
  ViewData["Title"] = "固定班次表";
  Layout = "~/Views/Shared/_LayoutAddJFMenu.cshtml";
}
<div class="container">
  <h2 class="title">固定班次表</h2>
  <div class="option-bar">
    <div class="operation-status">
      <h5 class="operation-status__title">運行狀態</h5>
      <form class="operation-status-options">
        <label
          for="status-normal"
          class="operation-status-options__status-label"
        >
          <input type="radio" name="status" id="status-normal" value="Normal" />
          正常
        </label>
        <label
          for="status-stopping"
          class="operation-status-options__status-label"
        >
          <input
            type="radio"
            name="status"
            id="status-stopping"
            value="Stopping"
          />
          停運
        </label>
        <label for="status-all" class="operation-status-options__status-label">
          <input
            type="radio"
            name="status"
            id="status-all"
            value="All"
            checked
          />
          全部
        </label>
      </form>
    </div>
    <div class="buttons">
      <button class="find-run">查詢班次</button>
      <button class="new-run">新增班次</button>
    </div>
  </div>
  <div class="schedule-container"></div>

  <div id="dialog">
    <form name="form-new-run">
      <input type="text" name="id" id="input-run-id" style="display: none" />
      <input
        type="text"
        name="run-number"
        id="input-run-number"
        style="display: none"
      />

      <div class="section">
        <label for="car-type">車種：</label>
        <select name="car-type" id="car-type">
          <option value="null" selected disabled hidden>請選擇</option>
          @for (int i = 0; i < Model.CarTypes.Count; i++) {
          <option value="@Model.CarTypes[i].Id">
            @Model.CarTypes[i].Name - @Model.CarTypes[i].MaxLoading 倉位
          </option>
          }
        </select>

        <label for="run-type">單趟/來回：</label>
        <select name="run-type" id="run-type">
          <option value="null" selected disabled hidden>請選擇</option>
          @for (int i = 0; i < Model.RunFlowTypes.Count; i++) { @if
          (Model.RunFlowTypes[i].Name == "單趟" || Model.RunFlowTypes[i].Name ==
          "來回") {
          <option value="@Model.RunFlowTypes[i].Id">
            @Model.RunFlowTypes[i].Name
          </option>
          } }
        </select>

        <label for="status">運行狀態：</label>
        <select name="status" id="status">
          <option value="null" selected disabled hidden>請選擇</option>
          <option value="Normal">正常</option>
          <option value="Stopping">停運</option>
        </select>
      </div>
      <div class="section">
        <label for="attribute">屬性：</label>
        <label class="mr-3" for="radio-with-ltl">
          棧板與零擔
          <input
            type="radio"
            name="attribute"
            id="radio-with-ltl"
            value="with-ltl"
          />
        </label>
        <label for="radio-without-ltl">
          棧板
          <input
            type="radio"
            name="attribute"
            id="radio-without-ltl"
            value="without-ltl"
          />
        </label>
      </div>

      <div class="section">
        <label for="from">起點：</label>
        <select name="from" id="from">
          <option value="null" selected disabled hidden>請選擇</option>
          @for (int i = 0; i < Model.BSectionStops.Count; i++) { @if
          (Model.BSectionStops[i].IsActive) {
          <option value="@Model.BSectionStops[i].Id">
            @Model.BSectionStops[i].Name
          </option>
          } }
        </select>

        <label for="to">訖點：</label>
        <select name="to" id="to" value="null">
          <option value="null" selected disabled hidden>請選擇</option>
          @for (int i = 0; i < Model.BSectionStops.Count; i++) { @if
          (Model.BSectionStops[i].IsActive) {
          <option value="@Model.BSectionStops[i].Id">
            @Model.BSectionStops[i].Name
          </option>
          } }
        </select>
      </div>

      <div class="section">
        <label for="dispatch-days">發車日：</label>

        <input
          class="dispatch-checkbox required"
          id="dispatch-sun"
          type="checkbox"
          name="dispatch-sun"
        />
        <label class="weekday-label" for="dispatch-sun">週日</label>

        <input
          class="dispatch-checkbox required"
          id="dispatch-mon"
          type="checkbox"
          name="dispatch-mon"
        />
        <label class="weekday-label" for="dispatch-mon">週一</label>

        <input
          class="dispatch-checkbox required"
          id="dispatch-tue"
          type="checkbox"
          name="dispatch-tue"
        />
        <label class="weekday-label" for="dispatch-tue">週二</label>

        <input
          class="dispatch-checkbox required"
          id="dispatch-wed"
          type="checkbox"
          name="dispatch-wed"
        />
        <label class="weekday-label" for="dispatch-wed">週三</label>

        <input
          class="dispatch-checkbox required"
          id="dispatch-thu"
          type="checkbox"
          name="dispatch-thu"
        />
        <label class="weekday-label" for="dispatch-thu">週四</label>

        <input
          class="dispatch-checkbox required"
          id="dispatch-fri"
          type="checkbox"
          name="dispatch-fri"
        />
        <label class="weekday-label" for="dispatch-fri">週五</label>

        <input
          class="dispatch-checkbox required"
          id="dispatch-sat"
          type="checkbox"
          name="dispatch-sat"
        />
        <label class="weekday-label" for="dispatch-sat">週六</label>
      </div>

      <div class="section">
        <div class="sub-section">
          <label for="go-start-at">去程發車時間：</label>
          <input
            type="time"
            id="go-start-at"
            name="go-start-at"
            class="required"
          />

          <label for="go-end-at">去程抵達時間：</label>
          <input type="time" id="go-end-at" name="go-end-at" class="required" />
        </div>

        <div class="sub-section">
          <label for="back-start-at">回程發車時間：</label>
          <input
            type="time"
            id="back-start-at"
            name="back-start-at"
            class="required"
          />

          <label for="back-end-at">回程抵達時間：</label>
          <input
            type="time"
            id="back-end-at"
            name="back-end-at"
            class="required"
          />
        </div>
      </div>

      <div class="section">
        <div class="sub-section">
          <span class="relay-section">
            <span class="relay-section-head">
              <label class="relays-label" for="go-relays">去程經停點：</label>
              <button type="button" id="remove-go-relay">
                <img
                  src="/images/icon/minus-circle.svg"
                  alt="remove a new relay"
                />
              </button>
              <button type="button" id="add-go-relay">
                <img src="/images/icon/plus-circle.svg" alt="add a new relay" />
              </button>
              <input
                type="number"
                name="go-relay-count"
                id="go-relay-count"
                style="display: none"
                value="0"
              />
            </span>

            <div class="relay-list" id="go-relay-list"></div>
          </span>
        </div>

        <div class="sub-section">
          <span class="relay-section">
            <span class="relay-section-head">
              <label class="relays-label" for="back-relays">回程經停點：</label>
              <button type="button" id="remove-back-relay">
                <img
                  src="/images/icon/minus-circle.svg"
                  alt="remove a new relay"
                />
              </button>
              <button type="button" id="add-back-relay">
                <img src="/images/icon/plus-circle.svg" alt="add a new relay" />
              </button>
              <input
                type="number"
                name="back-relay-count"
                id="back-relay-count"
                style="display: none"
                value="0"
              />
            </span>

            <div class="relay-list" id="back-relay-list"></div>
          </span>
        </div>
      </div>

      <div class="section bottom-buttons">
        <button type="button" id="btn-submit">確認</button>
        <button type="button" id="btn-cancel-submit">取消</button>
      </div>
    </form>
  </div>

  <div id="popup-message"></div>
</div>

<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/date-fns/1.30.1/date_fns.min.js"
  integrity="sha512-F+u8eWHrfY8Xw9BLzZ8rG/0wIvs0y+JyRJrXjp3VjtFPylAEEGwKbua5Ip/oiVhaTDaDs4eU2Xtsxjs/9ag2bQ=="
  crossorigin="anonymous"
></script>

<script>
  const TYPE_UPDATE = 'update'
  const TYPE_CREATE = 'create'

  let formCommitType = ''
  let dialog = null
  let popupMessage = null
  const form = document.querySelector('form[name="form-new-run"]')

  const showPopupMessage = (message, status) => {
    // status: 'info', 'success', 'error'
    popupMessage.show(message, status)
  }

  const openUpdateForm = (run) => {
    formCommitType = TYPE_UPDATE

    dialog.title(`編輯 ${run.number} ${run.from}-${run.to}`)
    dialog.open()
  }

  const openCreateForm = () => {
    formCommitType = TYPE_CREATE

    dialog.title('新增固定班次')
    dialog.open()
  }

  const setLoading = (value = false) => {
    var element = $('.container')
    kendo.ui.progress(element, value)
  }

  // Table
  const getFixedScheduleData = (type) => {
    return new Promise((resolve, reject) => {
      setLoading(true)
      axios
        .get('/TMS/GetFixedSchedule', {
          params: { type },
        })
        .then((res) => {
          setLoading(false)
          if (!res || !res.data) {
            reject('response error')
          } else if (!res.data.code === 200) {
            reject(res.data)
          }

          resolve(res.data)
        })
        .catch((error) => {
          setLoading(false)
          reject(error)
        })
    })
  }

  const postCreateNewRun = (formData) => {
    return new Promise((resolve, reject) => {
      setLoading(true)
      axios
        .post('/TMS/CreateNewRun', formData)
        .then((res) => {
          setLoading(false)
          if (!res || !res.data) {
            reject('response error')
          } else if (!res.data.code === 200) {
            reject(res.data)
          }

          resolve(res.data)
        })
        .catch((error) => {
          setLoading(false)
          reject(error)
        })
    })
  }

  const postUpdateARun = (formData) => {
    return new Promise((resolve, reject) => {
      setLoading(true)
      axios
        .post('/TMS/UpdateARun', formData)
        .then((res) => {
          setLoading(false)
          if (!res || !res.data) {
            reject('response error')
          } else if (!res.data.code === 200) {
            reject(res.data)
          }

          resolve(res.data)
        })
        .catch((error) => {
          setLoading(false)
          reject(error)
        })
    })
  }

  const editRun = (e) => {
    e.preventDefault()
    const tbody = e.currentTarget.closest('tbody')
    const runToEdit = e.currentTarget.closest('tr')
    const allProps = runToEdit.childNodes

    let relayParent = runToEdit.nextElementSibling
    if (!relayParent) {
      allProps[0].querySelector('a').click()
    }

    let relayEl = runToEdit.nextElementSibling.querySelector('tbody')

    if (!relayEl) {
      allProps[0].querySelector('a').click()
      relayEl = runToEdit.nextElementSibling.querySelector('tbody')
    }

    const relayEls = relayEl.childNodes
    let relays = []
    relayEls.forEach((relay) => {
      const relayData = relay.childNodes
      relays.push({
        id: +relayData[0].innerText,
        name: relayData[1].innerText,
        arriveAt: relayData[2].innerText,
        dispatchAt: relayData[3].innerText,
        flow: relayData[4].innerText,
      })
    })
    let run = {
      id: +allProps[1].innerText,
      number: +allProps[2].innerText,
      from: allProps[4].innerText,
      to: allProps[5].innerText,
      carType: allProps[7].innerText,
      flowType: allProps[9].innerText,
      dispatchDays: allProps[10].innerText.split(''),
      goStartAt: allProps[11].innerText.split('-')[0].trim(),
      goEndAt: allProps[11].innerText.split('-')[1].trim(),
      backStartAt: allProps[12].innerText.split('-')[0].trim(),
      backEndAt: allProps[12].innerText.split('-')[1].trim(),
      status: allProps[13].innerText,
      attr: allProps[14].innerText,
      relays,
    }

    const inputRunId = form.querySelector('input[name="id"]')
    inputRunId.value = run.id
    const inputRunNumber = form.querySelector('input[name="run-number"]')
    inputRunNumber.value = run.number

    const carTypeOptions = form.querySelector('select[name="car-type"]')
      .childNodes
    carTypeOptions.forEach((option) => {
      if (option.innerText && option.innerText.includes(run.carType)) {
        option.selected = 'selected'
      } else {
        option.selected = ''
      }
    })

    const runTypeOptions = form.querySelector('select[name="run-type"]')
      .childNodes
    runTypeOptions.forEach((option) => {
      if (option.innerText && option.innerText.includes(run.flowType)) {
        option.selected = 'selected'
      } else {
        option.selected = ''
      }
    })

    const statusOptions = form.querySelector('select[name="status"]').childNodes
    statusOptions.forEach((option) => {
      if (option.innerText && option.innerText.includes(run.status)) {
        option.selected = 'selected'
      } else {
        option.selected = ''
      }
    })

    const attrOptions = form.querySelectorAll('input[name="attribute"]')
    attrOptions.forEach((option) => {
      const optionText = option.closest('label').innerText
      if (optionText && optionText.includes(run.attr)) {
        option.checked = true
      } else {
        option.checked = false
      }
    })

    const fromOptions = form.querySelector('select[name="from"]').childNodes
    fromOptions.forEach((option) => {
      if (option.innerText && option.innerText.includes(run.from)) {
        option.selected = 'selected'
      } else {
        option.selected = ''
      }
    })

    const toOptions = form.querySelector('select[name="to"]').childNodes
    toOptions.forEach((option) => {
      if (option.innerText && option.innerText.includes(run.to)) {
        option.selected = 'selected'
      } else {
        option.selected = ''
      }
    })

    const dispatchDayMap = {
      日: 'dispatch-sun',
      一: 'dispatch-mon',
      二: 'dispatch-tue',
      三: 'dispatch-wed',
      四: 'dispatch-thu',
      五: 'dispatch-fri',
      六: 'dispatch-sat',
    }

    Object.keys(dispatchDayMap).map((day) => {
      const checkbox = form.querySelector('input#' + dispatchDayMap[day])
      if (run.dispatchDays.includes(day)) {
        checkbox.checked = true
      } else {
        checkbox.checked = false
      }
    })

    const goStartAt = form.querySelector('input#go-start-at')
    const goEndAt = form.querySelector('input#go-end-at')
    const backStartAt = form.querySelector('input#back-start-at')
    const backEndAt = form.querySelector('input#back-end-at')

    goStartAt.value = run.goStartAt
    goEndAt.value = run.goEndAt
    backStartAt.value = run.backStartAt
    backEndAt.value = run.backEndAt

    run.relays.forEach((relay) => {
      var flow = ''
      var id = 0

      if (relay.flow === '去程') {
        flow = 'go'
        id = goRelayCount
      } else {
        flow = 'back'
        id = backRelayCount
      }

      addRelay(flow)
      form.querySelector(`#${flow}-relay-arrive-at-${id}`).value =
        relay.arriveAt
      form.querySelector(`#${flow}-relay-dispatch-at-${id}`).value =
        relay.dispatchAt

      const relayStopOptions = form.querySelector(
        `select[name="${flow}-relay-${id}"]`
      ).childNodes
      relayStopOptions.forEach((option) => {
        if (option.innerText && option.innerText.includes(relay.name)) {
          option.selected = 'selected'
        } else {
          option.selected = ''
        }
      })
    })

    const attrInputs = form.querySelectorAll('input[name="attribute"]')
    attrInputs.forEach((input) => {
      input.disabled = true
    })

    openUpdateForm(run)
  }

  const loadScheduleData = (message) => {
    $('div#grid').remove()
    const scheduleContainer = document.querySelector('.schedule-container')
    const gridDiv = document.createElement('div')
    gridDiv.id = 'grid'
    scheduleContainer.append(gridDiv)

    const type = $(
      'input[name=status]:checked',
      '.operation-status-options'
    ).val()

    getFixedScheduleData(type)
      .then((res) => {
        const data = res.data

        if (!data) throw 'response data is null'

        const runs = []

        data.forEach((run) => {
          runs.push({
            id: run.id,
            run_number: run.run_number,
            run_route: run.route,
            run_start: run.from,
            run_end: run.to,
            has_relay: run.relay_list.length > 0 ? '有' : '無',
            car_type: run.car_type,
            max_loading: run.max_loading,
            is_go_and_back: run.run_type,
            dispatch_day: run.dispatch_days,
            go_time: run.go_time,
            back_time: run.back_time,
            is_active: run.status,
            is_ltl: run.attribute,
            relays: run.relay_list,
          })
        })

        const dataSource = new kendo.data.DataSource({
          data: runs,
          schema: {
            model: {
              fields: {
                id: { validation: { required: true } },
                run_number: { validation: { required: true } },
                run_route: { validation: { required: true } },
                run_start: { validation: { required: true } },
                run_end: { validation: { required: true } },
                has_relay: { validation: { required: true } },
                car_type: { validation: { required: true } },
                max_loading: { validation: { required: true } },
                is_go_and_back: { validation: { required: true } },
                dispatch_day: { validation: { required: true } },
                go_time: { validation: { required: true } },
                back_time: { validation: { required: true } },
                is_active: { validation: { required: true } },
                is_ltl: { validation: { required: true } },
                relays: { validation: { required: true } },
              },
            },
          },
          pageSize: 50,
        })

        const detailInit = (e) => {
          $('<div/>')
            .appendTo(e.detailCell)
            .kendoGrid({
              dataSource: e.data.relays,
              scrollable: false,
              sortable: true,
              columns: [
                {
                  hidden: true,
                  field: 'id',
                },
                {
                  field: 'name',
                  title: '經停點',
                },
                {
                  field: 'arrive_at',
                  title: '抵達時間',
                },
                {
                  field: 'dispatch_at',
                  title: '發車時間',
                },
                {
                  field: 'flow',
                  title: '流向',
                },
              ],
            })
        }

        const element = $('#grid').kendoGrid({
          dataSource,
          height: 600,
          sortable: true,
          pageable: true,
          detailInit: detailInit,
          dataBound: function () {
            this.expandRow(this.tbody.find('tr.k-master-row').first())
          },
          columns: [
            {
              hidden: true,
              field: 'id',
            },
            {
              field: 'run_number',
              title: '班次號',
            },
            {
              field: 'run_route',
              title: '路由',
            },
            {
              field: 'run_start',
              title: '起點',
            },
            {
              field: 'run_end',
              title: '訖點',
            },
            {
              field: 'has_relay',
              title: '經停點',
            },
            {
              field: 'car_type',
              title: '車種',
            },
            {
              field: 'max_loading',
              title: '最大承載數',
            },
            {
              field: 'is_go_and_back',
              title: '單趟/來回',
            },
            {
              field: 'dispatch_day',
              title: '發車日',
            },
            {
              field: 'go_time',
              title: '去程時間',
            },
            {
              field: 'back_time',
              title: '回程時間',
            },
            {
              field: 'is_active',
              title: '運行狀態',
            },
            {
              field: 'is_ltl',
              title: '屬性',
            },
            {
              command: { text: '編輯', click: editRun },
              title: '',
            },
          ],
        })

        const grid = $('#grid').data('kendoGrid')
        const len = runs ? Object.keys(runs[0]).length : 0
        for (let i = 0; i < len; i++) {
          grid.autoFitColumn(i)
        }

        showPopupMessage('查詢成功', 'success')
      })
      .catch((error) => {
        if (error.status === 500) {
          return false
        }
        showPopupMessage('發生錯誤', 'error')
      })
  }

  $('.find-run').kendoButton({
    click: (e) => {
      loadScheduleData()
    },
  })

  $('.new-run').kendoButton({
    click: (e) => {
      openCreateForm()
    },
  })

  let goRelayCount = 0
  let backRelayCount = 0

  // Relays
  const newRelaySection = (flow, id) => `
  <div id="${flow}-relay-item-${id}" class="relay-item">
    <select name="${flow}-relay-${id}" id="${flow}-relay-${id}">
      <option value="null" selected disabled hidden>
        請選擇
      </option>
      @for (int i = 0; i < Model.BSectionStops.Count; i++)
      {
        @if (Model.BSectionStops[i].IsActive)
        {
          <option value="@Model.BSectionStops[i].Id">@Model.BSectionStops[i].Name</option>
        }
      }
    </select>
    <label for="${flow}-relay-arrive-at-${id}">抵達時間：</label>
    <input
      type="time"
      id="${flow}-relay-arrive-at-${id}"
      name="${flow}-relay-arrive-at-${id}"
      class="required"
    />
    <label for="${flow}-relay-dispatch-at-${id}">發車時間：</label>
    <input
      type="time"
      id="${flow}-relay-dispatch-at-${id}"
      name="${flow}-relay-dispatch-at-${id}"
      class="required"
    />
  </div>
  `

  const addRelay = (flow) => {
    const relayList = $(`#${flow}-relay-list`)
    const id = flow === 'go' ? goRelayCount : backRelayCount

    relayList.append(newRelaySection(flow, id))
    flow === 'go' ? goRelayCount++ : backRelayCount++
    $(`#${flow}-relay-count`).val(id + 1)
  }

  const removeRelay = (flow) => {
    const relayList = $(`#${flow}-relay-list`)
    const id =
      flow === 'go'
        ? goRelayCount > 0
          ? goRelayCount - 1
          : null
        : backRelayCount > 0
        ? backRelayCount - 1
        : null

    if (id === null) {
      $(`#${flow}-relay-count`).val(0)
      return
    }

    $(`div#${flow}-relay-item-${id}`).remove()
    flow === 'go' ? goRelayCount-- : backRelayCount--

    $(`#${flow}-relay-count`).val(id)
  }

  const checkSubmitData = () => {
    let checkResult = {
      pass: true,
      message: '',
    }

    const dispatchCheckboxes = document.querySelectorAll(
      '.dispatch-checkbox.required'
    )
    let dispatchDayValid = false
    dispatchCheckboxes.forEach((checkbox) => {
      if (checkbox.checked) dispatchDayValid = true
    })
    if (!dispatchDayValid) {
      checkResult.pass = false
      checkResult.message = '未選擇發車日'
    }

    const attrVal = document.querySelector('input[name="attribute"]:checked')
    if (!attrVal || !attrVal.value) {
      checkResult.pass = false
      checkResult.message = '未選擇屬性'
    }

    const times = document.querySelectorAll('input[type="time"].required')
    times.forEach((time) => {
      if (!time || !time.value) {
        checkResult.pass = false
        checkResult.message = '未選擇時間'
      }
    })

    const selects = document.querySelectorAll('select')
    selects.forEach((select) => {
      if (!select || !select.value || select.value === 'null') {
        checkResult.pass = false
        checkResult.message = '有選項未選擇'
      }
    })

    return checkResult
  }

  const resetForm = () => {
    while (goRelayCount > 0) {
      removeRelay('go')
    }
    while (backRelayCount > 0) {
      removeRelay('back')
    }
    const attrInputs = form.querySelectorAll('input[name="attribute"]')
    attrInputs.forEach((input) => {
      input.disabled = false
    })
    form.reset()
  }

  $('#remove-go-relay').on('click', () => {
    removeRelay('go')
  })
  $('#add-go-relay').on('click', () => {
    addRelay('go')
  })
  $('#remove-back-relay').on('click', () => {
    removeRelay('back')
  })
  $('#add-back-relay').on('click', () => {
    addRelay('back')
  })

  $('#btn-submit').on('click', () => {
    const checkResult = checkSubmitData()
    if (!checkResult.pass) {
      alert(checkResult.message)
      return false
    }

    const formData = new FormData(form)
    if (formCommitType === TYPE_CREATE) {
      postCreateNewRun(formData)
        .then((res) => {
          showPopupMessage('新增班次成功', 'success')
          loadScheduleData()
        })
        .catch((error) => {
          showPopupMessage('新增班次失敗', 'error')
        })
    } else if (formCommitType === TYPE_UPDATE) {
      postUpdateARun(formData)
        .then((res) => {
          showPopupMessage('編輯班次成功', 'success')
          loadScheduleData()
        })
        .catch((error) => {
          showPopupMessage('編輯班次失敗', 'error')
        })
    }

    dialog.close()

    return false
  })
  $('#btn-cancel-submit').on('click', () => {
    dialog.close()

    return false
  })

  $(document).ready(() => {
    $('#dialog')
      .kendoDialog({
        visible: false,
        close: () => {
          resetForm()
        },
      })
      .data('kendoDialog')
    dialog = $('#dialog').data('kendoDialog')

    popupMessage = $('#popup-message')
      .kendoNotification()
      .data('kendoNotification')

    loadScheduleData()
  })
</script>

<style scpoed>
  .k-animation-container {
    top: 30% !important;
    left: 50% !important;
    transform: translate(-50%, -50%) !important;
  }

  .container {
    padding: 20px 0;
  }

  #grid table {
    table-layout: fixed;
  }

  table,
  thead,
  tbody,
  tr,
  th,
  td {
    box-sizing: border-box !important;
  }

  th,
  td {
    text-align: center !important;
  }

  tr.k-master-row td {
    border-bottom: 1px solid #d5d5d5;
  }

  .title {
    margin-bottom: 1em;
  }

  .option-bar {
    display: flex;
    align-items: center;
    height: 5em;
  }

  .operation-status {
    margin-right: 1.5em;
    display: flex;
    align-items: center;
  }

  .operation-status__title {
    margin: auto;
    margin-right: 1em;
  }

  .operation-status-options {
    display: grid;
    align-items: center;
    column-gap: 0.5em;
    grid-template-columns: repeat(3, 1fr);
  }

  .operation-status-options__status-label {
    margin: auto;
    display: inline-flex;
    align-items: center;
  }

  .operation-status-options__status-label input {
    margin-right: 0.5em;
  }

  .buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1em;
  }

  .k-dialog {
    overflow: auto;
    width: fit-content;
    max-width: 90%;
    height: 80%;
    font-size: 16px;
  }

  .k-dialog-content,
  .k-dialog-titlebar {
    padding: 2em;
  }

  .k-dialog-titlebar {
    padding: 1em 2em;
    color: black;
    font-weight: bold;
    font-size: 18px;
  }

  .k-dialog-content form .section {
    margin-bottom: 2em;
  }

  .k-dialog-content form .section select {
    margin-right: 2em;
    border: 1px solid black;
    padding: 0.2em 0.5em;
    border-radius: 4px;
  }

  .k-dialog-content form .section .dispatch-checkbox {
    margin-right: 0;
  }

  .k-dialog-content form .section .sub-section {
    margin-bottom: 2em;
  }

  .k-dialog-content
    form
    .section
    .sub-section
    .relay-section
    .relay-section-head {
    display: flex;
    align-items: center;
  }

  .k-dialog-content
    form
    .section
    .sub-section
    .relay-section
    .relay-section-head
    label {
    margin-bottom: 0;
    margin-right: 1.5em;
  }

  .k-dialog-content
    form
    .section
    .sub-section
    .relay-section
    .relay-section-head
    button {
    background: none;
    border: none;
    outline: none;
  }

  .k-dialog-content
    form
    .section
    .sub-section
    .relay-section
    .relay-section-head
    button:first-of-type {
    margin-right: 1em;
  }

  .k-window-titlebar .k-window-actions {
    right: 2em;
  }

  .k-dialog-content form .section .sub-section .relay-list .relay-item {
    margin-top: 1em;
  }

  .k-dialog-content form .section.bottom-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3em;
  }

  .k-dialog-content form .section.bottom-buttons button {
    padding: 0.25em 2.5em;
    font-size: 1em;
    border-radius: 4px;
  }

  .k-dialog-content form .section.bottom-buttons button:first-of-type {
    margin-right: 2em;
    background: #11a736;
    border: 1px solid #11a736;
    color: #ffffff;
  }

  .k-dialog-content form .section.bottom-buttons button:nth-of-type(2) {
    background: #ff2828;
    border: 1px solid #ff2828;
    color: #ffffff;
  }

  .k-dialog-content form .section input[type='time'] {
    margin-right: 1.5em;
    border: 1px solid black;
    padding: 0.2em 0.5em;
    border-radius: 4px;
  }

  .k-dialog-content form .section .weekday-label {
    margin-right: 1.5em;
  }
</style>
