﻿@{
    ViewData["Title"] = "TestView";
    Layout = "~/Views/Shared/_LayoutAddJFMenu.cshtml";
}

<div class="demo-section k-content">
    <h1>每日發送到著板數統計</h1>
    <br />
    <br />

    <label>發送日期</label>
    <input id="datepicker" />
    <br />

    <button class="k-button" id="btn-search">查詢</button>
    <button class="k-button" id="btn-export">匯出 Excel</button>
    <br />
    <br />
</div>

<form asp-controller="_CountTablePartial">
    <div id="matrix-table">
    </div>
    <div id="wait">資料讀取中......</div>
</form>

<script>
    $(document).ready(function () {
        $("#datepicker").kendoDatePicker();
        $("#datepicker").kendoDatePicker({
            value: new Date()
        });

        $('#wait').hide();

        $("#btn-search").on("click", function () {
            $.ajax(
                {
                    type: "Get",
                    url: "GetPlateCountData",
                    data: {
                        printDate: kendo.toString($("#datepicker").data("kendoDatePicker").value(), "yyyy/MM/dd")
                    },
                    beforeSend: function () {
                        $('#wait').show();
                        $("#matrix-table").hide();
                    },
                    complete: function () {
                        $('#wait').hide();
                        $("#matrix-table").show();
                    }
                }).success(function (data) {
                    $("#matrix-table").html(data);
                });
        });

        $("#btn-export").on("click", function () {
            download_table_as_csv("tb-plate-count");
        });
    });

    function download_table_as_csv(table_id) {
        var rows = document.querySelectorAll('table#' + table_id + ' tr');
        var csv = [];
        for (var i = 1; i < rows.length; i++) {
            var row = [], cols = rows[i].querySelectorAll('td, th');
            for (var j = 0; j < cols.length; j++) {
                var data;
                if ($(cols[j]).find('select').length) { // 如果是下拉選單
                    data = $(cols[j]).find('option:selected').text();
                } else if ($(cols[j]).find('input').length) {
                    data = $(cols[j]).find('input').val();
                } else if ($(cols[j]).find('button').length) { // 按鈕不匯出
                    data = "";
                }
                else {
                    data = cols[j].innerText.replace(/(\r\n|\n|\r)/gm, '').replace(/(\s\s)/gm, ' ')
                }

                data = data.replace(/"/g, '""');
                // Push escaped string
                row.push('"' + data + '"');
            }
            csv.push(row.join(','));
        }
        var csv_string = csv.join('\n');
        // Download it
        var filename = '每日發送到著板數統計_' + kendo.toString($("#datepicker").data("kendoDatePicker").value(), "yyyy/MM/dd") + '.csv';
        var link = document.createElement('a');
        var universalBOM = "\uFEFF";
        link.style.display = 'none';
        link.setAttribute('target', '_blank');
        link.setAttribute('href', 'data:text/csv;charset=utf-8,' + encodeURIComponent(universalBOM + csv_string));
        link.setAttribute('download', filename);
        document.body.appendChild(link);
        link.click();
        document.body.removeChild(link);
    }
</script>


