﻿@{
    ViewData["Title"] = "CbmInfo";
    Layout = "~/Views/Shared/_LayoutAddMenu.cshtml";
}

<div>
    <h1>丈量機量測異常資訊</h1>
</div>

<div class="selector">
    <div>
        <h4>
            丈量日期區間:(日期為配合丈量機操作時間，起訖時間以早上十點作分割，ex:選擇20210218~20210218，系統將會篩選區間為2/17 10:00AM~2/18 10:00AM丈量資料)
        </h4>
        <div id="datePeriod" style="font-size:12px" />
    </div>

    <button id="search">查詢</button>
</div>
<br/>
<button id="saveChanges">儲存變更</button>
<div id="grid" />
<script>
    $(document).ready(function () {
        $("#datePeriod").kendoDateRangePicker();
    })

    $("#saveChanges").hide();

    $("#search").kendoButton({
        click: function (e) {
            var isStartDateNonEmpty = $("#datePeriod").data("kendoDateRangePicker")._endDateInput._oldText != "month/day/year";
            var isEndDateNonEmpty = $("#datePeriod").data("kendoDateRangePicker")._startDateInput._oldText != "month/day/year";
            var isDateCorrect = isStartDateNonEmpty & isEndDateNonEmpty;

            if (isDateCorrect) {
                GetGrid();
            } else {
                alert("請輸入正確日期");
            }
        }
    })

    $("#saveChanges").kendoButton({
        click: function (e) {
            var grid = $("#grid").data("kendoGrid");
            grid.saveChanges()
        }
    })

    function GetGrid() {
        $("#saveChanges").show();

        (function () {
            if ($("#grid").data('kendoGrid') == null) {
            } else {
                $("#grid").data("kendoGrid").dataSource().read();
                $("#grid").data("kendoGrid").refresh();
            }
        })

        var cbmDataLogSource = new kendo.data.DataSource({
            transport: {
                read: {
                    url: "/CbmDataLog/GetData",
                    dataType: "jsonp",
                    cache: "false",
                    data: function () {
                        return {
                            cbmScanStartDate: $("#datePeriod").data("kendoDateRangePicker")._startDateInput._oldText == "month/day/year" ? null : $("#datePeriod").data("kendoDateRangePicker")._startDateInput._oldText,
                            cbmScanEndDate: $("#datePeriod").data("kendoDateRangePicker")._endDateInput._oldText == "month/day/year" ? null : $("#datePeriod").data("kendoDateRangePicker")._endDateInput._oldText
                        };
                    }
                },
                update: {
                    url: "/CbmDataLog/UpdateData",
                    dataType: "jsonp",
                    complete: function (e) { GetGrid() }
                },
                parameterMap: function (data) {
                    return "json=" + kendo.stringify(data);
                }
            },
            batch: true,
            pageSize: 20,
            schema: {
                model: {
                    id: "Id",
                    fields: {
                        CheckNumber: { type: "string" },
                        Length: { editable: false },
                        Height: { editable: false },
                        Width: { editable: false },
                        Cbm: { editable: false },
                        S3PicUri: { editable: false },
                        ScanTime: { type: "date", editable: false },
                        DataSource: { editable: false }
                    }
                }
            }
        })

        $("#grid").kendoGrid({
            dataSource: cbmDataLogSource,
            pageable: true,
            height: 550,
            editable: "incell",
            columns: [
                {
                    field: "CheckNumber", title: "貨號", editor: function (container, options) {
                        if (options.model.CheckNumber.length == 12) {
                            var input = $('<div data-bind="text:' + options.field + '"/>');
                            input.appendTo(container);
                            //$("<strong>此行不允許修改</strong>").appendTo(container);
                        } else {
                            var input = $('<input data-bind="value:' + options.field + '"/>');
                            input.appendTo(container);
                        }
                    } },
                { field: "Length", title: "長度" },
                { field: "Height", title: "高度" },
                { field: "Width", title: "寬度" },
                { field: "Cbm", title: "材積" },
                { field: "S3PicUri", title: "貨件照片", template: '#if(S3PicUri.length > 0){#<a href=#=S3PicUri# target=_blank>檢視</a>#}#' },
                { field: "ScanTime", title: "丈量時間", format: "{0:yyyy/MM/dd HH:mm:ss}" },
                { field: "DataSource", title: "資料來源", template: '#if(ScanResult != "Hand"){#丈量機#}else{#人工補刷條碼#}#' }
            ]
        })
    }


</script>
