﻿@{
    ViewData["Title"] = "登入之後";
    Layout = "~/Views/Shared/_LayoutTestForKendo.cshtml";
}


<div>
    您的登入資訊↓
</div>
<div>
    @Html.Raw(ViewBag.msg)
</div>

<div>
    <a href="@Url.Action("Logout","Account")">登出</a>
</div>
