﻿@{
    ViewData["Title"] = "KendoTest";
    Layout = "~/Views/Shared/_LayoutTestForKendo.cshtml";
}

<div class="container" id="div-main">
    <div class="demo-section k-content">
        <h1>
            <img src="~/images/login_logo_junfu.svg" ; display: block">
           
        </h1>
        <div id="div-form">
            <form method="post" action="/Account/AccessLogin">

                <div class="form-group">
                    <div class="div-label"> 帳號 </div>
                    <input type="text" class="form-input" id="account" name="account" placeholder="請輸入帳號">
                </div>
                <div class="form-group">
                    <div class="div-label"> 密碼 </div>
                    <input type="password" class="form-input" id="password" name="password" placeholder="請輸入密碼">
                </div>
                <div class="form-group" style="margin-top: 40px;">
                    <input type="hidden" id="returnUrl" name="returnUrl" value="@ViewBag.ReturnUrl" />
                    <button type="submit" id="btn-submit">登入</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    var loginMessage = '@Html.Raw(ViewBag.LoginMessage)';

    if (loginMessage) {
        CommonAlert(loginMessage);
        loginMessage = '';
    }

    $("#btn-submit").click(function () {

        var account = $("#account").val();
        var password = $("#password").val();

        if (!account) {
            CommonAlert("請輸入帳號");
            return false;
        }

        if (!password) {
            CommonAlert("請輸入密碼");
            return false;
        }
    });

    // 共用的 Alert
    function CommonAlert(message) {
        nineyi.dialogUtility.alert({
            message: message,
            timeout: 10000,
            okText: '確定',
            okCallback: function () {
                return false;
            }
        });
    }
</script>
