﻿@{
    ViewData["Title"] = "角色權限設定";
    Layout = "~/Views/Shared/_LayoutAddMenu.cshtml";
}

<div id="example">
    @if (ViewBag.Company == "2")
    {
        <a class="offline-button" href="~/Account/RolesForJF">返回角色管理</a>
    }
    else
    {
        <a class="offline-button" href="~/Account/Roles">返回角色管理</a>
    }

    <div class="demo-section k-content">
        <div>
            <h4>角色權限設定- @Html.Raw(ViewBag.RoleName) </h4>
            <a class="offline-button" href="javascript:saveRoleFunction();">儲存權限</a>
            <div id="treeview"></div>
        </div>
        <div style="padding-top: 2em;">
            <h4>Status</h4>
            <p id="result">No nodes checked.</p>
        </div>
    </div>
    <form id="saveRoleFunction" name="saveRoleFunction" method="post" action="SaveRoleFunction">
        <input type="hidden" id="roleFunctionInfo" name="roleFunctionInfo" />
        <input type="hidden" id="roleId" name="roleId" value="@Html.Raw(ViewBag.RoleId)" />
        <input type="hidden" id="company" name="company" value="@Html.Raw(ViewBag.Company)" />
    </form>

    <script>
        $("#treeview").kendoTreeView({
            checkboxes: {
                checkChildren: true
            },

            check: onCheck,

            dataSource: @Html.Raw(ViewBag.modelData)
        });

        // function that gathers IDs of checked nodes
        function checkedNodeIds(nodes, checkedNodes) {
            console.log(nodes, checkedNodes);
            for (var i = 0; i < nodes.length; i++) {
                if (nodes[i].checked) {
                    checkedNodes.push(nodes[i].id);
                }

                if (nodes[i].hasChildren) {
                    checkedNodeIds(nodes[i].children.view(), checkedNodes);
                }
            }
        }

        // show checked node IDs on datasource change
        function onCheck() {
            var checkedNodes = [],
                treeView = $("#treeview").data("kendoTreeView"),
                message;

            checkedNodeIds(treeView.dataSource.view(), checkedNodes);

            if (checkedNodes.length > 0) {
                message = "IDs of checked nodes: " + checkedNodes.join(",");
            } else {
                message = "No nodes checked.";
            }

            $("#result").html(message);
        }

        function saveRoleFunction() {
            var checkedNodes = [],
                treeView = $("#treeview").data("kendoTreeView"),
                vCheckData;

            checkedNodeIds(treeView.dataSource.view(), checkedNodes);

            vCheckData = checkedNodes.join(",");

            $("#roleFunctionInfo").val(vCheckData);

            $("#saveRoleFunction").submit();
        }
    </script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var vMessage = "@Html.Raw(ViewBag.message)";
            if (vMessage.length > 0) {
                alert(vMessage);
            }
        }, false);
    </script>
    <style>

        #treeview .k-sprite {
            background-image: url("../content/web/treeview/coloricons-sprite.png");
        }

        .rootfolder {
            background-position: 0 0;
        }

        .folder {
            background-position: 0 -16px;
        }

        .pdf {
            background-position: 0 -32px;
        }

        .html {
            background-position: 0 -48px;
        }

        .image {
            background-position: 0 -64px;
        }
    </style>

</div>