﻿@{
    ViewData["Title"] = "角色維護";
    Layout = "~/Views/Shared/_LayoutAddMenu.cshtml";
}

<div id="example">
    <h3>角色-- @Html.Raw(ViewBag.RoleName)</h3>
    <div id="grid"></div>
    <script id="functionSetting-template" type="text/x-kendo-template">
        #if(Id == 0){#
        建立後可設定角色權限
        #}else{#
        <a href="UserRoles?roleUserId=#:Id#&roleAccountType=#:AccountType#" >設定使用者角色</a>
        #}#
    </script>
    <script>
        $(document).ready(function () {
            var crudServiceBaseUrl = "/Account",
                dataSource = new kendo.data.DataSource({
                    transport: {
                        read: {
                            url: crudServiceBaseUrl + "/GetAllUsersByRoleId?roleId=@Html.Raw(ViewBag.RoleId)",
                            dataType: "jsonp"
                        },
                        parameterMap: function (options, operation) {
                            if (operation !== "read" && options.models) {
                                return { models: kendo.stringify(options.models) };
                            }
                        }
                    },
                    batch: true,
                    pageSize: 20,
                    schema: {
                        model: {
                            id: "Id",
                            fields: {
                                Id: { editable: false, nullable: false, defaultValue: 0 },
                                AccountType: { editable: false, nullable: false, defaultValue: 0 },
                                UserName: { validation: { required: true } },
                                TypeName: { validation: { required: true } }
                            }
                        }
                    }
                });

            $("#grid").kendoGrid({
                dataSource: dataSource,
                pageable: true,
                height: 550,
                columns: [
                    { field: "UserName", title: "使用者名稱" },
                    { field: "TypeName", title: "帳號類別" },
                    {
                        field: "Id",
                        title: "設定使用者角色",
                        editable: false,
                        template: kendo.template($("#functionSetting-template").html())
                    }],
                editable: "popup"
            });
        });

        function customBoolEditor(container, options) {
            $('<input class="k-checkbox" type="checkbox" name="Discontinued" data-type="boolean" data-bind="checked:Discontinued">').appendTo(container);
        }</script>
</div>