﻿
@{
    ViewData["Title"] = "RolesForJF";
    Layout = "~/Views/Shared/_LayoutAddJFMenu.cshtml";
}

<div id="example">
    <div id="grid"></div>
    <script id="functionSetting-template" type="text/x-kendo-template">
        #if(RoleId == 0){#
        建立後可設定角色權限
        #}else{#
        <a href="RoleFunction?roleId=#:RoleId#&company=2">設定角色權限</a>&nbsp;&nbsp;&nbsp;
        <a href="RoleUsers?roleId=#:RoleId#">查詢相關帳號</a>
        #}#
    </script>
    <script>
        $(document).ready(function () {
            var crudServiceBaseUrl = "/Account",
                dataSource = new kendo.data.DataSource({
                    transport: {
                        read: {
                            url: crudServiceBaseUrl + "/GetAllRoles?company=2",
                            dataType: "jsonp"
                        },
                        update: {
                            url: crudServiceBaseUrl + "/EditRoles?company=2",
                            dataType: "jsonp"
                        },
                        destroy: {
                            url: crudServiceBaseUrl + "/DestroyRoles",
                            dataType: "jsonp"
                        },
                        create: {
                            url: crudServiceBaseUrl + "/EditRoles?company=2",
                            dataType: "jsonp"
                        },
                        parameterMap: function (options, operation) {
                            if (operation !== "read" && options.models) {
                                return { models: kendo.stringify(options.models) };
                            }
                        }
                    },
                    batch: true,
                    pageSize: 20,
                    schema: {
                        model: {
                            id: "RoleId",
                            fields: {
                                RoleId: { editable: false, nullable: false, defaultValue: 0 },
                                Name: { validation: { required: true } },
                                EnName: { validation: { required: false } }
                            }
                        }
                    }
                });

            $("#grid").kendoGrid({
                dataSource: dataSource,
                pageable: true,
                height: 550,
                toolbar: [{ name: "create", text: "新增角色" }],
                columns: [
                    { field: "Name", title: "角色名稱" },
                    { field: "EnName", title: "角色英文名稱" },
                    {
                        field: "RoleId",
                        title: "設定角色權限",
                        editable: false,
                        template: kendo.template($("#functionSetting-template").html())
                    },
                    { command: ["edit", "destroy"], title: "&nbsp;", width: "250px" }],
                editable: "popup"
            });
        });

        function customBoolEditor(container, options) {
            $('<input class="k-checkbox" type="checkbox" name="Discontinued" data-type="boolean" data-bind="checked:Discontinued">').appendTo(container);
        }</script>
</div>