﻿
@{
    ViewData["Title"] = "SetJFUserFunction";
    Layout = "~/Views/Shared/_LayoutAddJFMenu.cshtml";
}


<div id="example">

    <div class="demo-section k-content">
        <h4>請選擇要編輯權限的帳號</h4>
        <input type="radio" name="managetType" value="1" class="k-radio" checked="checked" onclick="javascript: radioChange('1');"> 峻富管理者  &nbsp;&nbsp;
        <input type="radio" name="managetType" value="2" class="k-radio" onclick="javascript: radioChange('2');"> 峻富一般員工<br/>
        <input type="radio" name="managetType" value="4" class="k-radio" onclick="javascript: radioChange('4');"> 區配商  &nbsp;&nbsp;
        <input type="radio" name="managetType" value="5" class="k-radio" onclick="javascript: radioChange('5');"> 區配商自營
        <input id="AccountId" style="width: 100%;" />
        <br />
        <a class="offline-button" href="javascript:settingUserFunction();">設定權限</a>
        <a class="offline-button" href="javascript:settingUserRole();">設定角色</a>
    </div>
    <form id="goUserFunction" name="goUserFunction" method="get" action="UserFunction">
        <input type="hidden" id="userId" name="userId" />
        <input type="hidden" id="accountType" name="accountType" value="2" />
        <input type="hidden" id="company" name="company" value="2" />
    </form>
    <form id="goUserRole" name="goUserRole" method="get" action="UserRoles">
        <input type="hidden" id="roleUserId" name="roleUserId" />
        <input type="hidden" id="roleAccountType" name="roleAccountType" value="2" />
        <input type="hidden" id="company" name="company" value="2" />
    </form>
    <script>
            $(document).ready(function () {
                $("#AccountId").kendoDropDownList({
                    filter: "startswith",
                    dataTextField: "ShowName",
                    dataValueField: "UsersId",
                    dataSource: {
                        type: "odata",
                        serverFiltering: true,
                        transport: {
                            read: {
                                url: "/Account/GetJFUserData?managerType=1",
                            }
                        }
                    }
                });
            });

        function radioChange(selectVal) {
            $("#AccountId").kendoDropDownList({
                filter: "startswith",
                dataTextField: "ShowName",
                dataValueField: "UsersId",
                dataSource: {
                    type: "odata",
                    serverFiltering: true,
                    transport: {
                        read: {
                            url: "/Account/GetJFUserData?managerType=" + selectVal,
                        }
                    }
                }
            });
        }

            function settingUserFunction() {

                var getId = $("#AccountId").val();
                $("#userId").val(getId);

                $("#goUserFunction").submit();
            }

            function settingUserRole() {

                var getId = $("#AccountId").val();
                $("#roleUserId").val(getId);

                $("#goUserRole").submit();
            }
    </script>

</div>

