﻿@{
    ViewData["Title"] = "使用者權限控管";
    Layout = "~/Views/Shared/_LayoutAddMenu.cshtml";
}

    <div id="example">

        <div class="demo-section k-content">
            <h4>請選擇要編輯權限的帳號</h4>
            <input type="radio" name="accountType" id="accountType1" value="1" class="k-radio" onclick="javascript: changeToDriver();"> 司機帳號  &nbsp;&nbsp;
            <input type="radio" name="accountType" id="accountType1" value="2" class="k-radio" checked="checked" onclick="javascript: changetoAccount();"> 一般帳號
            <input id="AccountId" style="width: 100%;" />
            <br />
            <a class="offline-button" href="javascript:settingUserFunction();">設定權限</a>
            <a class="offline-button" href="javascript:settingUserRole();">設定角色</a>
        </div>
        <form id="goUserFunction" name="goUserFunction" method="get" action="UserFunction">
            <input type="hidden" id="userId" name="userId" />
            <input type="hidden" id="accountType" name="accountType" value="2" />
        </form>
        <form id="goUserRole" name="goUserRole" method="get" action="UserRoles">
            <input type="hidden" id="roleUserId" name="roleUserId" />
            <input type="hidden" id="roleAccountType" name="roleAccountType" value="2" />
        </form>
        <script>
            $(document).ready(function () {
                $("#AccountId").kendoDropDownList({
                    filter: "startswith",
                    dataTextField: "ShowName",
                    dataValueField: "UsersId",
                    dataSource: {
                        type: "odata",
                        serverFiltering: true,
                        transport: {
                            read: {
                                url: "/Account/GetUserData",
                            }
                        }
                    }
                });
            });

            function changeToDriver() {
                $("#accountType").val("1");
                $("#roleAccountType").val("1");

                $("#AccountId").kendoDropDownList({
                    filter: "startswith",
                    dataTextField: "ShowName",
                    dataValueField: "UsersId",
                    dataSource: {
                        type: "odata",
                        serverFiltering: true,
                        transport: {
                            read: {
                                url: "/Account/GetDriverData",
                            }
                        }
                    }
                });
            }

            function changetoAccount() {
                $("#accountType").val("2");
                $("#roleAccountType").val("2");

                $("#AccountId").kendoDropDownList({
                    filter: "startswith",
                    dataTextField: "ShowName",
                    dataValueField: "UsersId",
                    dataSource: {
                        type: "odata",
                        serverFiltering: true,
                        transport: {
                            read: {
                                url: "/Account/GetUserData",
                            }
                        }
                    }
                });
            }

            function settingUserFunction() {

                var getId = $("#AccountId").val();
                $("#userId").val(getId);

                $("#goUserFunction").submit();
            }

            function settingUserRole() {

                var getId = $("#AccountId").val();
                $("#roleUserId").val(getId);

                $("#goUserRole").submit();
            }
        </script>

    </div>
