﻿@{
    Layout = "~/Views/Shared/_LayoutAddMenu.cshtml";
}

<div class="demo-section k-content">
    <h2>司機排休維護表</h2><br />
    <h5>站所：@Html.Raw(ViewBag.LoginStation)</h5>
    <h5>站所司機總人數：@ViewBag.CountDriver</h5>
    <h5><span>應到司機人數：</span><label id="actuallycount"></label></h5>
    <h5>休假日：</h5>
    <input id="datepicker" style="width: 100%" />
    <button id="search">查詢</button>
</div>

<div id="grid"></div>

<script src="../../js/cultures/kendo.culture.zh-TW.min.js"></script>
<script>
    $("#datepicker").kendoDatePicker({
        culture: "zh-TW",
        format: "yyyy/MM/dd",
        //value: new Date(),
        change: onChange
    });

    function onChange() {
            var value = this.value();
            date = kendo.toString(value, "d");
    }


function genGrid() {

    var getUrl = "/DriverShiftSchedules/GetAllByStationAndDate?scode=" + "@Html.Raw(ViewBag.Station)" + "&date=" + date;
    myGetUrl = getUrl;

    
        dataSource = new kendo.data.DataSource({
            transport: {
                read: {
                    url: myGetUrl,
                    dataType: "jsonp"
                },
                update: {
                    url: "/DriverShiftSchedules/Save",
                    dataType: "jsonp"
                },
                destroy: {
                    url: "/DriverShiftSchedules/Destroy",
                    dataType:"jsonp"
                },
                create: {
                    url: "/DriverShiftSchedules/Save",
                    dataType: "jsonp"
                },
                parameterMap: function (options, operation) {
                    if (operation !== "read" && options.models) {
                        return { models: kendo.stringify(options.models) };
                    }
                },
            },
            batch: true,
            pageSize: 30,
            schema: {
                model: {
                    id: "Id",
                    fields: {
                        FrontId: { editable: false, nullable: false, defaultValue: 1 },
                        Id: { editable: false, nullable: false, defaultValue: 0 },
                        TakeOffDate: { type: "date", validation: { required: true } },
                        StationScode: { defaultValue: "@Html.Raw(ViewBag.Station)", validation: { required: true } },
                        StationName: { defaultValue: "@Html.Raw(ViewBag.LoginStation)".substring(0, "@Html.Raw(ViewBag.LoginStation)".indexOf("(")), validation: { required: true } },
                        TakeOffDriverWithCode: { validation: { required: true } },
                        SubstituteDriverWithCode: { validation: { required: true } },
                        UpdateDate: { defaultValue: new Date() , type: "date", editable: false, validation: { required: true } },
                        UpdateUser: { validation: { required: true }, nullable: true }
                    }
                }
            }
        });
    }

     $("#search").kendoButton({
            click: function (e) {
            genGrid();

            $.ajax({
                url: "GetTodayDriverCount?date=" + date,
                dataType: "jsonp",
                success: function (result) {
                var showStr = result;
                $("#actuallycount").text(showStr);
                }
            });

                 if ($("#grid").data("kendoGrid") == null) {
                 } else {
                    $("#grid").data("kendoGrid").dataSource.read();
                    $("#grid").data("kendoGrid").refresh();
                 }

            $("#grid").kendoGrid({
                 dataSource: dataSource,
                 sortable: true,
                 filterable: true,
                 pageable: true,
                 height: 550,
                 toolbar: [{ name: "create", text: "新增休假人" }],
                 columns: [
                     { field: "FrontId", title: "序號", width: "100px",  template: "<span class='row-number'></span>"  },
                     { hidden: true, field: "Id", title: "序號", width: "100px" },
                     { field: "TakeOffDate", title: "休假日", format: "{0: yyyy/MM/dd}" },
                     { hidden: true, field: "StationScode", title: "站所代碼" },
                     { hidden: true, field: "StationName", title: "站所名稱" },
                     { field: "TakeOffDriverWithCode", title: "休假人", editor: driverDropDownEditor, width: "170px" },
                     { field: "SubstituteDriverWithCode", title: "職務代理人", editor: driverDropDownEditor, width: "170px" },
                     { field: "UpdateDate", title: "更新時間", format: "{0: yyyy/MM/dd hh:mm:ss tt}" },
                     { field: "UpdateUser", title: "更新人員" },
                     {
                         command: [{ name: "edit", text: { edit: "編輯", update: "儲存", cancel: "取消" } },
                         { name: "destroy", text: "刪除" }],
                         title: "修改", width: "150px"
                     }],
                 editable: { mode: "inline", confirmation: false },
                 dataBound: function () {
                            var rows = this.items();
                            $(rows).each(function () {
                                var index = $(this).index() + 1;
                                var rowLabel = $(this).find(".row-number");
                                $(rowLabel).html(index);
                            });
                 }
                });

            }
        });

    function driverDropDownEditor(container, options) {
                    $('<input required name="' + options.field + '"/>')
                        .appendTo(container)
                        .kendoDropDownList({
                            autoBind: false,
                            filter: "contains",
                            dataTextField: "driverName",
                            dataValueField: "driverName",
                            dataSource: {
                                type: "jsonp",
                                transport: {
                                    read: "/DeliveryAndDeliveryMating/GetAllDrivers"
                                }
                            }
                        });
    }

    //function customBoolEditor(container, options) {
    //        $('<input class="k-checkbox" type="checkbox" name="Discontinued" data-type="boolean" data-bind="checked:Discontinued">').appendTo(container);
    //}


</script>
