﻿@{
    Layout = "~/Views/Shared/_LayoutAddMenu.cshtml";
}
<head>

</head>
<body>
    <font size="10">營業速報</font>
    <br />
    到著站:
    <input id="stations" style="display: inline-block;" />
    <div id="daterangepicker" title="daterangepicker"></div>
    <button id="query">查詢</button>
    <button id="detailQuery">查詢(含發送站)</button>
    <div style="text-align:right;"><font size="5" color="red" id="remarks"></font></div>
    <div id="businessReport">
        <div id="businessReportGrid"></div>
        <div id="businessReportExcelHiddenGrid"></div>
        <script>
            var stations = $("#stations").kendoDropDownList({
                optionLabel: "不指定站所",
                dataTextField: "name",
                dataValueField: "code",
                height: 200,
                template: '<span>#:data.name#</span>',
                valueTemplate: '<span>#:data.name#</span>',
                dataSource: {
                    transport: {
                        read: {
                            url: "/BusinessReport/GetStation",
                            dataType: "json"
                        }
                    }
                }
            }).data("kendoDropDownList");

            var isDetail;
            $("#daterangepicker").kendoDateRangePicker();

            $("#query").kendoButton({
                click: function (e) {
                    if ($("#businessReportGrid").data('kendoGrid') == null) {
                    } else {
                        $("#businessReportGrid").data("kendoGrid").destroy();
                        $('#businessReportGrid').empty();
                    }
                    var businessDataSource = new kendo.data.DataSource({
                        transport: {
                            read: {
                                url: "/BusinessReport/BusinessReport",
                                dataType: "jsonp",
                                cache: false,
                                data: function () {
                                    return {
                                        start: $('.k-textbox')[0].value,
                                        end: $('.k-textbox')[1].value,
                                        detailOrNot: false,
                                        areaArriveCode: $('.k-input').text()
                                    };
                                }
                            },

                            parameterMap: function (data) {
                                return "json=" + kendo.stringify(data);
                            }
                        },
                        batch: true,
                        schema: {
                            model: {
                                id: "Area",
                                fields: {
                                    Area: { editable: false, nullable: false, defaultValue: 0 },
                                }
                            }
                        }
                    });
                    var options = {
                        toolbar: ["excel"],
                        excel: {
                            fileName: $('.k-textbox')[0].value + '至' + $('.k-textbox')[1].value + '營業速報' + '.xlsx',
                            filterable: true
                        },
                        columns: [
                            { field: "IndexOrStationCode", title: "項次", width: "2cm" },
                            { field: "Area", title: "區屬" }
                        ],
                        columnMenu: {
                            columns: true
                        },
                        sortable: true,
                        scrollable: true,
                        dataSource: businessDataSource
                    }

                    var start = new Date($('.k-textbox')[0].value);
                    var end = new Date($('.k-textbox')[1].value);
                    const oneDay = 24 * 60 * 60 * 1000;
                    var i = ((end - start) / oneDay) + 1;
                    var titleDate = start;
                    titleDate.setDate(titleDate.getDate() - 1);
                    function fromIntToWeekday() {
                        switch (titleDate.getDay()) {
                            case 0: return '星期日';
                            case 1: return '星期一';
                            case 2: return '星期二';
                            case 3: return '星期三';
                            case 4: return '星期四';
                            case 5: return '星期五';
                            case 6: return '星期六';
                        }
                    }

                    var weekCounter = 0;
                    for (var c = 0; c < i; c++) {
                        titleDate.setDate(titleDate.getDate() + 1);
                        var month = (titleDate.getMonth() + 1).toString();
                        var date = titleDate.getDate().toString();
                        var monthAndDate = month + "/" + date;
                        options.columns.push({ field: "SumList[" + c.toString() + "]", title: monthAndDate.toString() + fromIntToWeekday(titleDate.getDay()) });
                        if (titleDate.getDay() == 0 || c == i - 1) {
                            var weekCounterShow = weekCounter + 1;
                            options.columns.push({ field: "WeekList[" + weekCounter.toString() + "]", title: "第" + weekCounterShow + "週合計" });
                            weekCounter += 1;
                        }
                        if (c == i - 1) {
                            options.columns.push({ field: "Total", title: "總計" });
                            options.columns.push({ field: "Average", title: "日平均" });
                        }
                    }
                    $("#businessReportGrid").kendoGrid(options);
                    $('#remarks').text("工作日:" + i + "天，備註:日平均小數點後無條件捨去");
                }
            });

            $("#detailQuery").kendoButton({
                click: function (e) {
                    if ($("#businessReportGrid").data('kendoGrid') == null) {
                    } else {
                        $("#businessReportGrid").data("kendoGrid").destroy();
                        $('#businessReportGrid').empty();
                    }

                    isDatail = true;
                    var businessDataSource = new kendo.data.DataSource({
                        transport: {
                            read: {
                                url: "/BusinessReport/BusinessReport",
                                dataType: "jsonp",
                                cache: false,
                                data: function () {
                                    return {
                                        start: $('.k-textbox')[0].value,
                                        end: $('.k-textbox')[1].value,
                                        detailOrNot: true,
                                        areaArriveCode: $('.k-input').text()
                                    };
                                }
                            },

                            parameterMap: function (data) {
                                return "json=" + kendo.stringify(data);
                            }
                        },
                        batch: true,
                        schema: {
                            model: {
                                id: "Area",
                                fields: {
                                    Area: { editable: false, nullable: false, defaultValue: 0 },
                                }
                            }
                        }
                    });
                    var options = {
                        toolbar: ["excel"],
                        excel: {
                            fileName: $('.k-textbox')[0].value + '至' + $('.k-textbox')[1].value + '營業速報' + '.xlsx',
                            filterable: true
                        },
                        columns: [
                            { field: "IndexOrStationCode", title: "項次", width: "2cm" },
                            { field: "Area", title: "區屬" }
                        ],
                        columnMenu: {
                            columns: true
                        },
                        sortable: true,
                        scrollable: true,
                        dataSource: businessDataSource
                    }

                    var start = new Date($('.k-textbox')[0].value);
                    var end = new Date($('.k-textbox')[1].value);
                    const oneDay = 24 * 60 * 60 * 1000;
                    var i = ((end - start) / oneDay) + 1;
                    var titleDate = start;
                    titleDate.setDate(titleDate.getDate() - 1);
                    function fromIntToWeekday() {
                        switch (titleDate.getDay()) {
                            case 0: return '星期日';
                            case 1: return '星期一';
                            case 2: return '星期二';
                            case 3: return '星期三';
                            case 4: return '星期四';
                            case 5: return '星期五';
                            case 6: return '星期六';
                        }
                    }

                    var weekCounter = 0;
                    for (var c = 0; c < i; c++) {
                        titleDate.setDate(titleDate.getDate() + 1);
                        var month = (titleDate.getMonth() + 1).toString();
                        var date = titleDate.getDate().toString();
                        var monthAndDate = month + "/" + date;

                        options.columns.push({ field: "SumList[" + c.toString() + "]", title: monthAndDate.toString() + fromIntToWeekday(titleDate.getDay()) });
                        if (titleDate.getDay() == 0 || c == i - 1) {
                            var weekCounterShow = weekCounter + 1;
                            options.columns.push({ field: "WeekList[" + weekCounter.toString() + "]", title: "第" + weekCounterShow + "週合計" });
                            weekCounter += 1;
                        }
                        if (c == i - 1) {
                            options.columns.push({ field: "Total", title: "總計" });
                            options.columns.push({ field: "Average", title: "日平均" });
                        }
                    }

                    $("#businessReportGrid").kendoGrid(options)
                    $('#remarks').text("工作日:" + i + "天，備註:日平均小數點後無條件捨去");
                }
            });
        </script>
    </div>
</body>
