﻿@{
    Layout = "~/Views/Shared/_LayoutAddMenu.cshtml";
}

<div class="demo-section k-content">
     <div>
        <h3>轉聯運明細表</h3><br />
        <h6>發送日期區間</h6>
        <div id="daterangepicker"></div>
        <h6>發送站</h6>
        <input id="station" style="width:93%;" /><br />
        <button id="search">查詢</button>&nbsp;&nbsp;<button id="export">匯出Excel</button>
    </div>
    <hr />
    <div>
        <h3>轉聯運補貨態</h3><br />
        <form asp-controller="GuoYangExportAndImport" asp-action="Index" method="post">
            <button asp-action="Export" type="submit" name="exportexcel" class="btn btn-success">
                <i class="fa fa-download"></i>
                下載國陽空白貨態單
            </button>
        </form>
    </div><br />
    <form id="form" method="post" enctype="multipart/form-data" asp-controller="GuoYangExportAndImport" asp-action="ImportFile">
        <label for="file">上傳:</label>
        <input type="file" accept="application/vnd.ms-excel,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" name="file" id="file" />
        <button id="submit" class="btn btn-warning"><i class="fa fa-upload"></i>上傳</button>
    </form><br />
</div>
<div id="grid"></div>
<script>

    $("#daterangepicker").kendoDateRangePicker({
        culture: "zh-TW",
        change: function (e) {
            var range = this.range();
            start = kendo.toString(range.start, "s");
            end = kendo.toString(range.end, "s");
        }
    });

    var sta = $("#station").kendoDropDownList({
        filter: "startswith",
        dataTextField: "ShowName",
        dataValueField: "StationSCode",
        value: "",
        dataSource: {
            type: "odata",
            serverFiltering: true,
            transport: {
                read: {
                    url: "/KendoSelect/GetStation",
                }
            }
        },
        change: function (e) {
            var value = this.value();
            scode = value;
        }
    });

    function genGrid() {
        var getUrl = "/GuoYangExportAndImport/GetByDateAndStationScode?start=" + start + "&end=" + end + "&scode=" + scode;

        dataSource = new kendo.data.DataSource({
            transport: {
                read: {
                    url: getUrl,
                    dataType: "jsonp"
                },
            },
            batch: true,
            pageSize: 30,
            schema: {
                model: {
                    //id: "Id",
                    fields: {
                        PrintDate: { type: "date", validation: { required: true }, nullable: true },
                        CheckNumber: { editable: false, nullable: false },
                        Pieces: { validation: { required: true }, nullable: true},
                        Transhipment: { validation: { required: true } },
                        DriverName: { validation: { required: true }, nullable: true },
                        StationName: { validation: { required: true }, nullable: true },
                        ScanDate: { validation: { required: true }, nullable: true },
                        ArriveOption: { validation: { required: true }, nullable: true },
                    }
                }
            }
        });
    }

    $("#search").kendoButton({
        click: function (e) {
            genGrid();

            if ($("#grid").data("kendoGrid") == null) {
            } else {
                $("#grid").data("kendoGrid").dataSource.read();
                $("#grid").data("kendoGrid").refresh();
            }
            $("#grid").kendoGrid({
                dataSource: dataSource,
                pageable: true,
                sortable: true,
                filterable: true,
                excel: {
                    fileName: "轉聯運明細表.xlsx",
                    allPages: true,
                    filterable: true
                },
                height: 550,
                columns: [
                    { field: "CheckNumber", title: "貨號" },
                    { field: "Pieces", title: "件數" },
                    { field: "Transhipment", title: "轉運商" },
                    { hidden:true, field: "ScanDate", title: "配達日期(日期格式範例2020/9/22)", width:270 },
                    { hidden:true, field: "ArriveOption", title: "配達區分(只能填完成)", width:180},
                    { field: "PrintDate", title: "發送日期", format: "{0: yyyy/MM/dd HH:mm:ss}", width:150 },
                    { field: "DriverName", title: "作業人員" },
                    { field: "StationName", title: "作業站所" },
                ],
            });
        }
    });

    $("#export").kendoButton({
        click: function (e) {
            try {
                var grid = $("#grid").data("kendoGrid");
                grid.showColumn("ScanDate");
                grid.showColumn("ArriveOption");
                grid.saveAsExcel();
                grid.hideColumn("ScanDate");
                grid.hideColumn("ArriveOption");
            } catch (e) {
                fnDialog('無法匯出Excel',
                    '無法匯出Excel，請洽管理員。',
                    null,
                    null);
            }
        }
    });
</script>
