﻿
/* Split the screen in half */
.split {
    height: 100%;
    width: 75%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
}

/* Control the left side */
.left {
    left: 0;
    background-color: #3e486c;
}

/* Control the right side */
.right {
    right: 0;
    background-color: #3e486c;
}

/* If you want the content centered horizontally and vertically */
.centered {
    position: absolute;
    top: 10%;
    left: 10%;
    text-align: center;
    width:200px;
}

    /* Style the image inside the centered container, if needed */
    .centered img {
        width: 150px;
        border-radius: 50%;
    }

.content {
    margin-top: 60px;
}

.k-grid-header {
    font-size: 20px;
    font-weight: bold
}