﻿@using LightYear.JunFuTrans.DA.LightYearTest;
@model LightYear.JunFuTrans.BL.BE.StudentTest.PersonEntity; 

@{
    ViewData["Title"] = "Student Home";
    Layout = "~/Views/Shared/_LayoutTest.cshtml";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    @Model.Name
</div>
